[2021-07-12 02:50] dummifiedme opened #204 "Wrong notification upon adding due dates"
**Is it an actual bug?**
If I add a task and later change the due date, it will push in a notification saying this task is "Due Today" while for example, this task is actually due on 2021-07-20!
![image](https://user-images.githubusercontent.com/68785729/125223182-f96ea480-e2e8-11eb-9175-4008ef93a98f.png)

**Did you check if the bug has already been reported?**
I couldn't find such a mention.

**D

[2021-07-12 05:15] ransome1 commented on #202
Hi @lukas-runge . Thanks for your feedback. As it is the case with most design decisions, there will always be a significant part of the users who will dislike what is changing. I can very much relate to this but I am hoping that the majority enjoys the new playfulness.

There is a another feature request asking for manual config files of which a custom CSS option will be the most likely candicate

[2021-07-12 05:15] #202 closed

[2021-07-12 06:08] ransome1 commented on #204
Hi @dummifiedme . Thanks for reporting this. So far I havn't had any luck reproducing it. I tried to it the way you described it on a Windows 10 VM:
1. Added a file to sleek
2. Added a todo in sleek with no due date
3. edited that todo file in an external editor and added a due date in the future (not today and not tomorrow)

No notification is showing on my side. In sleek the filewatcher adds the

[2021-07-12 06:20] ransome1 commented on #199
@weisserd , @zerodat , @trend-1 this can be tested in https://github.com/ransome1/sleek/releases/tag/v1.0.9-rc.3

@weisserd thanks for the PR.

[2021-07-12 06:24] ransome1 commented on #193
@amariusz , @zerodat this can be tested in https://github.com/ransome1/sleek/releases/tag/v1.0.9-rc.3

I gave it a quick look (no in-depth testing) so far and it seems to be working quite well. Once this feature is wrapped up I propose we put together a small wiki article because I think it can become handy for some users but it might not be very self explanatory. @amariusz Would you be interested

[2021-07-12 07:08] amariusz commented on #193
@zerodat Preserving sleek behaviour in case of missing t: and due: seems like a smart choice here. I'm surprised how quickly this've got implemented :) Thank you!

@ransome1 I'll test this change today. Regarding wiki - I think it's a good idea. I've never updated one before but I should manage :)

[2021-07-12 09:10] amariusz commented on #193
I've downloaded sleek-1.0.9-rc.3.AppImage, it starts but nothing happens after clicking buttons in the menu like "open file" or "settings'. Could you confirm this build is not broken?

[2021-07-12 09:14] ransome1 commented on #193
Yes you're right, the last merge removed a critical file, that hasn't been rebuilt with the last release. I'm going to fix it and create a new test release.

[2021-07-12 09:32] ransome1 commented on #193
@amariusz can you try again please? https://github.com/ransome1/sleek/releases/tag/v1.0.9-rc.3

[2021-07-12 09:41] amariusz commented on #193
This one works, thanks.

[2021-07-12 10:17] ransome1 commented on #173
@zerodat I removed your code as it generated glitches when starting sleek with `yarn start`. Because then the arg is `.` (dot) which will then be persisted and tricks the start up into an infinite loop.

@dflock if it is not super urgent, let's wait a bit for the 1.0.9 Flatpak release and try if it works on your side. If not we'll look at the command line appendix again.

[2021-07-12 10:27] dummifiedme commented on #204
I am trying to replicate it and I too am not able to. But I can promise you, it was happening! For 5 tasks! And they were kind of repeating.

[2021-07-12 10:31] ransome1 commented on #204
I believe you, don't worry. Do you have those exact todos saved somewhere? Maybe in a todo.txt file, that you could share?

[2021-07-12 11:28] amariusz commented on #193
Glad to confirm all scenarios I listed above regarding tasks completion seem to be working fine. Good job @zerodat ! :tada:

Here are some additional notes I've made as I was playing around. Just for reference.

Related to this change
  - 't' in filter field seems to work (t = ...)
  - there's no date picker for 't' like for due (or icon, or filter setting like 'show tasks with threshold date in f

[2021-07-12 11:39] dummifiedme commented on #204
Sadly, I deleted it. I was only trying it for the first time and those were really dummy tasks, so got rid of them.
Though currently I don't really know how will I manage my subtasks, I dropped the idea of using it for now as well. But thought, I should share the bug and I did :grin:

If I ever encounter it again, I will attach again.

[2021-07-12 14:57] amariusz commented on #193
Some more thoughts regarding this feature. The idea behind deferring is keeping entries out ouf the way until they become relevant. However right now it's only possible to hide them "on demand" with filter query. That's not very convenient.

I suppose following additions to `View` settings could enhance this feature usability:
- `Show tasks with threshold date in future` toggle
- Sort by: `Thresho

[2021-07-12 16:08] zerodat commented on #193
Thanks for merging and releasing this, @ransome1!   I'll update the filter expression wiki page today to add the new filtering features.

I'm impressed with your careful testing, @amariusz .  Here are some answers on the points you mentioned:
* yes, no date picker or other GUI features related to `t:` tags.  Could be nice to have, but fortunately in todo.txt format you can just type them until you

[2021-07-12 17:13] zerodat commented on #173
@ransome1, oops, yes I only tested with the AppImage, so didn't try the electron "unbundled app" case.  The following code works for both:

[code]

[2021-07-12 20:06] ransome1 commented on #173
@zerodat I can confirm it's working well :) Will be part of 1.0.9, thanks again.

[2021-07-13 06:13] ransome1 commented on #129
@9z0 both cases should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.0.9-rc.4

[2021-07-13 06:34] ransome1 commented on #193
Regarding the GUI part I would suggest we add the toggle @amariusz proposed that either shows or hides todos, which threshold dates havn't been reached yet. I can take care of that. For the GUI I need a very short one or two word identifier to label to toggle. Something like "Threshold in the future" (which sounds horrible though ;)) Do you have any ideas?

Also if you like we can add a short para

[2021-07-13 06:36] ransome1 commented on #204
@dummifiedme I'm going to close here. If it happens again we will reopen this issue and just continue to debug it.

[2021-07-13 06:36] #204 closed

[2021-07-13 09:32] amariusz commented on #193
Thanks for explanations @zerodat. Named view is really promising feature.

@ransome1, I'd suggest following short names for that toggle:
- only available
- deferred items
- future items

I've prepared a draft for that wiki article. I couldn't find an obvious way to contribute it directly to this repo via pull request. You can find it here:
https://github.com/amariusz/sleek/wiki/Deferred-todos
It's

[2021-07-13 10:18] 9z0 commented on #129
I can cautiously confirm!

[2021-07-13 10:18] #129 closed

[2021-07-13 10:26] 9z0 commented on #132
Another place that uses the filtering pattern (implied AND, no order, partial match, etc) is https://archive.org domain URL filter. For example:

<https://web.archive.org/web/*/https://github.com/ransome1/sleek*>

type ` line screen blob` in the right box.

[2021-07-13 10:41] 9z0 commented on #198
I suggest adding some 200ms to the hover implementation in rc4.

I also agree with @zerodat that:
- the version information should be more prominent. Put it bold, big, top and center in the About tab.
- the About tab itself should be under help as per the convention (Help menu > About). I still keep looking for sleek version there by habit!

[2021-07-13 12:14] ransome1 commented on #132
Hey guys. For the next release I would love to create a simple animated GIF that shows the advanced search in action. Do you have good ideas for two examples that could be shown, which give a good idea on how the search works?

[2021-07-13 12:18] ransome1 commented on #193
@amariusz I added you as a contributor tot he sleek project and you should now be able to work directly in sleeks wiki. I also copied your wiki page. That's really good work on that article!

I'm not a native english speaker, but reading the title of the wiki page (Deferred todos) I was asking myself if this could be a self explanatory label for the toggle as well. What do you guys think?

[2021-07-13 16:42] amariusz commented on #193
Thanks.
I'm not native english speaker neither but I guess "Deferred todos" is also a valid option.

[2021-07-13 17:04] zerodat commented on #193
HI, @ransome1  and @amariusz.  I'm a native English speaker.  To me, the term "defer" is a bit confusing, because it means to delay something.  But the threshold date doesn't delay the todo.  Instead, it simply hides it from view until the specified date, and it only does that if you ask it to be hidden (using the filter expressions or the new switch that you are planning to add).

I suggest that

[2021-07-13 17:21] ransome1 commented on #193
Thanks @zerodat, that sounds good in general, but can we somehow shorten it? The other toggles are reduced to as few words as possible and don't contain technical information like due:, t: or x. Also we need to stick to the off = hide and on = show system that the other filter toggles follow.

[2021-07-14 05:26] ransome1 commented on #129
Thanks for your feedback!

[2021-07-14 07:07] dummifiedme commented on #204
Apologies

[2021-07-14 08:31] asakura42 opened #205 "Child/parent tasks"
Do you find useful some child/parent task idea? I mean,

[code]

Maybe it isn't *vanilla* todo.txt, but it may be very useful for sleek as an independent tool.

[2021-07-14 15:47] asakura42 commented on #205
Or, if you don't want to lose the simplicity of the todo.txt format, maybe make it easier to switch between different files?

[2021-07-14 15:56] ransome1 commented on #205
@asakura42 the idea of sub tasks is a pretty good one, but it comes with quite some challenges. Mostly because the parent to do and its children are not connected by an identifier. You need to know there is no database running in sleek.

The idea of switching between files has been brought up already by another user who proposed a tabbing function on top of the to do list. Like that you could swit

[2021-07-14 16:06] zerodat commented on #193
Do you propose to have it off=hide by default?  I don't care, but note that the existing behavior is to show these todos, so you would be changing the default.

The problem with the word "threshold" is that it is not too meaningful, unless you are already familiar with this `t:` mechanism under this name.  But I think not everyone uses the word "threshold" for this (maybe they say "start date" or

[2021-07-14 17:27] Saturo78 opened #206 "Open file from Dropbox"
for my workflow it would be really helpful if i could open the textfile from my droxbox.
Would it be possible to implement a sync function?

[2021-07-14 19:12] asakura42 opened #207 "Pinned tasks"
Why not to implement pinned tasks with simple `!` before task? Like:

[code]

So it will show up in Sleek like:

[code]

[2021-07-14 19:58] Saturo78 opened #208 "Interpret #tag as tag"
with the todo.txt android app not only +project and @context are interpreted but also #tag as tag.
It would be really helpful if sleek could work in the same way and it could be also filtered for tags.

[2021-07-15 04:30] ransome1 commented on #206
Hi @Saturo78. Thanks for your suggestion. It sure would be possible to implement some kind of API connection to Dropbox and exchange the todo.txt files. But I want to be honest here: I disagree with how Dropbox handle their users privacy and it's a closed source environment. I don't have a good feeling about connecting with it sleek, which is 100% open.

As a workaround (and for most users this mi

[2021-07-15 04:33] ransome1 commented on #205
@asakura42 a solution for the tab function can be discussed here: https://github.com/ransome1/sleek/issues/189

I would leave this feature request open. Maybe at some point I or somebody will pick it up again and work on it.

[2021-07-15 04:53] ransome1 commented on #193
@zerodat I think the threshold filter/toggle should be on by default, so the deferred todos will be shown.

Do you think this could can be a compromise?
![image](https://user-images.githubusercontent.com/11188741/125730517-88f58176-f803-4aa6-a046-698fea583305.png)

it is not the best solution, but it complies with the toggle logic and is consistent with the `Due in the future` toggle. The question

[2021-07-15 05:01] ransome1 commented on #193
@zerodat. As `Defer` is a verb, the toggle would mean that it defers dates somehow into the future right? Maybe `Deferred dates in the future` or simply `Deferred dates` could be an option as well. As `Defer` is not referencing the todo but the date now, it might make more sense. What do you think?

[2021-07-15 05:16] ransome1 commented on #204
@dummifiedme no need to apologize ;) I've seen quite some bug reports here that were not reproduceable but at some point somebody was able to do so and it turned out to be a bug after all. So let's keep our eyes open.

[2021-07-15 05:28] zerodat commented on #193
@ransome1 I think that the question mark button is probably a good thing to do, because none of the labels is likely to be clear to someone who hasn't encountered the `t:` feature before.

As for the label, it shouldn't be just `Defer date` or `Deferred date`, because it isn't whether it has a `t:` date but rather whether that date is in the future.  So it is more like the `Due in the future`.

`D

[2021-07-15 05:36] ransome1 commented on #193
Ok, let's start this with Threshold date in the future. It's not ourboth favorite, but it sticks the toggle logic and it contains the word t: is the abbreviation for. If we think of something better, we'll just change it in the future.

Filter query expression language. So nerdy, so cool :heart:

@zerodat Would you say the feature is ready for deployment? If so I'm going to prepare the 1.0.9 relea

[2021-07-15 05:46] zerodat commented on #132
@ransome1, you could show a few todos with various projects and priorities:
[code]
 and then type the query:
[code]
As you type that, the visible todos should change in an interesting way.  Could also do one with due dates perhaps.  There are so many possible types of queries that this will just scratch the surface, but it might give the user a sense of what to expect.

[2021-07-15 05:54] zerodat commented on #193
Yes, @ransome1 it seems like the threshold feature is working in 1.0.9 release candidate 4.

[2021-07-15 05:56] amariusz commented on #193
I'm ok with any name that's already present in other tools. SimpleTask uses 'threshold', OmniFocus uses 'defer'.

`t:` is used by convention to provide compatibility with other tools. I wish someone named this attribute `def:` in the past.

There's other way to look at it - item with `t` attribute is either `deferred` or `current` depending on attribute's value and current date :)

That's just a c

[2021-07-15 06:12] amariusz commented on #193
..and by the way `named view` feature you mentioned above is called "Saved filters" in SimpleTask and "Custom perspectives" in OmniFocus.

[2021-07-15 06:33] ransome1 commented on #193
The feature has been released in https://github.com/ransome1/sleek/releases/tag/v1.0.9

[2021-07-15 06:34] ransome1 commented on #198
@zerodat , @9z0 the `About` tab has been moved to the `Help` modal, the version number has been moved up and the hover delay has been added in https://github.com/ransome1/sleek/releases/tag/v1.0.9

[2021-07-15 07:04] amariusz commented on #193
@zerodat @ransome1 Yey! Thank you very much for delivering this feature! :tada:

[2021-07-15 07:14] ransome1 commented on #173
@dflock both, the command line parameter as well as the custom env are included in the v1.0.9, which should be distributed any minute. Please give us a quick feedback if this is working on your side.

[2021-07-15 07:14] ransome1 commented on #193
@zerodat yep, big thanks to you. Again :)

[2021-07-15 07:17] Saturo78 commented on #206
Unfortunately i have no rights to install software on the computer. So i could not set up a dropbox sync folder.
I have sleek installed from the Microsoft App Store.

So i have to store the files locally without having the posibility to access them via mobile ore have to use another solution with sync functionality.

Thanks

[2021-07-15 07:21] ransome1 commented on #132
@zerodat thanks, I will prepare a GIF for the next release based on that.

Also I can confirm that the above mentioned search query is now working in v1.0.9.

@zerodat , @9z0 A general question: The requirements of this feature request have been more than met and I don't want to this to become a bottomless pit. So I suggest we should close this issue in order to clean up the issue list. Github pro

[2021-07-15 07:21] Saturo78 opened #209 "Recurring tasks are not set to done when marked complete"
I have an issue with recurring tasks.
I have ste it to every business day and when i complete the task it is correctly set for the next business day but also keeps open for the actual day. So i have to delete it manually.

[2021-07-15 07:23] ransome1 commented on #209
Hi @Saturo78 . Can you please use the bug template and provide a detailed describtion and examples. Thank you.

[2021-07-15 11:55] amariusz commented on #193
Regarding information in README.md that initially confused me

[code]

I suppose it should say `creation dates` not `start dates`.

https://github.com/todotxt/todo.txt

[2021-07-15 12:17] asakura42 commented on #207
I implemented that in my smol script, if you want to see this in action : https://github.com/asakura42/todo.sh
Honestly I find it very useful feature.

[2021-07-15 16:02] zerodat commented on #198
Thank you, @ransome1 !

[2021-07-15 16:02] #198 closed

[2021-07-15 16:03] zerodat commented on #173
Working for me.  Thanks.

[2021-07-15 16:09] zerodat commented on #209
Also @Saturo78 if possible could you test this using the new release 1.0.9 (released today)?

[2021-07-15 16:11] Saturo78 commented on #209
**Is it an actual bug?**
Or can it be a specific behavior of sleek that others would not consider a bug? In this case a feature request can be better suited: https://github.com/ransome1/sleek/issues/new?assignees=&labels=&template=feature_request.md&title=
Yes.

**Did you check if the bug has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues
Yes, i have searched

[2021-07-15 16:14] Saturo78 commented on #209
I could only install from the Microsoft Appstore. There i get verson 1.07. Sorry.

[2021-07-15 16:26] ransome1 commented on #209
@Saturo78 the Windows Store release will be coming tomorrow. I need to update the Screenshots first, as the design has been changed a little.

[2021-07-15 16:32] zerodat commented on #209
@Saturo78 I tried your example in 1.0.7 and I don't get the problem.  The old task is marked done (shown in gray, checked) and the new task is created with due date of 2021-07-16.
![Screenshot from 2021-07-15 09-27-50](https://user-images.githubusercontent.com/81216634/125824267-ed6d745d-5b82-474a-af31-94db649bcebc.png)

[2021-07-15 17:41] ransome1 commented on #173
@dflock I just tested the command line feature, but it didn't work with the Flatpak.

With the env though it seems to be working:
[code]

Hope it's working in your environment as well.

[2021-07-15 18:48] velardevines opened #210 "Keyboard shortcut to toggle viewing Deferred Todos"
**Did you check if a similar feature request has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues

Yes, feature has not been requested.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I consider this an ease of use feature request.

**Describe the s

[2021-07-15 20:01] Saturo78 commented on #209
To me it looks like this issue:

https://github.com/ransome1/sleek/issues/169

[2021-07-15 20:16] 9z0 commented on #198
Thank you for the changes!

A couple of small cosmetic issues:
- Semi transparent background to the popup (I have many context/projects).
- The delay should be enough. I'd do away with the fade in.

Thanks

[2021-07-15 20:16] 9z0 commented on #198
Thank you for the changes!

A couple of small cosmetic issues for your consideration:
- Semi transparent background to the popup (I have many context/projects).
- The delay should be enough. I'd do away with the fade in.

Thanks

[2021-07-15 20:19] zerodat commented on #209
Ah, good call @Saturo78 .  If it is that bug, you should not see it once you get 1.0.9, because I fixed this after 1.0.7.   It had to do with sleek not correctly recognizing when two tasks are the same.

[2021-07-15 20:25] 9z0 commented on #132
The examples given by @zerodat are good, but I'd explain the query, like "If it is the beginning of the week and you want to search for urgent or money-related todos, you can type `+bill or (A)`". Maybe also a couple more examples.

I see you also have some [sample todos](../wiki/Sample-todo.txt-file-content-for-testing-purposes) for testing, maybe also use those?

Maybe we can try it. We can alwa

[2021-07-15 20:25] #132 closed

[2021-07-16 00:50] dflock commented on #173
Yep, the env var is working for me!!

`/usr/bin/flatpak run --env=SLEEK_CUSTOM_FILE="~/dev/duncanlock.net/.todo.txt" --branch=stable --arch=x86_64 --command=sleek com.github.ransome1.sleek`

Thanks everyone!

[2021-07-16 00:50] #173 closed

[2021-07-16 04:12] ransome1 commented on #210
@velardevines any suggestion for a shortcut? I would propose `T` but as we're following the todotxt.net shortcuts (https://github.com/benrhughes/todotxt.net) that would be occupied already.

@amariusz @zerodat

[2021-07-16 04:14] ransome1 commented on #193
I suggest we close here. I added Github discussion where we could continue discussing this feature and collect ideas for a follow up feature request if needed.

[2021-07-16 04:14] #193 closed

[2021-07-16 04:26] ransome1 commented on #208
Hi @Saturo78 thanks for your proposal. I myself don't see a big value in adding another filter mechanism in sleek. It adds weight to the GUI and is not part of the basic todo.txt syntax.

As this is more a loose idea than a precise feature request, it might be a good idea to open up a general [discussion](https://github.com/ransome1/sleek/discussions) about it, so we can discuss is before making a

[2021-07-16 04:26] #208 closed

[2021-07-16 04:28] ransome1 commented on #199
Thanks guys for your support here. I think this has been solved and can be closed.

[2021-07-16 04:28] #199 closed

[2021-07-16 04:32] ransome1 commented on #206
I added it to the long term [backlog](https://github.com/ransome1/sleek/projects/3), so the idea doesn't get lost. But please don't expect this to come any time soon, if at all. Again I disagree with how Dropbox positions itself and see this feature request as a general request for online synchronisation.

[2021-07-16 04:37] ransome1 commented on #195
I briefly looked into it and the solution behind that link requires at least one more node module to be installed (and I don#t know how many dependencies this one has). As I want to keep sleek slim this is not the way to go. I'll keep looking for a soltion the Electron API provides already.

Also a quick question: Can you describe what you exactly you expect from an app that opens minized in terms

[2021-07-16 04:48] velardevines commented on #210
Thanks for asking @ransome1. I like T also. Is there any reason Sleek cannot deviate slightly from todotxt.net keyboard shortcuts? Do you think Sleek would ever use T for the same action used by todotxt.net which is "T: append text to selected tasks"?

However, if you decide T is not available as a shortcut key, then how about S for "Show/hide Todos with Threshold Dates"? S is also easy to find on

[2021-07-16 04:58] ransome1 commented on #210
We don't necessarily need to stick to todotxt.net. In fact many of its shortcuts can't be applied on sleek anyway as the GUI works differently.

So I guess the only issues with `T` can be either that the majority of the users associate something else with it (I don't) or if a new feature is being introduced in the near future that might need the `T` shortcut more urgently than this one. I can't th

[2021-07-16 07:41] amariusz commented on #210
I don't object with 't' :)

Of course I'd prefer having an option to customize shortcuts and would probably end up modifying them.

As I understand this is not a keyboard-centric app. There's no option for example to use 'j'/'k' for list navigation and use 'x' for marking an item complete. For vast majority of users right hand will stay on mouse most of the time. So I guess I'd remap shortcuts foc

[2021-07-16 07:42] asakura42 commented on #195
Okay, I'll use it in future.

Personally I often autostart programs with line in `.xprofile` as xinit user. For example, `blueman-applet &` opens blueman and keeps its icon in tray. I found that very useful. So application is working but it doesn't clutter my desktop with new windows till I really need it. Of course, I can just write `sleek &` in `.xprofile`, but by default application starts in w

[2021-07-16 17:58] Saturo78 opened #212 "Print view"
**Did you check if a similar feature request has already been reported?**
Yes, i could find nothing similar.

**Is your feature request related to a problem? Please describe.**
I can not alway take my notebook with me. Sometimes it would be good if i could print out a filter selection to have all open todos with me out in the fields.

**Describe the solution you'd like**
Str+P opens standard print

[2021-07-16 18:08] Saturo78 opened #213 "Mark today in the date picker"
**Did you check if a similar feature request has already been reported?**
Yes.

**Is your feature request related to a problem? Please describe.**
When adding a new task for today i alway have to look to the calendar.

**Describe the solution you'd like**
It would be very nice if there is a colored marker on today in the date picker like you might know it from other software.

![grafik](https://us

[2021-07-16 18:20] ransome1 commented on #212
@Saturo78 I'm going to look into it. A simple print view reduced to the filters and visible todos should be quite simple to implement. I'll ping you here once we have a first preview.

[2021-07-16 18:38] ransome1 commented on #213
@Saturo78 todays date is highlighted already. It's probably not distinct enough.

I can check if I can put a bit more contrast in the highlighting.

[2021-07-17 07:30] ransome1 commented on #189
Hi @9z0, @asakura42, @zerodat. A first draft of a tab bar function to switch between files has been added to this pre release: https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.1

Please feel free to download this release and give it proper testing.

There wasn't much information in your feature request @9z0 so I just did what I wanted to do ;)

The tab bar will only be shown either
- when

[2021-07-17 07:43] ransome1 commented on #213
@Saturo78 in thihs pre release the date picker colors have been improved: https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.1

- A pre selected date has the blue background
- Todays date has a light grey background
- Hovering or focusing cells will create a blue border

![image](https://user-images.githubusercontent.com/11188741/126030007-7e6cbbb5-ab95-4092-9580-c59c9ce6bf41.png)
![image](h

[2021-07-17 08:55] 9z0 commented on #189
Well, I didn't expect it so soon, so I was just suggesting it in principle. But I am definitely happy! 👍

Makes sense! A slight problem is the shifting UI elements when you move between "no tabs" (1 file) and "tabs" (2+). For example, the search bar moves up/down a bit, but it is a small issue and easily fixable (see below).

Both num and Ctrl+num are working fine for me.

I would suggest just "Ta

[2021-07-17 09:14] 9z0 commented on #151
Since sleek is moving more and more beyond a bare-bones app, we are increasingly having to choose between customizability and simplicity of use.

A solution like this one is widely used to offer the user a choice while keeping the UI simple and user-friendly.

I added a task list to the first post with what I think is a good foundation to start with the options part (or maybe continue, since sleek

[2021-07-17 10:10] Toffanelly opened #216 "Option to use contexts and projects as part of the sentence"
**Did you check if a similar feature request has already been reported?**
Yes

**Is your feature request related to a problem? Please describe.**
Sleek treats contexts and projects only as tags and not as words that are part of a sentence.

![image](https://user-images.githubusercontent.com/1621227/126033309-09b2831e-4103-4aec-8cef-68ccf6385165.png)

**Describe the solution you'd like**
Having the

[2021-07-17 11:17] Saturo78 commented on #208
Today i use +Projects and @persons tho whom the tasks are assigned and i would like to have a third option for locations, departments or other tags.

I will try if #tag works for me with the standard filter options.

[2021-07-17 11:26] ransome1 commented on #216
Hi @Toffanelly , is this a duplicate of https://github.com/ransome1/sleek/issues/68?

[2021-07-17 11:36] ransome1 commented on #212
@Saturo78 I'm not 100% sure what you mean with "filter selection", but I assume you mean the selected filters (if any) and the todos filtered by that selection, right? Everything else wouldn't propably make sense anyhow.

I added a simple print styling, that removes all elements of the GUI that are not needed for printing. You can test it in the pre release: https://github.com/ransome1/sleek/relea

[2021-07-17 12:44] Saturo78 commented on #212
Thank you very much for the quick response!
I have had a first look.
In daymode it is usable, in nightmood the dark background is printed to and looks very much like a screenshot.
Generally I think it could be more a plaintext list.
Maybe with lines between the entrys to have the possibility to made notes by hand.
The filter section on top needs much space. The context of the filter line on to of

[2021-07-17 13:18] ransome1 commented on #212
Thanks for the feedback.
`In daymode it is usable, in nightmood the dark background is printed to and looks very much like a screenshot.`
You're right I havn't really tested in in dark mode. And I think it doesn't make any sense to print in dark mode, which is why I will try to render the print in bright mode per default.

`Generally I think it could be more a plaintext list.`

It would be possibl

[2021-07-17 13:46] Saturo78 commented on #212
Instead of the filter menu on top of the page a single line with the content of the search field:

E.g.:
"Filter: due < today+6b and +project"

[2021-07-17 14:36] Saturo78 commented on #213
Now its Perfect for me.
Thanks a lot!

[2021-07-17 15:23] ransome1 commented on #213
You're welcome. I'm going to close this one for you ;)

[2021-07-17 15:23] #213 closed

[2021-07-17 16:22] Saturo78 commented on #209
I think with version 1.09 this issue is solved.

¡Muchas gracias!

[2021-07-17 16:22] #209 closed

[2021-07-17 18:50] amariusz commented on #189
@ransome1 Just as a reminder, I'm not native English speaker. Similarly to @9z0 I think just `Tabs` is enough.

You may consider however if you want to use tabs only for separate todo.txt files. I suppose that opening filter queries / named views in tabs would be a neat feature. That mostly depends if user has whole system in single file or is using multiple small files.

[2021-07-18 13:50] Toffanelly commented on #216
Yes! Sorry, I did check open issues before posting but didn't notice that one. I assume the answer remains the same so I'll wait for the jsTodoTxt implementation. Thanks

[2021-07-18 13:50] #216 closed

[2021-07-19 09:25] ransome1 commented on #189
I don't think this is an issue as it can be expected.

Tabs sounds good

I agree, I removed the confirmation in general

This is possible with the next release

This too is part of the next release

Besides the customizability this is added in the next release

Also added

I understand your point, but prefer it like it is right now

This puzzles me, as I can neither reproduce it nor should it happ

[2021-07-19 10:15] ransome1 commented on #189
The next build is available :)
https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.3

[2021-07-19 10:24] ransome1 commented on #209
@Saturo78 the v1.0.9 has been release today in Windows Store as well.

[2021-07-19 10:49] g3434343 opened #218 "Encrypted todo.txt or support for password-protected and zipped todo.txt files"
**Did you check if a similar feature request has already been reported?**
Yes, I did.

**Is your feature request related to a problem? Please describe.**
Something like that. The problem is anyone can open that todo.txt file, even unauthorized people and I have a todo.txt file for every scenario, even for my work activities.

**Describe the solution you'd like**
Support for encrypted todo files li

[2021-07-19 12:46] repent opened #219 "Timeout error when slow to select todo.txt file"
When the user is very slow to select a todo.txt file when running the app for the first time, a timeout error occurs.

I opened the app for the first time, chose to use an existing todo.txt file, and was very slow to make a selection.  This error occurred (repeatedly):

![image](https://user-images.githubusercontent.com/8235522/126161438-545cccdf-b2b8-468b-ac99-b82cd9b05774.png)

I expected it jus

[2021-07-19 13:19] dlaidig opened #220 "hidden tasks containing only projects/contexts gets deleted"
**Is it an actual bug?**
Yes. (And I am very happy that I carefully checked the diff of my todo.txt files after testing sleek.)

**Did you check if the bug has already been reported?**
Yes.

**Describe the bug**
My todo.txt files contain a hidden entry to define projects/contexts. When Sleek modifies the file, e.g., when marking a task as completed, this entry gets deleted.

With this task, the "h

[2021-07-19 13:27] ransome1 commented on #220
@dlaidig can you please check if the todo is actually being deleted from the file?

Although I havn't looked into it yet, I think it's just not loaded, as sleek filters tasks with no text. It also doesn't let you create tasks with no actual text.

This is a behavior from the days before the hidden todo function got introduced. I could enhande this by letting sleek create and read todos that contai

[2021-07-19 13:29] dlaidig commented on #220
Yes, I checked the files after they were modified by sleek and the hidden line was removed.

[2021-07-19 14:14] ransome1 commented on #219
Hi @repent sounds oddly interesting ;)

I freshly installed the version from Windows Store as well as the portable one here on Github. On both I started up seeing the onbaording, clicked the "Open todo.txt" button and waited up to 10 minutes each. Nothing really happened.

Can you please check if you're experiencing the same issue with the portable non-store version https://github.com/ransome1/sle

[2021-07-20 05:17] amariusz commented on #189
Maybe an example would help. This is rather confliting use of tabs to the one you have implemented.

Let's assume `saved view` feature @zerodat mentioned is already present (https://github.com/ransome1/sleek/issues/193#issuecomment-878405886). User defined some views like  "Today", "Office", "Routines" (based on queries and sort order). What I meant was ability to open these in separate tabs.

[2021-07-20 05:43] ransome1 commented on #220
Ok I found the reason and it will be fixed in the next release. Also empty todos with h:1 attribute can now be created within sleek (led to a warning before).

Thanks for reporting it.

[2021-07-20 05:53] ransome1 commented on #219
@repent I think I found the cause. It must have been at least 10 minutes you waited, correct?

It should be fixed in the 1.1.0 release. Thanks for reporting it.

[2021-07-20 06:00] ransome1 commented on #189
@amariusz Ah ok now I understand, so the tab as a shell for a saved filters, but for the same file basically. Yeah that could also be an option, but I don't think it's what users would expect from a tab function in a simple app like sleek.

Though I think the `named view` idea of @zerodat could be combined with this somehow in the future. It could also be implemented as a list in an autocomplete l

[2021-07-20 08:04] buscon opened #221 "Main Window does not appear in windows tray and it cannot be Alt+Tab"
**Is it an actual bug?**
yes

**Did you check if the bug has already been reported?**
not for Linux Mint. There is someting similar for windows: https://github.com/ransome1/sleek/issues/170

**Describe the bug**
After starting sleek, it is not possible to:
1. Alt+Tab and switch the focus to it
2. recover the app from the tray
The only way to get back to the window is to hid the other windows which

[2021-07-20 09:10] Saturo78 opened #222 "Filter for + or @ should find exact string"
**Did you check if a similar feature request has already been reported?**
yes

**Is your feature request related to a problem? Please describe.**
filter string +wa also shows entries for +waiting even if there is a space after (+wa )

**Describe the solution you'd like**
if i filter for + and @ only the tasks with the exact search string should be shown.

**Describe alternatives you've considered*

[2021-07-20 11:02] dlaidig commented on #189
I have just tested 1.1.0-rc.3 via the AppImage and it immediately worked perfectly with the files I had already open. I really like that the number shortcuts make it extremely simple and fast to switch between files. :)

The only confusing aspect is that now I have two tabs with the titles "todo.txt" and "todo.txt", which is not very helpful. I can work with that as long as the tabs are in the ord

[2021-07-20 11:04] EloiSanchez opened #223 "TypeError in function undefined: Cannot read property 'push' of undefined"
**Is it an actual bug?**
It is not breaking the program, but it is a recurrent error

**Did you check if the bug has already been reported?**
I did, but it was not solved due to lack of information.  #164

**Describe the bug**
An error appears on launch. The notification of error can be closed and I don't see any malfunction of the application. The bug does not reappear

**To Reproduce**
Steps to

[2021-07-20 11:06] ransome1 commented on #223
@EloiSanchez does this also happen on a more recent release like 1.0.9 which should be on Flathub as well?

[2021-07-20 11:18] EloiSanchez commented on #223
I confirm that the error does not occur in the updated version 1.0.9
Thanks!

[2021-07-20 12:50] dlaidig opened #224 "visual indication for threshold dates (similar to due dates)"
**Did you check if a similar feature request has already been reported?**
Yes. Although I did not read every comment for #193 in detail, from a quick glance I did not find any discussion regarding this sub-aspect.

**Is your feature request related to a problem? Please describe.**
In the task list, there is absolutely no indication if a task has a threshold date (t:2021-07-20). The threshold date

[2021-07-20 12:58] 9z0 commented on #189
- > .. shifting UI elements ...

More of an improvement! :)  It is a minor thing anyway.

---
- > I agree, I removed the confirmation in general

If it is not going to be optional, then perhaps a way to **unclose** (Ctrl+Shift+T).

---
- > Tab width

Now for me, all tabs show the early (often identical) path :)
[code]
It should show the file name with the full path on hover. Maybe @amariusz's sugg

[2021-07-20 13:01] 9z0 commented on #222
@Saturo78
Put them in quotes: `+"waiting"`. I think this is better a [config file option](151).

[2021-07-20 15:41] zerodat commented on #222
Yes, @Saturo78 this is the way that the search works, unless you add a double quote at the end to force an exact match.  You don't have to put quotes on both sides, although you can if you like.  So `+wa"` will match only the `wa` project, not `waiting`.

Originally it was designed for exact matches only, but I changed it to the looser matching method to make it more convenient for the search box

[2021-07-20 16:04] zerodat commented on #221
@buscon I am running Linux Mint 20, cinnamon 4.6.7 and the alt+tab works fine for me with sleek 1.0.9 (AppImage).  Are you using cinnamon or another desktop environment?

[2021-07-20 18:11] buscon commented on #221
hi @zerodat

thanks for your answer. I am running Mint 20.2 with cinnamon 5.0.5. I installed the .deb package. I tried the last 1.10 rc and it has the same problem.

[2021-07-20 19:10] Saturo78 commented on #222
Muchas gracias por el consejo @9z0, @zerodat!
This works for me very well!

[2021-07-20 19:25] zerodat commented on #221
@buscon I will try a dpkg installation as soon as I have time.  Could you try the appimage?  It is very easy: just download it (let's say the file is `sleek.appimage`), make it executable with `chmod +x sleek.appimage` and then run it with `./sleek.appimage`.

Thanks.

[2021-07-20 19:33] buscon commented on #221
@zerodat I just tried with the appimage and it has the same problem. Maybe it has something to do with the cinnamon version?

[2021-07-20 20:22] zerodat commented on #221
OK, I will try to build a Mint 20.2 system and see if I can reproduce this.  Thanks for testing the appimage!

[2021-07-20 23:31] zerodat commented on #221
@buscon I installed a fresh Linux Mint 20.2 system with Cinnamon 5.0.4, and the Alt-Tab worked fine with sleek-1.0.9.AppImage.  And then I upgraded to Cinnamon 5.0.5 and that appears to work properly as well.  I'm not sure what else to try.

Can you check your system log files to see if there are any errors that might be relevant?  I wonder if there are any Cinnamon configuration options that migh

[2021-07-21 04:56] ransome1 commented on #221
@zerodat thanks for helping out here!

@buscon Im not on Linux Mint but on Arch Linux, as well as MacOS and Windows. I can't reproduce this either.

[2021-07-21 04:57] ransome1 commented on #222
@Saturo78 could you please close issues, once they have been resolved? Thanks.

[2021-07-21 06:06] ransome1 commented on #212
@Saturo78 there have been minor adjustments to the print view: https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.4
- It is grayscaled now (printer friendly)
- The filter drawer is hidden
- The search bar is shown

If there aren't any major issues with this I would be releasing it to see if there is any usage on this. Only then it makes sense for me to spend more time on this feature, which

[2021-07-21 06:11] balmag opened #225 "Hungarian language file"
Hello guys, I would like to start translating the application into Hungarian.
Can I ask for technical instructions?

[2021-07-21 06:20] ransome1 commented on #189
https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.4

@dlaidig If you're working with more than one file called todo.txt this of course is an issue. A renaming context menu can be a useful enhancement on this. As would be the reordering. But as my time is very limited this can only be added in the future. Also I would like to understand first, if this feature is actually being utilized by sl

[2021-07-21 06:26] ransome1 commented on #225
Hi @balmag. That's great, thanks for your support.

The easiest way is to just fork sleek, duplicate the english translation file (https://github.com/ransome1/sleek/blob/develop/src/locales/en/translation.json) to the hungarian specific location: https://github.com/ransome1/sleek/blob/develop/src/locales/hu/translation.json

Once you're done, you can send a pull request. If you're not familiar wit

[2021-07-21 06:27] #223 closed

[2021-07-21 06:28] ransome1 commented on #220
Hi @dlaidig. Could you please check, if this behavior is still present in https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.4?

[2021-07-21 06:28] balmag commented on #225
Thanks for the reply

[2021-07-21 06:45] #222 closed

[2021-07-21 07:22] buscon commented on #221
@zerodat @ransome1
thanks for your feedback. I cannot see any relevant error in my logs. In case I find out something, I will report it.

[2021-07-21 07:49] ransome1 commented on #221
I fixed a bug in the latest test release. After switching to `tab mode on` sleek could not be switched back to `off`. It's propably not related to your issue, but it cannot hurt to try out the latest release: https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.4

Let me know :)

[2021-07-21 08:41] dlaidig commented on #220
Thanks for the very fast fix! I checked this version and for the example I posted, this does not happen any more. However, with

[code]

the first task is not shown in sleek and if I check the second task, the first one silently get deleted from the file. I am aware of #68 (and personally, I am not very likely to create a task like that since I do not use projects/contexts that much), but "silentl

[2021-07-21 08:56] dlaidig commented on #189
I would guess that multiple "todo.txt" files are not a uncommon use case, since in most applications the file names (at least "done.txt", for example in sleek...) are fixed and "todo.txt" is the standard name in the original CLI tool. So in order to separate multiple lists (in my case, personal and work), using different directories makes sense.

But I do understand that those ideas are not essent

[2021-07-21 09:01] buscon commented on #221
I think I figured it out in the meanwhile.

In the settings there is a "Minimize to the tray bar" setting. I tried to turn that on, but it was always showing it as off (see screenshot).
![Screenshot from 2021-07-21 10-58-39](https://user-images.githubusercontent.com/2972257/126461682-4d5afb57-a203-4f12-82a4-ebe20be20571.png)

Now I checked the json settings file `~/.config/sleek/user-preferences.j

[2021-07-21 09:02] ransome1 commented on #221
@buscon did you read my previous post? ;)

[2021-07-21 09:04] buscon commented on #221
@ransome1 yes, I did, but I though that `tab mode on` is another setting, isn't it?
Anyway, I can try the last rc release and check it.

[2021-07-21 09:04] ransome1 commented on #189
That's interesting, thanks for this detail, maybe I'll find some glitch somewhere.

@9z0 can you confirm @dlaidig observation also on your side?

[2021-07-21 09:08] buscon commented on #221
ok, now I see. your bugfix is fixing my problem too :)
It works fine on rc.4!
thank you!

[2021-07-21 09:12] ransome1 commented on #220
This is the behavior by design. Tasks with empty text fields are being removed from the file. Except when they are marked with h:1. I guess a less strict behavior can be implemented with which the line won't get removed but just ignored.

I understand your concern and as this application works directly with your files (and not with a database) there will always be a risk that something might happe

[2021-07-21 09:29] dlaidig commented on #220
I am sorry, but if a consequence of the design is that sleek silently deletes entries that are valid according to the todo.txt specification and contain information (call dad), I would say then sleek should claim that it "makes use of the todo.txt format".

Backups only help if you notice that data is missing. If some tasks get deleted, you usually do not find that out or you find it out too late

[2021-07-21 09:42] ransome1 commented on #220
I'm not sure if your example is actually valid by the todo.txt standard. As far as I understand the basic rules (https://github.com/todotxt/todo.txt/raw/master/description.svg) the only element that is not optional is the description itself. But if I'm mistaken I won't argue against it.

[2021-07-21 09:51] dlaidig commented on #220
That svg also shows that projects and contexts are part of the description, i.e. the description for my example is "@call +dad" and certainly non-empty. But that detail is probably more relevant for #68 and I will stop nitpicking now. :)

[2021-07-21 10:04] ransome1 commented on #141
@nutnutwin the last issue of this (Input placeholder and values were shorten) should be solved in https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.4

We might be finally able to close this issue :) Looking forward hearing your feedback.

[2021-07-21 13:50] g3434343 opened #226 "Password-protect the app"
*If your proposal is more a rough idea than a precise description of a feature, please consider starting a discussion instead: https://github.com/ransome1/sleek/discussions
Please only continue the feature request if you have a precise idea of what you're asking for and if you can provide specific details, use cases or examples.

**Did you check if a similar feature request has already been report

[2021-07-21 13:57] 9z0 commented on #189
Confirmed. Thanks

It works with the right Ctrl but not the left one !!

I can also reproduce @dlaidig's finding but with a variation: the trick for me was to release "tab" before releasing "ctrl" (which you are likely to do subconsciously if you are holding the ctrl button for long). Again, this is not needed with the right ctrl button.

This is also similar to the (now fixed) [issue with ctrl+en

[2021-07-21 19:56] Saturo78 commented on #212
It looks okay, maybe you could remove the due:date popup which is hoovering over the entrys.
For me you don´t need to put energy in this issue.
I have found a good workaround using notepad++ and the plugin Linefilter3
https://www.seelisoft.net/Linefilter3/

So i get a realy oldschool plaintext printout :o)

[2021-07-22 09:32] dlaidig commented on #205
For my personal use case, I am not sure if I would use subtasks a lot, but I do also see the value in it. After reading this issue, I had some thoughts regarding the implementation, and I'll just write them down here in case @ransome1 might find it useful at some point.

The main idea is to use `level:N` to encode the task hierarchy, which I think would be sort of in line with the [specification](

[2021-07-25 05:40] ransome1 commented on #212
I think for now we're good and I'm going to close it. If there will be feedback on this function, we can always reopen it or a new issue will be created.

[2021-07-25 05:40] #212 closed

[2021-07-25 05:43] ransome1 commented on #189
@9z0 you can take a look at the latest RC, which will preserve the file history when closing tabs: https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.5

I think I once stumbled upon a glitch, but weren't able to see it again. It's a minor enancement with significant changes to the code, so let me know if you find something odd about this.

[2021-07-25 10:35] dlaidig commented on #189
There does seem to be some quite fundamental glitch in rc5:

I quickly wanted to test if v1.1.0-rc.5 fixes #220 and created a new temporary two-line todo.txt file with a text editor (`/home/user/temp/todo.txt`). I already had my real todo file open (lets call it `/home/user/important/todo.txt`) and when I opened the temporary todo file, it created a new tab. (Also, the `@call +dad` task was now vi

[2021-07-25 10:41] ransome1 commented on #189
I was trying to somehow reproduce this the way you described it, but without any success. I'm going to take a look at it later again. If you have more detail on this, let me know.

[2021-07-25 10:53] dlaidig commented on #189
One minor detail that might help: I just noticed that with rc5 and the temporary file open, I had the following entries in `user_preferences.json`:

`"path":"/home/user/temp","file":"/home/user/important/todo.txt"`

When starting rc4 again and selecting the temporary tab:

`"path":"/home/user/temp","file":"/home/user/temp/todo.txt"`

(Sorry for the off-topic question: Is there a way to disable the

[2021-07-26 06:09] ransome1 commented on #189
@dlaidig I think I might have found the cause for this behavior. The `file` option in `user-preferences.json` has been deprecated in rc.5 and therefor not updated when you added a new file. But it was still used in 2 functions which might have let to this issue.

Could you please check https://github.com/ransome1/sleek/releases/tag/v1.1.0-rc.6 and try to exactly reproduce the issue one more time t

[2021-07-26 08:00] dlaidig commented on #189
I can confirm that the issue seems fixed in rc.6. I also reproduced the issue in rc.5 again directly before switching to rc.6 and rc.6 updated the correct file. :)

Btw, I do quite like that the tab order now seems to be based on the order of the "recent files" entries. This makes it so much faster to restore a consistent tab order after accidentally closing a tab (and that really happened a few t

[2021-07-26 18:42] g3434343 commented on #171
I think the view below looks great for sleek but I think the event list should be at the left. This is a screenshot of Elementary OS mail app.
![image](https://user-images.githubusercontent.com/81695893/127041554-9d019b93-35a7-4a02-b19e-ba64d750e12d.png)

[2021-07-26 19:38] #189 closed

[2021-07-26 19:47] 9z0 commented on #189
I can confirm @dlaidig's finding (write to wrong file) in rc5 on Windows. I will check rc6 to see if fixed.

I added a request to open multiple instances of the same file in tabs. For example, to view multiple filters at the same time.

Thanks a lot for the recent history. I think tabs are in a good condition so I closed this issue; minor requests/improvements notwithstanding. :)

[2021-07-26 19:54] 9z0 commented on #187
Bug:
- Open edit box and make changes
- Click outside the box. The "cancel edits" confirmation appears.
- Click outside the confirmation message.

Expected:
- Nothing happens. You can only take action by clicking "Confirm" or "Cancel".

Actual:
- The message is dismissed with confirmation (The edits are lost).

[2021-07-27 04:40] ransome1 commented on #187
This is added to the final 1.10.

[2021-07-27 08:39] dlaidig commented on #220
Fixed in v1.1.0-rc.6, so I'm closing this issue now. :)

[2021-07-27 08:39] #220 closed

[2021-07-27 09:00] ransome1 commented on #220
thank you @dlaidig

[2021-07-27 09:34] EloiSanchez opened #231 "Add done/not done or tick/cross possibility"
**Did you check if a similar feature request has already been reported?**
I have not found any open issues with this idea

**Is your feature request related to a problem? Please describe.**
It is not related to a problem

**Describe the solution you'd like**
Instead of simply marking the tasks as done, could it be possible to add a tick/cross like a done or not done task? I don't know if these is

[2021-07-27 09:48] repent commented on #219
@ransome1 Yes it probably was that long.  After I opened the window, I realised I had to go and move my todo file over from another machine.

[2021-07-27 09:50] ransome1 commented on #219
But it shouldn't have happened anyway ;)

The 1.1.0 has just been pushed to the Windows Store. It includes a fix for it and should be available tomorrow.

[2021-07-27 12:40] thewholelifetolearn opened #232 "Toggle completed tasks in parameters when using shortcut"
**Is it an actual bug?**
Yes, it is a bug.

**Did you check if the bug has already been reported?**
Yes, I have searched through the issue list.

**Describe the bug**
When I toggle the completed task view through the keyboard shortcut, the parameter to hide or view the completed tasks doesn't toggle.

**To Reproduce**
Steps to reproduce the behaviour:
1. Have a list of completed tasks
2. In the pa

[2021-07-27 12:50] thewholelifetolearn opened #233 "Display projects and contexts of completed tasks in new task autocomplete"
**Did you check if a similar feature request has already been reported?**
Yes, I have checked if something similar is already reported and nothing popped up.

**Is your feature request related to a problem? Please describe.**
When adding a new tasks and the completed tasks are hidden, Sleek doesn't propose projects and contexts related to the completed tasks in autocomplete. So when I enter a new

[2021-07-27 14:34] ransome1 commented on #232
@thewholelifetolearn. This is also broken with the darkmode and deferred toggle, thanks for pointing it out. It is fixed and will be released with 1.1.1.

[2021-07-27 18:31] dlaidig opened #234 "date picker for threshold dates (similar to due dates)"
**Did you check if a similar feature request has already been reported?**
Issue #224 (also opened by me) is related and is about displaying information in the task list. This issue is about adding/editing tasks.

**Is your feature request related to a problem? Please describe.**
The dialog to add new tasks or edit existing tasks does not have support for threshold dates/deferred tasks.

**Describe

[2021-07-28 21:30] nutnutwin commented on #141
<img width="403" alt="20210728_Wed -083008" src="https://user-images.githubusercontent.com/34512273/127398682-6e57a775-b2b9-43ad-8b8e-2c0e3b0349f1.png">

@ransome1
I downloaded the version specified and it looked like this.
Will try the newest one later
(sorry didn't see the notification

[2021-07-29 05:11] ransome1 commented on #141
@nutnutwin is this Windows on your screenhsot?

If so could you double check the version? This is what the 1.1.0 looks like on my Windows 10 VM:
![image](https://user-images.githubusercontent.com/11188741/127435287-6075fab1-0258-49f4-a253-e68932a06475.png)

[2021-07-29 07:19] m-legrand opened #235 "Date Picker highlights old date when leaving the app opened for multiple days"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app on a date `d`
2. Leave it open until the day after `d+1`
3. Create a new task and click on the due date picker
4. Observe that `d` is highlighted instead of `d+1`

**Expected behavior**
I would expect `d+1` to be highlighted.

**Screenshots**
I forgot to take a screenshot before closing and reopening the app. Will do later if it hap

[2021-07-29 18:56] Moonbase59 commented on #85
Thanks! Yep, I’ve been active in so many other projects, sorry for the delay.

[2021-07-30 06:00] ransome1 commented on #231
Hi @EloiSanchez thanks for your request. I have to admit that I don't really know what tick/cross is referring to and therefor can't imagine what this would mean for the GUI or for the programming efforts.

As this is not todo.txt related, it could only be considered a candidate if it provides a big benefit for the majority of sleeks users.

I hope you're not too dissapointed.

[2021-07-30 10:09] thewholelifetolearn opened #236 "Update date with shortcut doesn't change in datepicker"
**Is it an actual bug?**
Yes, the dates displayed
Or can it be a specific behavior of sleek that others would not consider a bug? In this case a feature request can be better suited: https://github.com/ransome1/sleek/issues/new?assignees=&labels=&template=feature_request.md&title=

**Did you check if the bug has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues

[2021-07-30 13:53] EloiSanchez commented on #231
Hi! So let me try to explain myself a bit better just so you understand what I meant.

Now once you add a task to sleek you can "only" remove it once you have done it. There is no possibility of not doing that task and save it as 'not done'. I think maybe it could be useful to have some option to make tasks optional and choosing whether you have finished them or not afterwards.

These tasks could

[2021-07-31 16:02] Saturo78 commented on #108
I think "pri = A or pri = B" works.
Shouldn´t it?

[2021-07-31 16:05] Saturo78 commented on #56
I would really like this feature to have the posibility  to move all tasks that i could´t complete, to the next day much quicker as now.

[2021-07-31 17:34] zerodat commented on #108
Yes, you are exactly right, @Saturo78.  The filter query language lets you match multiple priorities, contexts, projects very easily as you indicated.  For instance, all of the following should work (and I believe that they do):
* `pri = A or pri = B`
* `pri >= A and pri <= B`
* `(A) or (B)`
* `@context1 or @context2`
* `+p1 or +p2 or +p3`
and so on.

[2021-07-31 17:45] zerodat commented on #231
@EloiSanchez you might be able to do this just using project/context tags and the filter query.  If you are marking tasks as +Optional then you could also add +Omitted for the ones you choose not to do.  Then to see your tasks that are not completed and not omitted, you would type the following into the search bar:

`not complete and not +Omitted`

Obviously that isn't quite as nice as a custom GU

[2021-08-01 08:40] EloiSanchez commented on #231
I see. As you say, it is not as comfortable as having a dedicated GUI but it is a nice and easy workaround. If there is no intention to add the specific feature in the future the issue can be closed 👍🏻

Thank you!

[2021-08-02 10:35] nutnutwin commented on #141
@ransome1
https://github.com/ransome1/sleek/releases/download/v1.1.0/sleek-1.1.0-win.zip
I tried this one it worked

Thank you for the work so far

[2021-08-03 13:52] aleksfadini commented on #187
Would love to be able to select more than one task with shift or click. Adding a context or a project to multiple tasks is now a bit clunky.

[2021-08-03 13:54] aleksfadini commented on #56
I think this feature is really essential for big lists.
Thank you for bringing it up

[2021-08-03 14:39] Saturo78 opened #239 "Recurring Tasks: next due date"
**Did you check if a similar feature request has already been reported?**
Yes, have found nothing.

**Is your feature request related to a problem? Please describe.**
I have a recurring task every monday. When i complete it on Monday, it is set for the next monday.
If the workload is to high and i move the task on tuesday, after complete the next task is set on tuesday.

**Describe the solution yo

[2021-08-03 15:24] zerodat commented on #239
@Saturo78 if you specify the recurrence as `+1m` it will repeat in one month from the specified due date.  If you specify "1m" it will repeat in one month from today (the completion date).

[2021-08-03 18:54] Saturo78 commented on #239
@zerodat thanks for the advice.
This is not clear if you use the gui to setup the recurring task. Maybe this could be added in future?

[2021-08-04 01:40] 9z0 commented on #187
@aleksfadini

The other topic (#56)  you commented on is the right one.

This issue is about the edit box that appears when you click a todo. :)

[2021-08-04 01:42] 9z0 commented on #239
@zerodat I didn't know that! Thanks

[2021-08-04 01:54] zerodat commented on #239
By the way, you can read about this in the wiki page [Recurring todos (rec:) · ransome1/sleek Wiki](https://github.com/ransome1/sleek/wiki/Recurring-todos-(rec:))

[2021-08-04 02:50] aleksfadini commented on #187
Whoops. Sorry! Feel free to delete my comment here, I think it's confusing. Thanks again, Sleek is awesome!

My best,
Alessandro
On Aug 3, 2021, 9:40 PM -0400, 9z0 ***@***.***>, wrote:

[2021-08-04 09:42] archphile commented on #201
This feature will be very useful for many of us.

Currently setting up a **todo.txt** means that the file for done will be named **todo_done.txt**.

I am currently in need of the standard filenames (**todo.txt** and **done.txt**) so that I can use these files with other software too (ex. simpletask on android).

I really wish that such an option will be added in the near future.

Thanks,
Mike

[2021-08-05 12:34] donludovico commented on #219
Hi, I have a similar thing with 1.1.0 on Win 10 (from Windows Store as well as downloaded Setup.exe): I run Sleek (e.g. minimized to notification bar) and do *not* open any file. After approx. 10 min I get the following error message:
![grafik](https://user-images.githubusercontent.com/10374564/128350612-ca852837-c77b-4323-901a-98dd89241de7.png)

Could you please have a second look at that issue?

[2021-08-05 12:40] donludovico opened #240 "settings/about/version number not shown"
Hi,

I am on Win 10 with Sleek version 1.1.0 (both versions show the issue: from Windows Store and the downloaded setup.exe). When I go to settings -> about, there is no version number shown.

It is a minor issue, but if someone wants to verify the version (especially when installing vom Win Store or without looking at the setup.exe file version), it would be nice to have the version shown there -

[2021-08-06 07:31] ransome1 commented on #240
@donludovico thanks for pointing it out. It turned out that on Windows the the version number was noch extracted fast enough and undefined eventually. That should be fixed now and added to the next release.

[2021-08-07 15:59] JordyScript opened #241 "Sleek tries to load non-existent files and errors out"
The following error occurs when you open up sleek and it tries to load a todo.txt file that cannot be found because it was deleted or moved

![image](https://user-images.githubusercontent.com/35542866/128606061-51ab01d2-1d86-4870-bc5e-646a73e09fa5.png)

Simply checking for the existence of the file before trying to open it would allow for a more helpful and less threatening error message, such as:

[2021-08-09 17:22] raphtlw opened #243 "Only showing todos with +Projects"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Even after resetting the filters and searching, the app only shows todos that have projects associated with them and doesn't show the ones without.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sleek
2. Click on the filters button
3. Click on _reset filters and search_
4. S

[2021-08-10 04:38] ransome1 commented on #243
Hi @raphtlw. What exactly is it you're experiencing? You don't see any todos that don't have a project?

It might help if you post a couple of examples and screenhshots.

[2021-08-10 05:59] rzelnik opened #244 "Save / Cancel buttons disappears on typing a new context or project"
When I type a new context or project, in a task window, the "No filters found" message overwrites the Save & Cancel buttons, so it is difficult to press them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new task
2. Type a new/non-existing context or project
3. Try to click on Save

**Expected behavior**
The modal should change its height or it should have enough space so that th

[2021-08-11 15:57] heX16 opened #247 "Breaks the original structure of the text file"
The format implies manual editing, and I arrange the fields as I like. The editor should not change them.

The format implies synchronization through file exchange - this causes constant "synchronization conflicts". I have to do the merge manually. after modification in such an editor many changes occur - it becomes difficult to do the merge.

Arbitrary changes in the content of records that I hav

[2021-08-12 04:49] ransome1 commented on #247
@heX16 I understand the issue, but as you correctly assumed a third party library is being used for the parsing process which rearranges the structure.

Due to many things, especially a lack of man power and time on my side, there is no initiative at the moment moving away from that library.

If you're having issues with this behavior, there is not much we can do about it at the moment and I would

[2021-08-12 04:53] ransome1 commented on #244
I think we could simply hide the container, if no contexts or projects are found. Would propably be the most practical solution.

[2021-08-12 07:26] rzelnik commented on #244
I just realized that I can hide the container by pressing the escape button, or I can increase the superior container by pressing enter.

[2021-08-18 04:09] ccchan234 opened #250 "sleek-v1.1.0-windows(setup) signature not valid?"
hi,

as a paranoid I wish the .exe files are signed.

but my machine's check and also virustotal report this:
Signature verification
A certificate chain processed, but terminated in a root certificate which is not trusted by the trust provider.

pls see if anything can be done. thanks

btw, others have wished the sort will include "todo txt body", which is also my wish and is reasonable.
suppose I

[2021-08-18 06:22] ransome1 commented on #250
Hi @ccchan234 thanks for your comment. I was digging into code signing certificates but discarded the idea as it's just too expensive for a private project like sleek. Plus you then we would need another certificate for the Mac files and so forth.

For a signed Windows build I would want to advice you to download sleek from Microsofts Windows App Store.

The Windows builds here are signed with a s

[2021-08-18 15:58] ccchan234 commented on #250
hi, thx for reply.

1. i got internet connected win10, so as you said i could dnld from windows store instead

2. i got several airgap-ed win10 for security issue. it will be more smooth if you could publicly announce that the signature is invalid (e.g. in releases note), and is even better if a pgp file signature(better) and/or sha1/256 checksum of the file is provided. ofcoz this depend on the t

[2021-08-18 16:50] ransome1 commented on #250
Ich would really love to work on sleek at the moment, but there is absolutely zero time. And when there will be again, there is quite a prioritised backlog.

We can add this to the backlog but please don't expect any work on it soon.

[2021-08-18 17:08] #250 closed

[2021-08-21 16:04] johankwok opened #251 "Sort by creation date"
Is it possible to add the option to sort by creation date, in descending order? So the most recent todos are placed on the top.

[2021-08-21 20:28] #251 closed

[2021-08-22 04:45] #247 closed

[2021-08-22 05:36] ransome1 opened #253 "Update: Slow development at the moment"
Dear sleek users.

Due to private and professional circumstances I am not able to put work into sleeks development at the moment.

As soon as this changes I'm going to start working on the most urgent issues.

However I would like to thank you all for sticking to this little application and thank you all for contributing the way you do. Keep those contributions coming ;)

Best
ransome

[2021-08-29 21:35] 9z0 opened #254 "Filters are reset when switching from tab."
**To Reproduce**

1. Open two files (two tabs).
2. In tab 1, apply some filter (click on a project or context, do a search).
3. Switch to tab 2.
4. Switch back to tab 1.

**Expected behavior**
- Filters are still there.

**Actual behavior**
- Filters are reset.

**Desktop:**
 - OS: Windows 10.
 - 1.1.1
 - Source: Github.

[2021-08-29 21:37] 9z0 commented on #165
@JordyScript Look into this command line tool: https://github.com/jakewarren/fixme

[2021-08-29 21:46] 9z0 commented on #190
A suggestion to help those with many projects/contexts

If the number of projects is above a certain number (say, 100), view them in the side bar split alphabetically:
[code]

[2021-08-30 15:33] aleksfadini commented on #65
Has this feature disappeared? I cannot find the archive button anymore in settings.

[2021-08-30 15:39] velardevines commented on #65
Shortcut key for Archive feature is A.

On 8/30/21 9:33 AM, Aleks Fadini wrote:

[2021-08-30 17:51] ransome1 commented on #65
@velardevines thanks!

@aleksfadini also if you show completed todos there is a button in each completed item, that will trigger the archiving process. It's also in the main native menu that shows when you press the Alt key.

[2021-08-31 06:18] ransome1 commented on #254
To me this doesn't sound like a bug. In my own usage the described expected behavior of persisted filters would be an issue, as I use different filters in different files. So what would happen is, that after switching files, I would constantly see an empty todo list, because filters are applied that doesn't exist.

[2021-08-31 09:32] JordyScript commented on #165
Thanks for the recommendation! I've been a bit busy lately, so have yet to make a serious attempt at implementing (I've played around a bit to get a feel for it, but nothing worth publishing yet). This tool looks useful though it lacks the interactivity I'm looking for. It's helpful to see how others have gone about implementing similar solutions.

[2021-08-31 13:48] hdrz opened #256 "Sort the todo.txt file when saving it"
I think it would be better to sort the file on disk, this way opening the file with any other editor or viewer makes interaction easier. Also, this is the original intent for this file (see todotxt.org).

Or, maybe add an option to save it sorted?

[2021-08-31 14:24] theperiscope opened #257 "The app should maintain single active instance"
**Is it an actual bug?**
Yes, it does not make sense to have multiple active instances with same icon and open files in the tray

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
It is possible to launch multiple instances of the app

**To Reproduce**
Steps to reproduce the behavior:
1. Pin Sleek icon to start for ease of access
2. Go to Start menu, click Slick
3.

[2021-09-01 04:17] 9z0 commented on #254
Thanks for replying.

Why aren't filters tab-specific?

[2021-09-01 04:55] ransome1 commented on #254
Mainly because persisting this kind of data should require a database, which is avoided in sleek so far. And putting n filters per file into the user preferences file would bloat it beyond recognition.

You can convert this issue to a feature request and we add it to the backlog.

[2021-09-01 09:35] dlaidig commented on #256
Can you be more specific where it is specified that todo.txt applications should sort the file on disk? I doubt that this is written somewhere in the official documentation, since the official CLI tool never sorts the file on disk. When printing the tasks with `t ls`, the output is sorted and the *original* line numbers are printed before in order to identify the task when marking it as *done* etc

[2021-09-01 10:59] hdrz commented on #256
It is implied that the highest priority task is always on top, or should be there with the help of sort in your text editor. This way it is clear what is your next task. See [here](https://github.com/todotxt/todo.txt#todotxt-format-rules). Even the [example file](http://todotxt.org/todo.txt) on the main page is sorted.

Let me give a hypothetical use case:  I use sleek on my win10 computer at work

[2021-09-01 22:12] 9z0 commented on #254
While it would be nice to have such filters persist on relaunch, keeping them at least in memory while the app is running would make for a much better UX.

Also, although I understand your aversion to having a database, it makes sense in a certain situations. I would encourage you to draw the line at the todo.txt data, not any form of metadata.

Think of it this way, if the user took their files t

[2021-09-03 14:41] velardevines commented on #256
I may not fully understand what you are proposing, however you can view the list of todos by priority by setting the sort order in the configuration options. Then when you open a todo file, the A priority items are shown at the top of the list.

You can also press f to position the cursor in the find dialog box then type pri=A to view A priority todos.

Hope this works for you.

[2021-09-05 06:08] anlar commented on #256
I would agree that an option to enable sorting for entries in todo.txt (on exit or upon adding new element) would be useful.

If you are accessing todo.txt only via clients which supports sorting then it doesn't matter in which order your entries are. But if you are also edit todo.txt using text editors or other application that can't sort entries then it may be a problem.

E.g. I'm also edit todo

[2021-09-08 03:37] dbr opened #259 "Shortcuts trigger on focusing application"
**Describe the bug**
If a key is pressed which triggers Sleek to become the active application, that shortcut also triggers in Sleek

**To Reproduce**
1. Open sleek
2. Open a single terminal window
3. Exit the terminal with `ctrl+d`

The result is:
1. Terminal exits due to `ctrl+d` shortcut
2. The terminal app exits, and Sleek gains focus
3. Since `d` is still held down, Sleek noticies this and it

[2021-09-12 08:03] jt196 commented on #201
+1 here, came looking for this. Running todo.txt on Android and a VSCode plugin, need some consistent filenaming!

[2021-09-14 07:19] nutnutwin commented on #226
Should the text be scrambled too?
just a thought

[2021-09-14 10:07] nutnutwin opened #262 "🐞Ask for confirm even if nothing is changed?"
**Is it an actual bug?**
Or can it be a specific behavior of sleek that others would not consider a bug? In this case a feature request can be better suited: https://github.com/ransome1/sleek/issues/new?assignees=&labels=&template=feature_request.md&title=
Yes

**Did you check if the bug has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues
Yes

**Describe the b

[2021-09-14 10:07] nutnutwin commented on #262
@ransome1 I know you are very busy.
I suppose it would be better to report this before it's forgotten...

[2021-09-14 23:57] dtigue opened #263 "Javascript error keeps popping up"
**Is it an actual bug?**
Yes this is an actual bug. Screenshot has been attached with the error message.
![Screenshot 2021-09-14 183315](https://user-images.githubusercontent.com/3299614/133347879-dfe3bc12-b1c4-4c8e-9635-bdce6349032f.jpg)

**Did you check if the bug has already been reported?**
I didn't see any that were the same as this bug.

**Describe the bug**
Javascript error. Screenshot has

[2021-09-14 23:58] dtigue commented on #263
![Screenshot 2021-09-14 185828](https://user-images.githubusercontent.com/3299614/133349179-2f95afa7-3fab-4843-b93e-c90bce18a7f5.jpg)

[2021-09-15 05:12] dnngll commented on #68
+1, super important imho

[2021-09-15 09:00] nutnutwin opened #264 "🐞Opening URL does not work in some cases?"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Searched but found nothing

**Describe the bug**
[URL](C:\Temp\__TickTick_Feedback_SupportCenter.ahk)
does not open on click
while
[URL](C:\Temp\TickTick_Feedback_SupportCenter.ahk)
can be opened.

might be something to do with path/filename

**To Reproduce**
please refer to the above

**Do you see any error entr

[2021-09-15 10:53] anlar opened #265 "Unable to start application due to file number watchers limit"
**Is it an actual bug?**

Yes.

**Did you check if the bug has already been reported?**

Yes.

**Describe the bug**

When I'm trying to start sleek it shows blank screen with `System limit for number of file watchers reached` error in logs:

[code]

But it seems that I have enough  available watchers:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Launch application.
2. See blank sc

[2021-09-17 12:31] trend-1 opened #266 "markdown in notification"
I'm using sleek version: 1.1.1 on Windows 10.

I noticed that *in the todo notifications, markdown is not parsed*.

I don't know if that is easy to achieve. Would be nice. Otherwise not a big problem.

[2021-09-17 13:24] ransome1 commented on #266
I checked the Electron documentation again but there is no word mentioned about any styling of notifications.

Plus on Linux and MacOS I can't recalls ever seeing a notification with styling. My guess is, it won't be possible. But if anybody can prove me wrong, we could dig deeper.

[2021-09-17 13:53] ransome1 commented on #264
I assume you are referring to the click in the link icon?

[2021-09-17 15:25] trend-1 commented on #266
I'm no techie so it was just an observation.
Thought it was a sort of XML template that could be styled somewhat, hence my question.

I see that your kind of busy. So if you want to close the issue I'm fine with that.
And  thanks for the quick reply!

[2021-09-17 20:46] nutnutwin commented on #264
yes
a Task containing
[URL](”https://www.reuters.com/“)
for example

in my case trying to call local files

[2021-09-22 20:32] nutnutwin opened #268 "Is it possible to show different title for different window?"
*If your proposal is more a rough idea than a precise description of a feature, please consider starting a discussion instead: https://github.com/ransome1/sleek/discussions
Please only continue the feature request if you have a precise idea of what you're asking for and if you can provide specific details, use cases or examples.

**Did you check if a similar feature request has already been report

[2021-09-22 20:39] nutnutwin commented on #268
@ransome1 BTW I am using autohotkey on windows.
it can dertermine where the keyboard cursor focus is, by
- active window
- "control"(don't know if it is the right word), in the window.
  eg. in Native File Manager, focus on filelist shows as "DirectUIHWND2", while Filename rename shows as "Edit2"
  eg. in Excel, focus on Main Window, shows as "EXCEL71", Editing Cell shows as "EXCEL61"

Briefly, If

[2021-09-24 06:08] ransome1 commented on #192
Hi @9z0 . Can I ask you to take a quick look at this pre release if it solves this issue on your side?

https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.1

[2021-09-24 07:50] bluebirch opened #269 "Sort completed tasks by completion date instead of due date"
When the list is sorted and grouped on due date, I think it would make sense to sort completed tasks on completion date. That way, completed tasks are grouped on the day they were completed insted of the day they should have been completed. So, for example, completing ta task with a due date yesterday, would move that task to today when marked complete.

That way, when sorting tasks on date, what

[2021-09-24 16:24] ransome1 commented on #176
Hi @Oroumov. Could you please check if this still happens in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.1?

[2021-09-25 05:45] ransome1 commented on #263
Hi @dtigue Are you able to resize the error popup? I'm wondering which file it is that triggers the error. I only the the line number 12 on your screenshot.

[2021-09-25 05:54] dtigue commented on #263
I'll have to do it when I return to the office. However, I can say that I
got the error message to go away after disabling the option that allows
errors to be sent to the devs. I'm not sure exactly what that option is
called but I'll look into it when I'm back in front of my PC at work on
Sunday.

On Sat, Sep 25, 2021, 12:45 AM ransome ***@***.***> wrote:

[2021-09-26 03:39] 9z0 commented on #192
Seems fixed 👍

[2021-09-26 03:39] #192 closed

[2021-09-26 03:42] 9z0 commented on #190
Filter drawer: Highlighted (selected) priority icons look very similar to unhighlighted. Perhaps either increase shade difference or show selected with a border?

[2021-09-26 04:17] 9z0 opened #270 "A filter box next to Projects/Contexts"
**Situation**:
- many projects/contexts.

**Need**:
- Finding a particular project to click without cumbersome manual sifting.
- Not remembering exact project wording (or which character it begins with), etc.

**Suggested solution**:
- A filter-as-you-type box next to the headings "Projects"/"Contexts"
- It can be hidden by default until the number of projects/contexts exceeds a certain value.

![

[2021-09-28 04:40] bluebirch opened #271 "Priority should be removed when task is completed"
When a task is completed, Sleek simply adds `x 2021-09-28` in front of the task. If the task has a priority, it is copied with it:

[code]

However, the [todo.txt format](https://github.com/todotxt/todo.txt) specifies that:

So, I guess the completed task above should look like:

[code]

Or, if you wish to preserve priority:

[code]

This breaks incompatibility with other todo.txt programs, for ex

[2021-09-28 06:06] ransome1 commented on #271
@bluebirch thanks for pointing it out. I wasn't aware of it and checked my other two todo.txt apps. One actually does it as described above but without preserving it and the other simply keeps the priority.

I'm fine with removing the priority while marking it as complete and will add it to the next release.

[2021-09-29 09:33] ransome1 commented on #264
@nutnutwin could you please check if this still happens in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.2?

[2021-09-29 09:34] ransome1 commented on #262
@nutnutwin also, can you check if this still happens on your side with https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.2?

[2021-09-29 11:38] nutnutwin commented on #262
@ransome1 this one is fixed
will check #264

Thank you!
will close this

[2021-09-29 11:39] #262 closed

[2021-09-29 11:42] nutnutwin commented on #264
@ransome1
hi, thank you for the work
I tried some url like
[URL](C:\Users\nutnu\Desktop\nutnutwin_ahk\4_AlCarte\__Amazon_TKBB_tkっb_アマゾン定期便.ahk)

which contains Japanese Kana, Japanese Kanji, but no space in the url
and sleek didn't open anything after clicking

Thank you

[2021-09-29 14:37] ransome1 commented on #264
@nutnutwin What exactly is it you expect sleek to do? I'm a bit puzzled on this issue.

[2021-09-29 14:56] ransome1 commented on #264
@nutnutwin for the link parsing https://github.com/markedjs/marked is used. I checked the docs briefly and in case you want to open local files from within sleek, I'm afraid it only supports parsing of like http links then opened in a browser.

[2021-09-29 15:04] nutnutwin commented on #264
@ransome1 well I never expected to open local files
I happened to be able to find some of the local files, and then I found I cannot open some files(like the once mentioned before)

as is mentioned in the doc, I cannot expect to open any local files in the first place.

thank you for your help.

[2021-09-29 15:04] #264 closed

[2021-10-01 06:43] ransome1 commented on #232
Has been solved in 1.1.1

[2021-10-01 06:43] #232 closed

[2021-10-03 07:03] ransome1 commented on #225
@balmag language has been added through another contribution and will be released in v1.1.2

[2021-10-03 07:03] #225 closed

[2021-10-03 07:17] ransome1 commented on #271
@bluebirch : Can be tested in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.3

[2021-10-03 07:19] ransome1 commented on #265
@anlar : I improved the filewatcher setup and managed to get rid of this issue on my side. Can I ask you to give this pre release a try and let me know if this fixes anything on your side as well? https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.3

[2021-10-03 07:19] ransome1 commented on #236
@thewholelifetolearn : This has been improved in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.3

[2021-10-03 07:41] bluebirch commented on #271
Tested. Works with `Text::Todo`. One drawback with not saving the priority with `pri:A`, though, is that priority is lost if you uncheck it (mark 'done', realize it was a mistake, mark 'pending', priority lost).

[2021-10-03 07:52] ransome1 commented on #263
@dtigue Could you please check if this still happens in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.4

Thanks!

[2021-10-03 07:54] ransome1 commented on #241
@JordyScript I didn't add a specific error message but in case of a file not being found on the disc, sleek is suppose to load the onboarding window. Can you please check this pre release if this works on your side as well? https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.4

[2021-10-03 07:54] ransome1 commented on #219
@repent Does this still happen in https://github.com/ransome1/sleek/releases/tag/v1.1.2-rc.4 on your side?

[2021-10-03 08:10] bluebirch opened #273 "Option and keyboard shortcut to hide/show tasks without due date"
**Did you check if a similar feature request has already been reported?**

Yes. There are discussions about hiding future task and so on, but not tasks without due date.

**Is your feature request related to a problem? Please describe.**

I want to narrow down my view to the task I have to do today, that is, show tasks that are due today and overdue tasks, and hide tasks with due date in the futur

[2021-10-03 13:55] JordyScript commented on #241
Seems to be fixed now! Thank you. Looks like another clean and functional release :)

The only "problem" left  is that when you click the "open todo.txt" icon that the now non-existent file still shows up in the list of files and is marked as being selected even though no tasks are visible in the UI (just the onboarding screen).

Of course you can just manually remove the old file, so it shouldn't

[2021-10-04 16:04] ransome1 commented on #271
In https://github.com/ransome1/sleek/releases/tag/v1.1.2 the pri: attrbute will be appended as text in the ending of the todo.

[2021-10-05 00:10] urbalazs opened #274 "Some strings are hardcoded and not marked as translatable"
Please check `src/index.html` like [this one](https://github.com/ransome1/sleek/blob/develop/src/index.html#L608):

[code]

There are many other similar strings in the file.

[2021-10-05 01:06] ivysrono commented on #201
I use Simpletask on android too.

[2021-10-05 09:58] anlar commented on #265
@ransome1 Thanks for the update.

I have updated to v1.1.2 from Flathub and right now I'm not able to reproduce that error.

[2021-10-05 13:09] ivysrono opened #277 "Auto startup at Windows boot"
*If your proposal is more a rough idea than a precise description of a feature, please consider starting a discussion instead: https://github.com/ransome1/sleek/discussions
Please only continue the feature request if you have a precise idea of what you're asking for and if you can provide specific details, use cases or examples.

**Did you check if a similar feature request has already been report

[2021-10-05 18:52] mikeo85 opened #278 "Uncaught Exception: TypeError: Cannot read property 'isFocused'"
When Sleek app is enabled but no window is open on my MacOS Big Sur, periodically a message pops up as follows:

![image](https://user-images.githubusercontent.com/33993323/136083625-9dc36322-6c30-4394-bf48-f53b3329a413.png)

This happens after I have closed the Sleek window (using the "x" button or CMD-W) but have not quit (CMD-Q) the app. The popup is not immediate -- usually takes a few minutes

[2021-10-05 18:56] ransome1 commented on #278
Hi @mikeo85 does this also happen with the latest release 1.1.2?

[2021-10-06 04:35] ransome1 commented on #278
Alright, I was able to reproduce it. It's going to be fixed in the next release :)

[2021-10-21 00:29] jjaimealeman opened #280 "ERROR: /bin/sh: 1: sass: not found"
I followed the directions as specified here: https://github.com/ransome1/sleek#build-sleek-from-source-code

I have installed versions:
git version 2.30.2
node v.16.11.1
yarn 1.22.15

OS is Pop!_OS 21.04

I run `yarn build:linux` and I get this error (screenshot attached):
https://i.imgur.com/75bC7l8.png

I did run `npm install -g node-sass`

I ran `npm list` and it shows this https://i.imgur.com/

[2021-10-21 19:06] jjaimealeman commented on #280
I upgraded `node` from `v16.11.1` to `v17.0.1` and continued to get the same error.

[2021-10-21 20:50] jjaimealeman commented on #280
No further help needed, Sir.

Instead I downloaded and installed the Snap 👍

Beautiful interface! Loving it.

Closing this issue.

[2021-10-21 20:51] #280 closed, assigned to ransome1

[2021-10-22 18:00] agrudzinsky opened #281 "When filter by project and/or context is set, create new tasks with the project/context added"
**Did you check if a similar feature request has already been reported?**
Yes

**Is your feature request related to a problem? Please describe.**
Use case:
I'm reviewing tasks for a project or a person/context using a filter. I want to add a task. Chances are, the new task is related to the same project/context that I'm viewing.

**Describe the solution you'd like**
I propose to add the filtered p

[2021-10-22 18:48] agrudzinsky opened #282 "Clicking on a project or a context button should create a filter set to that project or context"
**Did you check if a similar feature request has already been reported?**
Yes

**Is your feature request related to a problem? Please describe.**
Use case: need to quickly see tasks related to the same project or context as the current task.

**Describe the solution you'd like**
Currently, clicking anywhere on a task opens it for edit. I propose creating a filter with selected project or context w

[2021-10-23 11:33] ghost opened #284 "Rename txt file for done tasks"
**Is your feature request related to a problem? Please describe.**
Different apps use different filenames for done tasks. This causes done tasks to end up in different files when using multiple platforms across different devices.

**Describe the solution you'd like**
Ability to rename the txt file for done tasks to whatever the user wants. For example `done.txt` or `todo_done.txt`

[2021-10-23 16:57] M4he opened #285 "Escape key doesn't close the context menu of todo entries"
**Describe the bug**
Pressing the Escape key while the context menu of a todo entry is displayed does not close the menu but instead highlights the todo entry. Closing the menu without selecting any of the options requires a left-click on an empty space.

In contrast, the right-click menu of the priority, context or project labels in the filter panel on the left correctly close on Escape key press

[2021-10-24 22:44] stianmandarin opened #286 "Existing tasks disappear when from view when adding new ones"
**Is it an actual bug?**
Yes.

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Parts of the task list disappear when adding new tasks (sometimes also when completing tasks), requiring manual (`.`) sync of file.

**To Reproduce**
Steps to reproduce the behavior:
1. Add task
2. Watch parts of existing tasks disappear

**Do you see any error entries in sleeks develop

[2021-10-25 12:44] #284 closed, assigned to ransome1

[2021-10-28 19:39] aubreyz opened #288 "[Filters] Saving of profile sets"
This is a feature request (thanks for a promising looking app):

Simpletask on android is really the model for the best todo.txt app on any platform. There are a number of things to learn from that app, but the biggest is the saving of filters/views as sets that can be recalled.

Along those lines there is muddling of filters versus views in Sleek. Several of the toggles on the view menu are filte

[2021-10-28 19:41] aubreyz opened #289 "Feature request: Add method to setting threshold date from data entry form"
Little more to be said than the title. If sleek uses threshold dates (which it does and should do) suggest make an easy way to enter those (in parallel with due dates which I don't use at all in fact)!

[2021-10-28 20:03] aubreyz opened #291 "Selection of multiple tasks"
Needs a method to select multiple tasks, and to apply tag additions or removals, date changes and priority changes to all of those tasks (given that Sleek should be aiming to be the best todo.txt app, the various  feature requests I have added are pretty much essential (taking simpletask on android as the current gold standard)

[2021-10-29 22:33] dlaidig commented on #289
This looks like a duplicate of #234, right?

[2021-11-04 14:25] ransome1 commented on #286
Hey @dlaidig , @stianmandarin . Could you please give this pre release a quick look? https://github.com/ransome1/sleek/releases/tag/v1.1.3-rc.2

I hope it solves the issue. I will definetely give it a it more of testing too as I was having hard times reproducing it.

[2021-11-04 14:45] dlaidig commented on #286
I did a quick test and could not reproduce the bug with this pre-release. :)

(With 1.1.2, it still happens quite reliably directly after starting and switching tabs a few times.)

[2021-11-04 16:10] ransome1 commented on #286
Glad to hear guys. It kind of was an ugly bug and I really wonder why I didn't see it myself. Thanks for reporting it.

[2021-11-05 08:24] ransome1 commented on #244
@rzelnik Could you check https://github.com/ransome1/sleek/releases/tag/v1.1.3-rc.3 if this solves this issue? If there are no filters for contexts or projects the autocomplete container should now be hidden.

[2021-11-05 08:25] ransome1 commented on #282
@agrudzinsky could you please give https://github.com/ransome1/sleek/releases/tag/v1.1.3-rc.3 a quick look. This feature has been added here and needs some testing :)

[2021-11-05 09:01] ransome1 commented on #108
@freder : Can we close here?

[2021-11-05 09:14] ransome1 commented on #291
@aubreyz this looks like a duplicate of https://github.com/ransome1/sleek/issues/56 and should be discussed there. As there is not a lot dev capacity at the moment, major feature requests are not being worked on. I focus my little time on bugfixes only. You can contribute to this project easily if you have knowledge in Javascript.

[2021-11-05 09:14] #291 closed

[2021-11-05 09:16] aubreyz commented on #291
OK, but this seems pretty fundamental

[2021-11-05 09:16] ransome1 commented on #221
@buscon I'm closing here as I assume this issue is gone, right? If not, just report back here.

[2021-11-05 09:16] #221 closed

[2021-11-05 09:22] ransome1 commented on #291
I generally agree, but at the moment I'm afraid I can't work on it ... at least yet.

[2021-11-05 09:23] buscon commented on #221
correct, thanks!

[2021-11-05 09:58] aubreyz commented on #291
Fair enough - I know that issue tracker lists are not the place for meta-development comments but I'll do so anyway.

It is unfortunate that there are a variety of todo.txt bits of software out there, all of which start off in a promising way, and then end up being abandoned. By far the most well developed well considered interface is simpletask - but only for android. That developer ended up walk

[2021-11-05 10:22] ransome1 commented on #236
Has been released with 1.1.2

[2021-11-05 10:22] #236 closed

[2021-11-05 10:34] rzelnik commented on #244
Yes, I confirm that now the "No filters found" error message doesn't appear and therefore doesn't create confusion.

[2021-11-05 10:34] #244 closed

[2021-11-05 23:30] agrudzinsky commented on #282
It works! Thanks!

[2021-11-07 06:06] ransome1 commented on #176
This had been fixed in https://github.com/ransome1/sleek/releases/tag/v1.1.2

[2021-11-07 06:06] #176 closed

[2021-11-07 06:41] ransome1 commented on #219
I assume this is fixed since https://github.com/ransome1/sleek/releases/tag/v1.1.2. If not, please feel free to report back here.

[2021-11-07 06:41] #219 closed

[2021-11-07 06:42] #240 closed

[2021-11-07 07:09] ransome1 commented on #243
I'm closing here due to lack of response. I still don't understand the issue. If this still is one, please report back here.

[2021-11-07 07:09] #243 closed

[2021-11-08 11:24] Oroumov opened #292 "Feature request: Individuals options by todotxt file"
Hi Guys,

Would it be possible to link somehow the todolist options to the file being viewed ?
I'd like to be able to navigate separate todotxt files with separate settings (for example, one sorted by due date and NOT showing the completed items, and in the other file, sort by Projects instead, and show completed items)
Of course, then there is the issue of how to identify a file uniquely (assumin

[2021-11-08 11:34] aubreyz commented on #292
I think the real development issue is being able to save and recall viewing sets (sorts and filters)
See https://github.com/ransome1/sleek/issues/288

Not really to have a separate type of view per file. After all you will not want to view the same file in the same way always. I suppose it might be possible for the view for each file to be remembered once there is a system for saving views.

[2021-11-08 13:26] 9z0 opened #293 "Better "AND"/"OR" filtering"
This is in continuation of #132 about search-as-you-type.

Not only that implicit "AND" filtering should be the default, but the fact that it is not even _allowed_ is crazy to me!

I really hope we see this soon!

Thanks @ransome1 and @zerodat for your efforts.

[2021-11-10 11:39] Saturo78 commented on #282
In the latest release the +Projects and @contexts are shown on the right side of the monitor.
In the previous versions they were shown directly after the todo. In my opinion this was the better way.

[2021-11-11 16:31] alexb7217 commented on #239
This would be a nice UI enhancement.

The docs @zerodat pointed to accomplish the functionality [e.g the paying the rent example](https://github.com/ransome1/sleek/wiki/Recurring-todos-(rec:)#strict-recurrences-based-on-due-date-instead-of-date-of-completion)

@Saturo78 makes a good point, the UI does not convey this feature. Imagine it might looks something like this, if implemented as UI:

![Scr

[2021-11-12 09:41] Oroumov commented on #292
Agreed, if #288 is solved, then my request here is encompassed in it.
Closing this one, and I'll follow #288 :)

[2021-11-12 09:41] #292 closed

[2021-11-12 18:40] #286 closed

[2021-11-12 18:40] #278 closed

[2021-11-12 18:45] ransome1 commented on #270
@9z0 thanks for the suggestion. I understand your use case here but I personally use the full text search we already implemented and due to @zerodat greats improvements on it, this works quite well on manipulating the filter drawer as well. Especially in combination with the "Empty filters" setting turned off. Which will reduce the shown filter while you write.

I don't really see the necessity to

[2021-11-14 07:47] Ecatonchiro commented on #282
The new functionality is really useful thanks for suggesting and even more to implement it.

[2021-11-14 07:49] Ecatonchiro commented on #282
I second this comment, on 1.1.3 the spacing is different (especially the clock icon) if you are on Windows, strangely enough I don't see this on Linux. However probably @Saturo78 your comment needs a separate ticket.

[2021-11-14 13:15] #141 closed

[2021-11-15 02:29] agrudzinsky commented on #282
I'm using the Windows version. I personally like the buttons on the right. I think it unclutters the contents of the tasks. The colors are OK too. I don't have a preference as long as they are non-obtrusive.

Having the projects and contexts clickable is, definitely, an improvement. This is my favorite todo application for now (I tend to change them quite often).

Thanks a lot for the development

[2021-11-15 02:29] #282 closed

[2021-11-15 17:21] gdevenyi opened #294 "Tab completion of contexts and projects"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Right now, starting off a project or context will bring up the list underneath, however, tab results in a re-focus into the list, instead, if the completion is unique, it should simply fill it in.

**Describe alternatives you've considered**
Keep as-is

[2021-11-15 19:50] gdevenyi commented on #170
This same bug applies in Linux. I still expect a taskbar entry when the setting is minimize to tray. Right now, I can't at a glance see if the window is on the workspace I'm on, and can't easily raise it if it's covered by other windows.

[2021-11-16 07:14] ransome1 commented on #294
Hi @gdevenyi . I'm not sure if I understand this behavior. Can you please be more specific or can you post a screen cast? Thanks a lot.

[2021-11-16 07:14] #285 closed

[2021-11-16 07:33] ransome1 commented on #241
@JordyScript the easiest way would be to remove non existent files from the list and the tab bar automatically. And sending a notification once shouldn't be an issue.

The only issue with this is, when users are trying to only temporarily rename a file and all of the sudden it is completely gone in sleek. Or if you use a syncing application like Dropbox or Syncthing, which briefly rename files as

[2021-11-16 12:20] gdevenyi commented on #294
I have a context @home, I start typing "@ho" and get the list of contexts which match the partial input under the input box. If I press <TAB> the focus moves to that list. Instead, if there's a single match, I'd like <TAB> to complete the context in the input box.

[2021-11-16 18:05] gdevenyi commented on #201
A side mention here of a sort-of bug. The popup describing what will happen when you archive todos shows the wrong filename:
![image](https://user-images.githubusercontent.com/3001850/142040870-18f5c9c5-6fda-47db-813a-89c327e2b1d9.png)

As per the rest of this thread, file name is actually `todo_done.txt`

[2021-11-16 19:36] ransome1 commented on #294
Ok this I get and it makes sense and might be a good quick win for the next release. Thanks for this suggestion.

[2021-11-17 04:00] 9z0 commented on #270
No problem. I'll close the issue.

[2021-11-17 04:00] #270 closed

[2021-11-19 19:49] gdevenyi commented on #256
Strongly agree with @aubreyz that sorting on disk should now happen. todo.txt should act like sourcecode and work with diff/patch/git.

[2021-11-19 19:53] gdevenyi opened #296 "Allow sorting by creation date"
Often I add an entry, and then realize I want to edit/change it, however, due to the sorting rules it immediately disappears.

I'd like to have a sorting option for creation date, so I can find it.

In addition, helpful in finding "old" todos that need to be deleted or completed.

[2021-11-19 22:27] aubreyz commented on #296
The text file should always be in creation order, so creation order should be an unsorted mode.

[2021-11-20 06:39] ransome1 commented on #296
sleek tries to alter the text file as little as possible, especially the sorting is not touched. All this happens in sleek interface.

I think what @gdevenyi is asking for is a new sorting method by creation date, which is automatically added by sleek on a new todo. But it does not necessarily mean the list is unsorted (as is in file).

[2021-11-20 09:47] zemua opened #297 "future thresshold recurrent task not repeated"
**Describe the bug**
When a threshold date is in the past or today, and the task is set as recurrent, the date is update in a new task after complete, but if the task date is in the future, it doesn't create any recurrence after complete and the task is lost.

**To Reproduce**
1.- add a new task: test rec:1d t:2021-10-1
2.- click on complete, a new task is created with due date as of tomorrow
3.-

[2021-11-20 13:03] gdevenyi commented on #296
Yes I'm asking for a sorting mehod in display. Definitely don't want to modify the file, as per my comments in the other thread.

[2021-11-20 21:52] JordyScript commented on #241
Those are important considerations.

If the visual indication you are thinking of adding is self-explanatory or intuitively understandable to mean that the file is currently non-existent (or more generally, unavailable) and that is why it cannot be selected, then I think it is a good idea. If  a user comes across this situation, they should not be left wondering why the program is not doing what t

[2021-11-21 14:35] ransome1 commented on #296
Hey @gdevenyi , @aubreyz . Can I throw this pre release at you for some proper testing? It contains the "Creation date" sorting method. keep in mind that for being sorted by creation date, the todo needs to have one and if it's not there it is suppose to be sorted last. Let me know what you think.

https://github.com/ransome1/sleek/releases/tag/v1.1.4-rc.1

[2021-11-21 14:37] ransome1 commented on #293
@zerodat maybe you could take a look at this if you have some time left. I don't want to mess with your work here ;)

[2021-11-22 20:50] stianmandarin commented on #257
FYI, if you are on Linux, you can map Sleek to a shortcut, e.g. `CTRL-ALT-S` and have that exectute `wmctrl -xa Sleek || /usr/bin/sleek` which will look for an active instance, and focus on it if it exists, otherwise open Sleek as new instance.

[2021-11-26 11:58] ransome1 commented on #296
@gdevenyi @aubreyz here comes another try: https://github.com/ransome1/sleek/releases/tag/v1.1.4-rc.1

Please feel free to check if the sorting according to creation date is working as expected.

[2021-11-26 13:56] aubreyz commented on #296
I am away from Windows for a few days but will test later.

To be honest given I work across several Todo systems some of which use creation dates and others not and because it wastes a lot of space and processing time I tend to switch off creation dates (in simpletask for example), I would not find sorting by creation date (with separate sorting by items without a date) that useful.

Sorting by o

[2021-11-27 17:43] SonamorN opened #298 "Re-Arrange Tasks within or not within the same priority"
Before opening this feature request I've checked for similar open issues but couldn't find any and it seems that the functionality is not available within the app.

While there a couple of priorities which allows for some kind of arrangement of priority on some tasks, you might have tasks that fall within the same priority but you want to do task A first before doing task B but both fall within th

[2021-11-28 09:19] ransome1 commented on #298
Hi @rNianios you can try achieving this with the use of the other todo.txt attributes.

Here is an example on how it could be done with the use of contexts which are sorted alphanumerically
<img src="https://user-images.githubusercontent.com/11188741/143749495-cb9e7559-6e6e-4030-8040-e9c2c2b2f27e.png" width="300" />

The sorting setup would look like this
<img src="https://user-images.githubuserco

[2021-11-28 09:32] rNianios commented on #298
@ransome1 I am new to todo.txt and for certain do not know all the options :) so thanks for let me know about this attribute.

I've tested and it should be OK for my workflow. Thanks for you work here. I am not sure if you want to close this feature request or actually implement it, if possible. This is somethign totally up to you.

[2021-11-28 10:05] ransome1 commented on #210
I'm closing here as this has been added a while ago and I kind of forgot to report back here ;)

[2021-11-28 10:05] #210 closed

[2021-11-28 10:09] ransome1 commented on #210
@amariusz Thanks for this input. It's a good start on creating a well thought out keyboard concept. I'll check up with you again as soon as there is more work done on redefining the keyboard shortcut system.

[2021-11-28 11:15] ransome1 commented on #298
There was another feature request for reordering todos using drag and drop. I think it got closed as this is way of working with todos in not a very typical way working according to todo.txt. Plus we would need a database to store information on where a todo needs to be sorted. This would ask for a lot work on this and I'm not sure if the benefit would justify it.

The other todo.txt apps I know (

[2021-11-28 11:53] ransome1 commented on #259
Hi @dbr . Can I ask you to check this pre-release if this still happens on your side?

https://github.com/ransome1/sleek/releases/tag/v1.1.4-rc.2

[2021-11-28 11:59] aubreyz commented on #298
It is *very* important not to stray outside of the todo.txt framework and recognised extensions. However can I suggest a possibility that might work within that to allow individual tasks to contain a short list. If you allow some character e.g / to force a line break and bullet in the **display** of a task, you could also allow some method to change the order of items within that list (and underly

[2021-11-28 12:08] dbr commented on #259
Did a quick test and it seems to fix it, thanks!

[2021-11-28 16:03] ransome1 commented on #297
@zerodat I can reproduce this, but I don't want to interfere with your work on the recurrences. If you find some time anytime soon, would you mind looking into this?

[2021-11-28 16:10] ransome1 commented on #259
@dbr thanks for reporting back. I will include this fix into the next release.

[2021-11-28 16:10] #259 closed

[2021-11-28 22:23] Ecatonchiro opened #299 "Copy visible todos to clipboard"
### Discussed in https://github.com/ransome1/sleek/discussions/290

**Did you check if a similar feature request has already been reported?**
I found only one request about "copy", however it was included in a long list of other features which took the priority. "Copy" was never implemented or discussed thoroughly.

**Is your feature request related to a problem? Please describe.**
Currently Sleek

[2021-11-29 03:18] zerodat commented on #297
@ransome1, sure, I will look into this as soon as I can.

[2021-11-29 08:15] ransome1 commented on #299
@Ecatonchiro I gave it some quick thoughts and realised that we already have almost everything on board for this feature. Do you have some time to do some testing on an early prototype of this feature?

[2021-11-29 08:49] Ecatonchiro commented on #299
@ransome1 happy to help, I can provide windows/Linux environment, I just need basic instructions on how to test a prototype since I am not a developer (e.g. pre-req as compilers, libraries etc). Thanks for your reaction!

[2021-11-29 09:23] ransome1 commented on #299
@Ecatonchiro you don't need any additional software. I built a pre-release which contains Windows binaries and an AppImage for Linux: https://github.com/ransome1/sleek/releases/tag/v1.1.4-rc.3

In this version the CMD/Ctrl + C shortcut has been replaced with the requested function. All visible (filtered) todos will be copied to clipboard: Each todo is separated by a line break and each attribute i

[2021-11-29 10:20] Ecatonchiro commented on #299
@ransome1 it looks amazing already, I am testing on Windows so far, please give me some time (by Fri Dec 3rd) to test it on Linux and with multiple todos, and I will be back with a detailed report.

[2021-11-29 10:21] ransome1 commented on #299
Great. Thanks a lot :)

[2021-11-29 17:26] gdevenyi commented on #296
@ransome1 works as expected so far

[2021-11-29 22:33] Ecatonchiro commented on #299
Hello @ransome1, first of all thanks for your sharp reaction, the prototype ticks already all the marks.

### Executive report
Windows - small glitch when in dark-mode, the pop-up message is unreadable
Linux - Sleek doesn't copy to the clipboard

### Detailed report
**Windows**

- When in dark-mode, the text color within the pop-up message is tone on tone, hence not readable. Light mode has the co

[2021-11-30 20:28] ransome1 commented on #299
Thanks for your testing, good work. I'll take a look at it asap and see what I can do.

[2021-12-01 09:28] DOFfactory opened #300 "UI: Due icon too close to text in compact view"
**Describe the bug**
The icons in compact view are too close to the text

**To Reproduce**
Steps to reproduce the behavior:
1. Enable compact view
2. Observe

**Screenshots**
![image](https://user-images.githubusercontent.com/10846169/144207957-701698e6-71fb-4559-adbd-e9c9aec11264.png)
and with compact view disabled
![image](https://user-images.githubusercontent.com/10846169/144208045-857b308e-3a2

[2021-12-01 09:38] ransome1 commented on #300
Thanks, good hint! This will be straightened out in the next release. If you find more UI issues, let me know!

[2021-12-02 13:09] Diagon commented on #171
@ransome1 Hi, first of all, thanks for an amazing tool!

I would like to contribute this feature to sleek. I can handle implementation on my own, however, making a proper calendar requires some extra data that does not currently exist in sleek:
 - Date needs to be extended to include time i.e. due:2021-12-02-12-00-00
 - Additional key:value pairs for scheduling i.e. start:2021-12-02-12-00-00 end:2

[2021-12-02 13:28] aubreyz commented on #171
I know I am saying the same thing a lot, but I think it is vital to
a) Keep within the todo.txt specification or at least do things which will work relatively seamlessly in other apps now and in the future that use the specification.
b) Not to blur the distinction between a diary app and a todo list app - certainly there is an element of overlap, but they serve very different purposes. Having the

[2021-12-02 15:04] Diagon commented on #171
Extra key:value pairs are well within [todo.txt specification](https://github.com/todotxt/todo.txt#additional-file-format-definitions), and Sleek already uses such extensions for due date and threshold.

I can't speak of how seamlessly it would work with other clients, but if handling extra metadata is implemented correctly, there should be no issues.

[2021-12-06 20:44] gdevenyi opened #302 "sleek can no longer read my todo.txt -- Error: EMFILE: too many open files"
**Describe the bug**
Sleek can no longer open my todo.txt, complains about this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Unclear, this may be something which has changed about my system.

**Do you see any error entries in sleeks developer tools?**
![image](https://user-images.githubusercontent.com/3001850/144919610-225d28fe-b4cf-4d24-8e5f-621a379623a4.png)

**Expected behavior**

[2021-12-06 20:44] gdevenyi commented on #302
Google points me here for nodejs too many open files https://stackoverflow.com/questions/8965606/node-and-error-emfile-too-many-open-files

[2021-12-09 16:03] gdevenyi commented on #300
The icon in compact view is also vertically misaligned.

[2021-12-09 16:03] gdevenyi commented on #294
The rc releases do this properly :+1:

[2021-12-11 00:10] evert-mouw opened #303 "Allow *.todo (or even all) file extension(s)"
Instead of using `mystuff.todo.txt` I would like to use `mystuff.todo` so *todo* files are more easily recognized by their extension. But Sleek doesn't allow me to open such files. I know, it goes against the "todo.**txt**" convention, but I like my *.todo* naming scheme and maybe I'm not alone :-)

[2021-12-11 07:41] ransome1 commented on #303
@evert-mouw we already scaled sleek to support .md as it turned out to be quite useful for some users. So technically it wouldn't be a biggy to support .todo files.

As far as Google knows, .todo files are being used as databases for an apparantly abondoned project (https://filext.com/file-extension/TODO). If there is a specification on how .todo files need to look like and if this differs from th

[2021-12-11 07:43] ransome1 commented on #294
Thanks for your feedback!

[2021-12-13 16:42] gdevenyi commented on #302
After a reboot this has gone away. I guess something in the system was holding open too many file watches?

[2021-12-13 17:41] ransome1 commented on #302
Let's leave this one open. I was already looking into it a bit, but couldn't find any good reason why sleek would open and not close existing file watchers. But I want to dig a bit deeper.

If you somehow can reproduce it further down the way, please let me know how you did that.

I'll report back here, once I find something.

[2021-12-13 17:42] gdevenyi commented on #302
Will do, its not clear to me right now if it was watchers from sleek or watchers from other software on the system causing the issue.

[2021-12-13 17:43] ransome1 commented on #302
Do you have any file syncing app (Dropbox, Syncthing) or any other todo.txt app running?

[2021-12-13 17:44] gdevenyi commented on #302
I have Syncthing monitoring its default share directory, which has two files, `todo.txt` and `todo_done.txt`

[2021-12-13 17:46] ransome1 commented on #302
I have the same setup with Syncthing here. Never had a problem with it, but you never know.

[2021-12-14 08:13] ransome1 commented on #302
This morning I was able to provoke this one
`(node:89599) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 userData listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit`

I'm not sure how or if it is connected, but it happened after I had sleek running and putting the computer into stand by and waking it up again for several times. Maybe wak

[2021-12-14 12:16] ransome1 commented on #299
@Ecatonchiro Thanks for your testing, I considered all your remarks.

Though I aligned the sorting order of the clipboard with the order in sleeks current list. Sorting todos according to the order in the file was not what I intended. sleek will also add the grouping header to the clipboard.

You can check it out in this last pre-release of 1.1.4: https://github.com/ransome1/sleek/releases/tag/v1.

[2021-12-14 12:17] ransome1 commented on #274
@urbalazs thanks for the hint. I added all hardcoded strings to the translation files.

[2021-12-14 12:17] #274 closed

[2021-12-15 00:05] qalisto opened #304 "Internationalization of Date Picker"
Date Picker: for most of world Monday is day #1.

 For all people in UK, France, Germany, Russia calendars are configured this way.

Please create option so that popup Month enables also Monday as first day of week.

Indeed, if Rob would really like to enhance temporalization, add a column to the LEFT of the Monday that indicates the "Week Number".

Many people also use that.  In this case, the in

[2021-12-15 06:03] ransome1 commented on #304
Hi @qalisto thanks for reporting this.

I think this is a general misconfiguration on my side (for at least the English version, if you switch to German Monday will be 1st day of the week -> Default config of the picker) of the date picker. I intended to have Monday as the first day of the week as a default. I tweaked the date pickers config a bit and in the next release of sleek this will look li

[2021-12-15 07:42] ransome1 commented on #304
@qalisto You can test this in this pre-release: https://github.com/ransome1/sleek/releases/tag/v1.1.4-rc.6

It's going to be part of 1.1.4 which I will propably release today.

[2021-12-15 15:59] dnngll commented on #296
Hello,

just a quick observation/feature request/bug-report concerning the sort-order, since it seems that it is currently being worked on:

The way "creation date" it is being handled right now, is that all todos, that happen on one specific day, are put together, and then sorted in file order. That leads to Sleek turning

![2021 12 15, 16 39 37 Window](https://user-images.githubusercontent.com/1

[2021-12-15 20:54] Ecatonchiro commented on #299
hello @ransome1 I will try this new rc and I will give you feedback by tomorrow (16 Dec) EOD. Thanks for your great work!

[2021-12-16 06:51] ransome1 commented on #296
@dnngll thanks for your suggestion. The sorting behavior you're describing is intended. If you're looking for a way to invert the sorting method, you can open a new feature request, so we can add it to the backlog :)

@aubreyz @gdevenyi a `sorting by file order` would mean some adjustments on the UI as well. As far as I understand it, `sorting by file order` should be not a drag and drop item (lik

[2021-12-16 08:05] dnngll opened #306 "Sorting by "file-order" and reversing sort-order"
**Did you check if a similar feature request has already been reported?**
Yes. Also, @ransome1 suggested to start a new issue.

**Is your feature request related to a problem? Please describe.**
Yes:

I use todo.txt on several devices with several different programs.

Android:
- Obsidian
- Simpletask

Windows:
- A handwritten script ([screenshot](https://hop2.page/zqg2DQ)), that (1) backups the fi

[2021-12-16 08:05] dnngll commented on #296
Perfect, thanks. Done: https://github.com/ransome1/sleek/issues/306

[2021-12-16 09:33] aubreyz commented on #68
Agree here - I am never likely to use  to use Slick seriously if it messes with the Todo file and changing the order of the words is a serious problem. One if the points if the protocol is to be  be able to use natural text.

[2021-12-17 05:34] qalisto commented on #304
I see it in my update.  Looking good!  Thanks, much!!

[2021-12-17 07:23] ransome1 commented on #303
@evert-mouw fyi I added *.done to the supported file extensions and it can be used in the next release.

[2021-12-17 08:27] ransome1 commented on #300
I think I underestimated the issue here, as it was really ugly in compact mode. I fixed it and released it with v1.1.5: https://github.com/ransome1/sleek/releases/tag/v1.1.5

Let me know if you find more UI bugs, I consider fixing those as more important than adding new features.

[2021-12-17 21:39] Ecatonchiro commented on #299
hello @ransome1 I tested directly 1.1.5 on Windows and Ubuntu.
Everything works like a charm.
Thanks for implementing this functionality.

[2021-12-18 06:10] #299 closed

[2021-12-18 08:16] ransome1 commented on #306
@dnngll I agree that a `reverse sorting` toggle will be the best solution in addition to another setting that might be called `sort by file order` or something similar. My goal eventually is to keep sleek clean of bloat, so we need to reduce only settings which serve the majority of the users.

Thinking about how to implement it I'm having trouble figuring out the best solution for users. If we ju

[2021-12-18 14:24] #303 closed

[2021-12-19 05:08] Treeoctopus commented on #140
Oh yes, yes, this would be great. I can't seem to get my head around how the keyboard up-down arrows just moves the window as if it's a web browser. For me personally my brain is entirely item-by item, and the only way it works for keyboard access now is to tab your way past both checkboxes  and line items.

I quite like the VIM-inspired keyboard style of https://mjdescy.github.io/TodoTxtMac/, but

[2021-12-20 00:30] akulpillai opened #307 "[Security] Workflow github-ci.yml is using vulnerable action actions/checkout"
The workflow github-ci.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-20 08:59] ransome1 commented on #307
@akulpillai thanks for that hint. Changing `actions/checkout@v1` to `actions/checkout@v2` should resolve this, right?

[2021-12-20 09:47] ransome1 commented on #140
@nutnutwin @Treeoctopus couldn't be be even more strict and efficient for the arrow left and right arrow behaviour?

- Imagine arrow left (if todo item is focused) would set complete/incomplete with no further click (no focus on checkbox and tab on Enter would be needed) and if arrow right would open the context menu.
- Tab on Enter while a todo item / row is focused would open the todo.

How woul

[2021-12-20 19:30] ransome1 commented on #140
@nutnutwin @Treeoctopus you can check out a first prototype on how the handling with arrow keys can look and feel like: https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.1

- `Arrow down` and `up` let the focus jump from one todo to the next
- `Enter` on a focused todo will open it
- `Arrow right` will open the context menu and within the menu you can continue using `arrow up` and `down` an

[2021-12-20 20:52] ransome1 commented on #307
@akulpillai has been bumped to v2

[2021-12-20 20:52] #307 closed

[2021-12-21 09:53] Saturo78 opened #311 "Filter Issue when tasks beginn with letter t"
to reproduce:
add Task "Test"
type "test ..." in the filter line
->found nothing
type "Test" in the filter line
->found "Test ..."

In the actual version search strings with t have to be written with capital letter T.
Maybe recognizing t as filter expression t:?

[2021-12-21 10:14] 9z0 commented on #140
Up, down and right are fine.

Left to toggle completion is a big issue. I was trying to move left in the search bar and marked a few tasks as complete by accident! It was panic-inducing but I was able to restore the previous state.
Ctrl+something is infinitely better.

[2021-12-21 12:37] ransome1 commented on #140
Please do not use your actual todo data with early release candidates of sleek, I don't want to be responsible for any data loss ;) In general this of course could be fixed but disabling Arrow left, when a text field is focused. But I think it's just not a usability users would expect.

Therefor I too think we should move the completion event to another shortcut. What about just `x` if the row is

[2021-12-22 07:13] ransome1 commented on #311
@Saturo78 thanks for reporting this, I'll look into it.

[2021-12-22 17:17] gdevenyi commented on #302
I just upgraded from 1.1.4rc4 to 1.1.5. Sleek was closed before upgrade, upon opening again:
[code]

[2021-12-22 17:22] gdevenyi commented on #302
Using the info from this: https://stackoverflow.com/a/60705427 I'm nowhere near my limits for watches on the system.

[2021-12-22 17:26] gdevenyi commented on #302
Another update,
I had
`fs.inotify.max_user_instances = 128`

which I changed to:
`fs.inotify.max_user_instances = 256`

And again sleek is working.

Doing some sleuthing, something (sleek or otherwise) is using too many instances to do its notification, instead of adding watches within a single instance.
https://unix.stackexchange.com/questions/532709/what-is-exactly-difference-between-inotify-max

[2021-12-22 17:31] Piscean opened #312 "Give the option to suppress creation date"
Consider adding a switch to suppress the creation date when adding a new todo item.  Some other todo.txt implementations aren't able to hide that date, so items created in Sleek show up in the other apps with the date in front of the useful info.  And for those of us who don't use the creation date, it's just noise.

[2021-12-22 17:34] gdevenyi commented on #302
Looks like KDE, followed by ferdi is at fault here,
[code]

[code]

I'm just on the edge of 128 instances which is causing the issue. Not a sleek bug, KDE bug.

[2021-12-22 17:34] #302 closed

[2021-12-22 19:44] zerodat commented on #311
@Saturo78, thanks, I can reproduce this in v1.1.5.  As you suspected, this is a somewhat-unfortunate consequence of the filter language design.  Typing in the search box by default tries to use advanced search expressions if they are valid, and drops back to plain-text search if not.  Since "t" is a valid query meaning "give me all the tasks with a threshold date", it doesn't do a plain text match

[2021-12-22 20:42] ransome1 commented on #302
@gdevenyi that's kind of a relieve as I couldn't come up with any solution to this. I wasn't even able to reproduce it. Thanks for looking into it.

[2021-12-22 20:43] ransome1 commented on #311
Thanks for looking into it @zerodat

[2021-12-22 23:04] aubreyz commented on #312
Absolutely agree with  this one!

[2021-12-22 23:09] zerodat commented on #311
I tested this change in my version and it seems to work.  The syntax becomes a little ugly for date comparisons though.  Here are a couple of examples:
[code]
and so on.  This will be incompatible with previous versions, so people who are used to typing queries like `t >= 2021-12-15` will need to change to include the colon.

[2021-12-23 07:56] Saturo78 commented on #311
In my humble opinion i would prefer using option 2 with "?" to distinguish between plain text search and filter query.

[2021-12-23 08:16] Treeoctopus commented on #140
Wow, great, I'm really glad to see the replies on this thread. I'll give the prototype a look and report back soon!

[2021-12-23 08:56] Treeoctopus commented on #140
Here's some quick feedback. This is GREAT work, thank you muchly!

? Not sure why links/emails are shortened -- seems to serve no function. Sometimes I share multiple URL links via an Android app from the same dom	ain, these would be indistinguishable. Why not an option to do text wrap to 2, 3, 4 lines-- see screencap for both list entries and edit box?

* Could the highlighted entry have a bit mo

[2021-12-23 08:57] Treeoctopus commented on #140
And one more request, could we please have Ctrl+/- to increase/decrease font, and Ctrl-F to jump to the search box? These are familiar keyboard commands for Mac.

Thanks!

[2021-12-23 13:04] Saturo78 opened #313 "Headline Tasks without due date missing?"
I was wondering if there wasn`t a headline over tasks with no due date?
In the actual version tasks without a due date are shown directly under the last tasks with due date.
Because of that you might think that all tasks have this last due date.

I think in some older version there was a headline "no due date set", "without due date" or something else?

[2021-12-23 13:14] Saturo78 commented on #140
I can't scroll to the end of the list because the focus always jumps back to the beginning of the list just before.
Is it possible to change the color of the focused line in order to give it more contrast?

I would like to see the active line move down until it reaches the bottom of the screen and stay there. Similar to the way it is in Excel, for example.
Currently all entries move upwards and it

[2021-12-23 16:08] ransome1 commented on #313
@Saturo78  you're right, there is suppose to be a group headline for todos with no due date. It will appear again in the next release.

[2021-12-25 11:20] befedi commented on #226
Hi @g3434343,
a password protection of sleek would only protect the GUI of the app but your todo.txt on your USB drive would still be unprotected (unless the content of the file would be encrypted). Encrypting the todo.txt would not be a solution for me as I use a different app than sleek on my Smartphone. This app would need to support the same encryption method.

[2021-12-25 12:03] aubreyz commented on #226
I agree with @befedi  -- encrypting the todo.txt file itself is against all the principles of the format,
and encrypting the app only is pointless.

If people want encrypted data then they encrypt the file storage device itself (with Veracrypt or similar).

[2021-12-25 13:00] ransome1 commented on #226
I agree with the above said, if the file is located locally. And if sleek would encrypt the file as well, it would be useless to other apps. Though an interesting use case could be if sleek had an API integration to a cloud service where the todo.txt file would be hosted and never duplicated to the local file system. I am not sure though if many todo.txt users would be interested in pushing their

[2021-12-25 13:06] aubreyz commented on #226
RClone would provide a good free mechanism for synching a file (via an encrypted cloud mechanism). Cryptomator is another possibility. Sleek needs to do what it does best and leave other things to the systems that do that best.

I think we have to assume that Sleek is for people who are at least slight geeks and at least slightly sophisticated as a basis for good development.

[2021-12-26 14:40] ransome1 commented on #140
@Treeoctopus thanks a lot for your contructive feedback. I've been working on another feature mostly but gave this some more improvement as well in the latest pre-release: https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.2

The links are shortened in the todo list only because I think overlong links look messy and don't add a real value to the list. You do see the link in full once the mod

[2021-12-26 14:43] ransome1 commented on #140
The keyboard shortcuts are adopted from the todotxt.net application. Before we start changing any shortcuts we need a new and thought through concept. I think there is another feature request that deals with the general enhancement on keyboard shortcuts in sleek.

[2021-12-26 14:45] ransome1 commented on #140
In the latest pre release you can press x while the todo is focused and it will mark as complete.

[2021-12-26 22:13] xebico opened #315 "Won’t work at all on brand-new install"
I just installed sleek for the first time (1.1.6-rc.2). Running Windows 10, all the latest updates, plenty of storage space and memory.

Sleek installs without out a problem and the shortcut appears on my desktop. Running it brings up what I assume is the main screen (blank, buttons on the left), but none of the buttons do anything.

No matter what I click, right-click, Ctrl-click, the screen rema

[2021-12-26 22:15] ransome1 commented on #315
Thanks for reporting it, I will look into it.

Please use the official latest release 1.1.5 to solve this issue.

[2021-12-26 23:18] ransome1 commented on #315
@xebico the issue should also be fixed on the latest pre release 1.1.6-rc.2 (I reuploaded it): https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.2

Thanks again for reporting it.

[2021-12-26 23:18] #315 closed

[2021-12-30 21:05] dragonDScript commented on #304
Will it look like this for US people? I think it's important to respect whatever people is used to.

[2021-12-30 21:07] ransome1 commented on #304
Yes, but I can't follow. Can you please describe what the issue is?

[2021-12-30 21:49] qalisto commented on #304
I think Dragon asks for an option for either Mon start of week or Sun.

Sun start is a non-scientific default for US population.

I would argue that if you can do only one option, honor the overwhelming international standard, which is MONDAY.

The US also still doesn't widely use the METRIC system.  A stupid reflection of arrogance that costs the US economy and businesses by creating internationa

[2021-12-31 10:49] dragonDScript commented on #304
Yes, I wanted to said that. You might want to take a look at lost-design/linked, the author's implemented both the US and the international system.

[2022-01-05 07:21] serpro69 opened #319 "Tray icon invisible on initial login on Ubuntu"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
On initial login, the tray icon is not visible. If I lock the desktop and unlock it, then I can see the icon in the tray.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable 'Minimize to tray' (not sure if it matters, but I have it enabled) and make sure sleek is in the "Startup

[2022-01-05 12:32] dnngll commented on #306
Hello @ransome1 ,

thank you for your text. I indeed have an idea on how this problem could be sorted out in a very elegant way. Shame on me for using mspaint for my mockup:

![image](https://user-images.githubusercontent.com/12801866/148217224-754f0d28-b458-46a7-aa3b-031365cb7a34.png)

One would be able to move the "sort-by" up and down with the handle via drag-and-drop, and change the order indi

[2022-01-05 14:02] dnngll commented on #306
@ransome1 adding to my comment above, do you know the Android-App [Simpletask](https://f-droid.org/en/packages/nl.mpcjanssen.simpletask)? That's how they do it:

![2022 01 05, 14 55 53 Sort order (Screenshot_20220105-135919) png - JPEGView](https://user-images.githubusercontent.com/12801866/148229232-3042ec97-afa0-434a-9dbd-6d5964ee8868.png)

In the screenshot above the sorting "stops" after "File

[2022-01-05 15:53] matterharz opened #320 "Awkward display of lengthy entries that force a line break"
**Is it an actual bug?**
It's what I would consider to be a visual bug.

**Did you check if the bug has already been reported?**
Yes.

**Describe the bug**
Title and screeshot below pretty much say it all. It happens in normal view as well as in compact view.

**Expected behavior**
I expected the display to be in line with single-line entries, that is circle*, priority icon and context/project "pi

[2022-01-05 16:22] matterharz opened #321 "rec + due icons vertically misaligned in compact view"
**Is it an actual bug?**
It's a small visual bug.

**Did you check if the bug has already been reported?**
Yes.

**Describe the bug**
Title + screenshot say it all.

**To Reproduce**
1. Add entry with rec + due
2. Enable compact view

**Screenshots**
Normal view:
![normal view](https://user-images.githubusercontent.com/76849821/148251340-9ede5f1c-9b3f-4625-b382-58ae5bef8e68.png)

Compact view:
![S

[2022-01-05 16:28] matterharz commented on #321
Just noticed this was already mentioned [here](https://github.com/ransome1/sleek/issues/300#issuecomment-989988993) without being adressed. But as far as I know there's no ticket yet.

[2022-01-05 18:40] matterharz opened #322 "State of toggle switch not immediately recognizable in Dark Mode"
**Is it an actual bug?**
It's a visual bug.

**Did you check if the bug has already been reported?**
Yes.

**Describe the bug**
While light-grey and almost-black work well enough in Light Mode since they're both darker than the background, the shades of grey used in Dark Mode are confusing since the background color sneaks in between the two shades. The first time I used Dark Mode I actually had t

[2022-01-07 12:01] evert-mouw commented on #303
Thanks a lot! Sorry for only noticing this now (serious personal circumstances). I'm happy with Sleek :-)

[2022-01-11 08:33] ransome1 commented on #322
@matterharz thanks for reporting this. Purple and green are reserved for contexts and projects. For most interaction elements we have blue as tertiary color. I added blue for the active state of the toggle for bright and dark mode and it can be tested in this pre release: https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.3

[2022-01-11 08:34] ransome1 commented on #321
@matterharz should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.3

[2022-01-11 08:34] ransome1 commented on #320
@matterharz this is simply a css bug not a wanted behaviour and it should work in this pre release: https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.3

[2022-01-11 08:36] ransome1 commented on #313
@Saturo78 I decided against a "speaking" separator row. Instead and for all sorting methods I added a white space row, which can be tested in https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.3

[2022-01-11 08:45] ransome1 commented on #306
As I myself don't really use this kind of sorting and there are plenty urgent matters in sleek to work on I'm afraid I can only provide a simple solution to this at this point. In this pre release you will find a toggle to enable the `sort by file` option and you will be able to `invert sorting` with another new option. If `sort by file` is enabled all the other sorting methods will be disabled.

[2022-01-11 08:46] #296 closed

[2022-01-11 08:49] ransome1 commented on #241
@JordyScript in this pre release I added a more fine tuned handling if a file is being selected and not found on disk. The behaviour is
1. A notification will be send
2. the file list will be refreshed and files, that can not be found, will be removed
3. sleek will be refreshed

https://github.com/ransome1/sleek/releases/tag/v1.1.6-rc.3

[2022-01-13 08:28] dnngll commented on #306
Oh, I understand, thanks for the info! And thanks for adding it, this is making Sleek so much more useful already. I just tried it out now, some quick feedback: The "Completed at the end"-toggle does not work when sorting as in file. If I come across anything else I will post it here of course...

Thanks again!

[2022-01-13 15:04] ransome1 commented on #306
Thanks for your feedback. The sort by file method is quite strict and literally disables all other sorting or grouping on purpose. Except the inverting. That's why the sort at the end toggle doesn't work in this setting and maybe should also be hidden in this case.

[2022-01-13 15:46] dnngll commented on #306
Yea, that's what I thought. I don't really think it needs fixing, since it's only temporary and you're quite busy anyway. Just wanted to let you know.

Sleek's getting more and more awesome by the day, this last fix replaced todo.txt as my tool for "readonly"-usage!

I sure hope that https://github.com/ransome1/sleek/issues/68 can be addressed in the near future. Then we'd be able to alter the tod

[2022-01-13 15:48] dnngll commented on #306
Adding to my last comment: https://github.com/jmhobbs/jsTodoTxt/issues/5 is the dependency I was referring to.

[2022-01-13 17:52] luixal commented on #206
What about syncing from an standard http link? Obviously, privacy may not be the best, but If you don't really care about your task's privacy, you could load files from almost any cloud (dropbox, gDrive, oneDrive, github...).

[2022-01-14 02:13] matterharz commented on #320
Much better, thanks.

It still seems though as if the prio icons have their own line for no reason (unlike single-lline entries). Also, the remaining icons and pills are sort of piled up at the end of line which looks untidy and incoherent:
![Screenshot 2022-01-14 025437](https://user-images.githubusercontent.com/76849821/149438208-d0a65f98-ec09-4942-9069-4141ed414918.png)

This would make sense i

[2022-01-14 03:11] matterharz commented on #322
Perfect. (Am I allowed to close issues? Please re-open if that's not acceptable.)

[2022-01-14 03:11] #322 closed

[2022-01-14 03:16] matterharz commented on #321
Looks good to me.

Minor quibble, though (not worthy of a separate issue, I think): Are these icons from the same set? They seem to have different line thickness.

[2022-01-14 07:08] ransome1 commented on #321
@matterharz unfortunately those icons differ in line thickness, although they belong to the same group of icons. They belong to the free icon set of https://fontawesome.com. It might be possible that the pro version offers more aligned icons (visually wise) but as for the free version we need to live with a compromise.

[2022-01-18 20:59] luixal commented on #206
Hey @ransome1 , has I would like to load my tasks remotely*, I've been playing around with Github Gists as they seem to be a good way to go:

- free and "dev-friendly" service
- plain text files
- private by default
- can be shared easily

Saving new tasks is quite direct, I just put the new code on the `writeToFile` event function and worked like a charm. Problem comes when loading data. As it's

[2022-01-19 10:34] dlaidig opened #327 "Flathub release is outdated"
The version of the flatpak available on https://flathub.org/apps/details/com.github.ransome1.sleek is still stuck at 1.1.3, last updated on November 7, 2021, while the current release is 1.1.6.

It would be great to have the latest version available via flathub. :)

[2022-01-19 20:17] Ecatonchiro commented on #327
Same on Microsoft Store, last published 1.1.4

[2022-01-20 06:35] snoblenet opened #328 "adjust location of context menu when at bottom of screen"
**Is it an actual bug?**
It's a UI glitch. Closer to a bug than to a feature request.

**Did you check if the bug has already been reported?**
[Yes](https://github.com/ransome1/sleek/issues?q=contextual) i checked. (No it has not been reported.) 👍

**Describe the bug**
When you right click on the bottom-most task when the Sleek window extends to the bottom of the screen, part of the contextual men

[2022-01-20 08:04] ransome1 commented on #327
@dlaidig the Flathub build process is a mystery to me. Currently it crashes for reasons I just can't comprehend. I recently opened up a ticket for the Flathub guys, let's see where this is heading. I'll keep you posted.

@Ecatonchiro As for Windows, the v1.1.6 is currently in review at Microsoft and will be available soon.

[2022-01-20 08:05] ransome1 commented on #328
Thanks for reporting this, I'll take a look at it and will try to fix this with the next release.

[2022-01-20 11:00] Ecatonchiro commented on #327
1.1.6 is now available on MS store, thanks for your reply

[2022-01-20 20:58] snoblenet opened #329 "snooze button Mac OS X notifications"
**Did you check if a similar feature request has already been reported?**
Yes I checked. No it has [not been reported](https://github.com/ransome1/sleek/issues?q=snooze).

**Is your feature request related to a problem? Please describe.**
Often I need to clear notification because they prevent access to other buttons and information in that corner of the screen like the Mute/Unmute button in Micro

[2022-01-21 13:35] #321 closed

[2022-01-21 13:36] #313 closed

[2022-01-21 15:49] Ecatonchiro opened #330 "Date picker doesn't change due:date within a todo"
**Describe the bug**
Since the introduction of the data picker from the todo list (1.1.6).
I noticed the data picker within a todo stopped writing in the todo.
Strangely enough this effect appears from the second todo (existing or new) you want to manipulate.

**To Reproduce**
- open a todo, or create a new todo, from the data picker select a day, save
- open a todo or create a new todo, now the d

[2022-01-21 17:09] ransome1 commented on #330
@Ecatonchiro I followed the steps you described but couldn't reproduce it. Can you maybe recheck and be more specific on how you provoke the date picker not to work any longer? Thanks.

[2022-01-23 12:40] Ecatonchiro commented on #330
I cannot reproduce anymore, I believe I can close. False positive, sorry.

[2022-01-23 12:40] #330 closed

[2022-01-23 20:03] Ecatonchiro commented on #330
@ransome1

Eventually I managed to reproduce the occurrence.
I usually push my uncompleted todos to "today" or to the future. I don't like to see past days in my list.
I happens that when opening old todos the data picker shows two dates (one in blue, one in grey).
In this situation "sometimes" the data picker doesn't change the due:date in the todo.
In the video it happens at frame 00:30, when yo

[2022-01-23 22:11] ransome1 commented on #330
@Ecatonchiro tha ja for reporting this. I'll check it as soon as find some time!

[2022-01-24 19:33] M4he opened #331 "Date picker not refreshing current date highlight"
**Describe the bug**
The date picker for selecting the due date highlights the day when Sleek was initially started but doesn't update the highlight marker even if Sleek is kept open for days/weeks.
This is confusing because the highlight should serve as a means of orientation in the calendar in my opinion.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Sleek
2. Keep Sleek running for

[2022-01-24 19:34] M4he commented on #331
Maybe it has to do with the `beforeShowDay` API of the widget? [This SO entry](https://stackoverflow.com/a/14484895) seems to hint at the [API documentation of `beforeShowDay`](https://api.jqueryui.com/datepicker/#option-beforeShowDay) which expects an array with specific values to be returned in all cases. The [current implementation](https://github.com/ransome1/sleek/blob/f3dc451809ff8df32570225

[2022-01-25 11:37] mimmori commented on #312
+1 Totally agree!

[2022-01-25 12:39] Ecatonchiro commented on #331
I believe this can be somehow connected with [this](https://github.com/ransome1/sleek/issues/330).

[2022-01-25 16:55] ransome1 commented on #331
@M4he Could you please check real quick if this is connected to https://github.com/ransome1/sleek/issues/330 and if we can combine the two issues?

[2022-01-26 22:25] M4he commented on #331
I had a look at #330 but that seems to be a different issue altogether. That issue is about the date picker selection not being applied when a date is clicked as far as I can tell. What I encounter is the initialization of the date picker not updating the "today" highlight (in the picker widget, not in the actual todo) when opened.

[2022-01-27 11:35] ransome1 commented on #331
@M4he this should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.1.7-rc.1

Let me know if this works for you. Currently I can only test on MacOS, not on Linux and Windows.

you can reproduce this bug by just switching dates in your OS settings. Or at least this worked for me.

That's not exactly the right api documentation. This one is for the module used in sleek: https://mymth.git

[2022-01-27 11:38] ransome1 commented on #330
@Ecatonchiro can I ask you to check if you can still reproduce this behaviour in this pre release? https://github.com/ransome1/sleek/releases/tag/v1.1.7-rc.1

[2022-01-28 07:33] ransome1 commented on #140
Due to no further activity I'm closing here to clean up the backlog. If anything new pops up, please open a new issue.

[2022-01-28 07:33] #140 closed

[2022-01-28 07:36] ransome1 commented on #257
This particular issue has been solved and released in v1.1.6

[2022-01-28 07:36] #257 closed

[2022-01-28 08:12] ransome1 commented on #327
The Flathub issue is hopefully being discussed and solved here: https://github.com/flathub/com.github.ransome1.sleek/issues/2

[2022-01-28 08:16] ransome1 commented on #306
Sorry for my late reply. Unfortunately I'm not directly connected to that project and we're relying on the guys over there to address this issue. Up until then the only way to solve this would be to find a JavaScript developer who could contribute this enhancement to the jsTodoTxt project.

Due to backlog maintenance I am closing here and hope you don't mind.

[2022-01-28 08:16] #306 closed

[2022-01-28 08:18] ransome1 commented on #241
This has been released with v1.1.6. I'm closing here due to backlog maintenance.

[2022-01-28 08:18] #241 closed

[2022-01-28 08:19] #300 closed

[2022-01-28 08:35] ransome1 commented on #320
Implementing your proposal as a general rule would only benefit longer todos with lots of tags. Users who use short entries and few tags could be disadvantaged by this as every todo would then occupy more height. If I find some time anytime soon, I can check if there is a CSS way to straighten this out if a todos needs more space. If you by any chance have knowledge on CSS you could contribute to

[2022-01-28 09:58] Ecatonchiro commented on #330
@ransome1 please give me 1 week to test it, so far it looks good, however since I couldn't find a precise method to reproduce the occurrence, I prefer to use the new version regularly for 1 week and report back to you.

[2022-01-28 10:47] ransome1 commented on #327
@dlaidig release v1.1.6 has just been published and should be available to your installer soon. Could you please give me a feedback if installation works on your side?

[2022-01-28 12:01] dlaidig commented on #327
I just successfully updated to v1.1.6. :)

Thanks!

[2022-01-28 12:01] #327 closed

[2022-01-28 15:29] matterharz commented on #320
I agree. Just noticed (the structure of) my post was ambiguous. My proposal would simply be this: add icons and pills to the end of each entry *as if* they were just regular text.

Unfortunately, I can't help you out with this since I have no knowledge of CSS (or any mark-up or programming language) whatsoever.

[2022-01-28 16:11] Ecatonchiro commented on #330
@ransome1 from my first day of utilization I just noticed that the data picker is consistent in having the "today" and "current due date" on the calendar, I didn't experience any hiccup while changing dates, so it seems the data picker is always updating the "due:" field in the todo, however I also noticed the direct data picker on the todo list doesn't work anymore with 1.1.7

[2022-01-28 18:23] ransome1 commented on #330
@Ecatonchiro good call. I didn't see that the picker in the actual list stopped working. It's going to be fixed in the next release.

But besides that everything is now working as expected?

[2022-01-29 06:38] Ecatonchiro commented on #330
@ransome1 so far so good, but please give me few more days so I can test more conditions

[2022-01-29 21:15] andrei-a-papou opened #332 "Shortcuts problems with Russian keyboard layout"
First off, a huge thanks for this app, it is awesome. Kudos for the well-thought-out UX!

I use sleek with an English UI, but the notes I create in both English and Russian. When using the Russian layout, shortcuts mostly do not work, which seriously hampers efficiency. It would be awesome to have it fixed.

Alternatively, can shortcuts be defined for multiple languages in a config file or somethi

[2022-01-31 16:07] Ecatonchiro commented on #330
@ransome1 I dare to say it is fixed now, I worked with Sleek continuously in the past 3 days and it never missed a change in the due:date within a todo.

[2022-02-02 16:32] nicobbg opened #335 "Desktop notification for collaborative work on the same todo file"
1st of all: Keep the good work, this app is awesome.

**Describe the solution you'd like**
As a user, I would like to receive desktop notification when another user edit/add/delete a task on the same file I have opened in my Sleek app.
Ex: I have opened the my_todo.txt file in a Sleek tab, another user opens this file and add a task, Sleek sends me a desktop notification when the task is added, ev

[2022-02-04 07:24] mimmori commented on #234
+1

[2022-02-04 08:53] aubreyz commented on #234
+10

[2022-02-05 01:29] shbach opened #336 "Show number of complete todos out of the total in badge"
**Did you check if a similar feature request has already been reported?**

This is related to #116 but suggested here is a different implementation for a specific use case.

**Is your feature request related to a problem? Please describe.**

A typical use case is I want to see at a quick glance of the filter list, for each project how many todos have been completed and out of how many. In particul

[2022-02-05 14:09] M4he commented on #331
Confirmed, v1.1.7-rc.1 fixes this. Thank you!

[2022-02-05 14:09] #331 closed

[2022-02-16 09:31] Gravip opened #338 "Notes for tasks"
Hello dev, thanks for the grate app :)

I have a suggestion to add notes\description for tasks. I know that todo.txt don’t have that future, but we can add it with key, like note:’any extra info with links for task’ in txt file, but in app it will be good to see that notes in task setting under due date & priority and over Save and Cancel buttons

[2022-02-18 15:59] mimmori commented on #312
It is a solution that may be fine for me. Thanks

[2022-02-18 16:09] aubreyz commented on #312
+1 great thanks

[2022-02-19 00:27] Piscean commented on #312
Yep, works for me as well.  Thank you.

mimmori wrote:

It is a solution that may be fine for me. Thanks

—
Reply to this email directly, view it on GitHub<https://github.com/ransome1/sleek/issues/312#issuecomment-1044750538>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AAQUJ3OGQ5HX24IZ26LRAHTU3ZUH5ANCNFSM5KTBFHRQ>.
Triage notifications on the go with GitHub Mobile for iOS<htt

[2022-02-19 08:47] mimmori commented on #312
I just tried but it doesn't work, can you help me understand where I'm wrong?

[2022-02-19 08:49] ransome1 commented on #312
As stated above, this is in progress and will be released as part of the next release.

[2022-02-19 08:50] mimmori commented on #312
Ah ok, ah, I missed this detail. thanks

[2022-02-20 04:56] 0cwa opened #339 "A Sleek Mode for Sleek"
Adding settings/options to hide the search bar and the side-icons so you can have a completely clean view of your lists.

Reason being: The input/search bar uses up ~10% of my list display, it's noisy with it's example text, and I'm just going to use my keyboard anyway.  This option would clean up the interface a bit for keyboard shortcut users, and efficient screen real estate use justifies leavi

[2022-02-24 07:39] shbach commented on #338
There is a [note add-on for the CLI version](https://github.com/mgarrido/todo.txt-cli/tree/note/todo.actions.d) so compatibility with that would be good.

[2022-02-24 09:56] shbach opened #340 "Add option to automatically match system theme dark/light mode"
Currently sleek has a light and a dark theme. A nice addition to that is the option to automatically match the system theme dark/light mode. e.g. if system is currently using "dark" theme, sleek should also use the dark theme.

[2022-02-27 09:35] ransome1 commented on #340
@shbach That is a good point. sleek actually detects the OS current setting for dark mode on its first start. But then that is being persisted right away and won't change again, before the user toggles it.

For future development I think we should let sleek always adjust to the OS preference until a user actively uses the dark mode toggle. Another option I will think about is to replace the toggle

[2022-03-10 13:50] mimmori commented on #281
+1

[2022-03-10 13:55] mimmori opened #342 "Add the ability to filter by date"
**Did you check if a similar feature request has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues

yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It would be really useful to be able to quickly filter activities by their due date in the near future.
I believe the following filters are sufficient:
  - today

[2022-03-11 07:14] Ecatonchiro commented on #342
I believe this is already implemented as part of the filter syntax https://github.com/ransome1/sleek/wiki/Filter-Expressions-for-Advanced-Search#due-date-comparison

[2022-03-11 07:35] mimmori commented on #342
This is true, but it would be much more convenient to be able to do it faster from the predefined filters panel on the left (show filters -> B key)

[2022-03-11 15:27] IgnacioHeredia commented on #124
Along with a `CTRL+Z` shortcut 😉

[2022-03-17 19:17] shbach commented on #342
More generally to implement this, I really think being able to [set saved filters](https://github.com/ransome1/sleek/pull/106) would be the best solution. That way people can customize to their needs.

[2022-03-24 03:42] ImperialSquid opened #346 "Options to Hide Tags from being Displayed"
# Description
Adding some options related to hiding part of a task would be very useful in cases where the task comes with tags from another bit of software, due to the open-ended nature of todo.txt lots of different systems exist, all using slightly different tags or some systems make tags that aren't needed or useful in another (eg I have unique identifiers turned on in simpletask but they just

[2022-03-24 11:54] mado89 opened #347 "Assertion error when trying to open a file"
Hi,
I am am running sleek 1.1.6 installed from snap on Ubuntu 20.04. Currently I am unable to open a todo.txt file.

**To Reproduce**
1. Open the program
2. Click on "Open todo.txt"

The following ouput is shown on the console:

 `(sleek:5071): Gtk-WARNING **: 10:27:07.354: Theme parsing error: gtk.css:1418:23: 'font-feature-settings' is not a valid property name
(sleek:5071): Gtk-WARNING **: 10:2

[2022-03-24 11:58] ransome1 commented on #347
@mado89 Thanks for reporting this. So the issue is, that the file chooser is not opening? Do both (open and create) file chooser not open?

[2022-03-24 12:05] mado89 commented on #347
Sorry, yes both chooser dialogs do not open (with the same error message on the console)

[2022-03-24 21:25] mado89 commented on #347
Just checked: after switching to edge channel with snap I can open files again (version 1.1.7).

[2022-03-24 21:40] ransome1 commented on #347
@mado89 I couldn't reproduce it on a Ubuntu VM with the 1.1.6 tbh. But as I released 1.1.7 today anyway (it's in Snaps stable channel now too) and I really hope this issue is solved, whatever it was. Because I'm actually not sure if any of those things in your log is connected to the file chooser.

Please feel free to close here, if the issue is finally resolved :)

[2022-03-25 07:09] mimmori opened #348 "Crash when start sleek on windows 10"
**Is it an actual bug?**
yes

**Did you check if the bug has already been reported?**
yes

**Describe the bug**
Unable to start sleek. An error popup occur when click on executable.
Tried to install both from setup and portable version.

**To Reproduce**
Simple trying to start sleek

**Do you see any error entries in sleeks developer tools?**
The program does not open to get to the dedicated scree

[2022-03-25 07:23] ransome1 commented on #348
@mimmori thanks for reporting this, I'll get my Windows VM running and be looking into it soon.

[2022-03-25 08:16] ransome1 commented on #348
@mimmori I think I found the issue and fixed it. Can you please double check the updated Windows files on a proper Windows machine? https://github.com/ransome1/sleek/releases/tag/v1.1.7

[2022-03-25 08:30] mimmori commented on #348
just tried, fixed.
Thank you very much for the speed with which you solved

[2022-03-25 08:54] #348 closed

[2022-03-25 08:54] #347 closed

[2022-03-26 17:32] p-beattie opened #350 "Sort Issue – Not Chronologically by due date"
Hello,
I’m using Linux Mint Cinnamon 20.3.   I installed Sleek via the Software Manager.
I am experiencing an issue with sorting of todo items in the GUI.

Using Sleek’s GUI interface, I entered each item to make the sample todo.txt file (below).
I included m/dd/yyyy to each item so I could see due dates immediately.

Contents of todo.txt
[code]

I can see in Sleek, that due dates and recurrence a

[2022-03-26 18:40] ransome1 commented on #312
@mimmori @Piscean @aubreyz this has been released with 1.1.7. Feel free to check it and reopen here, in case it is not working as expected.

[2022-03-26 18:40] #312 closed

[2022-03-27 22:28] gentlecolts opened #352 "When sorted primarily by due-date, incorrect date labeled as "Today""
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Did not see anything that looked like this

**Describe the bug**
When sorted primarily by "Due", the date labeled as "Today" is incorrect, and tomorrow is currently being labeled as such.  This does not appear to be affecting the desktop notifications, and does not affect the mouse-over text on the clock icons, o

[2022-03-28 05:53] ransome1 commented on #352
@gentlecolts interesting. I can't reproduce it locally but that doesnt have to mean anything. Can I ask in which timezone you're Manjaro is setup?

[2022-03-28 10:07] ransome1 commented on #350
Hi @p-beattie . Thanks for reporting this.

Can you check if this behavior is still occuring in this pre-release https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.1?

[2022-03-28 20:33] p-beattie commented on #350
Hi @ransome1 .  Thank you for the quick response.  The sort looks good now.   Best regards, Paul

[2022-03-28 20:33] #350 closed

[2022-03-30 06:35] mimmori opened #353 "Project / context selection using keys in autocomplete when creating a new task"
**Is it an actual bug?**
it is a different behavior than the previous version (Sleek 1.1.6) which reduces its ease of use.

**Did you check if the bug has already been reported?**
Yes.

**Describe the bug**
With the latest versions of Sleek, a bug related to the self-completion of projects (+) and contexts (@) has been introduced.
In detail, during the creation of a new task, by typing the + or @

[2022-03-30 06:50] ransome1 commented on #353
@mimmori thanks for pointing it out. I needed to rework the button a bit and missed to add the `href` attribute, which in fact disables the `Enter` function. This is going to be fixed in the next release.

[2022-03-30 09:52] ransome1 commented on #353
@mimmori could you please check if this still happens in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.2?

Thanks!

[2022-03-30 09:54] ransome1 commented on #352
@gentlecolts I looked further into it but am still not able to reproduce this :( I installed a free Manjaro vm and set its timezone to New York but it works fine on my side (which doesn't have to mean anything)

Can I ask you to install the AppImage of this latest release and tell me if there is any change? https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.2

[2022-03-30 09:56] ransome1 commented on #311
@zerodat @Saturo78 I'm a little off on this issue here. Can you guys tell me if this is still relevant?

[2022-03-30 11:37] mimmori commented on #353
Problem solved with the latest version released.

As always, very fast.
Thanks!!!

[2022-03-30 14:35] mimmori commented on #353
I still found a condition where it is not working properly.

The problem can be observed during the self-completion phase of projects / contexts and you start writing part of the word until only the desired element remains.
In that case, pressing tab and enter the element is inserted preceded by the text null.

[2022-03-30 14:44] ransome1 commented on #353
I can confirm this, I missed that case during testing. Thanks for checking it so precisely ❤️

[2022-03-30 15:36] gentlecolts commented on #352
Well whatever's going on has persisted through rebooting.  Definitely strange, if this isn't super easy to reproduce then I can only assume something weird on my end is happening, but I can't begin to imagine what might cause this discrepancy if not sleek itself.  Running the Appimage produces the same result for me as well.

[2022-03-30 16:18] Feardt commented on #352
I've had the same problem over the past couple of days. Items showing as due "today" (3/30/22) have due dates of tomorrow (3/31/22). I'm in the US, timezone/date is correct in Plasma time/date settings, I'm on ArcoLinux/KDE Plasma. I've tested the stable AUR/Flatpak packages and also the v1.1.8-rc.2 appimage. All have the same bug for me as well.

[2022-03-31 08:59] mimmori opened #354 "Use as template always add creation date"
**Is it an actual bug?**
Yes, Minor

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
When you create a new task by taking one as a template, the software always adds the creation date, even if its insertion is globally disabled.

**To Reproduce**
1. Right click on a Task
2. Click on "Use as template"
3. See the presence of creation date

**Expected behavior**
I su

[2022-03-31 09:14] ransome1 commented on #354
@mimmori you're right, this features wasn't respecting the default value of `appendCreationDate` yet, which will be changed in the next release.

[2022-03-31 09:33] mimmori commented on #298
Actually I think it is useful to add the possibility to further order the tasks with the same priority  (ex alphabetic).
It would be really useful for me to have an extra parameter in the sorting options in the view panel. This way you can use a prefix code to sort the list.

[2022-04-03 14:28] andrei-a-papou opened #355 "The hidden auto-update setting doesn't seem to work"
**To Reproduce**
Install sleek 1.1.6, add `"autoUpdate":false` to `~/.config/sleek/user-preferences.json`. Sleek will download v1.1.7 then remove the 1.1.6 AppImage.

**Expected behavior**
Auto-update should be skipped (perhaps notify the user of new version, but not download or install it).

**Desktop**
 - OS: Debian 11.3
 - Version of sleek: sleek-1.1.6 and sleek-1.1.7
 - Source: Github, (AppIma

[2022-04-03 14:30] andrei-a-papou commented on #355
Write now I'm working around this by setting the immutable attr to the AppImage file.

[2022-04-03 14:34] andrei-a-papou opened #356 "Priority shortcuts stopped working with an upgrade to 1.1.7"
The Alt-arrow shortcuts to set item priority stopped working. This is on Debian 11.3, sleek v1.1.7 (AppImage, form GitHub).

These shortcuts work fine in v1.1.6. Downgraded for now.

[2022-04-04 09:18] ransome1 commented on #319
Hi @serpro69 . Can I assume you're on Gnome 40?

[2022-04-04 09:46] serpro69 commented on #319
Hi @ransome1 ,

Gnome version is 3.36.9

I can see other icons in the tray - keepassxc, discord, slack, to name a few.

[2022-04-04 10:34] kden416 opened #358 "Auto detection of Russian language crashes app on 1st start"
Sleek version 1.1.7 / 1.1.8-rc2 and Microsoft Store version won't start.
Terminal output have error:
`
Persisted data located at: C:\Users\user\AppData\Local\Programs\sleek\user-preferences.json
TypeError: Cannot create property 'functionName' on string 'Error in getTranslations(): TypeError: Cannot read properties of undefined (reading 'translation')'
    at createWindow (C:\Users\user\AppData\Lo

[2022-04-04 10:43] ransome1 commented on #353
@mimmori this should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.3

[2022-04-04 10:44] ransome1 commented on #352
@gentlecolts @Feardt I was able to reproduce it and I think it is fixed now. Can you guys check if this still happens on your side in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.3

[2022-04-04 10:45] ransome1 commented on #354
@mimmori also this should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.3

[2022-04-04 10:52] ransome1 commented on #358
@kden416 thanks for reporting this. I installed it from Windows Store and didn't see any error popping up. Are upgrading from an old version? And if so would mind sharing your preferences file with me? It's located at C:\Users\user\AppData\Local\Programs\sleek\user-preferences.json and you can either post it here or send it to ransome [at ] duck dot com.

Also can you backup this file and then del

[2022-04-04 11:03] kden416 commented on #358
1. user-preferences.json deletion has no effect
2. [v1.1.8-rc.3](https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.3) started, but blank window with controls.

user-preferences.json:
`{
  "width": 1100,
  "height": 700,
  "horizontal": 160,
  "vertical": 240,
  "maximizeWindow": false,
  "darkmode": true,
  "notifications": true,
  "useTextarea": false,
  "compactView": false,
  "matomoEven

[2022-04-04 11:08] ransome1 commented on #358
@kden416 what language did you set in Windows itself?

[2022-04-04 11:09] kden416 commented on #358
@ransome1 my language is russian

[2022-04-04 11:11] ransome1 commented on #358
That's odd. Let's see if I can reproduce this somehow.

[2022-04-04 11:34] ransome1 commented on #358
@kden416 are you experiencing the same issues when you switch your language to english?

[2022-04-04 11:48] kden416 commented on #358
@ransome1 apparently, problem with system language. If I set english as system language, all works fine with **1.1.7 and 1.1.8-rc2** versions.

[2022-04-04 12:25] ransome1 commented on #358
I think the problem is that the auto detection of the russian language doesn't work and that the default fallback (english) for some reason is not being set. But this I think I can fix somehow. I will add this to the backlog, thanks for reporting this.

As a temporary workaround you can do what you already did: Start sleek with your Windows set to english (like this sleek will detect the english l

[2022-04-04 12:27] kden416 commented on #358
Thank you for this amazing app!

[2022-04-04 12:27] ransome1 commented on #235
@m-legrand this behavior should not occur anymore in https://github.com/ransome1/sleek/releases/tag/v1.1.7

Can I ask you to give it a try?

[2022-04-04 14:13] gentlecolts commented on #352
It looks like that did it for me, thanks!

[2022-04-04 14:37] #294 closed

[2022-04-04 20:28] ransome1 commented on #340
@shbach this can be tested in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.4

[2022-04-04 20:34] ransome1 commented on #355
The `autoUpdate` option will be disabled per default in future releases. Instead AppImage and MacOS builds will have a dedicated options in settings. It's already included in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.4 but cannot be tested yet, as pre-releases are excluded from the auto update function.

[2022-04-04 21:47] andrei-a-papou commented on #355
thanks for the info, I'll be happy to test the 1.1.8 release once it's available!

[2022-04-05 06:15] mimmori commented on #354
confirmed. thanks

[2022-04-05 06:15] #354 closed

[2022-04-05 06:16] mimmori commented on #353
confirmed. Thanks

[2022-04-05 06:16] #353 closed

[2022-04-05 07:53] jokuNimi opened #359 "Sleek fails to open with error `GetVSyncParametersIfAvailable() failed for 1 times!`"
**Is it an actual bug?**
Yes. No features are usable.

**Did you check if the bug has already been reported?**
Yes, I tried

**Describe the bug**
After launching sleek, I get errors in terminal:
[code]
and just a white screen where sleek should be (see screenshots section)

**To Reproduce**
I'm not sure how. The problem appeared suddenly, yesterday if I remember correctly. It doesn't seem to be re

[2022-04-05 07:57] ransome1 commented on #359
@jokuNimi thanks for reporting this. Before I look into it, could you please check if the AppImage of the latest pre release produces the same behavior on your system?

https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.4

[2022-04-05 08:10] jokuNimi commented on #359
I checked: AppImages `1.1.8-rc.4`, `1.1.7` and `1.1.6` work correctly, meaning they don't produce the same behavior.

I now also tried reinstalling sleek from AUR; that didn't help.

[2022-04-05 09:25] ransome1 commented on #359
@jokuNimi I'm seeing the `GetVSyncParametersIfAvailable() failed for 1 times!` error on my Arch too, but sleek installed from aur works fine. So I don't think this is the problem.

Let's start with excluding issues with the preferences file. It's located in your home folder: `/home/USERNAME/.config/sleek/user-preferences.json`.

Could you please backup that file and then delete the original one? L

[2022-04-05 09:54] jokuNimi commented on #359
@ransome1 I backed up and then deleted `user-preferences.json`, and it didn't fix the issue.

An idea: the error `[11770:0405/124931.800272:ERROR:sandbox_linux.cc(377)] InitializeSandbox() called with multiple threads in process gpu-process.` makes me think this might be related to recent issues of electron apps not working without the option `--no-sandbox` (I tried the option, and it didn't help,

[2022-04-05 11:36] jokuNimi commented on #359
I checked the terminal output when running from appimage version 1.1.7 (which doesn't have the issue):
[code]
So the `libva` and `InitializeSandox()` errors don't seem to be relevant.

[2022-04-05 12:23] ransome1 commented on #356
@andrei-a-papou you're right. And right now I'm working on this. To make it more generic for all plattforms the priority shortcuts will change slightly. In future releases you will have to press Alt + Meta (Windows or Command key) and then the priority shortcut.

Shortcuts are always a bit tricky. Can you support me testing them once I push the next pre release?

[2022-04-05 12:51] ransome1 commented on #356
@andrei-a-papou can be tested in https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.5

[2022-04-05 12:52] ransome1 commented on #340
@shbach More fine tuning has been done in: https://github.com/ransome1/sleek/releases/tag/v1.1.8-rc.5

[2022-04-05 12:54] ransome1 commented on #359
@jokuNimi and you say the app just shows a blank screen or is there anything to see? Do you at least see the top menu which gives you the `About` option? If so you can enable the developer tools in there and hopefully will find some error in the console, that points us to the right direction.

[2022-04-05 13:43] ransome1 commented on #359
What happens when you press the Alt/Option key? Does the menu show up then?

[2022-04-05 13:46] jokuNimi commented on #359
I see nothing happening when pressing alt, ctrl, shift, right clicks and left clicks in various combinations.

[2022-04-05 20:45] Feardt commented on #352
Worked for me too- thank you for fixing this!

[2022-04-06 15:54] ransome1 commented on #359
@jokuNimi it will probably not solve the issue, but could you please try to uninstall and install sleek again? It has been bumped to v1.1.8 and hopefully this either works or gives us more detail on what is happening on your side.

[2022-04-06 22:38] wedeluxe commented on #359
OS: Arch Linux

I ran into the very same issue a couple of days ago.
Until then, sleek 1.1.7 worked like a charm.
After upgrading a couple of other packages, sleek 1.1.7 failed with a white/blank screen.

Package manager shows that sleek depends on the electron and nodejs system packages.
Amongst the package upgrades mentioned above:

electron 17.2.0-1 -> 18.0.1-1

This might be the culprit.

[2022-04-06 22:39] wedeluxe commented on #359
Forgot to mention:
sleek 1.1.8 fails in the same way. Shows a blank/white screen.

[2022-04-06 23:59] Bumpyride opened #360 "Link to and open local files by recognising system file protocols"
**Did you check if a similar feature request has already been reported?**
I did check and relevant comments/comparisons are included below

**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Sleek already supports the `HTTP/HTTPS` and `sendto:` protocols automatically, so that including a URL string or an email address

[2022-04-07 00:09] mshuflin opened #361 "Dark theme text unreadable"
**Is it an actual bug?**
Yes
**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
The text is unreadable in dark mode when adding a new task. It is dark grey, nearly black.

**To Reproduce**

1. turn on dark mode
2. press N to start adding a new task

**Expected behavior**
The text should be white

**Screenshots**
<img width="796" alt="Screen Shot 2022-04-07 at 8 03 41

[2022-04-07 03:54] shbach commented on #340
@ransome1 Just tested it and it works! Only thing is that it requires me to restart the app. Ideally, it will change between dark/light without requiring a restart of the app. I have my system set up to change between light and dark depending on the time of day.

[2022-04-07 04:29] ransome1 commented on #340
A restart is not required for this to change. What OS are you on?

[2022-04-07 04:44] jokuNimi commented on #359
@ransome1 Uninstalled and reinstalled, didn't help.

@wedeluxe Thank you! You got it! I downgraded to electron 17.2.0-1 and rebooted, and sleek worked as it should.  The upgraded back to 18.0.1-1 and get a blank screen again.

FYI there's a package called electron17 on my system, maybe using that would be a low-effort fix?

[2022-04-07 07:20] mimmori opened #362 "Unable to complete a scheduled and recurring task"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
It is impossible to complete a scheduled and recurring task.

Clicking on the checkbox does not give any answer.
Opening the edit todo and trying to mark as done apparently does not change anything.

![task1](https://user-images.githubusercontent.com/2305819/162140680-7f719af9-22c6-4b2f-

[2022-04-07 08:33] ransome1 commented on #362
@mimmori thanks for reporting it, can you check 1.1.9 if it has been solved?

https://github.com/ransome1/sleek/releases/tag/v1.1.9

[2022-04-07 08:34] ransome1 commented on #361
@mshuflin could you please take a look at https://github.com/ransome1/sleek/releases/tag/v1.1.9 if this fixes it for you?

Thanks for reporting it.

[2022-04-07 09:00] mimmori commented on #362
super fast... fixed!

[2022-04-07 12:03] mshuflin commented on #361
@ransome1 It is working as expected now. Thanks for fixing that!

[2022-04-07 12:04] mshuflin commented on #340
@shbach on MacOS it updates immediately, no restart required

[2022-04-07 12:37] ransome1 commented on #340
@shbach @mshuflin I also checked my Windows 11 VM and it works. So this might be a Linux issue, I'm going to check XFCE and Gnome later today.

[2022-04-07 14:26] #361 closed

[2022-04-07 14:27] #352 closed

[2022-04-07 14:41] shbach commented on #340
Yeah I'm on Linux (Gnome).

[2022-04-07 15:03] ransome1 commented on #340
@shbach mmhh I can't really confirm this. I'm on Gnome 40 (Arch Linux) and if I select Dark or Light in sleeks settings, it just switches the color theme.

Can you provide more details on what exactly you're doing? Are you just using the options in sleek or have you set the new theme selection to auto and then try to change something in the OS settings?

[2022-04-07 16:28] shbach commented on #340
@ransome1 I have sleek set to auto. When I change the system theme from light to dark or vice versa I want sleek to update its theme accordingly without having to restart the app.

[2022-04-08 00:46] Bumpyride commented on #356
@ransome1  Just tested this with the latest v1.1.9 on Win10. It works but not quite as intended.
The new shortcut `WIN`+`ALT`+`DOWN` does open the priority list and the selection with `UP` or `DOWN` works.
Shortcuts `LEFT` or `RIGHT` to remove priority also work. But...

- Opening the priority list with the shortcut and `DOWN` also inserts a due date, which happens to be 1 day in the past.
- Openi

[2022-04-08 00:51] Bumpyride commented on #362
I had the same problem with v1.1.8 and can confirm that v1.1.9 fixed this issue. Thanks!

[2022-04-08 01:51] Bumpyride opened #363 "Restoring completed task does not restore priority"
**Did you check if the bug has already been reported?** I did...

**Describe the bug**
Marking a prioritised task as completed will remove the task from the active list in that prioritiy's group and convert the priority into a `pri:` control. With completed tasks set to visible, unmarking the task will restore it but without priority. The pri: control remains in the task text.

**To Reproduce**
1.

[2022-04-08 02:18] Bumpyride opened #364 "Enable keyboard navigation in tasklist even with filter side panel open"
**Did you check if a similar feature request has already been reported?** Found nothing related

**Is your feature request related to a problem? Please describe.**
Open filter panel forces use of mouse in task list and slows down navigation
At present, the side panels take over the focus and up/down navigation in the tasklist is suspended.

**Describe the solution you'd like**
Keyboard shortcuts t

[2022-04-08 07:40] andrei-a-papou commented on #356
@Bumpyride beat me to it, I can confirm everything above on Debian 11.3 (except the Windows calendar shortcut conflict, of course).

I will add that for me personally pressing Super + Alt + A for top priority seems very inconvenient ;( Alt + A can bit done with one hand by placing your thumb on the Alt key and hitting A with the ring finger. For Super + Alt + A you have to put the little finger on

[2022-04-08 07:42] andrei-a-papou commented on #355
@ransome1 Seems to be working in latest releases, thank you!

[2022-04-08 07:42] #355 closed

[2022-04-08 07:43] andrei-a-papou commented on #363
Same here, sleek 1.1.6 and upwards, Debian 11.3

[2022-04-08 20:36] func0der opened #365 "WebDav support"
**Did you check if a similar feature request has already been reported?**
Yes

**Is your feature request related to a problem? Please describe.**
Kinda.
I am trying to sync a todo list via a Nextcloud sync which is mounted via WebDAV in linux.
If I try to open the todo.txt from the aforementioned WebDav mount it does not show the mount in the file chooser.
Since that does not work, I have to copy

[2022-04-09 05:44] ransome1 commented on #365
@func0der thanks for suggesting it. I havn't read into it deeply to be honest, but I think this problem is connected to Flatpaks sandbox concept: https://docs.flatpak.org/en/latest/sandbox-permissions.html

Can you try to mount Nextcloud in your home directory and without sudo? Maybe this already solves the issue, because the home directory is whitelisted by the Flatpak sandbox.

Also can you try

[2022-04-09 05:51] ransome1 commented on #340
@shbach how exactly do you switch the system theme in Gnome?

[2022-04-09 16:37] shbach commented on #340
@ransome1 It depends on what version of Gnome you are on. If Gnome 42 you can use [the built-in setting](https://blogs.gnome.org/alexm/2021/10/04/dark-style-preference/
) under appearance. If on an earier version of Gnome you can install Gnome Tweaks and manually change it. Or you can use the [night theme switcher extension](https://gitlab.com/rmnvgr/nightthemeswitcher-gnome-shell-extension) to au

[2022-04-10 20:29] MeneDev opened #366 "Cannot quit on macOS"
**Describe the bug**
When I press quit though any way (menu, cmd+q, right click on dock) only the window closes. I always have to force quite the application, e.g. when shutting down the system.

**To Reproduce**
1. Open application
2. Try to quit application

**Do you see any error entries in sleeks developer tools?**
No

**Expected behavior**
Application should quit

**Screenshots**

**Desktop (

[2022-04-11 07:31] ransome1 commented on #366
@MeneDev thanks for reporting this. When this happens, is sleek responsive and do you see a menu item named `Quit`? I just double checked the brew installation and cannot reporoduce this. Command and Q closes sleek on my side.

[2022-04-11 10:09] MeneDev commented on #366
Yes, sleek is responsive and still the focussed application (if that's how it's called on macOS; I can still see the sleek menu on the top of the screen)
I looked a bit further and it is the "Minimize to tray bar" option. When this is enabled, quitting will only close the window, not quit the application. I've disabled this now and that fixes it for me. (i.e. my system shuts down when I tell it to

[2022-04-11 10:38] ransome1 commented on #366
Generally asking, what is the expected behavior of a MacOS app that is being put in tray mode? Is there suppose to be a dock icon and a menu bar?

[2022-04-11 10:43] ransome1 commented on #364
@Bumpyride I enabled the arrow up and down keys while the drawer is open. For navigation within the drawer you can use (Shift) Tab und Arrow left and right. Please feel free to give it proper testing: https://github.com/ransome1/sleek/releases/tag/v1.2.0-rc.1

[2022-04-11 10:45] ransome1 commented on #363
@Bumpyride @andrei-a-papou this is not a bug, it's a non standard todo.txt feature that hasn't been implemented yet. It is part of this pre release though: https://github.com/ransome1/sleek/releases/tag/v1.2.0-rc.1

Give it some testing if you find the time.

[2022-04-11 10:50] ransome1 commented on #298
@mimmori you can use contexts or projects that contain prefixes. Both are sorted alphanumerically. For instance I use a context named "00_asap" and have contexts on my second sorting level. Like this I group my todos according to their priority and push the most urgent ones up by assigning the prefixed context.

I'm not a fan of tons of switches and options, it messes up the UX in general.

[2022-04-11 10:52] #235 closed

[2022-04-11 12:31] aubreyz commented on #311
This problem is still there. No filters starting with t work

[2022-04-11 12:33] aubreyz commented on #234
+20?

[2022-04-11 15:51] zerodat commented on #311
Hi, sorry that this ball was dropped.  Here's the explanation: If you look back in the thread to my post from Dec 22, there are a couple of options that were preferred.  @ransome1 you preferred option 3 (adding the colon) and @Saturo78 preferred option 2 (which is really what I prefer as well because it solves a variety of problems).  I have implemented both of these and I can send you a pull requ

[2022-04-12 14:58] mazimmer commented on #366
if it's in "tray mode" then there's supposed to be no dock icon on macOS - it's then a "menu bar item". When it shows its window, however, there are  examples of apps showing a menu bar and others that don't; depending on the usage. In case of sleek, I'd expect a menu bar whenever the window is visible.

[2022-04-12 15:04] mazimmer opened #367 "Short cut for "new todo" is Ctrl-N instead of Cmd-N on macOS"
**Description**
On macOS, when typing "Cmd-N", nothing happens. "Ctrl-N" produces the "new todo" window.

**To Reproduce**
See description.

**Do you see any error entries in sleeks developer tools?**
No errors - Cmd-N is ignored

**Expected behavior**
Cmd-N opens the "new todo" modal.

**Desktop (please complete the following information):**
 - OS: macOS 10.15 and 11
 - any version of sleek so fa

[2022-04-12 15:21] ransome1 commented on #367
@mazimmer the actual shortcut for opening the new todo window is just `N`. So technically it's a bug that `Ctrl + N` opens the window ;)

[2022-04-12 17:05] mazimmer commented on #366
no,

No, I meant to write "I'd expect the menu to show whenever the window is visible", see attached image.
![Screenshot 2022-04-12 at 19 03 23](https://user-images.githubusercontent.com/4983700/163016135-cc30e734-a2c6-4f1f-b732-09507ee27cca.png)

Optionally, the icon could also show in the dock as long as the windows is visible, but both should be hidden when the window is hidden.

[2022-04-12 19:32] ransome1 commented on #366
@mazimmer @MeneDev could you please check if the tray behavior is now working as expected on MacOS? https://github.com/ransome1/sleek/releases/tag/v1.2.0-rc.3

[2022-04-12 19:43] GabrielMPhi commented on #363
Good to know. I was expecting it to restore as is, but it's good to know that it's not a bug. Thanks. Still, It would be a good enhancement.

[2022-04-12 20:39] andrei-a-papou commented on #356
@ransome1 Absolutely! And I believe you're doing a very good job usability-wise in general. Which shortcuts are a big part of.

Because of the issue @Bumpyride described above, I have to stick to 1.1.6 for now.

But you're right, shortcuts can be tricky in JS and across platforms, so I'm more than willing to help test things under Linux in future releases.

[2022-04-13 06:58] mazimmer commented on #366
@ransome1, closing the window makes the dock icon disappear, clicking the menu bar icon shows the window, dock icon and menu bar; so good for me

[2022-04-13 16:10] Bumpyride commented on #363
@ransome1 @andrei-a-papou I finally managed to get around to test with v1.2.0-rc1

Heads up - this issue is **RESOLVED**!

I tried with several combinations and everything works as intended. Surprise bonus - restoring recurring tasks works, too. I thought that would have to be a separate enhancement request, due to the additional complexity.

[2022-04-13 16:59] Bumpyride commented on #364
@ransome1 I tried it out and it works, sort-off.

While in the task list, and with the filters panel closed, pressing `CTRL`+`B` will open the panel and TAB and SHIFT+TAB, as well as Left and Right Arrow navigation works as expected, although a bit awkward when there are many Project and Context elements and one has to traverse through each one. The panel is now open and `UP` or `DOWN` will immedi

[2022-04-13 17:04] Bumpyride commented on #356
Feedback based on v1.2.0-rc1: No change. Just FYI since I am logged in anyway...

[2022-04-13 19:17] func0der commented on #365
@ransome1 I thought so, too, but "[Ungoogled Chromium](https://github.com/Eloston/ungoogled-chromium)" works just fine as a Flatpak.
I can see the webdav share when I navigate to "other locations".
The AppImage seems to work, too.

[2022-04-13 20:49] khuongduybui commented on #201
Also I'm using Markdown so my `todo.md` should be archived into `done.md`. My TODO is inside Obsidian so having everything in Markdown makes the most sense.

[2022-04-14 07:48] amariusz opened #368 "Sort by: Threshold date"
**Did you check if a similar feature request has already been reported?**
I've suggested it few months ago in comment:
https://github.com/ransome1/sleek/issues/193#issuecomment-878349150
That issue is now closed.

**Is your feature request related to a problem? Please describe.**
I'd like to be able to order tasks by their availablity date. For example imagine there are some tasks which became ava

[2022-04-14 10:03] aubreyz commented on #368
+1

[2022-04-15 18:03] MeneDev commented on #366
Also works for me!

[2022-04-17 09:10] jcz1 opened #369 "Sort by name / text without tags"
Hello.

I think there is no way to sort by name (text without tags) of todo record. Is it possible to add it?

P.S. Thanks for sleek, great sw :-)

![sleek-sort](https://user-images.githubusercontent.com/10832330/163708135-630cbc1b-43a4-4285-975f-2b9df4e11e6c.png)

[2022-04-19 09:44] andrei-a-papou commented on #363
Works for me as well, thanks, @ransome1!

[2022-04-20 14:45] aleksfadini commented on #359
Having the same issue on arch linux. Downgrading electron works, but it's not a workaround that is sustainable for me, sadly

[2022-04-20 15:51] thewholelifetolearn opened #370 "Position of context and project tags should be respected in file"
**Describe the bug**
When project tags and/or context tags are used in the task, they appear in Sleek at the end of the line but also in the saved file

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new task with context and project tags in the text
2. Valid the form
3. Open the todo file in a text editor (for example Notepad++)
4. The input isn't respected in the file. The tags ar

[2022-04-20 16:26] ransome1 commented on #370
@thewholelifetolearn thanks for pointing it out. Unfortunately there is nothing we can do at this moment, as the parsing is done by a library, which doesn't respect the arrangements in the file. There is an issue here and also in the respective library: https://github.com/ransome1/sleek/issues/68

[2022-04-21 05:42] thewholelifetolearn commented on #370
There is indeed already an issue in Sleek regarding the position in the display. My issue is about the position in the file. Sleek is a tool mostly to display the content of the file. It should not alter the content. In this case, the content of the file is not what I have submitted. That means that even if I use an other tool on the same or other platform, the display will stay incorrect.
In my o

[2022-04-21 05:48] mimmori commented on #369
+1

[2022-04-21 11:36] aubreyz commented on #370
Seems identical to other issue referred to. However I agree that sleek actually changing entries to shift text would be a disaster. It would turn natural text entries from other software or text editor to gobbledegook.
Ask @george about @peter gift
Is destroyed in meaning

[2022-04-24 17:47] YMan84 commented on #359
I'm having the same issue as well on my system with Arch Linux, with Electron 18.0.3-2

[2022-04-26 11:36] peterm02019 commented on #56
Thanks for the great work on sleek so far. It is looking and feeling really good!

I'd like to add my vote for this feature too. It would be incredibly useful for moving (for example) all the weekend todos I did not manage to complete this weekend straight to next weekend by selecting them all and then changing all their dates at once. There may be 10 or more items, depending on how successfully t

[2022-04-26 11:55] chaotika commented on #346
Related: I made a PR that handles UUID tags: #371

[2022-05-03 14:35] gentlecolts commented on #359
Same issue, Manjaro, haven't been able to use sleek for a while.  Not sure how much it matters, but when run from terminal, my log terminates sooner than the original poster's:

[code]

[2022-05-06 14:42] skamansam opened #372 "Cannot build on linux. No build target: `build:linux`"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Teh documentaion says to use `build:linux` on linux, but there is no such script listed in the `packages.json` file.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the README and scroll to the section "Build sleek from source code"
2. Clone the repo and follow instructions in

[2022-05-09 08:38] nutnutwin commented on #161
@ransome1

due to limited time I only tested Stable Releases
It seems the degression happened between 1.1.6〜1.1.7
2022, March

[code]

[2022-05-10 07:56] comicsserg opened #373 "User interface not working in Windows 21h2"
**To Reproduce**
1. Install the app from Microsoft Store on windows 21h2
2. Start the app
3. Only side buttons are visible but not working
4. Unable to create or use the app
5. trying hotkeys also not working

Open Developer mode with Ctrl + Shift + I
The only error visible there in the Console is:
Uncaught (in promise) Error: Error invoking remote method 'userData': No handler registered for 'use

[2022-05-10 08:06] comicsserg commented on #373
Just did a small test: removed the 1.1.9 and installed version 1.1.4. And version 1.1.4 is working on the same computer

[2022-05-12 11:51] mimmori commented on #360
+1

[2022-05-12 11:51] mimmori commented on #338
+1

[2022-05-12 12:04] theandrewist opened #374 "Sleek prevents macOS from shutting down"
**Description**

When attempting to shutdown the computer, Sleek interferes and prevents shutdown until I manually quit Sleek.

**To reproduce**

1. Open Sleek on macOS
2. Minimize Sleek to the menu bar
3. Click Shutdown from the Apple menu

**Observed behavior**

1. All other applications shutdown
2. Sleek remains in taskbar and prevents shutdown

**About**

- Sleek 1.1.9
- MacOS 12.3.1 Monterey

[2022-05-12 12:08] theandrewist commented on #374
This is possibly related to [Issue #366](https://github.com/ransome1/sleek/issues/366)

[2022-05-12 12:16] theandrewist commented on #374
Just read 336 properly and noticed that this is a duplicate. You can close this.

[2022-05-12 22:31] nutnutwin opened #375 "Sleek Repeat From Due"
Is it possible to repeat(Recurrence ) from Due Date, rather than Compelete Date?

*If your proposal is more a rough idea than a precise description of a feature, please consider starting a discussion instead: Currently it is possible to have recurrent task from complete date
for example if I set due date to 0509(recurrence by day), and compelete on 0510, the next date would be 0511

**Did you chec