[2022-05-13 04:24] zerodat commented on #375
Yes, I think what you want is the "strict" recurrence "rec:+1d" which will make the next due date be computed relative to the previous due date, not the completion date.  See [Recurring todos (rec:) · ransome1/sleek Wiki](https://github.com/ransome1/sleek/wiki/Recurring-todos-(rec:)) for more explanation.

[2022-05-14 00:39] ChongChengAC commented on #359
I had the some question in Manjaro after updating electron to 18.0.1 weeks ago. And i find that the question can be fixed by updating electron from to 18.2.1.

[2022-05-14 07:54] nutnutwin commented on #375
@zerodat
Hi, thank you for your reply.
I tried and yes it worked.
only problem: Recurring from Completeion(Default) and Strict Mode Cannot be told from GUI without clicking on the task
a small problem though

Thank you so much!

[2022-05-14 07:54] #375 closed

[2022-05-15 21:58] nutnutwin commented on #99
Allow me to pile on this idea
Hash would be great,
and hash for part of the project name would be appreciated too

for example

both use ｢Work_｣ to generate hash, thus have same color

While

Would be using different color

Thank you

[2022-05-16 12:06] vlipiainen commented on #359
I can confirm that the bug is gone on my Arch Linux, using electron version 18.2.1-1. I used sleek from the AppImage for a while, so I'm not sure which exact upgrade fixed it.

[2022-05-23 10:01] DmDrMos commented on #373
The same situation in the Windows 11 21H2 with downloaded distributive from Microsoft Store.

[2022-05-29 06:23] dragos240 commented on #87
I really like this program. It would be nice to extend the `due:` syntax to support time as well. Look at the ISO format: `YYYY-MM-DDTHH:mm`. You could use that kind of syntax for this with either just a time (by searching for the lack of dashes), a date (without colons) or both (searching for `T` in the string)

[2022-05-29 12:07] thgie opened #377 "Sleek not showing todo.txt if it was safed in some other applications such as TextEdit on macOS"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
When saving a once loaded todo.txt, with or without changes, in an external application, such as TextEdit or Swiftodo (iOS), sleek will not display the file anymore. Instead, the start-screen is shown. When attempting to open the todo.txt again, it is shown as selected.

**To Reproduce**

[2022-05-30 11:33] dragos240 opened #378 "Sleek says it archives to done.txt, but actually archives to todo_done.txt"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Sleek says it archives to `done.txt`, but actually archives to `todo_done.txt`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task
2. Complete the task
3. Archive the task, it will say it will write the task in `done.txt`
4. See that it in fact writes to `todo_done.txt`

[2022-05-30 17:15] bluebirch commented on #87
Unfortunately, that would break compatibility with other todo.txt apps that also use the `due:` field. I don't know of any other todo.txt apps that use this, so perhaps the best way is to add a Sleek-specific `time:` field or something similar?

[2022-06-03 10:42] page200 opened #380 "Always show context and project selectors in the "new todo" dialog"
Please always show context and project selectors in the "new todo" dialog. Currently they are shown only after the user starts typing `@` or `+`.

If the respective Context or Project is not yet assigned to this todo, clicking on the selector could insert the corresponding tag where the cursor is (or at the end). If the Context or Project is already assigned to this todo, its selector in the "new

[2022-06-03 10:45] page200 opened #381 "Drag&drop between Filter pane and todos"
Please allow the user to drag&drop Context and Projects from the Filter pane onto todos in order to assign Context and Projects to todos. Similarly, allow the user to drag&drop todos from the list onto Context and Projects in the Filter pane in order to assign todos to Context and Projects. Thanks!

[2022-06-03 11:01] page200 opened #382 "Make selecting in-use priorities easier in the "new todo" dialog"
In the "new todo" dialog, list all the Priorities that are currently in use (next to each other, like in the Filter pane) so that the user can assign them to the new todo by clicking on the Priorities.

For Priorities that are not in use, make a button/drop-down menu "New priority class" or "Other" or so, which opens the drop-down menu that lists all Priorities that are not yet in use; or a button

[2022-06-03 11:05] page200 opened #383 "Drag&drop to reorder and re-prioritize todos"
Please allow drag&drop to reorder todos. They can be reordered within their priority class (affecting the order in which they are listed). Dragging them into a different priority class can assign them to that priority class (and that respective position in the priority class).

[2022-06-03 11:07] page200 opened #384 "Marking a todo as done and then not done loses its Priority assignment"
When a todo is marked as done and then not done, it should be assigned the priority it had earlier. Currently, no priority is assigned.

[2022-06-03 11:09] page200 commented on #384
See #363

[2022-06-03 11:09] #384 closed

[2022-06-03 15:07] page200 commented on #383
The current sorting method seems to be based on Contexts and Projects.

Since every todo can be assigned any subset of Contexts and Projects (i.e. there is an exponential number 2ᴺ of possibilities for each todo), a sorting method based on Contexts and Projects cannot treat Contexts and Projects in a fair manner and in general cannot create logical orders (for example orders where all tasks from e

[2022-06-03 15:55] lindoman commented on #383
I totally agree with this. I would also welcome keyboard shortcuts for the feature.

[2022-06-03 17:53] page200 commented on #383
Then there can be a very nice way to add a new todo:

- Hover the mouse cursor roughly on the horizontal line between two rows of the todo list.
- The horizonal line becomes thicker and gets a different color, indicating that you can click on it.
- Click on it.
- The "new todo" dialog appears.

[2022-06-05 07:16] jiggie42 commented on #356
I'm a new user, and keyboard shortcuts are certainly a thing that attracted me.  I came here to report this issue..because I did not scroll down the Shortcut page to see that it is indeed listed correctly there!

I would also agree with the original poster, requiring TWO modifier keys is certainly less convenient than one, but I understand they're tricky.  I haven't used it enough to feel as stron

[2022-06-06 05:52] abo629 opened #385 "Drag & Drop E-Mail message does not show correct link"
<img width="459" alt="grafik" src="https://user-images.githubusercontent.com/106948261/172102969-c6ce9b6f-dad0-407b-8896-8a198925f99c.png">

[2022-06-06 15:57] metawindow commented on #372
+1 Ditto on Ubuntu 22.04 LTS, not surprisingly since there really is no build:linux script. Also, for anyone who barely touches nodejs, it would be nice if the readme mentioned the "yarn install --devDependencies" step.

[2022-06-07 02:41] mshuflin commented on #360
+1 for this. Another example is Joplin, which uses this syntax joplin://x-callback-url/openNote?id=x1234567a

[2022-06-07 06:02] ransome1 commented on #372
You're right. At some point the script had been removed from the package.json. I will include the necessary scrips with the next push.

As a workaround please add the script manually in the script section
`"build:linux": "yarn build:css && yarn build:pegjs && electron-builder -l --publish never",`

Or check this commit for reference: https://github.com/ransome1/sleek/blob/bb98fa6ec8a343270f7aef86b

[2022-06-07 06:03] ransome1 commented on #378
@dragos240 In fact it archives to `NAMEOFYOURTODOFILE`_done.txt, so I will need to add some dynamic wording here. Thanks for pointing it out.

[2022-06-07 06:15] ransome1 commented on #166
@zerodat Hi, is there anyway I can get in touch with you by mail or Signal?

[2022-06-07 14:44] zerodat commented on #166
Certainly.  This is Robin, correct?  If you send me your email address, I
will reply from my Gmail address.

On Mon, Jun 6, 2022, 11:15 PM ransome ***@***.***> wrote:

[2022-06-07 18:47] thgie commented on #377
I reinstalled sleek and the problem can't be reproduced

[2022-06-07 18:47] #377 closed

[2022-06-08 16:05] stianmandarin opened #386 "Vim key navigation"
**Did you check if a similar feature request has already been reported?**
There's an old, closed issue where one ( a single) user mentions vim keybindings in-between a ton of other comments not related to this.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Vim uses hjkl for navigation:
h = back
j = down
k = up
l = forward

It's current

[2022-06-10 08:28] ransome1 commented on #385
Hi @abo629. Generally thanks for your input, but I think this is nothing I would actually regard a bug report. Feel free to create a proper one, otherwise I'm going to close here.

[2022-06-12 13:41] amigo421 opened #387 "Support for Markdown-style URL syntax (automated)"
The great feature: markdown-style URL syntax allows store a bookmarks .
thanks a lot for this!

this is a suggestion to slightly automate such bookmarks storing (potential scenario):
- as usual: insert some (valid) URL (fake address) "https://mypage.com" into todo item and save this
- improvement: sleek (on save event, in background process) try to auto-retrieve webpage title (e.g. "My page title"

[2022-06-12 14:15] page200 commented on #383
Actually, the "new todo" or "edit todo" dialog, instead of being a dialog in the middle of the screen, can be in-place in between two existing todos.
Click on the line between two todos, and that line turns into a "new todo" form (all todos below it slide down).
Click on an existing todo, and it turns into an "edit todo" form (same form as the "new todo" form, but filled in with the properties of

[2022-06-14 06:43] ransome1 commented on #387
@amigo421 I like the idea. The only obstacle could be very long titles. Often those are cluttered with waste or attempts to manipulate search engines. Do you have any idea how to deal with that?

[2022-06-14 07:04] ransome1 commented on #372
The scripts have been readded to `package.json` and can be used as stated in the readme file: https://github.com/ransome1/sleek/tree/master

[2022-06-14 07:04] #372 closed

[2022-06-14 11:51] ChongChengAC opened #389 "Uncaught Exception TypeError when opening from the tray and minimizing"
**Describe the bug**
When I open it from the tray, I get the error `Cannot read properties of undefined (reading 'show')`, and the window contents won't load until I click OK. After clicking OK, the window content can be displayed normally.

When I use the close button to minimize the window, I get the error `Cannot read properties of undefined (reading 'hide')`. Minimizing the window with the min

[2022-06-15 08:42] amigo421 commented on #387
@ransome1 tried to use this.
- retrieval works in most cases. sometimes , the title is not extracted from parameterized urls, but this is not a big problem. I'll try to collect a few ones later to check
- about the functionality: I mean a little bit other. You extracted the title and show this in todo list view, but editing mode still contains plain url. I mean real replacement from  url to markdo

[2022-06-15 12:29] ransome1 commented on #387
Let me see what I can do about the markdown conversion.

Another concern with this I can think of, can be users not wanting or expecting sleek to alter their inputs. So maybe it might be a good idea to disable it by default.

[2022-06-16 23:43] 275ysys opened #390 "Added alarm clock function"
I have a suggestion:
Added alarm clock function like App ”Goforit“.

[2022-06-20 02:02] mashkioya commented on #369
+1

[2022-06-23 13:37] TriggerDingus opened #391 "Cannot open ToDo.txt on USB drive, cannot create ToDo.txt on USB drive"
I did a search and don't find this bug as being reported yet.
I have all of my data on a USB drive so I can easily switch between computers. The problem is when I open Sleek and try to open my ToDo.txt file, there is no way for me to navigate to my USB drive because the "Welcome to Sleek" dialog doesn't see that my USB drive is mounted. For reference, I have attached a screen cap of the Sleek "Ope

[2022-06-23 16:04] ransome1 commented on #391
@TriggerDingus thank you for reporting this, I'll add it to the backlog. As a workaround you can either install it using Snap (here we recently added support for external discs) or use the AppImage. The latter also updates itself.

[2022-06-23 16:53] harshad1 opened #392 "User should be able to specify 'done' file"
A user should be able to select the path to the 'done' file. This will help make sleek compatible with other todo.txt implementations (which often use 'done.txt' etc)

[2022-06-23 16:54] harshad1 commented on #392
Found #201 right after submitting this

[2022-06-23 16:54] #392 closed

[2022-06-23 18:00] stianmandarin commented on #387
This is a really good start! I agree that having the links converted to markdown instead of keeping them as links only would be preferable.

In my head:
1. Convert links to markdown
2. Once converted to markdown, the link is considered processed and Sleek won't fetch the title again
3. Also, it would be great with an option to specify max numbers of chars allowed in title

[2022-06-24 21:43] velardevines commented on #269
Agree with this idea. It provides a quick way to remember where things are on the project.

--Bill

[2022-06-25 08:59] ransome1 commented on #391
@TriggerDingus I just published v1.2.1 on Flathub. Its manifest contains the typical Linux mount points:

[code]

Could you please download 1.2.1 (sometimes it needs a couple of minutes/hours, before it is availbale) and give me a quick feedback if you can now access your drive?

[2022-06-25 09:00] #385 closed

[2022-06-25 13:30] TriggerDingus commented on #391
I checked updates in my Pop_Shop repository and it was already showing up there, so I pulled the download from there. I tested tried creating a new ToDo to my USB drive and also tested opening an existing one on my USB drive - both test cases worked!  Thanks much!

[2022-06-25 14:44] ransome1 commented on #391
Thanks for your feedback.

[2022-06-25 14:44] #391 closed

[2022-06-26 04:43] #366 closed

[2022-06-26 04:45] #363 closed

[2022-06-27 12:24] aurisnoctis commented on #370
Complete disaster. Opened my todo.txt once with sleek and all entries scrambled already. Quite a lot turned from readable into a riddle. :-1:

[2022-06-30 21:04] ransome1 commented on #370
I'll take another look into what we can do about it and put it on the backlog.

[2022-07-01 06:49] ransome1 commented on #387
@amigo421 @stianmandarin unfortunately what appeared as a quick win turned out to be more complex as expected. I was hoping I could use the markdown parser to retrieve website data asynchronously. But it turned out not to be possible at this point. So we need a different approach and as this feature isn't high priority, I needed to parked it temporarily. I'll get back to you, when there is progres

[2022-07-01 07:29] 5TDg9 commented on #389
Same error here on a windows machine...

* OS: win 10
* Version:  sleek 1.2.1
* source: github

Error only appears when "minimize to tray" is activated in settings.

[2022-07-01 07:47] stianmandarin commented on #387
@ransome1 No worries, mate!

[2022-07-01 08:40] DmDrMos opened #393 "Russian translation"
I have done Russian translation of the Sleek. But I don't know how to add translation file into the project on my own action. So, please, use translated interface file from https://drive.google.com/file/d/1k0uVyPMdlhy2x_-lKIOthkSR6BcWFDA1/view?usp=sharing (UTF-8 encoding), attached file  or json structure below. They are identical.

{
  "about": "О программе",
  "addAsTodo": "Создать задачу",
  "a

[2022-07-01 16:10] ransome1 commented on #370
@aubreyz @aurisnoctis @thewholelifetolearn We can approach this step by step.

First we should limit the file writing in order to just edit single lines and not the whole file. But as long as we're using the jsTodoTxt library for parsing, newly added todos or todos, that are edited, will continue being rearranged.

I did some minor changes to the file handling in sleek and created a pre-release. T

[2022-07-02 20:20] aurisnoctis commented on #370
Hi @ransome1 and thanks for the quick test version.

Indeed, the order of words and symbols in the existing lines in the todo.txt are now preserved. New tasks created in sleek are still scrambled directly after saving them to the todo.txt file.

The upper "anna" line was created in the new version of sleek, the lower line was typed with an editor directly into the todo.txt file. The rearrangement

[2022-07-02 20:33] aurisnoctis commented on #209
This problem is there / back in version 1.2.2-rc.2
![Selection_20220702_22:26:51](https://user-images.githubusercontent.com/8195964/177015440-08ce814b-c2e9-491a-aa97-dcab3cf518cc.png)

[2022-07-03 07:55] ransome1 commented on #209
@aurisnoctis thanks for pointing it out. It can be a side effect of the recent work on the file handling in https://github.com/ransome1/sleek/issues/370

[2022-07-03 07:57] ransome1 commented on #370
@aurisnoctis in order for the rest to work, we need to wait until jsTodoTxt has been enhanced unfortunately.

[2022-07-04 15:50] aurisnoctis commented on #370
Ok, for the moment I am back to https://github.com/QTodoTxt/ but will keep an :eye: on you every now and then. Thanks again for your quick response!

[2022-07-08 18:37] 7loro commented on #358
tested on Sleek 1.2.1 on mac os.
~/Library/Application\ Support/sleek/user-preferences.json
In the user preference json, there is `"language": "ko"` which is automatically added by system.

Same error is occurred
[code]

To fix issue as a workaround, change language value in ~/Library/Application\ Support/sleek/user-preferences.json `"language": "en"` . Now It works.

[2022-07-09 08:55] gnbl opened #394 "Cannot acces network location (prepends/defaults to`/home/<user>/`) with 1.2.0 Snap on Ubuntu"
Trying to open a path on a network share `smb://<server>/path/` (or nfs or afp) silently fails and defaults to `/home/user/` even when network shares have been accessed (mounted?) by "Files" (nautilus) previously (nothing shown in the Sidebar or "Other Locations").

Similarly, specifying a todo.txt file path on a share results in a "no such file" error `home/<user>/<protocol>://<server>/<path>/`.

[2022-07-09 08:56] gnbl commented on #394
All Permissions granted (e.g. network access)

[2022-07-09 11:29] lindoman opened #395 "Add option to choose format of "keep priority on completion" for compatability with other todo.txt app"
**Did you check if a similar feature request has already been reported?**
Yes

**Is your feature request related to a problem? Please describe.**
I am trying to use todo.txt on nextcloud, from a PC and from my android phone. The incompatibility of how each app treats "keep priority on completion" is frustrating, and although the guidance of todo.txt itself suggests saving priority on completion as

[2022-07-11 18:06] harshad1 commented on #370
I haven't yet dug through the code and understood how the parser is used in sleek, but in Markor, we just keep the todo item string intact through parsing. Would it be possible to do this in sleek too? i.e. for each line, parse using the js library to extract the contexts, due date etc etc while keeping a copy of the full task string. It isn't a full fix - _changing_ the task will still result in

[2022-07-13 08:50] Giampieroo opened #397 "Irresponsive new install MacOS"
I've installed Sleek via the Mac App Store but the app is irresponsive. None of the buttons does anything and the console log displays:
_Uncaught (in promise) Error: Error invoking remote method 'userData': No handler registered for 'userData'_

![Schermafbeelding 2022-07-13 om 10 43 46](https://user-images.githubusercontent.com/34095470/178691874-2f734303-66fe-4bae-85a6-3f75e76fcaf9.png)

[2022-07-21 07:04] Saturo78 opened #398 "Set due date"
In 1.2.1 there is an issue when changing the due date.

Steps to reproduce:
open a task and change the due date
open another task and open the date picker
The selected due date of the first task is selected in the date picker but not in the task.
When you click on this date nothing happens.
You have to pick another date to change the due date.

[2022-07-24 14:47] rsf20 commented on #368
+1

[2022-07-30 02:03] mshuflin opened #399 "error on return from sleep (The currently selected todo file was not found)"
on Mac OS, when I open the lid and log in, often Sleek gives the following error:
<img width="305" alt="Screen Shot 2022-07-30 at 9 55 00 AM" src="https://user-images.githubusercontent.com/53985056/181866071-e910682c-af24-4982-8fbb-43f7cae2f400.png">
The sidebar has only one icon
<img width="48" alt="Screen Shot 2022-07-30 at 9 55 31 AM" src="https://user-images.githubusercontent.com/53985056/1818

[2022-07-31 14:12] ransome1 commented on #394
Thanks for reporting this. Unfortunately I currently don't have access to my computer and can only start looking into this in October. I'll keep you posted when there is any progress.

[2022-07-31 14:14] ransome1 commented on #395
Thanks for suggesting this. Unfortunately I currently don't have access to my computer and can only start looking into this in October. I'll keep you posted when there is any progress.

[2022-07-31 14:14] ransome1 commented on #397
Thanks for reporting this. Unfortunately I currently don't have access to my computer and can only start looking into this in October. I'll keep you posted when there is any progress.

[2022-07-31 14:14] ransome1 commented on #398
Thanks for reporting this. Unfortunately I currently don't have access to my computer and can only start looking into this in October. I'll keep you posted when there is any progress.

[2022-07-31 17:54] naunan opened #400 "Can't archive (done.txt is not created) on Mac OS"
Sleek Version 1.2.1 (Github prebuilt version)
Mac OS 12.4

Steps to reproduce:
1. Create a task
2. Check task to mark it done
3. Click the "Archive" button on the task
4. Confirm the "All completed todos will be moved from this file to a done.txt file in the same directory" question with "Confirm"

Result:
The question prompt will disappear and no done.txt file will be written.

Expected result:
d

[2022-07-31 19:39] naunan opened #401 "Option to enable/disable creation date of tasks"
At the moment (version 1.2.1) when creating a task, no creation date is added automatically. However, it is possible to add a creation date manually and sleek will use it for sorting.
It would be nice to have an option to always add the creation date automatically.

[2022-07-31 21:24] DmDrMos opened #402 "JavaScript Error after Sleek closing"
![image](https://user-images.githubusercontent.com/103596016/182045747-139bfe93-5030-4954-a7c5-bdc76cb8da7c.png)

**Describe the bug**
The error message occurs every time the application is closed/

**Do you see any error entries in sleeks developer tools?**
I have a message "Uncaught (in promise) Error: Error invoking remote method 'userData': No handler registered for 'userData'" in the develope

[2022-08-01 03:08] ransome1 commented on #402
Thanks for reporting this. Does this also happen with v1.2.0?

Unfortunately I cannot look into it at the moment as I'm afk until October. But I'll keep you posted as soon as there is progress on this.

[2022-08-01 04:09] zerodat commented on #398
@Saturo78 just letting you know that I am able to reproduce the issue you reported in 1.2.1.  The date picker is not cleared when you open another task.

[2022-08-01 08:33] lindoman commented on #395
@ransome1 thanks, I might even get round to doing my own pull request for this, would that be ok with you?

[2022-08-01 11:30] ransome1 commented on #395
Absolutely, that would be highly appreciated! :)

[2022-08-03 08:09] engkel opened #403 "Right click menu is hidden at the edge of screen and by start menu (w10)"
**Did you check if the bug has already been reported?**
Doesn't seems so.

**Describe the bug**
When right clicking on an item in the task list at the edge of the app, the right click menu appears but is partly hidden under the start menu and the edge of the screen making it impossible to act on items close to the edge of the screen.

**Do you see any error entries in sleeks developer tools?**
see

[2022-08-04 07:19] berkes commented on #402
![Schermafdruk van 2022-08-04 09-17-43](https://user-images.githubusercontent.com/77059/182787445-638c0496-dd04-4424-ac63-d8f7292277dd.png)

Same error on Ubuntu snap.

[code]

So, yes. 1.2.0 has this.

[2022-08-05 10:33] Prakash71322 opened #404 "Java Script Error"
JavaScript Error TypeError Cannot Read the properties of undefined (hide) @ Browser Window

[2022-08-07 05:02] khangdx1998 commented on #400
Same issue in Linux

[2022-08-09 17:08] ucyo commented on #205
@dlaidig I love the idea of using additional metadata to solve this. But I think we need to further extend this. Currently, this would infer information from the order of the task entries. Currently the order of each task can be random. With the suggested solution this would not work. An example would be to change `Buy Z @pet_store level:4` to `Buy Z @pet_store level:2` and suddenly `Buy other edi

[2022-08-12 12:36] bike-bill commented on #404
It looks like this is a duplicate of #389

[2022-08-13 00:41] jminnamon commented on #400
Same issue in Windows 10

[2022-08-17 06:54] emilBeBri commented on #389
affects me, too.
*meta*: when you see a bug that affects you too, do you write it like this in the comments, or do you only subscribe, or maybe give it a like? What is the norm?  Please help a newbie out! :)

[2022-08-18 22:47] nogasgofast commented on #378
I ran into this issue as well.

Personally I use done.txt, so it would really be great if we could change this as a setting. I expect there are a number of people that use todo.txt because there are a lot of options when it comes to integrating it on different platforms. But if this is a static setting it sort of hamstrings that compatibility. As done files are not really a part of the spec.

But

[2022-08-19 06:49] bluebirch commented on #397
Same issue on Mac OS X. Doesn't mater how I install Sleek. Haven't found a workaround.

[2022-08-19 07:41] speedery commented on #389
the same error also.
OS: ubuntu 22.04
Version: sleek 1.2.0
source: snap store

[2022-08-21 03:55] ransome1 commented on #403
Thanks for pointing it out, this issue applies to all releases and I haven't found the time yet to enhance this behaviour. It's in the roadmap now.

[2022-08-23 09:21] buscon commented on #389
Same error here:
OS: Mint 21 (it was the same on Mint 20.3)
Version: sleek 1.2.1
source: github
I started to see this error since version 1.2

[2022-08-31 15:28] AmmarHaddadi commented on #277
1. press windows logo key + R
2. write `shell:startup` then press enter
3. add sleek.exe shortcut to that folder

[2022-08-31 15:34] AmmarHaddadi opened #406 "embedded control buttons ?"
since this app is based on electron and does not pickup on the GTK or QT theme , why not making it frame-less and crate your own control buttons (maximize/minimize/close) that do pickup on the theme like discord does ?

[2022-09-04 20:25] CPUGPU commented on #400
I think it's looking for the done file to already exist.  I started sleek from the console and got this message when attempting to archive:

`Error occurred in handler for 'getContent': Error in getContent(): Error: ENOENT: no such file or directory, open '/mnt/linox/home/[redacted]/syncmobile/tasklists/todo_done.txt'`

I manually created "todo_done.txt" file and selected alt -> Todos -> Archive -

[2022-09-05 14:12] AmmarHaddadi commented on #277
apparently the devs need to implement a launch command that launches the app minimized in system tray  , I couldn't find any way to do it my self

There are no Windows commands to minimize applications to the system tray.
https://www.tenforums.com/software-apps/190630-how-run-program-startup-minimized-system-tray.html

example (adding this to the launcher / shortcut): `sleek --hide`

[2022-09-06 14:17] cstby opened #407 "Shortcut for changing priority also changes the due date."
Using Alt + Super + Arrow Up/Down changes both the task priority and task due date. The expected behavior is to change the task priority only.

I'm on Sleek 1.2.1 and Pop!_OS (Ubuntu) 22.04.

[2022-09-06 16:50] warmwaffles commented on #389
I'm also encountering this.

OS: Archlinux
WM: bspwm
Version: v1.2.1

[2022-09-07 17:14] MostHated commented on #389
Getting this as well:

OS: Pop_OS
WM: Mutter
Version: v1.2.1

[2022-09-11 21:29] louwers opened #409 "Delete item with delete key"
When I select a todo item, and press the delete key, the item is not deleted.

[2022-09-12 07:47] aisbergde opened #410 "option to case sensitive sort context and project"
**Is your feature request related to a problem? Please describe.**

Because of the limits in todo.txt format, I use upper and lower case for different purposes and meanings. For example upper case projects are persons and lower case projects are "what to do". Uper case content are "meta content" like SomeDay, WaitingFor.

**Describe the solution you'd like**

Please add an option to sort context a

[2022-09-12 07:53] aisbergde commented on #288
I am also using [simpletask-android](https://github.com/mpcjanssen/simpletask-android), and one of the most important feature is the ability to save and restore filters. Simpletask solution is really great: include something, revert filter (for better excuding), sorting.

[2022-09-14 07:08] aisbergde opened #411 "option to keep the content of task as it it, without reordering words inside the line"
**Is your feature request related to a problem? Please describe.**

My todo.txt is under source control because I use it on different devices. When I open the todo.txt in sleek then nearly all tasks are changed: some blanks are removed, context and projects are moved to the end of the task, date fields are switched (t: before due:)

In general, this could be OK, but I want to keep tasks as I creat

[2022-09-14 12:15] aubreyz commented on #411
There are already other similar issues raised so you should have referred to and commented in those instead of raising a new one. However I agree that this is an extremely serious problem, and I would not be able to use the otherwise wonderful Sleek until it is resolved with the third party developer. Mangling tasks is just not on.

[2022-09-14 14:03] aisbergde commented on #411
I did not search for "repositioning". In this case this issue can be closed, because it is a duplicate of #68

[2022-09-14 14:03] #411 closed

[2022-09-16 14:39] ransome1 commented on #370
@harshad1 yes this is possible and actually one of the solutions I've been looking into already. As I'm afk at the moment I can only continue working on this from October on. So please stay tuned.

[2022-09-16 14:44] ransome1 commented on #407
@cstby thanks for reporting this, I'll look into it soon and keep you posted about the progress.

[2022-09-16 14:51] ransome1 commented on #404
@bike-bill I agree, this is at least related. @Prakash71322 hope you don't mind if I close here. If this isn't solved with the fix in the other issue, we can reopen here.

[2022-09-16 19:00] harshad1 commented on #370
Awesome. I can try to help, but I have basically zero JS experience, so I'm not sure how useful I'll be.

Sep. 16, 2022 07:39:48 ransome ***@***.***>:

[2022-09-24 09:32] aisbergde commented on #387
If this will be implemented, then I suggest an option to save links
* as they are
* using markdown syntax
* using AsciiDoc url macro syntax
https://docs.asciidoctor.org/asciidoc/latest/macros/url-macro/ like
`https://asciidoctor.org[]`

I switched from Markdown to AsciiDoc for all my notes and I am very happy. Especially because of includes and xref, which makes it much easier to link between note

[2022-09-25 07:59] amigo421 opened #412 "no any functionality works"
Tried a few cases: RC, AppImage stable, deb.

![image](https://user-images.githubusercontent.com/3259933/192133961-adf4337b-16cf-4174-b667-b2a74443a685.png)

running app but clicking any button doesn't work.

and error on the closing
![image](https://user-images.githubusercontent.com/3259933/192133997-45464170-7725-4e18-82bc-4193425832a9.png)

[2022-09-25 16:32] p-beattie commented on #389
OS: Linux Mint 20.3
Sleek v.1.2.1  / Setting: [Minimize to the Tray Bar] = ON

Minimize Sleek -   results in Exception
![Minimize_Sleek_to_Tray_bar](https://user-images.githubusercontent.com/102430007/192154463-91d51b56-6521-493a-a055-442275622e35.png)
Restore from Tray bar - results in Exception
![Restore_Sleek(running)_from_Tray](https://user-images.githubusercontent.com/102430007/192154483-587a

[2022-09-26 03:33] warmwaffles commented on #389
Same thing here.

[2022-09-26 18:42] TriggerDingus commented on #398
I confirm as well. I came to Github to write up an issue report but it was already done here. I'm enclosing a screen capture that shows my date picker of the current task - it shows the due date I selected when updating a previous task but it doesn't show the due date of the currently-selected task.
![cap](https://user-images.githubusercontent.com/75340371/192355171-ff6bba38-26ad-4bbb-809d-c3e2aee

[2022-09-26 22:49] acyment opened #413 "Can't use file inside a folder with a name ending in ".txt""
When I try to navigate to open a file that lies inside a folder that has a name ending in ".txt" sleek tries to open the folder and then opens as a file the first file or folder that finds inside. If it is a .txt file, the file is correctly opened, but it cannot be edited.

I know it sounds like a convoluted use case, but I happen to use an iOS app called 2do.txt (https://github.com/sodenn/2do-txt

[2022-09-27 06:23] ransome1 commented on #413
@acyment thanks for reporting this. I added the issue to the backlog and get back to you as soon as there is news.

[2022-09-27 09:24] ransome1 commented on #412
This might be related to https://github.com/ransome1/sleek/pull/405.

If I remember correctly you're on a system set to Russian right? In that case it was possible for the app to crash if it got in touch with a language code it didn't know, like `ru`.

Can you try this pre release? https://github.com/ransome1/sleek/releases/tag/v1.2.2-rc.3

It should set sleek to English as fallback language in ca

[2022-09-27 09:35] ransome1 commented on #358
@kden416 @7loro could you guys take a look at this test release (https://github.com/ransome1/sleek/releases/tag/v1.2.2-rc.3) and give me a feedback if it solves the issue on your side?

[2022-09-27 09:46] amigo421 commented on #412
yes, works fine, thank you!

[2022-09-27 09:46] #412 closed

[2022-09-27 09:51] 7loro commented on #358
tested on Sleek 1.2.2-rc.3 on mac os.
Now it works fine 👍

When I install app, In the user preference json (~/Library/Application\ Support/sleek/user-preferences.json), there is "language": "en" which is automatically added by system even if my system language is korean. There is no crash now.

[2022-09-27 13:34] ransome1 commented on #397
@mdisseny @bluebirch @Giampieroo it might be a long shot, but could you check this pre release (https://github.com/ransome1/sleek/releases/tag/v1.2.2-rc.3) and give me a quick heads up, if it changes anything?

[2022-09-27 13:48] Giampieroo commented on #397
YES! I've installed sleek-1.2.2-rc.3-mac.dmg and it works. Thanks for the update 👍🏼

[2022-09-27 16:16] mdisseny commented on #397
Many thanks for the update, now it works like a charm. God job!

[2022-09-29 13:22] ransome1 commented on #370
@thewholelifetolearn @harshad1 @aurisnoctis @aubreyz

I looked into it a bit further and applied some changes. The issue has not been fully solved, though.

In this pre release sleek will not rearrange todos anymore if you just open and rewrite them using the interface. The only times todos will be put into the todo.txt parser (this is the part where todos are being altered, unfortunately) is when

[2022-09-29 13:28] ransome1 commented on #68
I'm closing here, the issue will further discussed in https://github.com/ransome1/sleek/issues/68

[2022-09-29 13:36] dnngll commented on #68
Isn't this #68? 🧐

[2022-09-29 16:15] aisbergde commented on #370
First impression is very good! Word order keeps fine.
And of course it would be great, if sometimes in the future even the display keeps the order :-)
Thank you!

[2022-09-29 21:02] ransome1 commented on #370
I agree, but there is so much else to do before I could take care of that. But stay tuned.

[2022-09-29 22:23] acyment commented on #413
Perhaps [this](https://github.com/sodenn/2do-txt/commit/f8bc7d44d5e6e6618613c55242195819c2740290) can help you fix it

Cheers

[2022-09-30 07:06] ransome1 commented on #413
@acyment thanks for pointing it out, I'll take a look at it

[2022-09-30 07:43] ransome1 commented on #413
@acyment I'm afraid the fix at 2do.txt does not solve anything on our side. We're depending on Electrons `showOpenDialog` for which I use filters to limit selectable files to `.txt`, `.md` and `.done`. This is done to prevent sleek opening files it can't handle.

If I remove this limitation you would be able to select a folder that contains a dot and select a file within it. But I'm not sure about

[2022-09-30 11:19] acyment commented on #413
A workaround taken from 2do-txt is that you could also choose a file by dragging and dropping. If the feature were added to Sleek there would at least be a way to work in sync between the two apps (at least in my config). Tks for the hard work!On 30 Sep 2022, at 04:43, ransome ***@***.***> wrote:﻿
@acyment I'm afraid the fix at 2do.txt does not solve anything on our side. We're depending on Electr

[2022-09-30 12:48] ransome1 commented on #413
A quick fix could be to select a random .txt file and then edit the `user-preferences.json`. That's sleek's config file, you can find under `/home/YOURUSERNAME/Library/Application Support/sleek`. In there you'll see the previously selected "random txt file". Try to change the path and make it point to your actual todo.txt file within the `todo.txt` folder. Let me know if this works for now.

[2022-10-01 05:43] aisbergde opened #414 "3 state buttons - ignore, include, exclude"
I want to request an easy way to exclude some context or projects from the item list. Then I could for example easy exclude "@Bookmark", "@Someone", "begin in future" and so on.

For easy doing this I suggest to use 3 state buttons instead of 2 state buttons:
- ignore
- include
- exclude (this will be an additional state)

This way the condition for the excluded items are optical shown and can be

[2022-10-02 08:14] ransome1 commented on #370
This should now be happening in 1.2.2.

I'm closing here. If you find any issues, let's discuss them here and reopen if necessary.

[2022-10-02 08:14] #370 closed

[2022-10-02 09:17] ransome1 commented on #410
@aisbergde quick question: Filtering, by using the filter buttons in the filter drawer, should be already working the way you're asking for. For instance you can have a context `WaitingFor` and one `waitingfor`. Both will be showing up separately and can be selected separately. Or are you experiencing anything else?

As for the option of searching case sensitive, I am preparing a test build right

[2022-10-02 09:48] ransome1 commented on #410
@aisbergde you can download the pre release for this feature here: https://github.com/ransome1/sleek/releases/tag/v1.2.3-rc.1

[2022-10-02 10:00] ransome1 commented on #402
@berkes @DmDrMos At the moment I can only work on a M1 Mac (VirtualBox doesn't run yet on these machines, so I can't access my VMs).

Anyways, can I ask you guys to try out 1.2.2 and tell me if this still happens? It should be available on Snap or downloaded here: https://github.com/ransome1/sleek/releases/tag/v1.2.3-rc.1

[2022-10-02 10:36] ransome1 commented on #400
@jminnamon @khangdx1998 @CPUGPU @naunan hey guys, thanks again for reporting this. Can I ask you to check this pre-release, if the error still occurs?

https://github.com/ransome1/sleek/releases/tag/v1.2.3-rc.2

[2022-10-02 10:36] ransome1 commented on #397
Fix has been released in 1.2.2, closing here for now.

[2022-10-02 10:36] #397 closed

[2022-10-02 11:54] naunan commented on #400
@ransome1 works for me with this release! todo_done.txt with the expected contents is created. Also works for differently named todo lists.

[2022-10-02 13:12] ransome1 commented on #400
Has been released with https://github.com/ransome1/sleek/releases/tag/v1.2.3, I'm closing here.

[2022-10-02 13:12] #400 closed

[2022-10-02 14:23] CPUGPU commented on #400
Confirmed working as expected.  Thank you!

[2022-10-02 21:21] ransome1 commented on #400
Yes please, that would be nice.

[2022-10-02 23:14] CPUGPU opened #415 "Tasks with priority display on two lines"
In version 1.2.1, tasks that have priority show on a single line:
![Screenshot_2022-10-02_19-00-05](https://user-images.githubusercontent.com/7144932/193480141-c63a124a-acbb-4092-847c-ff1de7ebf34e.jpg)

In version 1.2.3, the same tasks now have two rows:
![Screenshot_2022-10-02_18-59-33](https://user-images.githubusercontent.com/7144932/193480140-c15b336a-5b23-49e5-89f0-2669de3e85d1.jpg)

**To Rep

[2022-10-03 06:36] bluebirch commented on #397
When will this update hit Microsoft Store? Unfortunately, that's the only way I can install Sleek on my work laptop since all other installation sources are blocked.

[2022-10-03 09:37] ransome1 commented on #397
@bluebirch unfortunately not before next week as I don't have access to a Windows VM atm (VirtualBox doesn't work on my M1 Mac). If you're experiencing this issue, you can look up the `user-preferences.json` and manually chance the language setting to `en`. This should solve the issue as a workaround until the Windows release.

[2022-10-03 09:57] ransome1 commented on #415
@CPUGPU thanks again for reporting this. I think I found a fix for this, available in the next release.

[2022-10-03 10:36] ransome1 commented on #398
The issue at hand sounds to me like a visual problem, not a functional one. Are you expereincing any actual problems? If so, could you please elaborate a bit further?

[2022-10-03 10:58] ransome1 commented on #415
@CPUGPU Could you please check if this issue stills persists in this pre-release? https://github.com/ransome1/sleek/releases/tag/v1.2.4-rc.1

[2022-10-03 11:04] ransome1 commented on #393
@DmDrMos thanks again for contributing the translations :) Could you please take a look at this pre-release, if the translations work well? https://github.com/ransome1/sleek/releases/tag/v1.2.4-rc.1

Also, could you translate the word `Russian`, as in the language, in to proper Russian? Google Translate says `Русский`, is that correct?

[2022-10-03 11:23] CPUGPU commented on #415
Fixed!  Thank you.

![Screenshot_2022-10-03_07-20-06](https://user-images.githubusercontent.com/7144932/193565226-f5ec7f05-2f90-4fcf-99ab-3fda75f7f7ad.png)

![Screenshot_2022-10-03_07-20-25](https://user-images.githubusercontent.com/7144932/193565170-b86679b3-1f7c-4774-b410-4630613ff329.png)

[2022-10-03 11:23] #415 closed

[2022-10-03 11:42] engkel commented on #403
Yes, it works perfectly for me now. 👍

[2022-10-03 12:03] DmDrMos commented on #393
It is OK at a glimpse. Thank you for your excellent work!!! I'll take a closer look when will be more free, probably in 2 weeks.

Yes, Google Translate is right: "Russian" is "Русский"

[2022-10-03 15:02] DmDrMos commented on #402
version": "1.2.4-rc.1
After closing main window. OS version Windows 11.
![image](https://user-images.githubusercontent.com/103596016/193609825-30b59f09-f3d8-4222-9e2a-2edf95a85384.png)

[2022-10-03 15:50] TriggerDingus commented on #398
I'm not sure what you mean, so I put together this video:
[https://odysee.com/Sleek_Issue:5](Link)

[2022-10-03 21:30] alexgarel commented on #389
This seems a bug from flatpak packaging. I had the bug and switch to snap  https://snapcraft.io/sleek and it works.

[2022-10-03 21:33] warmwaffles commented on #389
Version I am running is from the [AUR](https://aur.archlinux.org/packages/sleek) builds from source.

[2022-10-03 21:35] alexgarel commented on #389
Sorry I was wrong, I got the issue on snap as well :sweat:  (even worst on snap, messages are not readable…)

[2022-10-04 04:01] mshuflin opened #419 "URL conversion (403) forbidden"
I have several links in my todo.txt that link to password protected pages (specifically google drive). Those urls linking to google drive are rendered as: "Error 403 (Forbidden)!!1".

Similarly password protected URLs, such as gmail render as "Gmail: Private and secure email at no cost | Google Workspace".

This happened when I updated from 1.2.1 to 1.2.3, probably related to https://github.com/ra

[2022-10-04 11:16] ransome1 commented on #389
@alexgarel @warmwaffles @emilBeBri @5TDg9 @buscon unfortunately I don't have access to a Windows or Linux system in order to reproduce this issue. Though I found a bug, that might cause this behavior. Can you guys please take a quick look at this pre-release and give me a feedback if the issue still occurs on Windows and Linux systems? https://github.com/ransome1/sleek/releases/tag/v1.2.4-rc.2

[2022-10-04 11:31] fusilli opened #420 "All tasks duplicated when completing a recurring task"
When completing a recurring task, all the other tasks are duplicated.

**To Reproduce**

Mark a recurring task completed.

**Expected behavior**

Only the completed task gets duplicated.

**Desktop (please complete the following information):**
 - OS: Ubuntu 22.04
 - Version of sleek: 1.2.3
 - Source: Snap Store

[2022-10-04 11:43] ransome1 commented on #420
@fusilli thanks for reporting this, I'm on it and pushing an update asap.

[2022-10-04 11:45] fusilli commented on #420
Great! Thank you for your work!

[2022-10-04 12:02] alexgarel commented on #389
@ransome1 indeed I tested and it seems ok for me.

[2022-10-04 12:52] ransome1 commented on #420
@fusilli Can I ask you to check this pre-releade real quick? https://github.com/ransome1/sleek/releases/tag/v1.2.4-rc.3

I'll prepare the full release in the meantime.

[2022-10-04 13:01] fusilli commented on #420
I've tested na AppImage and now it works fine. Thanks again!

[2022-10-04 13:24] warmwaffles commented on #389
@ransome1 Thanks a ton for looking into this.

[2022-10-04 13:27] ransome1 commented on #389
You're very welcome.

The AUR update will take some time though as I currently don't have access to my Arch machine and my Mac M1 doesn't support VirtualBox anymore :(

[2022-10-04 13:51] warmwaffles commented on #389
@ransome1 I haven't figured out how to send patch requests for an AUR package, otherwise, I'd just send it.

[2022-10-04 14:04] ransome1 commented on #389
If you give me your username on AUR, I can add you as co-maintainer.

You would then need to
1. checkout the repo and pull it to your local machine: https://aur.archlinux.org/sleek.git
2. enter the directory
3. update the `PKGBUILD` file and change `pkgver` to `1.2.4`
4. run `updpkgsums` in your arch command line (should be installed on your Arch already)
5. run `makepkg --printsrcinfo > .SRCINFO`

[2022-10-04 14:36] warmwaffles commented on #389
Username is `warmwaffles` there too.

Yea I can put my ssh keys up.

Lemme clone it and play with it.

[2022-10-04 14:45] ransome1 commented on #389
@warmwaffles I added you as maintainer. Let's see if it works.

[2022-10-04 14:54] warmwaffles commented on #389
Oh that's all it is. Super simple. It has been updated.

[2022-10-04 14:55] ransome1 commented on #389
Sweet, thanks a ton!

[2022-10-04 14:57] warmwaffles commented on #389
@ransome1 can confirm this has been resolved on Archlinux. I do not get this exception anymore.

[2022-10-04 22:44] r0main-c opened #421 "Renaming a project creates a new one and duplicates the tasks assigned to it"
**To Reproduce :**

![sleek_bug](https://user-images.githubusercontent.com/57437174/193942551-412df525-db98-4b34-aa2d-95bccdd84f5c.gif)

**Do you see any error entries in sleeks developer tools ?**

No error entries appear in the tab "Console" from the dev tools.

Here is the content that is generated after reproducing the bug :
[code]

**Desktop :**

 - OS : Windows 10
 - Version of sleek : 1.2.4

[2022-10-05 01:35] comminutus commented on #294
Perhaps I'm missing something here but I don't quite understand this improvement.  I was expect that when I type the first few letters of a context, I could hit tab or something else to complete the context name.  Instead, tab just moves to the list of contexts.  The list of contexts doesn't get filtered the more I type.  For example, if I have contexts "inbox", "calls", and "computer", if I type

[2022-10-05 05:18] ChongChengAC commented on #389
This issue has been fixed since v1.2.4. Thanks to @ransome1.

[2022-10-05 05:18] #389 closed

[2022-10-05 10:08] ransome1 commented on #421
@r0main-c thanks for reporting this! Could you please take a look at this pre-release and tell me, if this bug still occurs on your side? https://github.com/ransome1/sleek/releases/tag/v1.2.5-rc.1

[2022-10-05 10:19] ransome1 commented on #294
This is actually how it is intended, I mean if there is only one filter available. And that of course only makes sense when

this is not the case. It should be exactly like you assume. So this sounds more like a bug. Let me look into it.

[2022-10-05 11:47] ransome1 commented on #294
@comminutus this should be fixed in https://github.com/ransome1/sleek/releases/tag/v1.2.5

Please feel free to provide feedback on if this now works as expected.

[2022-10-05 11:55] ransome1 commented on #402
@DmDrMos

This one should be fixed since 1.2.4-rc.2. Please try to use https://github.com/ransome1/sleek/releases/tag/v1.2.5 and let me know if it still happens.

@berkes

This is actually a different error. Can you tell me when exactly this happens? Also, can you please download 1.2.5? It should be available on Snap.

[2022-10-05 13:54] comminutus commented on #294
@ransome1 wow! fixed!  Thank you for such a fast response! 👏

[2022-10-05 14:15] ransome1 commented on #294
Thanks for reporting it!

[2022-10-05 14:33] comminutus commented on #360
+1 for this, as @mshuflin mentioned I'd also use it for joplin links.

[2022-10-05 15:46] ransome1 commented on #360
Unfortunately I don't have enough time to work on this at the moment. If any of you guys have knowledge in JavaScript and especially regular expressions, you can take a look at the library sleek uses, that converts the markdown into HTML. It's called [marked.js](https://marked.js.org/) and has built in extensibility. If someone can figure out, how to extend marked.js to support prefixes as `file`

[2022-10-05 21:55] r0main-c commented on #421
I have just tested this pre-release and I confirm that the bug is well resolved. Thank you for this application which corresponds perfectly to what I am looking for!

[2022-10-06 07:03] ransome1 commented on #393
Has been released with 1.2.5

[2022-10-06 07:03] #393 closed

[2022-10-06 07:15] ransome1 commented on #420
Can we close here?

[2022-10-06 07:34] fusilli commented on #420
Sure – the updated snap works as expected.

[2022-10-06 07:34] #420 closed

[2022-10-06 13:08] jorgb opened #422 "Todo text in UI turns to all lowercase when searching, then editing"
**Describe the bug**
The edit field turns my task into a lower case version, 'destroying' all mixed case letters even priority

**To Reproduce**
- When I am in my todo.txt in Sleek, I search for a keyword, let's say "feature" using the finder.
- Then when I click the todo I found all the text inside the edit box is lowercase
- This results in projects and contexts that are double, for example +Sof

[2022-10-06 13:29] ransome1 commented on #422
@jorgb thank you for reporting this. I was able to reproduce this. I'm on it.

[2022-10-07 09:34] jorgb commented on #422
Yes it seems to be solved!
Thank you for the quick fix.

On Thu, 6 Oct 2022 at 15:59, ransome ***@***.***> wrote:

[2022-10-07 14:39] ransome1 commented on #422
Released in 1.2.6

[2022-10-07 14:39] #422 closed

[2022-10-08 00:58] comminutus commented on #196
It'd still be nice to disable this connection to robbfolio.de .  As a privacy enthusiast, this raises some minor flags.  It's not to say Sleek users shouldn't trust you, it's more about limiting attack surfaces.  For example, if the data you are collecting is breached, it along with other pieces of information might lead to someone connecting too many dots.  Can you add an option to disable this?

[2022-10-09 17:29] #403 closed

[2022-10-09 18:31] #359 closed

[2022-10-09 18:35] ransome1 commented on #328
Has been fixed and is available in 1.2.6

[2022-10-09 18:35] #328 closed

[2022-10-09 19:13] ransome1 commented on #297
@zemua @zerodat I did a double check on 1.2.6 and think this is fixed. Do you guys agree and can we close here?

[2022-10-10 03:17] zerodat commented on #297
@ransome1 I find that the bug is fixed both in 1.2.6 and 1.2.1.  Each time you mark the task as completed, it generates a new occurrence with threshold date of tomorrow.

[2022-10-10 06:26] #297 closed

[2022-10-10 10:51] ransome1 commented on #311
@zerodat could you send me the PR for both options? I still believe option 3 is the most intuitive and self explanatory, but I am open to give the `?` option a chance too, of course.

[2022-10-10 10:55] ransome1 commented on #177
@Oroumov I just tried to reproduce it but failed. Could you check if this still happens in 1.2.6?

While reproducing this, I found another bug. When you put plain text in the 1st line, then switch to the second line, trigger the auto complete container and choose from it, the first line will be erased. I'll work on that bug as part of this thread, if that is alright with you.

[2022-10-12 16:20] TriggerDingus commented on #311
I was just going to report this issue, though I hadn't connected the issue to only filtering on words beginning with "t" but this exactly explains what I've been running into. Kudos!

[2022-10-13 03:53] zerodat commented on #311
@ransome1 I will send you a PR for the "option 3" solution as soon as I can.  It would be easy except that I am away from home for the next two weeks.  I'll try to reconstruct the solution and send it sooner.  If that doesn't work out, I will send it as soon as I am back at home (about October 28 or 29).  Sorry for the delay.

[2022-10-14 06:13] tomasdurham opened #423 "Search can only find lowercase letters"
**Description**
I don't know if this is really a bug or a feature that should be fundamentally included. I noticed at some point that sleek can only find words with lowercase letters.
For example, a task is written like this:
- [ ] call Marry tomorrow

and when I search for "Marry" or even "marry" in the search bar, sleek does not find the task. Currently all tasks must contain lowercase letters f

[2022-10-15 12:07] NoeTerrier opened #424 "Square instead of text in file dialog"
When trying to open or create a file, the file dialog show text as squares instead of letters.

I'm on Ubuntu 22.04.1 LTS running version 1.2.6 of Sleek from snap.

![Capture d’écran du 2022-10-15 13-49-48](https://user-images.githubusercontent.com/56764430/195985431-5f1b8418-5222-4742-a60a-08833e7b50da.png)

I tried this fix for a similar issue with chromium and gnome-calculator: https://askubunt

[2022-10-16 09:43] ransome1 commented on #424
@NoeTerrier thanks for reporting this. The issue is not new. In fact the second issue (https://github.com/ransome1/sleek/issues/2) ever on Github was about this weird behavior. We never actively solve it, it just came and went. So I assume it is either something within Linux distributions or a module of Electron.

Are you installing sleek using Snap's command line? You could try downgrading and se

[2022-10-16 16:40] ransome1 commented on #358
I'm closing here as this has been resolved.

@7loro if you have some time on your hands and would like to use sleek in your native language, you can simply translate this file (https://github.com/ransome1/sleek/blob/master/src/locales/en/translation.json) and send me a pull requestes. Makes you a contributor and sleek one language richer :)

[2022-10-16 16:40] #358 closed

[2022-10-18 08:40] ransome1 commented on #423
@tomasdurham could you please check ,if this issue has been resolved in 1.2.7? It should available on Snap within the next couple of hours.

You can also download a binary here: https://github.com/ransome1/sleek/releases/tag/v1.2.7

[2022-10-18 10:17] #423 closed, assigned to ransome1

[2022-10-18 17:04] TriggerDingus opened #426 "Search is inconsistent"
**Is it an actual bug?**
I believe so.

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Searching is inconsistent, often not finding search text though it's confirmed the text exists in the file.

**To Reproduce**
See linked video

**Do you see any error entries in sleeks developer tools?**
While invoking the bug, I see no NEW errors. There was an existing error i

[2022-10-18 17:10] TriggerDingus commented on #426
**I'm attaching a console log file for your review:**

[console.txt](https://github.com/ransome1/sleek/files/9813565/console.txt)

[2022-10-18 19:03] ransome1 commented on #426
@TriggerDingus I think this has been fixed in 1.2.7, could you please give it a quick try?

[2022-10-18 19:18] TriggerDingus commented on #426
Just downloaded and did a bunch of searches in 1.2.7 and it appears to be resolved. That makes life much easier. Much appreciated!

[2022-10-18 19:18] #426 closed

[2022-10-19 07:23] mimmori opened #427 "Task text deleted when selecting a Project / Context using autocomplete"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
it is a new bug introduced with version 1.2.7

**Describe the bug**
The bug occurs while inserting a new task. In particular, it happens when you choose a project / context suggested in the autocompletion phase (move with tab and then enter key)

**To Reproduce**
Steps to reproduce the behavior:
1. Create ne task

[2022-10-19 07:43] ransome1 commented on #427
@mimmori Thanks for reporting this! I'm fixing it asap.

[2022-10-19 12:35] ransome1 commented on #427
Is fixed in https://github.com/ransome1/sleek/releases/tag/v1.2.8. Please feel free to close here, if you can confirm the fix.

[2022-10-19 12:38] mimmori commented on #427
just tried. Fixed!

Thanks

[2022-10-19 12:38] #427 closed

[2022-10-19 13:18] jcz1 commented on #398
I think same issue is with threshold date. But this problem appears in some conditions only and i don't know exactly which.

[2022-10-19 13:36] jcz1 commented on #234
There is a shared form for due and threshold dates but it's pretty annoying if you use threshold dates only. You have to click to another tab every time even with editing existing task with existing threshold date. And if you forget to change tab, you have task with non-actual threshold and pointless due date. Proven many times :)

[2022-10-19 17:16] comminutus commented on #294
It looks like this is broken again.  Now whenever I hit tab to complete the context, it clears the entire text area.

[2022-10-19 17:57] TriggerDingus opened #428 "Due date issue with tasks created using 'Relative' due dates in Filter bar"
**Is it an actual bug?**
I believe so. The behavior is fairly recent this method is the only way I used to create tasks, however, I've had to change how I create tasks to avoid the issue.

**Did you check if the bug has already been reported?**
I didn't find a previous bug report describing this behavior.

**Describe the bug**
The attached video will better describe it.
The text version of the iss

[2022-10-19 19:05] ransome1 commented on #294
@comminutus Can you make sure you're on 1.2.8?

[2022-10-19 19:06] comminutus commented on #294
@ransome1 my bad, I just updated and it's working fine.  I'm not sure what version I was on prior.  Thanks!

[2022-10-19 19:29] ransome1 commented on #294
You were probably on 1.2.7, which contained a nasty little bug that provoked what you were experiencing.

[2022-10-20 20:27] TriggerDingus commented on #428
Just some more documentation on this. I created the following task on 10/19/2020 using the Filter bar to create the task and a due date of "due:1d".  As you can see, as I post this the date today is 10/20/22 but the task keeps getting pushed to one day from today as the days pass, so it doesn't come due.

![image](https://user-images.githubusercontent.com/75340371/197051040-1b30f235-74c0-41cb-9377

[2022-10-20 21:04] CPUGPU commented on #428
Have you tried `due:d` without the 1?

It's a little fuzzy in the wiki, but it appears for single values the "1" is omitted.  Still probably should be evaluated, but worth a try without it.

[2022-10-21 17:44] TriggerDingus commented on #428
The issue exists for ANY tasks created with relative dates. For example, I have tasks created using "due:monday" that get pushed every monday to the following monday, hence, never coming due. I have others created using "due:2w" that are pushed two weeks each time they should be coming due. I'm avoiding using relative dates until further notice since I'm missing tasks that should be coming due.

[2022-10-22 02:31] CPUGPU commented on #428
I think there is some mixing of _recurring_ date format with due date a little bit.
Due dates should be in ISO-8601 format: YYYY-MM-DD

Sleek has some "friendly" date parsing that relaxes that rule a bit courtesy of the Sugar library.  The problem may be there or in the way Sleek uses the output from Sugar.

Testing (1.2.8 appimage on xubuntu 20.04 LTS) reveals some inconsistent results:
- `due:d`

[2022-10-22 13:49] TriggerDingus commented on #428
I use all these regularly. The ISO date works fine and always has for me.
As I describe, the issue is that using relative dates no longer seems to convert them to the ISO date upon creation. Task items I created a long while back work fine and seem to have been converted to ISO date when I created them using a relative date. New ones created with relative dates are not converted to the ISO date an

[2022-10-22 19:34] Grydpype opened #429 ""Delete" does not work"
**Is it an actual bug?**
I believe so.

**Did you check if the bug has already been reported?**
I did not see this issue in the bugs listed

**Describe the bug**
It is not possible to delete a task using the option menu on the right mouse button.

**To Reproduce**
1. Select any issue with the right mouse button
2. choose "Delete" in the options menu
3. task will not be deleted.

**Do you see any e

[2022-10-22 19:49] CPUGPU commented on #429
Confirmed.  1.2.8 appimage on xubuntu 20.04.5 LTS

[2022-10-23 03:03] zerodat commented on #428
What is happening is a side-effect of the changes made in 1.2.2 to try to avoid re-ordering the tags in a todo.  In 1.2.2 and later versions, sleek is saving the "raw" string rather than the string generated by toString.  That means that in 1.2.1 it would change `due:1d` into `due:2022-10-23` but in 1.2.2, it keeps the raw string that you typed when you added the todo, which is stored in the file

[2022-10-24 14:49] gentlecolts opened #430 "Option to automatically add current filters to new items"
**Is your feature request related to a problem? Please describe.**
When adding new items, often I want them to apply to my current visual context:  If I've currently filtered for items related to a project, for example, I often want new items added to be associated with that project.  This can become even more of a nuisance when multiple filters are applied.

**Describe the solution you'd like**
A

[2022-10-24 15:02] gentlecolts opened #431 "Option for automatically adding specific projects/contexts when others are present"
**Is your feature request related to a problem? Please describe.**
It can be tedious and error-prone to add projects/contexts to tasks when more than one is involved, and often these tags have a trivial association.  Having a means for automatically adding one project/context when another is present could help make sleek a more efficient tool.

**Describe the solution you'd like**
The addition of

[2022-10-24 20:53] dlaidig opened #432 "appendStartDate not working any more"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**
Recently the creation data is not saved in new entries any more. In my `user-preferences.json` I see that `"appendStartDate": true` is still set.

**To Reproduce**
Steps to reproduce the behavior:
1. Set appendStartDate to true
2. Create new entry
3. Check if todo.txt contains the creati

[2022-10-24 20:55] dlaidig commented on #429
I also just noticed this. However, for me, instead of the task under the mouse cursor, some other task was deleted. Can you check if this is also the case for you?

[2022-10-25 05:01] zerodat commented on #429
@dlaidig, I think you are right.  In my tests, the delete removes **the first todo in the file**, rather than the one you selected with the mouse.  (This is especially hard to see if you happen to have completed todos in the file and you aren't showing completed todos.  If the first todo in the todo.txt file is already completed, you won't see any todo change in the GUI.)  The best way to see what

[2022-10-25 08:24] ransome1 commented on #429
@Grydpype @dlaidig @CPUGPU thanks for reporting it and @zerodat thanks for fixing it. The fix is part if the next release.

[2022-10-26 09:22] Bumpyride commented on #360
I just went under the hood of [draw.io](https://www.diagrams.net/) for a similiar use case. It turns out that it may be security settings preventing access to local file system. I'll fork this repo and see what I can do.
BTW, thanks for the recent updates and a great little program!

[2022-10-26 10:48] codeinabox commented on #36
I too am using Obsidian and I've tried opening my todo list though I've noticed it doesn't handle the Markdown check boxes ie

[code]

[2022-10-29 05:09] ransome1 commented on #428
@CPUGPU @TriggerDingus thanks for reporting this.

@zerodat well analysed. There is progress on jsTodoTxt (https://github.com/jmhobbs/jsTodoTxt/pull/33), the library that parses the string into a todo.txt object. The author is implementing the option of not altering the input string during parsing. Once this is published I can remove the ugly `raw` workaround and many issues, including this one, w

[2022-10-29 06:00] ransome1 commented on #407
@cstby can you tell me what OS you're in and if this still occurs in 1.2.8?

I'm asking because I'm having trouble reproducing it on a Mac.

[2022-10-29 06:01] #402 closed

[2022-10-29 06:04] ransome1 commented on #401
There is an option for this: https://github.com/ransome1/sleek/wiki/Hidden-preferences,-custom-variables-and-command-line-parameters#append-start-date-on-todo-creation

It's currently broken actually, but fixed in the next release 1.2.9. Feel free to try it out.

[2022-10-30 13:31] Maartyl commented on #407
Same here. Windows. Version: 1.2.7 from Microsoft Store.
- also, Alt+Win+{Left,Right} deletes due date.

[2022-11-01 11:08] ransome1 commented on #432
@dlaidig thanks for reporting this. Could you please check, if this feature does work again in https://github.com/ransome1/sleek/releases/tag/v1.2.9-rc.1

[2022-11-01 11:10] ransome1 commented on #413
@acyment I added a drag and drop feature into sleek. Could you please give it a try and let me know, if this solves the issue at hand? https://github.com/ransome1/sleek/releases/tag/v1.2.9-rc.1

[2022-11-01 11:12] ransome1 commented on #399
@mshuflin did you get sleek on the Apple app store, brew or from Github? Also, could you please check https://github.com/ransome1/sleek/releases/tag/v1.2.9-rc.1 if this still happens? I'm wondering how this can happen, as I have the exact same setup with Syncthing. Have you setup any specific settings in Syncthing?

[2022-11-01 11:28] ransome1 commented on #36
I'm afraid this has never been the scope of sleek. This app is based on the todo.txt syntax, which is not affiliated with markdown. Although sleek uses a markdown parser and is capable of opening .md files, it does not fully support markdown.

What would have been your expectations for sleek, when it opens an .md file, which inclludes `- [ ]`?

[2022-11-01 11:51] rzelnik commented on #429
I confirm that in v1.2.9-rc.1 the task deletion works as expected.

[2022-11-01 14:38] dlaidig commented on #429
It also worked for me. :)

[2022-11-01 14:40] dlaidig commented on #432
I was already about to write that it does not seem to have changed at all. Then I noticed it actually now works when creating issues via the dialog but not when using the "add as todo" button in the search bar (which I end up doing most of the time).

[2022-11-01 14:41] ransome1 commented on #432
@dlaidig mmhh that's odd, let me look into it again.

[2022-11-01 15:03] dlaidig commented on #432
Oh, and it totally does seem to break setting priorities in the dialog, either by typing "(A)" manually or by using the controls. The date is put before the priority, and then the priority is interpreted as text. After some iterations of trying to change the priority, I ended up with `2022-11-01 (A) 2022-11-01 (A) 2022-11-01 (A) test issue`

[2022-11-01 19:39] acyment commented on #413
Solved! Tks!!!

[2022-11-01 19:39] #413 closed

[2022-11-02 03:43] mshuflin commented on #399
I download the file from github. I am updating to v1.2.9-rc.1 and I will test it to see if it still happens and if I can figure out some reproduction steps. Nothing special is set up in syncthing (syncthing is on my laptop, phone, and server, all with basically default settings).

[2022-11-04 10:18] ransome1 commented on #432
I think I have to admit, that fixing this will be an ugly workaround. The root cause for this issue lies is the library, that parses the string into todo.txt objects. There is rewrite of this particular library going on at the moment and as soon as the it has been released, this issue will be fixed. As for now I won't continue working on fixing it, but the solution for this is near.

[2022-11-04 10:41] ransome1 commented on #394
@gnbl I havn't manage to look into this yet. But I added a feature, which lets you drag and drop your file into the file window. I can't say if it changes anything for you, but you can at least give it a try: https://github.com/ransome1/sleek/releases/tag/v1.2.9-rc.2

[2022-11-04 10:43] ransome1 commented on #429
With this release you should also be able to use `del` or `backspace` to delete a selected todo: https://github.com/ransome1/sleek/releases/tag/v1.2.9-rc.2

[2022-11-04 10:43] #429 closed

[2022-11-05 21:11] CPUGPU opened #436 "Sidebar tooltips "undefined" or missing"
**Is it an actual bug?**
Yes, though minor and cosmetic.  I don't think "undefined" or blank would be intentional.

**Did you check if the bug has already been reported?**
Searching for "undefined" and "tooltip" revealed no existing issues.

**Describe the bug**
Mouseover the icons in the sidebar.  The "+" icon pops-up "Add a new todo" tooltip, the parameters icon shows "View"; both good.  However

[2022-11-06 10:41] 14v opened #437 "Seting to display contexts and projects inline"
There is a task, in txt looks like:
[code]
In sleek it displayed
[code]

Expected: there is a setting to change chips display to highlighted inline text.

[2022-11-06 10:50] ransome1 commented on #436
@CPUGPU thanks for reporting this. Could you please check if this is solved in 1.2.9?

[2022-11-06 10:52] ransome1 commented on #311
@Saturo78 @aubreyz @TriggerDingus I merged @zerodat pull request and it should be part of the latest release 1.2.9. Could you please give it a try?

[2022-11-06 16:00] lquenti opened #438 "Show key bindings on hover"
**Did you check if a similar feature request has already been reported?**
Please do so first: https://github.com/ransome1/sleek/issues
(hope I haven't missed it xoxo)

**Is your feature request related to a problem? Please describe.**
I currently start to migrate from paper todos to this tool and love it so far. But I am sometimes still unsure whether a key binding exist as an alternative for a sp

[2022-11-06 16:03] lquenti commented on #438
Also, if you like the idea I'd love to try it out myself, though I don't have much experience with webdev myself.

[2022-11-06 17:41] CPUGPU commented on #436
Victory!  Thank you.

[2022-11-06 17:41] #436 closed

[2022-11-07 00:50] mshuflin commented on #399
It took several days, but opening my macbook this morning, I got this error again. Anything else I can do to help isolate the error?

[2022-11-07 05:30] rzelnik opened #439 "Can't start Sleek 1.2.9 installed through snap"
After snap upgrade of Sleek to 1.2.9 I can't start it.

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 22.10
 - Version of sleek: 1.2.9
 - Source: Snap Store

[2022-11-07 09:35] ransome1 commented on #439
I asked the Snap community for help as literally nothing really changed on sleeks side.

For now I downgraded Snap to 1.2.8 and will let you know when there is a fix.

[2022-11-07 09:36] dnngll commented on #68
Hello @ransome1 ,

since https://github.com/jmhobbs/jsTodoTxt/issues/5 has been getting some attention lately, I wondered if the matter could be addressed in Sleek again. You closed https://github.com/ransome1/sleek/issues/68 in September, but I didn't find an open issue with that problem (https://github.com/ransome1/sleek/issues/92, https://github.com/ransome1/sleek/issues/183, https://github.com

[2022-11-07 09:40] ransome1 commented on #68
Yes, as soon as jsTodoTxt is finishing the rewrite, sleek will adapt to it and hopefully this will solve these issues.

But for now the latest version of jsTodoTxt is alpha and for almost two weeks there has been no progress. I will start implementing as soon as a stable version has been released and the documentation is complete :)

[2022-11-07 09:41] ransome1 commented on #68
Indeed it is. There was no good reason to close here. I'll reopen.

[2022-11-07 09:44] dnngll commented on #68
Wow,

that's a swift response, thanks @ransome1 ! Also thanks for reopening. You have no idea how much I am looking forward to using Sleek as my daily driver.

[2022-11-07 11:38] lquenti opened #440 "Make the wiki more visible"
I just realized that the wiki is actually used by going through some issues. Would you mind either
- setting it as the "website" for this repo or
- Linking it somewhere easily visible in the markdown?

I feel like I'm not the only one who probably missed it.

[2022-11-07 16:15] comminutus commented on #439
I'm having the same issue

[2022-11-07 18:36] ransome1 commented on #439
@comminutus sorry for that, it could be a general issue with Snap and a specific Linux kernel version as suggested here: https://forum.snapcraft.io/t/snap-doesnt-start-anymore-permission-denied/32536

I will investigate if there is anything we can do our side.

[2022-11-07 23:44] rzelnik commented on #440
Good idea. Also a simple static [github-hosted](https://pages.github.com/) website would be useful - it would make app visibility and link building much easier.

[2022-11-07 23:48] comminutus commented on #439
@ransome1 thanks. Its definitely odd, all of my other snaps work fine and version 1.2.8 doesn't exhibit the problem.

[2022-11-08 07:36] ransome1 commented on #99
@brainwave I would love to welcome you onboard.

in `filters.mjs` you can find the function `generateFilterButtons`, which configures and renders the buttons. Within the loop starting at line `426` we could implement a check if the currently looped `context` or `project` is part of a mapping table and then assign a color to that button. As you can see, that mapping table would need to be able to s

[2022-11-08 08:16] ransome1 commented on #430
That would mean another interface element, which I generally am critical about as it potentially bloats the interface. So I think we need to figue out if this feature serves a lot of users.

This can be easily implemented. in fact I quickly wrote a prototype and it kind of works well. But this only works on projects and contexts as you can have several of those. How would an auto fill work for pri

[2022-11-08 13:49] lquenti commented on #440
I don't see why this has an advantage over the wiki.

I'd actually just set the wiki name in this field here

![2022-11-08_14-48](https://user-images.githubusercontent.com/21225159/200581809-0889f820-5c79-4b95-a437-f7428c6b416a.png)

[2022-11-08 14:32] ransome1 commented on #440
@lquenti I agree with you, that the wiki isn't properly represented. It has been added as you proposed and I will also include it into the readme file. Thanks for pointing it out.

Not a bad idea in general. But it would be another touchpoint, that needs to be taken care of. Maybe some day, if I have a bit more time, I'll take care of it. As for now the Github repo is a decent enough way to presen

[2022-11-08 16:54] zerodat commented on #428
Yes, I speculate that this is still due to the raw string being stored rather than the result of toString.  @TriggerDingus could you try the workaround of clicking the Recurrence chooser?  You can just choose "No Recurrence", but in my tests, that was enough to make it go through a different code path which stores the absolute date rather than storing the relative date.

[2022-11-08 19:01] ransome1 commented on #428
@TriggerDingus i didn't close it on purpose, I think it got closed with the latest release, seems to be some GitHub automation. I'll reopen.

[2022-11-08 21:48] ransome1 commented on #398
My apologies for only now looking at the video and your audio comment in it. Thanks so much for it, this really helped. Now I fully understand the issue. Let's see if I can figure out a solution for this.

[2022-11-08 22:56] ransome1 commented on #281
@mimmori @agrudzinsky I added a simple prototype for this feature in this pre-release of 1.3.0. It still is limited to contexts and projects, but can be enhanced by due and threshold dates easily. Could you give it a try and give me a quick feedback if this works as expected?

https://github.com/ransome1/sleek/releases/tag/v1.3.0-rc.1

[2022-11-08 22:59] ransome1 commented on #430
@gentlecolts I believe your alternative proposal overlaps with https://github.com/ransome1/sleek/issues/281 correct?

I did add a prototype for this into the latest pre-release. Feel free to give it a try: https://github.com/ransome1/sleek/releases/tag/v1.3.0-rc.1

You can post your feedback in 281, so we can collect it at one central point.

[2022-11-08 23:05] ransome1 commented on #311
I havn't heart back from you guys, but double checked the implementation just now. It seems to work as expected. If this is not the case, please reopen here.

[2022-11-08 23:05] #311 closed

[2022-11-08 23:21] gentlecolts commented on #430
I was only considering the use case of projects/contexts actually, as I don't personally use priorities much, that'd probably be enough for this requests I think!

[2022-11-09 08:05] ransome1 commented on #398
@jcz1 @TriggerDingus @Saturo78 @zerodat could you please check if this issue still persists in this pre-release? https://github.com/ransome1/sleek/releases/tag/v1.3.0-rc.1

[2022-11-09 08:07] ransome1 commented on #424
@NoeTerrier does this still happen in 1.2.8, which is the current release on Snap?

[2022-11-09 08:41] ransome1 commented on #407
@Maartyl @cstby is it possible that on Windows and on popOS (what Desktop Environment is it running btw?) the combination `Super/Windows + Alt + Up/Down` is already occupied by the OS?

I have a Windows 10 VM and Windows ignores the `Super + Alt + Up/Down` combination in sleek and instead splits the window size in half.

On my Ubuntu (with Gnome) the `Super + Alt + Up/Down` combination triggers Gn

[2022-11-09 14:17] ransome1 commented on #437
@14v im not sure if I fully understand this feature request.

But is it basically this here? https://github.com/ransome1/sleek/issues/68

[2022-11-09 15:13] Maartyl commented on #407
I believe it's in general better to not use `Super/Windows` for application specific shortcuts.
- On Windows they are often bound.
- On Linux I use them for WM shortcuts.

`Windows + Ctrl + Up/Down` already has meaning on Windows, as it maximizes / unmaximizes / minimizes a window.

It's OK to use letters, like `Ctrl+W/S` for up down; `Alt+A..Z` for direct choice (if it's even worth that many shor

[2022-11-09 16:18] zerodat commented on #398
It works properly for me in 1.3.0-rc.1, @ransome1 .  Thank you!

[2022-11-09 18:39] 14v commented on #437
Yes liked issue means the same. I see in comments there is an update on library sleek is dependent on, so current issue should be solved, right?

[2022-11-09 19:56] ransome1 commented on #437
@14v yes in theory it should. But as the library is being rewritten, there will be quite some work on our side to be done. So stay tuned :) I hope it is ok that I close this one. Would be good to have you join the discussion in #68, once there is progress on this issue.

[2022-11-09 19:56] #437 closed

[2022-11-10 07:36] agrudzinsky commented on #281
I tried it. Yes, it works as expected. Thank you so much!

[2022-11-10 19:41] jcz1 commented on #398
Yes, it's ok now. Thanks.

[2022-11-10 21:13] #410 closed

[2022-11-11 06:56] aisbergde commented on #281
I think, it is a good idea to use the current context by default, and to give the option to disable this in settings. To reuse the current context is intuitive.

On the other hand I miss multiple select possibilities, which would work like logical OR.

Use Case: I assign 2 or 3 different "projects" (tags) to a record. And I want all them to be applied.

That's why currently I often don't use sleek

[2022-11-11 08:48] aubreyz commented on #281
^^ That is the summary of it exactly and what I have been saying over and over. No point refining other features until it at least does what simpletask does, and has predefined filter-sets and sorting

[2022-11-11 08:50] ransome1 commented on #281
@aisbergde thanks for your assessment.

I understand your need for a more sophisticated filtering system and agree generally. It makes sense to file a corresponding feature request for this. Unless you have already done that.

But as for this thread I think it makes sense to focus on the actual feature request. Greetings from Berlin as well ;)

[2022-11-11 09:48] NoeTerrier commented on #424
@ransome1  With version 1.2.9 snap cannot launch sleek:

`~$ sleek
/snap/sleek/1100/snap/command-chain/desktop-launch: line 602: /snap/sleek/1100/sleek/sleek: Permission denied
/snap/sleek/1100/snap/command-chain/desktop-launch: line 602: exec: /snap/sleek/1100/sleek/sleek: cannot execute: Permission denied
`

[2022-11-11 10:49] aisbergde commented on #281
existing feature requests: #288 and #56

[2022-11-11 21:18] ransome1 commented on #424
@NoeTerrier yes there another bug report on this. So far I haven't found a fix for this, so I downgraded the latest sleek version on Snap to 1.2.8 again. I really wonder how you could get the 1.2.9 version. Did you install it from the Edge channel on Snap?

[2022-11-12 05:34] agrudzinsky commented on #281
I think the feature is intuitive enough to leave it as default behavior. The feature is easily disabled by resetting the filters. I wouldn't bother with the option. I can't imagine that it will "consude" anyone, but if it truly causes someone "confusion and frustration to the point of absolute misery and tears", they can request the option as a new feature, I may be the wrong person to ask since I

[2022-11-16 07:31] mimmori opened #442 "Possibility to set the behavior of the badges count on the filter sidebar"
I think it would be very useful to be able to customize the counter shown in the badges in the filter sidebar. Now the counter shows the total number of tasks with that label, it would be useful to limit the count to only those tasks that have not done.

[2022-11-23 23:41] mshuflin commented on #399
1.3.0-rc.1 this issue has not happened. I will close for now, but reopen if it recurs

[2022-11-23 23:41] #399 closed

[2022-11-29 21:04] jason-mehmel commented on #439
Commented on the Snap forum and also confirming the problem here! Using the .deb file for now.

[2022-11-30 09:27] ransome1 commented on #407
@cstby @Maartyl so I hope I've found a generic approach to handle shortcuts the same on all OS. Can I ask you to check out this latest pre-release? https://github.com/ransome1/sleek/releases/tag/v1.3.1-rc.1

In this release the following shortcuts have been implemented:
Ctrl + Shift + Up = `Priority up`
Ctrl + Shift + Down = `Priority down`
Ctrl + Shift + (Right OR left) = `Priority removed`
Ctrl

[2022-11-30 09:29] ransome1 commented on #356
@jiggie42 @Bumpyride @andrei-a-papou hey guys, I'm afraid there will be changes to the shortcuts again, as I'm aiming for a setup that is consistant on all OS. Can I ask you guys, to join the conversation here: https://github.com/ransome1/sleek/issues/407

There is a pre-release (v1.3.1-rc.1) you can download and help me to improve.

[2022-11-30 10:07] ransome1 commented on #399
@mshuflin thanks for reporting  back!

[2022-11-30 10:09] ransome1 commented on #424
@NoeTerrier Have you checked the 1.2.8 (currently on Snap) and can you confirm this issue still occurs? If not, it would be great, if you could close this issue. Thanks a lot.

[2022-11-30 10:26] ransome1 commented on #440
@lquenti hope you'Re fine with me closing this issue. If not, feel free to reopen.

[2022-11-30 10:26] #440 closed

[2022-11-30 10:28] ransome1 commented on #398
I'm closing here as this issue should be resolved. Feel free to re-open if this is not the case. @Saturo78 thanks again for reporting. Please be so kind and close future issues proactively, if they have been resolved.

[2022-11-30 10:28] #398 closed

[2022-11-30 10:29] ransome1 commented on #356
Please let me close here, in order to clean up the issue list. The documentation on the new keyboard shortcuts will be done, once #407 is fixed.

[2022-11-30 10:29] #356 closed

[2022-11-30 10:55] ransome1 commented on #373
@comicsserg @DmDrMos sorry for checking in so late.

I only have access to a Windows 11 VM. Here I do have access to the Windows app store and I just installed the currently available sleek v1.2.7 (1.3.0 is currently in review and should be available too soon, btw).

I am able to start this release and the only issues I can see are interface problems. Two icons are missing.

But unfortunately I ca