[2020-11-06 22:54] zemua opened #1 "filter uncategorized"
In the filter, an option to make a filter by "no project", "no context", or "no both" would be nice.
Now if a todo is added without project or context, when the list is too long, it is hard to find.

[2020-11-07 06:42] ransome1 commented on #1
That makes sense. I will think of a way how to implement it. Thanks for your feedback.

[2020-11-07 16:36] ransome1 commented on #1
@zemua : Let's say a todo has a context and a project and you want to hide (click on a button or something) all todos that have a project. Is this todo still visible after you click on that button? I mean it still has a context. I'm not sure on the use case here.

[2020-11-08 09:53] ransome1 commented on #1
@zemua Please check <a  #href="https://github.com/ransome1/sleek/releases/tag/v0.0.6">v0.0.6</a>. In the filter drawer you can now click on the headlines of contexts and projects.

[2020-11-09 08:48] #1 closed

[2020-11-10 15:18] mark-keaton opened #2 "Encoding/text display issue when selecting todo.txt"
I'm on Manjaro:

[code]

I used the `.pacman` release to install.
I'm using English.

![image](https://user-images.githubusercontent.com/3433130/98692757-16577000-2335-11eb-988e-f3e81aca86ba.png)

[2020-11-10 15:20] mark-keaton commented on #2
I cloned the repo and built it, and it didn't have this issue. So maybe the build is just stale?

Thanks for the project.

[2020-11-10 15:35] ransome1 commented on #2
Hi @mark-keaton .

Thanks for the bug report, I need to look into. But good new is that others have or has the same problem ("FreeSans") and I will figure out what the root cause is.

Do you have the same issue on Manjaro using the AppImage?

Best
Robin

[2020-11-10 17:30] #2 closed

[2020-11-10 17:31] mark-keaton opened #3 "Feature: Watch todo.txt to allow using Sleek or todo.sh command line"
I like the idea of being able to edit the `todo.txt` from the terminal or from Sleek.

Could it watch `todo.txt` for changes?

If you like the idea, I could maybe put in a PR.

[2020-11-10 17:40] ransome1 commented on #3
Sounds like good idea. A PR would be much appreciated!

[2020-11-14 11:30] ransome1 commented on #3
@mark-keaton, please check release 0.0.9, it contains a file watcher: https://github.com/ransome1/sleek/releases/tag/v0.0.9

Feel free to give it some testing and report back if it works or needs improvement.

[2020-11-18 15:14] #3 closed

[2020-11-25 23:08] jason-mehmel opened #4 "Stacking / Multiple Filters"
I would love to see the ability to stack multiple filter options. For example: if I've got the @1_inbox context and the +car project, that I could select both and see only those tasks that match both.

It would be great if this stacking filter option extends beyond two, as well. Some tasks may use multiple filter options.

[2020-11-26 06:25] jkopka opened #5 "Font not available?"
I've just installed sleek over snap, als mentioned in the description. The dialog for choosing an existing or creating a new todo.txt looks like this: [Error Pic](https://imagebin.ca/v/5ie6Sj0eXc87)

System: Manjaro

[2020-11-26 06:29] jkopka commented on #5
I've just removed the snap installation and tried the AppImage. Now it looks fine and the Text is correctly displayed.

[2020-11-26 06:59] jkopka commented on #5
I just saw this problem with another electron app. So i presume that it is not a problem with sleek. This can be closed.

[2020-11-26 06:59] #5 closed

[2020-11-26 09:06] ransome1 commented on #4
Sounds good. As soon as I'll find some time, I will figure out how to solve that one.

[2020-11-26 10:25] ransome1 commented on #5
Thanks for the hint anyway! It was actually the second bug report on that topic and it only seems to occur on Arch linux based distros.

I am working on Arch myself and I will try to reproduce it and hopefully fix it.

[2020-11-26 22:12] jason-mehmel opened #6 "Filter tray sorting alphanumerically"
Sorting filters in the filter tray **either** by amount of tasks using those contexts/projects, **or** sorting them alphanumerically. (In the other systems I've used, they sort them alphanumerically, so I've got some 'top level' contexts like [at]1_inbox because then it's the first thing I see on Simpletask Android or on some of the other apps I've used.

[2020-11-27 16:53] ransome1 commented on #4
@jason-mehmel , I have no idea why I closed the issue, sorry I was tired I guess ;)

Please check v0.2.1: https://github.com/ransome1/sleek/releases/tag/v0.2.1

As already mentioned on Gitter I am unsure on how the filters should be adjusted once you narrow down the results. Let me know what you think.

[2020-11-27 16:57] ransome1 commented on #5
@jkopka Quick question. I was able to reproduce it. It occuered on my Arch Linux machine when I started sleek with sudo. You didn't do that I guess?

Also please install the app again from the edge channel `snap install -edge sleek`. I updated (actually I am still working on it) the build process and was able to generate a snap that runs without any font problems with or without sudo. Maybe this e

[2020-11-27 19:11] jason-mehmel commented on #4
Works great!

When you say unsure about how the filters should be adjusted, how do you mean? As in, adjusted in the tray? Right now they are highlighted and that works for me!

Took a look in your question on gitter and I think that the filters shrinking (as in, you only see the filters that still apply based on the other filters you've chosen) would be great!

Right now, if I choose another filte

[2020-11-27 19:58] jkopka commented on #5
The font problem is still there in the snap version. The AppImage version is fine.
I got two messages, when i start sleek over the terminal:

(node:3874) electron: The default of contextIsolation is deprecated and will be changing from false to true in a future release of Electron.  See https://github.com/electron/electron/issues/23506 for more information
Gtk-Message: 20:56:26.574: GtkDialog mapp

[2020-11-27 20:49] ransome1 commented on #5
Quite some people solved your problem with this solution: https://forum.snapcraft.io/t/snap-store-fonts-on-arch-linux-are-merely-empty-rectangles/15373/6

You can of course stick to the AppImage but the Snap will be more convenient. I will try to fix the warnings you posted in the next Snap release in any case.

[2020-11-28 10:58] ransome1 commented on #5
@jkopka don't want to bother you but could you please check the latest Snap release (revision 90) using `snap install sleek`? On my Arch Linux it works but I am really curious about your Manjaro.

[2020-11-28 11:37] ransome1 commented on #4
@jason-mehmel Please check v0.2.2: https://github.com/ransome1/sleek/releases/tag/v0.2.2

[2020-11-28 12:07] ransome1 commented on #6
So far all your suggestions made sense, keep on doing that! :) Thanks to Stackoverflow I found a simple method to accomplish that, please check v0.2.3 for alphanumeric sorting of the filters: https://github.com/ransome1/sleek/releases/tag/v0.2.3

The updated filter logic of v0.2.2 is of course also included.

[2020-11-28 13:25] jkopka commented on #5
Same same. [Install Pic](https://imagebin.ca/v/5iuDZ65zTisY)

[2020-11-28 13:34] ransome1 commented on #5
@jkopka : You seem to be a couple of versions behind. Please update using `snap refresh`. The new version should be 0.2.3

[2020-11-28 14:23] jkopka commented on #5
I am just getting version 0.2.1, even with `snap refresh`.

[2020-11-28 15:47] ransome1 commented on #5
Sorry, you're right, I forgot to increase the version number on Snap Store. So you're most likely already on the latest version and it's still a problem :( I will keep digging, as my heart beats for Arch Linux ;)

[2020-11-28 17:26] #6 closed

[2020-11-28 17:27] #4 closed

[2020-11-30 06:15] jason-mehmel opened #7 "Autocomplete or Suggested for existing contexts and projects"
Another bit of functionality!

When I create a new task, I'm probably going to assign it to [at]Inbox, and maybe a project if I already know it applies. But because everything is case-sensitive, a typo could lead to problems.

It would be great if either (or both) things could happen:

- When I start typing an @ or a + it will provide me a list of all the contexts or projects that apply to whateve

[2020-11-30 07:40] ransome1 commented on #7
Thanks @jason-mehmel.

- #1 (the type ahead for context and projects) is already on my list, though it might take some time before I can finish that one as it's not trivial and needs some testing.
- As for #2 I am not sure what exactly it means, could you explain it a little further to me please?

[2020-11-30 08:08] jason-mehmel commented on #7
I can imagine that Number 1 might take some doing! I'm happy to be a research assistant. I might not know how to implement what I'm reading, but I'm a good searcher! I'm relatively techy with a tiny bit of programming, so given good criteria I might be able to dig something up!

As for Number 2, that means having a section in the New or Edit task window that would show all the available filters, g

[2020-11-30 08:14] ransome1 commented on #7
Ah I see. What if we combine these two things? For instance as soon as you start typing an "@" or "+", a list of either contexts or projects would appear below the input field and this list would narrow down the more chars you type after at or plus until you hit the space button?

[2020-11-30 08:16] ransome1 commented on #7
Plus if you find a nice example on how others implemented it, that would be lovely. Maybe it helps to find the most user friendly solution.

[2020-11-30 08:39] jason-mehmel commented on #7
This is exactly what I mean, actually! Would you be able to select the context or project by using the arrow keys to navigate?

An example of another app that's implemented this is Qtodotxt. https://github.com/QTodoTxt/QTodoTxt

(There's also a QTodoTxt2, I haven't tried it!)

I think yours is visually more elegant and also yours is doing the process we talked about: removing filter options that d

[2020-12-01 12:17] ransome1 commented on #7
@jason-mehmel : I created a little prototype of the idea and before I continue spending time into development, I wanted to ask for your opinion. There is a test version in the Snap edge channel, you could download: `snap install --edge sleek`

Looking forward hearing your feedback.

[2020-12-01 18:10] jason-mehmel commented on #7
Let me give it a try!

Question though: when I tried that command in my terminal, it told me Sleek was already installed. I'm going to try uninstalling it and then that command to see if I that works!

[2020-12-01 18:24] jason-mehmel commented on #7
Okay, that wasn't a question. But it did work! Uninstalling and then executing your command got me the edge channel version.

And it works! It's great! As soon as I type [at] or [+] I see the available options, and it reduces as I type if anything fits those criteria.

I can also tab my way to the options and select them that way, meaning I don't have to take my hands off the keyboard to enter! Gr

[2020-12-01 19:16] ransome1 commented on #7
Glad it's useful to you. The best testing would propably be just using the app in your daily life and let me know what works and what does not. Appreciate your feedback! I will do some code clean up in the next couple of days and push the feature to a proper release.

[2020-12-01 19:21] jason-mehmel commented on #7
Will do! I'll let you know if I think of any more enhancements or find problems.

[2020-12-01 19:21] #7 closed

[2020-12-11 19:30] ransome1 commented on #5
Hi @jkopka , I set up a fresh Manjaro and installed 0.4.1 (Revision 110) of the app and I don't have any encoding problems anymore. I hope it is solved for you too.

[2020-12-27 16:17] fabiansiegel opened #9 "Feature Request: multiple todo.txt files"
I am working with multiple todo.txt files, because I am using that to collaborate other people by syncing it via dropbox.
I would be awesome if switching todo.txt-files would be easier e.g. by having a history of these files.

Thanks a lot for this really nice frontend.

[2020-12-28 07:04] ransome1 commented on #9
Sounds good, I'll take a look into it. Would you be willing to give it some testing when it's ready?

[2020-12-28 07:36] fabiansiegel commented on #9
sure

[2020-12-29 01:26] maheshsundaram commented on #9
Hi @ransome1 ! I just found this project - I have been looking for a good todo.txt interface for my laptop for a while and I really like sleek - it really lives up to it's name.

Anyways, I also use multiple todo.txt files, so I would be willing to test it as well - and if you have a general idea of how you'd like to implement it, or want to pair on it, I'd be glad to help.

[2020-12-29 08:45] ransome1 commented on #9
What about something like this.

Click on
![Image](https://imgur.com/Oz0jyL9.png)
Would open a window
![Image](https://imgur.com/LvRreqQ.png)
Where you can choose all todo.txt files you selected so far. You would be able to add more files and delete old ones.

UI wise it is nothing fancy yet, but it would get the job done at least for a first release. What do you think?

[2020-12-29 11:05] ransome1 commented on #9
@fabiansiegel , @maheshsundaram , feel free to take a look at 0.6.0. It has a basic implementation of the screenshot above: https://github.com/ransome1/sleek/releases/tag/v0.6.0

[2020-12-29 12:40] fabiansiegel commented on #9
very nice, perfect for me.

I only have one suggestion: the "create new file" only appears if there are no todo.txt files selected, i.e. at the beginning. Once you have one selected, you cannot create a new one.

[2020-12-29 14:19] maheshsundaram commented on #9
Looks great!

[2020-12-29 16:14] fabiansiegel opened #10 "Dark-mode button does not work on first press"
on the very first press after installation, the dark-dark mode button does not do anything.

afterwards it works, it can be reproduced by deleting ~/.config/sleek

this is probably due to this:

[code]
which means: if system is already light, nothing changes. I'm not sure how to fix this bug.

Electron documentation says this:

[2020-12-29 16:58] ransome1 commented on #9
@fabiansiegel , I added the create file function to the new window. And also you are now able to name your todo file as you wish. Until now it was only possible to literally create one "todo.txt" file, which wouldn't make sense anymore after multiple selection of todo files is now possible.

Please give it some testing and in the meantime I will clean up a bit, before I will release it.

[2020-12-29 17:04] ransome1 commented on #10
For now I fixed it by defining theme to "light" on first start. Works fine, but isn't good enough yet.

I think Electron offers a method that will tell me the OS' specific setting. I will look it up and put a fix into the next release.

[2020-12-29 18:07] fabiansiegel commented on #10
according to https://www.electronjs.org/docs/api/native-theme#nativethemethemesource
"shouldUseDarkColors" should indicate what theme to use (even if set to system).

If set to "system", the theme changes when changing the system theme. (at least according to this:
https://github.com/electron/electron/issues/21899 , I could not find much in the documentation apart from https://www.electronjs.org/d

[2020-12-29 18:12] ransome1 commented on #10
Thanks for the hint.

I already fixed it using the shouldUseDarkColors method and it will be part of 0.6.0. From now on sleek will adjust to the OS setting, but only until the dark mode switch used for the first time. From there on the dark mode setting will be persisted and overwrite the OS' default.

[2020-12-29 23:41] fabiansiegel commented on #9
very awesome. It's working without a hitch.

[2020-12-30 16:56] velardevines opened #11 "Any plans to support repeating tasks?"
Just installed Sleek. Nice work! Any plans to support repeating tasks?

[2020-12-30 22:12] ransome1 commented on #11
I was thinking about it and some other todo.txt apps already have it implemented. That could actually be 0.7.0 material here. I'll get back to you as soon as there are any news.

[2020-12-30 22:12] #10 closed

[2020-12-30 22:13] #9 closed

[2020-12-31 00:18] velardevines commented on #11
Great, thanks!  If it helps, I am able to help test.

[2021-01-05 14:48] dansauve opened #12 "Feature Request: Pin context(s) and project(s) to sidebar"
It would be nice to be able to pin individual context(s) and/or project(s) to the sidebar.

Ideally, this would be defined per context or per project.

[2021-01-05 15:12] ransome1 commented on #12
Hi @dansauve.

I'm not sure if I understand this completely. Could you clarify it a bit more?

If, with pinning, you mean putting the important project and contexts to the beginning to the filter list, you could do this my naming them starting with numbers, as the sorting is alphanumerically. e.g. "@001_context1".

[2021-01-05 22:06] jason-mehmel commented on #12
@dansauve What @ransome1 suggested is what I do. I add a '1' to my contexts and projects if I want them to be at the top of the list.
This way, I also get the same behaviour in my other todo.txt apps, such as Simpletask, which I use on my phone.

[2021-01-05 22:17] jason-mehmel opened #13 "Error when trying to complete a task"
Discovered an error when I tried to use Sleek today!

I opened sleek, chose my inbox context, and started clicking 'done' on some stuff that I'd already completed. They didn't get removed from the task list. I tried clicking on other, same issue.

I noticed (because I have 'completed todos' selected) that at the bottom of the list, there is a completed task, and it's the same one I clicked on. In

[2021-01-05 22:19] jason-mehmel commented on #13
Oh, also, I noticed that when I tried creating and completing a task within Sleek itself, the process works as it should. So it's only the tasks that are inherited when it opens the file.

I'm spitballing, but could that be a permissions thing?

[2021-01-06 07:35] ransome1 commented on #13
Hi Jason.

Thanks for the bug report. I tried to reproduce it real quick, but so far didn't succeed. For me the latest revision from Snap (138) works as it should. But your problem sounds familiar, like something I saw during development last month. Though I am sure I fixed it. Nevertheless I will dig into it as soon as I finish the recurring todo feature that is in the pipeline right now.

I will

[2021-01-06 07:42] ransome1 commented on #11
@velardevines . There is some progress on this feature, but I am stuck with a question I would like to address to you.

Let's say there is a todo that is due today. And in the past you defined that this todo has a recurrance of one week. I was thinking it makes sense, to duplicate the old todo and leave it untouched. The new todo would then have the same attributes, except that the due date would

[2021-01-06 08:22] jason-mehmel commented on #11
It's an interesting point. I tend to do habit tracking or recurring tasks in things other than todo.txt, but I can imagine a situation where it would be useful.

Working through the question... either: a) generating a new task line copied from the previous based on some repeating logic, or b) editing the line with repeating logic.

In the case of A) benefits would be having each task line as it's

[2021-01-06 08:32] jason-mehmel commented on #13
Some more discoveries:

- The 'completed' task behaviour is appended to the end of the text file, but I've also seen it replace a different task if there aren't any lines left

- Looking on the ubuntu software centre, I'm using 0.6.0, latest/edge

[2021-01-06 08:43] jason-mehmel commented on #13
Yet more discoveries (then I'm going to bed)

- I have another todo.txt file I use for testing apps, such as Sleek! None of the problems I've discovered happened there! Which makes me wonder about file permissions? Or if there's some legacy config file that got garbled for a file in my /Dropbox/TODO location that doesn't affect performance when I'm pointing at a todo.txt file somewhere else?

[2021-01-06 14:29] ransome1 commented on #11
@velardevines, I just uploaded a pre-release that contains a recurrence picker, you can download it here: https://github.com/ransome1/sleek/releases/tag/v0.7.0-Alpha

**Some things for you to know**
- Recurrences can only be selected when a due date has been selected first. Actually the recurrence picker is invisible until this happens
- You can set the recurrence per text input using "rec:" and a

[2021-01-06 15:36] ransome1 commented on #13
Well, good morning then ;) Here it's already getting dark again.

If the other file would have a permission issue, than writing would propably not be possible at all. But as I understand from your description, sleek actually does write into the file, but in a wrong way, right?

Anyway, I haven't had the time to work on this bug yet, but I just uploaded an alpha release for the recurring todo featu

[2021-01-06 16:13] velardevines commented on #11
I'll download 0.7.0. Thanks for working on this feature.

Setting the new due date based on the old due date is a good approach.

Another option is to set the new due date based on the completion date. Both options have advantages.

I'll download the release and do some testing.

--Bill

[2021-01-06 17:12] jason-mehmel commented on #13
Ha! We must be in totally different time zones. I'm in Western Canada, what general area are you in?

Still the same behaviour...

I wondered if it's a problem with the config area and files somehow... because even when I remove the app entirely it starts in dark mode, so I thought maybe it was inheriting behaviour somehow.

I tried deleting the config folder, in /Home/.config/Sleek. Reinstalled S

[2021-01-06 17:18] ransome1 commented on #13
Berlin, Germany, that's quite some distance ;)

There are no logs written into a file, but you can open the developer tools as this is an Electron app. Sleek has a menu, push the alt key to see it. Under "About" you can toogle the debugging tools. The tab "Console" will show you what sleek does. Any sign of an entry starting with "Error in ..." will help us.

[2021-01-06 17:20] jason-mehmel commented on #13
Gutentag! My family is mostly German. I've never been, though I'd love to.

I will check that the debugging tools!

On the off chance... I tried deleting the todo.txt file, creating a new one, and then copy-pasting all of my content into the new file.

Still the same.

Other questions:

Could I be reaching an upper file limit? I've probably got 500 lines in my file, but a lot of those are referenc

[2021-01-06 17:22] dansauve commented on #12
My request is probably complicating things, and without knowing what the roadmap is for the app it's hard to say if this is a good idea or not, but here goes...

The core request is options to configure the sidebar, by which I mean the thin grey bar on the left (with "+" icon, "show filters", "open todo.txt file", etc options).

1) I'd like to "pin" specific items to the sidebar, like context and

[2021-01-06 17:23] ransome1 commented on #13
Did you use sleek to create the file before copying the content into it?

[2021-01-06 17:23] jason-mehmel commented on #13
I did not! I will try that!

[2021-01-06 17:27] jason-mehmel commented on #13
Tried it, didn't work.

[2021-01-06 17:28] ransome1 commented on #13
If you say the file is mostly consisting references, is it possible that there are duplicate entries in that file? So far I have not build in a check for duplicates before saving stuff. So maybe sleek is having problem with completing todos that have a clone.

I'm not aware of a file limit, but must admit that I've never used sleek with such a large file. Is it working well performance wise?

[2021-01-06 17:32] jason-mehmel commented on #13
It works well performance wise!

I'm not sure about duplicates... let me see if I can find any and clean that up.

Here's the console from me both trying to complete a task, and then 'uncompleting' that task.

complete

render.js:1430 Success: Changes written to file: /home/jason/Dropbox/TODO/todo.txt
render.js:640 Success: File watcher is watching: /home/jason/Dropbox/TODO/todo.txt
render.js:648

[2021-01-06 17:40] ransome1 commented on #13
That looks perfectly fine, sleek is not having problems writing or reading anything from that file.

Can you do me a favor and move that file out of the Dropbox into a place that is not synced by any application? Because maybe Dropbox is doing some temporaral writings into the file for whatever reason. That actually would trigger the file watcher that is implemented in sleek.

If that's not the ca

[2021-01-06 17:45] ransome1 commented on #13
If duplicates are the problem that would be a great finding, as I can implement a function that would remove duplicates automatically. Unless there is a reason, why there should be a todo that is completely identical to another one.

[2021-01-06 17:52] jason-mehmel commented on #13
I used Sublime Text 3 to sort for duplicates, as well as a plugin to remove them. I didn't find any but that should have taken care of it.

Still the same!

I also copied to my home folder, out of Dropbox. Still the same!

So there must be something in this file. Could it be something like a smart-quotes vs straight-quotes issue?

[2021-01-06 17:57] ransome1 commented on #13
It's possible and I'm really curious what it is. sleek is handling the file using utf-8 which is one of the most common encodings out there, that should handle everything you've written or pasted into the file quite well. But you never know.

Does the file contain sensible or personal data? If not you can send it to me by mail and I'll take a look myself.

[2021-01-06 18:00] jason-mehmel commented on #13
Oh, also: When I try to complete a task, it copies the line to the bottom of the .txt file and puts an x after it... but when I go to un complete it, it uncompletes that task and now there are two copies of the task line!

I'll add some screenshots to show the behaviour: You can see my inbox list, then one inbox item 'completed' but also still in the list, and then a duplicate of that item in the

[2021-01-06 18:01] jason-mehmel commented on #13
Let me see if there's anything personal in here that I don't feel comfortable sharing!

[2021-01-06 18:06] jason-mehmel commented on #13
It's hard to determine what's personal and what's just weird in a file this big! But I think I'm comfortable sending it to you. I'd rather not paste it here, can I email it to you?

[2021-01-06 18:08] ransome1 commented on #13
Sure of course, just send it to ransome@uber.space

But only if it's really fine with you as this list looks personal.

Quick question about the screenshots. The sorting is upside down right? Or do you have a duplicate entry for "family history interviews" when you start clicking on complete?

[2021-01-06 18:28] jason-mehmel commented on #13
Ah yes. They are upside down, sorry. The bottom one shows the 'start' and the middle is after clicking complete, and the top one shows the now-duplicated file.

I don't mind sending it... it is personal but it won't mean much to you, and there's so much there that I don't get the vibe that you'll even want to go through it other than trying to find rogue characters or something.

[2021-01-06 19:04] jason-mehmel commented on #13
Sent!

I cleaned up the file by removing a bunch of tasks that were old or that were no longer valid.

I also found a task that had two slashes and modified them to hyphens... still the same behaviour!

[2021-01-06 19:12] jason-mehmel commented on #13
I'd love to know if you have the same problem when you load up my file in your own Sleek.

[2021-01-06 19:48] ransome1 commented on #13
I'm having the same weird behavior. Which is good and bad news at the same time I guess ;)

Tomorrow I will try to find some time to look into it. I'm really curious what the reason is. I'll get back to you as soon as I find something.

[2021-01-06 19:52] ransome1 commented on #12
The idea is not too bad and should be doable in general. I'm not sure though how to implement it UX wise without complicating the app too much.

With contexts and projects you mean single contexts or projects, not the category itself, right?

[2021-01-06 21:20] ransome1 commented on #13
Hi @jason-mehmel .

Could you please update sleek from Snaps edge channel and tell me if it working now?

Please backup your todo file before, because it will change.

The problem was that for completing or uncompleting todos, sleek needs to find the right line number to change the todo. Doing so for performance reasons, I am comparing text strings with each other, but sleek could not find a match

[2021-01-06 21:22] ransome1 commented on #13
PS: That is actually quite a sophisticated bug and I am really glad we found it.

[2021-01-06 21:58] jason-mehmel commented on #13
I'm impressed. And this is probably useful not just for this, but for anyone else playing with todo.txt.

I often apply contexts first because my thought process is: "This is going in the Inbox," so that's the first thing I type.

Question: Do I need to change my todo.txt to get in line with 'text-then-context' format, or will this new version adapt to my style?

[2021-01-06 22:53] ransome1 commented on #13
I'm afraid sleek will not be able to adapt to your style. It will understand it, but as soon, as it saves any change to the file, your style will be replaced by the official one automatically.

You don't need to rewrite your file, because sleek will do this for you as soon as you do your first edit using sleek, like for instance completing a task. This is why you should backup your file, if you're

[2021-01-06 23:08] jason-mehmel commented on #13
I'm not picky about the style!

Okay, next question: if I'm creating todo tasks with my other apps (Simpletask on my phone syncing with Dropbox) should I keep the correct style of TASK - CONTEXT when creating tasks there?

(Maybe that's how this bug started, by creating todos on my phone in the wrong style?)

Or will it not matter, as soon as Sleek opens it will rewrite the todo.txt file it will b

[2021-01-06 23:22] ransome1 commented on #13
`Or will it not matter, as soon as Sleek opens it will rewrite the todo.txt file it will be 'fixed' or otherwise reformatted for correct style?`

Exactly, you can basically write your todos however you like, it doesn't matter. Also if other apps write the todos not according to the official syntax, it doesn't matter. As soon as sleek opens your file, it will read line by line using a todo.txt pars

[2021-01-07 11:12] ransome1 commented on #13
I'm uploading the 0.7.0 to Snap Store right now. This fix is included as is a check for duplicates, when you enter new todos. That has nothing todo with this case, but could become handy.

Also on higher resolutions than 1000px in width, the filter bar will be a bit wider. Because looking at your screenshots and seeing the amount of contexts and projects, it gives me a good idea on how sleek might

[2021-01-07 11:12] #13 closed

[2021-01-07 20:27] jason-mehmel opened #14 "Archiving done tasks!"
This one is a feature request, something that occurred to me as we were dealing with the problem of completed tasks.

Simpletask Android does this via an 'archive' option, taking all the completed tasks and putting them in a done.txt file in the same local folder.

It would be awesome for Sleek to be able to do this as well! And even better, if it wouldn't overwrite the done.txt that Simpletask cr

[2021-01-08 09:45] D3JA5U opened #15 "Windows - reload replaced/updated todo.txt"
Hi @ransome1,

I am a simple user, not a coder. I discovered your Sleek program for Windows a few days ago. I really like the look and feel of it - nicely done!

I am using SimpleTask (Cloudless) on Android with SyncThing to keep shared files updated between laptop (Windows), phone (Android) and a tablet (Android).

SyncThing replaces the todo.txt file that is currently open by the ToDo applicatio

[2021-01-08 09:56] ransome1 commented on #15
Hi @D3JA5U.

That is interesting, because I too am using Syncthing and am not experiencing that problem. But let me see, if I can setup the file watcher to to wait a bit, before trying to reload the file. That should solve this problem.

If everything goes well, this will be part of the next release.

If that doesn't solve the problem, maybe the button you mentioned might be a solution. Then sleek

[2021-01-08 09:59] ransome1 commented on #14
I have been reading about the done.txt principals and it makes sense, especially if you're handling large files. Does Simpletask simply move the completed todos directly into the done.txt, once it has been marked as completed? And back into the todo.txt file, when you mark the todo as in progress again?

And what happens, if you have two different todo files in one folder? Does Simpletask use two

[2021-01-08 10:50] D3JA5U commented on #15
Thank you for your quick response.
If it is working for you it could be an issue on my system only.
I noticed that once Sleek falls back to its start screen and I want to (re-) open my todo file it always starts at the %user% folder, not the one where the previously used todo.txt resides but I assume that is working as intended.
Should not make a difference but I have the todo.txt on a second inte

[2021-01-08 11:21] ransome1 commented on #15
@D3JA5U, I implemented a simple interval of 60 seconds, before the file is reread after it has changed. If you like, I'll upload it and you could check, if this solves the problem on your side. I am just not sure about the interval. For the general user experience the shorter the better I guess.

Are you using the exe file from Github's release page?

[2021-01-08 12:01] ransome1 commented on #15
Can I ask you something? When you look at the file in your Explorer and if you then change it in Simpletask, do you actually see it disappear and reemerge in Explorer?

[2021-01-08 18:15] jason-mehmel commented on #14
I'm not 100% on the functionality of how Simpletask manages it, but I'll do my best based on usage!

Simpletask moves completed tasks to a done.txt file _**after**_ an archive request is made in the app. So they aren't moved to done.txt automatically every time a task is completed. The command is listed there as 'archive.'

There isn't any method to move tasks back to todo.txt once they're in done

[2021-01-08 18:28] ransome1 commented on #14
I see. That's pretty basic and implementing a button, that will only transfer finished todos from the todo file to a done.txt in the same folder, would be an easy exercise.

You have Simpletask on your Android phone, right? Could you please just check real quick, what happens if you transfer todos from two different todo files to the archive? It probably puts them into the same done.txt.

Automati

[2021-01-08 18:45] D3JA5U commented on #15
Version 0.6.0 was downloaded from this page. Today I deleted all folders related to Sleek 0.6.0 and the corresponding SyncThing pairs on all devices. I then downloaded version 0.7.0 from this page and I set up new folders and pairs in SyncThing for all devices.

Now, I am happy to report that all is working as expected. Sync is being done within seconds of changing a todo list item on any of my th

[2021-01-08 19:11] ransome1 commented on #15
Oh really? I haven't uploaded the version with the timer yet :) Did you change anything on your setup?

[2021-01-08 19:56] D3JA5U commented on #15
A newer version of your program and I am running it from C: drive now. I used Sleek to create a new todo.txt file. The previous todo.txt I had started in Notepad++. Maybe it was corrupted somehow but the Android devices had no issues with it. The rest is the same as before.

[2021-01-08 22:29] jason-mehmel commented on #14
(An important note: Simpletask did have an option for 'auto archive' in it's settings that was switched on when I began this test. When auto archiving was on, it was writing each completed task to the done.txt file. I then turned it off and kept testing.)

Okay! I played with it in a test folder. I created a todo.txt and a todo-trial.txt.

Both todo.txt and todo-trial.txt appended their completed

[2021-01-09 11:13] ransome1 commented on #14
Ok, let's start then with a manual archiving function, represented by a button.

Right now I am working on technical depths and this feature would follow right after that.

[2021-01-09 12:30] ransome1 commented on #12
@dansauve I added your request to the backlog and let you know if and when I will find the time to work on this feature.

[2021-01-09 12:30] #12 closed

[2021-01-09 19:39] D3JA5U commented on #15
To close this topic off - likely a glitch/issue on my side. It is working perfectly on 0.7.0. Thank you @ransome1 for swiftly responding to an average Joe trying out your sleek code 👍

[2021-01-09 19:39] #15 closed

[2021-01-10 15:06] wsdfhjxc opened #16 "An option to use an existing task as a template"
An option named Template could be added to the three-dots context menu. It would result in opening a pre-filled dialog to create a new task, with its content being identical to the original task (due dates, contexts, tags, etc.), but with the original description being replaced by "__________", so that it could be easily double-clicked and overwritten by the user with a new description.

I think s

[2021-01-10 18:30] ransome1 commented on #16
Hi @wsdfhjxc I do like the idea, it's not hard on the interface, might be useful to some and I am reworking the more menu at the moment anyway (It's a little static right now). I could easily add this feature, once I refined the more menu. Of course I more than appreciate your offer :)

There is one thing though I am unsure about and that would be the naming "Template. You and me get the meaning,

[2021-01-10 18:53] velardevines commented on #11
I've checked the recurring feature but not extensively. Only one unexpected outcome at this point. I created a task with due date two days in the future and with a weekly recurrence. If I check the task as done before the due date then no new task is created. It seems a new task should be created regardless of when the task is completed.

--Bill

[2021-01-10 18:59] ransome1 commented on #16
Also: Would it be useful if after the window with the duplicate appears, to highlight the "__________" only? Javascript should be able to accomplish this.

[2021-01-10 19:01] ransome1 commented on #11
Good point I didn't have this use case in mind. Let me see what I can do. Thanks for the feedback so far!

[2021-01-11 02:45] wsdfhjxc commented on #16
Yes, "Use as template" would be the most suitable label for this action.

And the suggestion about automatic selection of the placeholder description is very clever :ok_hand: .

So, I have it all sorted out in my fork already. But since you plan to rework some related things, I suppose I have to keep it for myself for the time being. However, if you want to take a look at the changes, just tell me

[2021-01-11 07:26] ransome1 commented on #16
I didn't realise you are already working on it, that's great. If you're feature is stable, feel free to send me your pull request and I'll merge it. Even if the rewritten more menu won't be finished until next release, your feature would be part of it.

Thanks for your work!

[2021-01-11 16:50] ransome1 commented on #14
Hi @jason-mehmel .

I just completed a first draft for that function and pushed it to Snaps Edge Channel: `sudo snap install --edge sleek`

So far I only worked on the function itself, not on how to implement that button into the user interface. So I just placed it under the search bar for testing purposes. If you have a good idea, let me know.

Can I ask you to check that version and give me feed

[2021-01-11 19:59] jason-mehmel commented on #14
I played around with it!

It **didn't** create a done.txt when I tried removing the done.txt and then trying archiving. Here's what I got from the console:

Error in archiveTodos(): Error: ENOENT: no such file or directory, open '/home/jason/Dropbox/TODO/test/done.txt'

When there is a done.txt file present, it does write to that file, but with some errors? (I'm having a hard time duplicating them

[2021-01-11 20:15] ransome1 commented on #14
Hey @jason-mehmel . Sorry that sounds like an early development version got stuck in the Edge Channel. Could you try to update? It should be revision 191 now.

[2021-01-11 20:31] jason-mehmel commented on #14
Aha! It looks like done.txt is being created now, as it should be. And the archiving looks like it's working both for a new file and appended to a created file.

I also tested it with two different todo.txt files in the same folder, and it's all writing to the same done.txt file!

[2021-01-11 20:31] koppor opened #18 "Reordering of tasks by drag'n'drop"
In the task list, a reordering of tasks should be possible.

They should displayed grouped by:

- today
- tomorrow
- upcoming (grouping all tasks the next two weeks)
- somedate (here are all without date)

When dropping into "tomorrow", the task gets tomorrow's date (similar for today).  When dropping into "somedate", the date is unset. Dropping into "upcoming" the task receives the latest date in

[2021-01-11 20:38] koppor opened #19 "due date selection should offer "in one week" etc."
As user, I want to add TODOs quickly. Thus, I also want to choose a due-date quickly. If I want to achieve something in three months or this year, I don't want to choose the exact date (e.g., 2020-12-31). Could the date picker offer following as dropdown?

- today
- tomorrow
- weekend
- next week
- in one month
- this year

[2021-01-11 23:06] koppor commented on #18
Implementation idea: Store line number somehow

Each task gets a `sortNumber` assigned. It is stored as float. At reordering, the new sort number is the mena value of the task before and after. When sorting entries at filtering, they are sorted with this criterion last applied.

When saving the file, the items are sorted according to the sort number.

[2021-01-11 23:47] jason-mehmel opened #22 "Feature Request: adaptive filtering of the filter tray"
This is similar to an earlier feature request, though that one was limited to just the process of adding new tasks. (For anyone else reading, basically, that function is reducing the possible contexts and projects you can apply reduce as you type. So if you type '[at]1' for example, you'll only see the contexts that still apply based on that criteria. I use numbers for some important contexts, so

[2021-01-12 02:21] wsdfhjxc commented on #22
Yes, it's quite reasonable to navigate tags like that. Especially because, in the filter's logical `AND` query mode, clicking a couple of unrelated tags provides no results, so I'd say it's just better to hide the irrelevant tags altogether.

By the way, one additional thing, shouldn't the filter tray's internal query be stringified and also copied to the text input filter bar at the top? I think

[2021-01-12 07:24] #16 closed

[2021-01-12 07:54] ransome1 commented on #18
Hi @koppor.

Drag and drop support would be great, I'm with you here. From the start on I was thinking about it, but I was never sure if this would compatible with the todo.txt rule set. Though your suggestion could work, if this feature would be available within each priority group.

However, your suggestion includes persisting a sorting index. Implementing it brings quite some complexity to the

[2021-01-12 08:16] ransome1 commented on #22
Makes sense, that's for sure. There might be an issue with usability though. I for instance have only 8 contexts and 5 projects and my todos mostly have one or, at max, two contexts assigned, often not even a project. I admit, I might be an exotic case. So clicking on one context would, in my case, reduce the filter list to only one entry at one blow and could irritate the user. But then again, we

[2021-01-12 10:11] ransome1 commented on #22
@jason-mehmel , @wsdfhjxc , feel free to check out Revision 195 from Snap Stores Edge Channel, it includes the switch to adaptive filtering. Let me know how it works for you.

[2021-01-12 20:31] jason-mehmel commented on #22
It works wonderfully! This is basically the last feature I was desperate for regarding using this app. I've got lots more ideas for other functionalities, but this to me is the icing on the cake of a clean, robust, and simple todo.txt app.

(Also, regarding usability, when I do a search in the search bar, it doesn't reduce the filter tray. **I don't think it should!** I think this is a great way f

[2021-01-12 21:15] ransome1 commented on #22
@jason-mehmel . I think you and @wsdfhjxc were right after all, not only does it makes sense and feels logical, but it also hasn't a negative effect on the usability as I was expecting.

I remember your todo list and especially the long filter list. Thinking about it, I would like to point out, that the filter drawer is now resizable in it's width. So in case you have a wide screen and you don't w

[2021-01-12 22:38] koppor commented on #18
@ransome1 Thank you for the long answer. While diving into the code, I wondered how you can achive so much functionality with plain JavaScript and HTML :+1:. I wonder whether the choice not to use any framework was by accident or intended? If I would start a new HTML app, I would use vue.js. I evaluated vue.js a few years back, when knockout.js and backbone.js were still an alternative. One can ea

[2021-01-12 22:53] wsdfhjxc commented on #22
Thank you for implementing this, and for the resizable drawer. That's really awesome!

Also, as for the idea of synchronizing the filter tray and the search bar, I meant that it could be implemented in a way so that no particular filtering capabilities are sacrificed (freely mixed tags and keywords, etc.). But since the search bar parses provided queries strictly in a todo.txt format, it's current

[2021-01-13 08:54] ransome1 commented on #22
@wsdfhjxc, let me know if you achieve something useful in your fork. Thanks again for your contribution on the template function.

@jason-mehmel, I just published the adaptive filtering as part of 0.8.0. Thanks for your push.

[2021-01-15 11:45] #22 closed

[2021-01-15 11:46] ransome1 commented on #14
Has been released as part of 0.8.0

[2021-01-15 11:46] #14 closed

[2021-01-15 15:38] marshmanGit opened #24 "Todo input from "text" to "textarea""
This app has a nice UI and I would like to see the input field be a textarea field to make editing longer than normal items easier.  This would improve the usability IMHO and you can circumvent LF with a special character if desired as not to inject them into the text file.

[2021-01-15 17:58] ransome1 commented on #24
Hi @marshmanGit.

That should not be a problem, although I would not replace the input field with a textarea, as the input field is imo sufficient in most cases.

How about a switch button that will replace the input field with a textarea on demand?

Can you explain, what you mean with this "and you can circumvent LF with a special character if desired as not to inject them into the text file." I

[2021-01-15 18:31] wsdfhjxc commented on #24
I think @marshmanGit means that, while being in the text area mode, you could insert new lines into the task's description. When saving it to the file, the `LF` (line feed) characters would be replaced with some other invisible and harmless ASCII character, for example `ACK`. And the code for displaying the loaded tasks would then  replace `ACK` characters with the `LF` character.

Apart from the

[2021-01-15 19:06] marshmanGit commented on #24
Absolutely!   I was just offering a possible approach to address an issue you could run into due to the fact that Textarea input fields will typically allow Line Feeds.  As @wsdfhjxc eluded to, your text files that hold the TASK data appears to parse based on line feeds ( Line 1 = task 1, Line2=task2 etc...).  Provided that is true then you will need to replace LF in the textarea input value when

[2021-01-15 19:13] marshmanGit commented on #24
In lieu of the textarea ( and possibly abusing the todo.txt format as @wsdfhjxc mentioned, another idea that may prove valuable would be to have a "notes".  In my mind the missing element is the ability to supply some form of extended notes no matter how it is implemented.  These could be kept within individual files per TASK (assuming most tasks will never have notes ) but since you don't have a

[2021-01-16 11:47] ransome1 commented on #24
@marshmanGit . Took me some time, but now I got it, sorry ;)

@wsdfhjxc , I'm not even sure if it would clash with the todo.txt rules, as the syntax doesn't change or anything. I think the problem is more, that it could be a feature that won't actually be used by many users. Also there might be some minor challenges with the date and recurrence picker or the suggestions container for contexts and

[2021-01-16 13:57] wsdfhjxc commented on #24
@ransome1 Yeah, it doesn't clash with the todo.txt rules. I was rather talking about ideological reasons, as the format doesn't support multi-line tasks by design (there is a [discussion](https://github.com/todotxt/todo.txt/issues/2), however). And I don't know how much "faithful" to the todo.txt format sleek aims to be, but it seems you're not against that, so that's cool. Personally, single-line

[2021-01-17 18:30] wsdfhjxc opened #25 "Custom recurrence periods (e.g. rec:3d, rec:2w)"
The existing recurrence period options are quite handy, but I think that the task recreation system would be much more useful if we could be more specific in regard to the periods. For example, a task could then not only be recurring daily, weekly, monthly or annually, but also every three days, every two weeks, and other combinations of numbers and the existing options.

The recurrence period pic

[2021-01-18 10:38] Li-An opened #26 "Showing filters terms directly"
Hello, what a great surprise ! I like very much todo.txt concept but stopped using it as I did not find an interface I liked. Your application is beautiful and very well designed. Thanks a lot. Alarm/Reminder management is very promising.

So the point I don’t like much is the way filters are shown. For the moment, we have to click once to see different filters. I would prefer they were shown dire

[2021-01-18 11:02] ransome1 commented on #26
Hi @Li-An . Thank you for your kind words.

As a short term workaround I could add a keyboard shortcut for toggling the filter drawer.

And on the long run we would need a smart UI concept. sleek aims to be simple and clean and by just putting the filters in main view it could raise quite some concern with users who for instance have a lot of contexts and projects.

Let me think about it and if yo

[2021-01-18 11:23] ransome1 commented on #25
@wsdfhjxc . If this feature comes with a coherent interface, I think there is a good chance for it not to be confusing.

The only thing that would keep me from working on the feature is the response on the recurrence picker so far. Some kind users activated the error and event logging and looking at the numbers, there has been no noteable usage of that feature so far. But if this comes handy for y

[2021-01-18 12:15] marshmanGit commented on #24
Thank your for the update.  AWESOME!!!

[2021-01-18 12:15] #24 closed

[2021-01-18 14:33] Li-An commented on #26
Thanks for your quick answer. I understand the problem. Maybe showing only the ten "best" filters ? I don’t know if it’s possible to add an option to show or not the filters on main window.

[2021-01-18 16:45] wsdfhjxc commented on #26
As a partial solution, sleek could just remember the filter drawer's state (open/closed) and restore it at launch.

[2021-01-18 17:10] ransome1 commented on #26
@wsdfhjxc , simple and effective :1st_place_medal:

@Li-An: Wherever this is heading, let me add @wsdfhjxc's suggestion into the next release. You can also adjust the width of the filter drawer, so it can be used always on and adjusted to your needs. What do you think?

[2021-01-18 18:09] Li-An commented on #26
It seems to me that’s a good idea :-)

[2021-01-18 18:13] ransome1 commented on #26
Feel free to check out release 0.8.3 and let us know if this helps you: https://github.com/ransome1/sleek/releases/tag/v0.8.3

[2021-01-18 19:01] Li-An commented on #26
Too bad, it does not work as I hoped. I hoped the list of todos and the filters together. For the moment I have to choose between filters and todos.

[2021-01-18 19:04] ransome1 commented on #26
@Li-An, I don't understand, could you please be more specific?

[2021-01-18 19:04] Li-An commented on #26
OK, I missed the "Reinitialize filters" button. It seems OK now.

[2021-01-19 08:09] ransome1 commented on #26
@Li-An , I assume we can close this issue?

[2021-01-19 10:16] #26 closed

[2021-01-21 15:49] kareliot opened #27 "quickly changing priority"
It’s really great to have nice, sleek and actively developed todo.txt app!
Thanks for the great work!

The way I have been working with the todo.txt syntax is that I use the priority to stand for the time period in which a task needs to be done: (A) is today, (B) is tomorrow, (C) is this week, and (D) is next week
Because of that I often need to reassign priorities and I would be great if this wou

[2021-01-21 18:48] ransome1 commented on #27
Hi @kareliot . It's funny that it tooks so long before somebody was asking for that obviously useful feature ;)

I think as as starter we can achieve this by a simple dropdown box, which I will implement as a PoC in the next couple of days.

Also I think this would be a good first use case for the drag and drop feature that @koppor suggested. Like that you could just drag and drop todos from one p

[2021-01-21 20:15] koppor commented on #27
For reference: The issue for drag'n'drop is this one: https://github.com/ransome1/sleek/issues/18

[2021-01-21 22:34] kareliot commented on #27
A dropdown box and drag'n'drop sound both like great options to achieve that (ideally coupled with a keyboard shortcut)
Thanks for the quick response!
Unfortunately, I cannot help with the implementation, though. But I am happy to test ;)

[2021-01-22 21:06] ransome1 commented on #27
@kareliot. Please check https://github.com/ransome1/sleek/releases/tag/v0.8.4-Alpha

I added a simple priority picker for testing purposes. I only added A to G and will add the rest of the alphabet later on.

Also there is a specific keyboard shortcut combination to add priorities while you have the add/edit todo window opened. Press **Shift** and **Ctrl** and **any key of the alphabet** at the sa

[2021-01-23 04:02] velardevines opened #29 "Start Date Functionality?"
Hello, I've tried using start:yyyy-mm-dd but it seems to have no effect. I was hoping the task with a start date would be hidden until that date. Just curious, what functionality is build around the start date?

Thanks.

[2021-01-23 07:39] ransome1 commented on #29
Hi @velardevines . So far there is no functionality behind the start date. If you use sleek to add a new todo, the start date will be added automatically like mentioned here as the "creation date" https://github.com/todotxt/todo.txt.

Initially I thought it might become handy, if sleek would at some point create statistics on how long you needed to finish a task.

[2021-01-23 07:55] archphile commented on #25
I have been using for years now the combo of simpletask on android and qtodotxt on my linux desktop. They both support custom recurring periods. Below it's a description of this implementation that works fine and covers almost all recurrence scenarios:

https://github.com/mpcjanssen/simpletask-android/blob/master/app/src/main/assets/index.en.md#extensions

I am only pasting it in case the devs her

[2021-01-23 11:04] ransome1 commented on #25
@archphile thanks for the hint.

@wsdfhjxc, your enhancement works flawlessly! I hope you won't mind, but I replaced the increase and decrease buttons of the number input, with larger buttons, because I was having trouble clicking the native ones. There were too small. Also I added the daily, weekly, monthly and yearly labels in case the number of recurrence is 1. Like this we have less problems w

[2021-01-23 19:34] wsdfhjxc commented on #25
@ransome1 Yeah, your improvement is great, I love it. Thank you very much!

As for Simpletask's recurrence-handling method, adopting it would be a "breaking" change for current users. So, I think that should be a separate request, in a potential issue related to bringing feature parity with Simpletask to sleek (if it's planned).

I'm going to close this issue, as the initial request has been fulfi

[2021-01-23 19:34] #25 closed

[2021-01-25 09:46] kareliot commented on #27
sorry, I only got around testing it now.
Looks great and works well.
One minor thing I noticed is that since the priority picker list opens on top of the priority picker button (rather than below), I have to move to the top of my screen to change the priority since I am only using the top priorities (A-D). It would be easier if the list opens below the picker so that the most often used priorities

[2021-01-25 12:27] ransome1 commented on #27
@kareliot , that's interesting, because I never saw the list opening to the top. It is suppose to open to the bottom. I'm not even sure if I could manipulate it to open to the top, as this is a native browser function as far as I know.

So it doesn't look like this on your version of sleek?
![priority_picker](https://user-images.githubusercontent.com/11188741/105705742-e28dee80-5f10-11eb-8c72-5faa

[2021-01-25 15:28] kareliot commented on #27
Interesting. On my machine it looks like this:

![Bildschirmfoto von 2021-01-25 16-17-01](https://user-images.githubusercontent.com/35163804/105725537-5e943080-5f29-11eb-9179-3fe613d5e8a0.png)

But this is probably due to the standard opening position of a windowed application right at the centre of my screen. If I move the window up a bit, the list opens towards the bottom. To make this a useful

[2021-01-25 15:56] ransome1 commented on #27
I can reproduce it by positioning sleek close to the bottom of my screen, so that die select list has not enough space to spread to the bottom. Then it will instead open to the top. Imo there is nothing I can do about it.

If i'll find the time at some point I will replace the select list with a individual solution that doesn't need to be scrolled. Maybe a table with several rows and columns. That

[2021-01-26 16:19] velardevines opened #30 "Notification setting toggles on after closing and opening Sleek"
The Notification setting does not remain toggled in the off position.

Open Sleek - Notification toggle is on
Turn Notification setting off
Close Sleek
Open Sleek - check setting and Notification toggle is on

Sleek version 0.8.4 on Chromebook Linux Crostini and Chrome OS Version 88.0.4324.99

[2021-01-26 16:36] ransome1 commented on #30
Thanks @velardevines , you were right. I fixed it and it will be deployed as part of 0.8.5.

[2021-01-26 17:17] velardevines commented on #30
Fast response!  Nice!

[2021-01-26 17:38] marshmanGit opened #31 "textarea edit - broke from recent upgrade"
Textarea editing - looks like your most recent update broke this feature.
It is not stripping line feeds when saving to a file therefore it creates a todo for every line.
thx
marshall

[2021-01-26 18:33] ransome1 commented on #31
Hi @marshmanGit . I checked and found a glitch that could have been responsible for the behavior you're describing.

Could you check if the problem persists in this pre release? https://github.com/ransome1/sleek/releases/tag/v0.8.5-Beta

Please check the adding and editing todo function.

[2021-01-27 00:11] wsdfhjxc opened #32 "Clearing the due date no longer works"
It seems that clicking the Clear button doesn't remove the due date from the text input field.

[2021-01-27 07:44] ransome1 commented on #32
Hi @wsdfhjxc. I tried to figure out how to change the behavior of the clear button but wasn't able to do that. Therefor I asked the developers of the date picker feature for support but didn't receive any answer so far: https://github.com/mymth/vanillajs-datepicker/issues/44

If you have an idea how to change the button, let me know.

[2021-01-27 07:46] ransome1 commented on #30
https://github.com/ransome1/sleek/releases/tag/v0.8.5

[2021-01-27 07:57] ransome1 commented on #27
@kareliot , I'm closing the issue to clean up a little.

[2021-01-27 07:57] #27 closed

[2021-01-27 08:05] ransome1 commented on #29
As this is not an issue, I would like to close this thread. Nevertheless I added to my roadmap to think of possible use cases on what to do with the start date.

[2021-01-27 08:05] #29 closed

[2021-01-27 12:32] marshmanGit commented on #31
Best I can tell it seems to be working fine.  I do have a recommendation however.  I see where you strip \r\n from the content being saved ( and for good reason ).  The problem with doing "only" that is this.
Example of my input:
Line 1
Line 2
Example of input when I edit the todo:
Line1 Line2

This rolls back around to my initial comment where you can substitute \r\n with some other character dur

[2021-01-27 16:36] ransome1 commented on #31
@marshmanGit, could you check this release? https://github.com/ransome1/sleek/releases/tag/v0.8.6-Alpha

Let me know if this works as expected. And if it does feel free to give it some testing.

[2021-01-27 19:24] marshmanGit commented on #31
Just tested the 0.8.6 alpha and we are not there yet.  But getting very close.
See the attached PDF
[sample1_sleek.pdf](https://github.com/ransome1/sleek/files/5882525/sample1_sleek.pdf)

[2021-01-27 19:37] ransome1 commented on #31
Could douple check if you're actually using 0.8.6? Because I just downloaded the AppImage and it works differently like you described in the PDF.

It is suppose to work like this:
Step 1: Adding 1 new todo with several line breaks
![step1](https://user-images.githubusercontent.com/11188741/106043823-364e3280-60df-11eb-8520-a56b60662efe.png)

Step 2: Combining the lines into one line for the list e

[2021-01-27 20:05] wsdfhjxc commented on #32
@ransome1 I'd be glad if you could take a look at #33. There's more than one fix there though.

[2021-01-27 20:10] marshmanGit commented on #31
Yep, something got in the way of launching 0.8.6.  I tested just now and
works GREAT!!!!
Sorry about that.

On Wed, Jan 27, 2021 at 2:38 PM ransome <notifications@github.com> wrote:

[2021-01-28 01:33] velardevines commented on #30
Issue corrected in v0.8.5.   Thank you.

Bill

[2021-01-28 12:17] #32 closed

[2021-01-28 12:21] ransome1 commented on #31
Has been released in 0.8.6 on all channels. Thanks again for pointing out these improvements.

[2021-01-28 12:21] #31 closed

[2021-01-28 12:21] ransome1 commented on #30
Hi Bill. I'm closing this. Let me know if you find any other bugs.

[2021-01-28 12:21] #30 closed

[2021-01-28 19:08] Samet-MohamedAmin opened #34 "Switch between todo files"
It would be helpful to have the ability register many todo files, each file with global context, and to easily switch between todo files.

[2021-01-28 22:23] ransome1 commented on #34
Hi @Samet-MohamedAmin, have you checked the folder menu item? After adding the first file, you can add more files and switch between them.

![image](https://user-images.githubusercontent.com/11188741/106205928-94eadd80-61bf-11eb-9f95-42c349872d21.png)

[2021-01-30 12:22] Samet-MohamedAmin commented on #34
Oh I missed that !

[2021-01-30 12:22] #34 closed

[2021-01-30 12:22] Samet-MohamedAmin commented on #34
My bad ! I missed that..

[2021-01-31 18:26] samuelznewton opened #35 "Tasks are not being sorted by due date"
The readme lists the following feature: "Todos are sorted by due date within their priorities"

However, this does not seem to actually be the case.  As far as I can tell, tasks with due dates are always shown above tasks without them (which is desirable), but beyond that tasks are shown in the order of creation.

Steps to replicate: I currently have 5 tasks with due dates, added in the following

[2021-01-31 18:56] samuelznewton commented on #18
I like this idea, but I agree with ransome1 that the implementation described is probably too complex for the philosophy behind sleek.

Here's a simple approach to consider: a reorder menu.  The reorder menu would pull up an unsorted version of the task list, and tasks could be dragged and dropped.  This would simply change the order of items in the todo.txt file, and sleek's sorting rules would c

[2021-01-31 19:55] ransome1 commented on #35
Hi @samuelznewton , I think you might have found an inconsistency, that is correct.

But the idea of the desc sorting within the due dates is to have the closest due date (or the one you just missed) at the top of the list. Mostly because in my opinion the ones closest are the most relevant. So your first list is actually sorted as I intended it to be. But you're right the readme needs improvement

[2021-01-31 20:58] samuelznewton commented on #35
What I expect is that an item which is due on February 4 will appear higher in the list than an item which is due on February 21 - and this is the behavior which the readme implies, and seems to be the behavior that you think is actually happening.

However, what is actually happening is that the items are being sorted first by _whether_ there is a due date, and then by when the tasks were _create

[2021-01-31 23:10] koppor commented on #18
If I am not mistaken, I was proposing that in https://github.com/ransome1/sleek/issues/18#issuecomment-758280858 and ransome1 said, it would cause too much effort to implement.

I am looking forward to your implementation approach.

I personally like drag and dropping without the requirement to take care about changing priorities (maybe even of multiple tasks). Note that https://www.any.do/ does t

[2021-02-01 01:02] samuelznewton commented on #18
@koppor The way I understood your suggested implementation, sleek is required to save some information about each task (or perhaps you meant a new key:value pair in the todo.txt file?)

The intent of my suggestion is that sleek does not need to remember or reprocess anything.  The only thing that changes when using the reorder menu is that the lines of the todo.txt file are switched around.  So fo

[2021-02-01 15:26] roguefury opened #36 "Open .md files instead of .txt files"
Will it be possible to open .md files instead of .txt files?

[2021-02-01 17:58] ransome1 commented on #36
Hello @roguefury, I haven't thought about this. What would be the benefit of a markdown file?

[2021-02-01 17:59] ransome1 commented on #35
Hi @samuelznewton. Could you check https://github.com/ransome1/sleek/releases/tag/v0.8.7-Alpha if the sorting is now consistent?

[2021-02-01 18:03] roguefury commented on #36
Hi,

So, I've been working on a workflow that connects with Obsidian (the knowledge/note taking) platform, and todo.txt files.  Obsidian views .md files, not .txt files.  Operationally, both are txt files.  SwiftoDo on iOS allows for both .txt and .md files to be used.

I'd like to store my todo file in the same folder as my Obsidian content.  This would allow me to edit the todo file in both Obsi

[2021-02-01 18:08] ransome1 commented on #36
Ok, I see. That sould not be a problem, I will add a basic .md support to the next release.

[2021-02-01 18:09] roguefury commented on #36
Excellent!  Thank you!

[2021-02-03 00:38] samuelznewton commented on #35
Hello!  Sorry for my delay.

Unfortunately, nothing seems to have changed.  I loaded my todo.txt and it's still sorting the same way as before.
1st by priority
2nd by whether there is a due date
3rd by the order of the todo.txt file
Not at all by when the due date is

[2021-02-03 06:34] ransome1 commented on #35
Hi @samuelznewton . Let's stick to your initial example, which in the todo.txt file should look like this:
[code]

This leads to the following sorting within sleek (I used the 0.8.7 AppImage for this result)
![image](https://user-images.githubusercontent.com/11188741/106707223-29ef3b80-65f1-11eb-956a-a4dfacfd8a51.png)

That is the correct sorting according to my understanding.

Could you please pr

[2021-02-03 16:18] samuelznewton commented on #35
Well this is strange.  I just loaded up that file and got the same result.  But if I load back my current actual todo.txt file, I still get incorrect sorting.  Here's the full file, followed by the results.

[code]

![sleek1](https://user-images.githubusercontent.com/57228129/106775418-b78a5580-6608-11eb-9983-db7a936f967b.png)
![sleek2](https://user-images.githubusercontent.com/57228129/106775432-

[2021-02-03 17:21] ransome1 commented on #35
@samuelznewton This example pointed me to a glitch, that is most likely responsible for the behavior. Could you check one of the new binaries here please? https://github.com/ransome1/sleek/releases/tag/v0.8.7

[2021-02-03 17:25] samuelznewton commented on #35
That's got it!  Everything is sorted just as I would expect.  Thank you so much for your quick work on this!

[2021-02-03 17:25] #35 closed

[2021-02-03 17:41] ransome1 commented on #36
@roguefury The builds for Snap and Flathub are being generated right now and should be live within the next 30 minutes.

But also updated the binaries: https://github.com/ransome1/sleek/releases/tag/v0.8.7

Let me know if the .md support is working like expected.

[2021-02-04 01:07] roguefury commented on #36
Ok, thanks.  I'll get back to it when I have a moment.

[2021-02-04 17:12] roguefury commented on #36
Hi,

Sorry, I'm not super technical, but I do not see a MacOS build on the release page for 0.8.7.  Where can I find that?

[2021-02-04 17:24] ransome1 commented on #36
Hi @roguefury, sorry, I though you were on Linux, so I didn't build it. But tomorrow I will build the DMG file on my Mac and upload it.

[2021-02-04 18:12] roguefury commented on #36
Thank you!

[2021-02-04 21:04] SteOtt opened #37 "A few comments"
Hello,
I am using sleek for a few days now and I like your software really a lot.
Despite its 0.xx version code I'm impressed by the stability and the features it has.
However I have a few remarks but all of them are minor:
- The shortcut Strg+b (to show/hide filter pane) is missing in the Shortcuts help
![grafik](https://user-images.githubusercontent.com/17461591/106953079-41820d80-6732-11eb-8b43

[2021-02-05 09:37] ransome1 commented on #36
@roguefury , the dmg has been added to the release page. Let me know, if you're having problems with the markdown files. I gave a brief test and it seems to work well.

[2021-02-05 16:45] roguefury commented on #36
@ransome1 It works perfectly!  Awesome!  I can now see the file in both Obsidian and Sleek.

I'm going to post a note over on [Obsidian Forums](https://forum.obsidian.md/)  about Sleek as another option for task management.

[2021-02-05 17:03] ransome1 commented on #36
Glad to hear :) I might also take a look at Obsidian, looks interesting.

[2021-02-05 17:03] #36 closed

[2021-02-05 17:07] ransome1 commented on #37
@SteOtt Thank you for your feedback, it's highly appreciated. All your points are valid and while I will work on the minor ones soon, please let me add the note function to my backlog. It would be an interesting addition, but up until v1.0 I committed myself to only work on technical depths. If the v1.0 milestone is reached, its' features again.

[2021-02-08 12:04] ransome1 opened #38 "Call for testing 0.9.0"
Dear sleek users.

I worked on a major update containing security (context isolation has been implemented and node integration turned off) and performance improvements.

The update implied some bigger changes on the code and I gave it quite some testing. But of course the most valueable insights will derive from actual usage.

I would like to encourage you to use the **0.9.0-Alpha** release and pr

[2021-02-08 17:41] velardevines opened #39 "todo.txt file does not open in 0.9.0 alpha"
Running Sleek on Google Chromebook Crostini. Might be a problem with write permission but I don't know how to determine the cause.  This is a new problem to 0.9.0 alpha.

The Sleek todo.txt file does not open when Sleek starts up. The file will not open using the Open "toto.txt" button. I could create a new toto.txt file but then was unable to save an item to that file.

--Bill

[2021-02-08 17:49] ransome1 commented on #39
Hey Bill.

Thanks a lot for taking a look at the alpha release. I just downloaded the AppImage and could not really reproduce your issue. But could you take a look into the "console" tab of the developer tools if you can see any errors? To open the Dev Tools on Linux, you simply push the Alt key and the menu will appear. In the menu you select "About" and then "Toggle Developer Tools". With the to

[2021-02-08 18:35] velardevines commented on #39
Hello,

Apologies but I probably don't understand enough about Linux to help much.  I installed Sleek and other Linux applications by enabling Linux Crostini on a Chromebook. I use a few Terminal commands to install apps or download the .deb file and install the app.

I can open a Terminal window but the Alt key does nothing.

I can open a Console window from inside the Chrome browser but there ar

[2021-02-08 18:46] ransome1 commented on #39
Hey Bill. The developer tool are part of sleek as it is build with the Electron framework which utilizes Chromium, which includes the developer tools ;)

So you need to press the Alt key within sleek and a menu will appear. The result will look like this:
![Screenshot_20210208_194338](https://user-images.githubusercontent.com/11188741/107266619-11927d00-6a46-11eb-953e-fec8f33b857e.png)

With the d

[2021-02-08 18:54] velardevines commented on #39
VM5:36 Uncaught Error: Uncaught ReferenceError: _paq is not defined
    at EventEmitter.<anonymous> (<anonymous>:36:53)
    at EventEmitter.emit (VM4 sandbox_bundle.js:146)
    at Object.onMessage (VM4 sandbox_bundle.js:127)
(anonymous) @ VM5:36
emit @ VM4 sandbox_bundle.js:146
onMessage @ VM4 sandbox_bundle.js:127

[2021-02-08 18:55] velardevines commented on #39
render.js:556 Uncaught ReferenceError: _paq is not defined
    at changeFile (render.js:556)
    at HTMLTableCellElement.cell1.onclick (render.js:579)
changeFile

[2021-02-08 18:55] velardevines commented on #39
render.js:201 Uncaught ReferenceError: _paq is not defined
    at HTMLAnchorElement.el.onclick (render.js:201)
el.onclick	@	render.js:201

[2021-02-08 18:58] velardevines commented on #39
Those errors were from the Console tab.

[2021-02-08 18:58] ransome1 commented on #39
Perfect, thanks a lot, I will try to reproduce and fix it :)

[2021-02-08 20:29] ransome1 commented on #39
@velardevines I could not reproduce it yet, but as your errors point out that a sandboxing module might be involved (which could actually let to the inability of sleek to access your file system), I turned it off. It's a long shot, but could you please give another try? https://github.com/ransome1/sleek/releases/tag/0.9.0-Alpha-2

[2021-02-08 20:48] SteOtt opened #40 "0.9.0 tests"
Hi,
I did some tests with sleek 0.9.0 alpha on Kubuntu 20.04:
- Opening file works
- Creating file works
- Switching between files works
- Adding todos works
- Editing todos works
- Deleting todos works
- Checking todos works
- Viewing checked todos works (strg + h)
- Filter pane is correct
- Filtering todos with filter pane works
- switching dark/light mode works

Issues I've found:
- When filter

[2021-02-08 20:56] ransome1 commented on #40
@SteOtt Thanks for the testing, it's highly appreciated. Also the video is very helpful. I'll take a look into it and fix the behavior.

Also I will print the version code in sleeks console output in the next release.

[2021-02-08 21:00] SteOtt commented on #40
I would expect to see the version code on the about screen... maybe you could print it there!?

[2021-02-08 21:00] ransome1 commented on #37
[code]
These three will be included in the 0.9.0-Beta

Also the tabindex improvements will be part of the v0.9.x. The other points are material for 1.0 and beyond.

[2021-02-08 21:02] ransome1 commented on #40
Sure, why not.

[2021-02-09 01:12] velardevines commented on #39
No change in Alpha 2. This is the error when Sleek loads:

Uncaught (in promise) ReferenceError: _paq is not defined
    at checkDismissedMessages (render.js:2386)
    at window.onload (render.js:2645)

[2021-02-09 06:35] ransome1 commented on #40
@SteOtt , quick question: Do you get any errors thrown if you check the developer console within sleek?

[2021-02-09 08:42] ransome1 commented on #18
Added as a spike it to sleeks backlog.

[2021-02-09 08:42] #18 closed

[2021-02-09 08:49] ransome1 commented on #39
I'm afraid I can't reproduce the error. If you find some time I would like to ask you for three things:

1. Please double check the file name of the binary you downloaded. It should contain "Alpha-2", like in "sleek-0.9.0-Alpha-2.AppImage"
2. Could you share your user preferences file? It is located at "/home/{YOUR-USER-NAME}/.config/sleek/user-preferences.json". You can ttach it here or send it t

[2021-02-09 16:58] arthurmarquesv opened #41 "2 little issues in 0.9.0"
Hi!
When I open the last build, I encountered 2 little issues:

1. Sleek don't show my tasks until I search for "all" on the search bar;
2. The "error and event logging" window don't close even after the activation of the related option.

![skeek-issues-01](https://user-images.githubusercontent.com/78812600/107398195-2589bd80-6ade-11eb-9ca4-3a2d8e3cb279.jpg)
![Untitled-1](https://user-images.githu

[2021-02-09 18:22] ransome1 commented on #41
Hey @arthurmarquesv . Really helpful feedback, thanks!

Problem number 2 is solved, but with number 2 I'm having difficulties to reproduce it as my Windows (running in a VM) is not my friend right now.

Can I ask you to take a look into sleek developer console's output? In your upper menu (I don't know what it's called in Windows) select "About" and then "Developer Tools". The tools will open and

[2021-02-09 20:40] SteOtt commented on #40
@ransome1 I don't see any errors in the developer console. In the attached file I've copied it.

Today filtering in the search bar worked once without loosing focus. But the second time it lost focus after the first letter as yesterday... strange.
[Sleek_090_Log.txt](https://github.com/ransome1/sleek/files/5954116/Sleek_090_Log.txt)

[2021-02-09 21:27] ransome1 commented on #40
@SteOtt The focus issue should be fixed in this next alpha release: https://github.com/ransome1/sleek/releases/tag/v0.9.0-Alpha-3

Also the version number should now appear in the About tab.

[2021-02-09 21:31] ransome1 commented on #41
@arthurmarquesv. I added some bugfixes in this next alpha release: https://github.com/ransome1/sleek/releases/tag/v0.9.0-Alpha-3

I can't say if the issue you described has been fixed, as I couldn't reproduce it yet. But if you find some time, please feel free to give Alpha-3 a quick chance.

[2021-02-09 21:32] ransome1 commented on #39
@velardevines. Although I havn't been able to reproduce your issue, here is another release with fixes anyway: https://github.com/ransome1/sleek/releases/tag/v0.9.0-Alpha-3

Maybe we're lucky and it's fixed.

[2021-02-10 04:05] velardevines commented on #39
[user-preferences.json.txt](https://github.com/ransome1/sleek/files/5955771/user-preferences.json.txt)

[2021-02-10 04:15] velardevines commented on #39
After deleting folder "/home/{YOUR-USER-NAME}/.config/sleek/" and restarting sleek version 0.9.0 Alpha 2 opens the todo.txt file and works as expected. Did not test very much however.   Will install Alpha 3 now.

--Bill

[2021-02-10 04:35] velardevines commented on #41
With Alpha 3 the Error and Event Logging window does close.

@ransome1 : Regarding error 1 mentioned by @arthurmarquesv, it does not occur with Alpha 3.  All the tasks show when Sleek opens.  And there are no errors showing in the developer console when Sleek opens.

Running Sleek on a Chromebook with Linux Crostini.

--Bill

[2021-02-10 06:56] ransome1 commented on #39
Hi @velardevines. Thanks for the config file. With it I was able to reproduce and fix it: https://github.com/ransome1/sleek/releases/tag/v0.9.0-Alpha-4

With this release you can actually put your old config back in place.

[2021-02-10 16:16] velardevines commented on #39
Thank you @ransome1  for being very responsive.

[2021-02-10 16:52] velardevines opened #42 "Changes to tasks do not display in 0.9.0 Alpha 4"
Changes to tasks or new items are not displayed until Sleek is closed then opened again.

To recreate, make a change to an item or create an item to see that changes will not be displayed.

[2021-02-10 17:07] ransome1 commented on #39
@velardevines as these issues are fixed, let me close here.

[2021-02-10 17:07] #39 closed

[2021-02-10 17:10] ransome1 commented on #42
Hi @velardevines , I just double checked by downloading the AppImage from the release page and it's working well on my side.

Do you see any error entries in the console log?

[2021-02-10 17:24] velardevines commented on #42
Figured out the problem. I was using a todo.txt file located on an SD card. If I use a todo.txt file located on the main computer memory then there are no errors.

[2021-02-10 18:45] #42 closed

[2021-02-10 22:50] arthurmarquesv commented on #41
Just confirming what @velardevines reported: with Alpha 3 I can close the Error and Event Logging window and all my tasks are visible and organized when I open the app! Everything is working fine.

@ransome1 I couldn't find a way to see the apps's developer tools. I'm not tech savvy, so I don't understand if the steps you gave me  needed to be followed inside the app or in the OS. I tried to find

[2021-02-10 22:58] ransome1 commented on #41
That's good to hear and I'm glad you like it.

If it's fine with you, I'm going to close this issue. If you experience any other problems, feel free to open up another issue.

[2021-02-10 22:58] #41 closed

[2021-02-10 22:59] #38 closed

[2021-02-10 23:02] ransome1 commented on #37
I adapted your suggestions to my backlog and hope you're fine with me closing this issue.

[2021-02-10 23:02] #37 closed

[2021-02-10 23:04] ransome1 commented on #40
Both of your points are included here: https://github.com/ransome1/sleek/releases/tag/v0.9.0

Thanks again for your testing!

[2021-02-10 23:04] #40 closed

[2021-02-13 18:47] velardevines opened #43 "Will Sleek run on Mediatek processor?"
Can any of the distributions be installed on a device using a Mediatek processor? In this case a Lenovo Chromebook Duet.  Excuse my lack of understanding about the various Linux distributions.

Thank you.

[2021-02-14 07:51] ransome1 commented on #43
Hi @velardevines. Propably not out of the box. There are workarounds to get for instance the Debian build running on ChromeOS (Part 3 of https://www.computerworld.com/article/3314739/linux-apps-on-chrome-os-an-easy-to-follow-guide.html), but your device seems to have an ARM processor and the binaries here on Github are all build on a regular AMD64 machine. So my guess is this won't work.

But inst

[2021-02-15 15:05] velardevines commented on #43
Thanks for the suggestions @ransome1

[2021-02-15 17:59] ransome1 commented on #43
You're welcome. If you're going to try it out, I would be interested in the outcome. Let me know.

[2021-02-15 17:59] #43 closed

[2021-02-18 16:01] Tobida opened #44 "text and entries smaller?"
I like sleek. Up to now i use QTodoTxt for managing my todo.txt. Compared to QTodoTxT sleek uses a larger font size and much more vertikal space between the entries in a list. Which leads to a worse overview over my (tons of) tasks.
Is there an option to reduce the row-height and the font size?

thanks

Tobias

[2021-02-20 09:20] kmf opened #45 "DMG for Release 0.9.0"
Not seeing a dmg for macOS under releases

[2021-02-20 09:28] ransome1 commented on #45
I reuploaded it: https://github.com/ransome1/sleek/releases/tag/v0.9.0

[2021-02-20 09:28] #45 closed

[2021-02-20 09:33] ransome1 commented on #44
Hi @Tobida .

I think sleek is being used mainly because it doesn't look and feel like the typical Linux application, loaded with tons of features, of which only a handful is being used in production, and a highly customizable interface. Therefor I don't really intend to tamper at least with font sizes.

Nevertheless I think it can't hurt to have a compact view for power users like you. I think we

[2021-02-22 13:06] plagasul commented on #44
Great application! I came into the issues section to ask for a 'compact' view of the app, precisely. Like those minified lists some music apps can convert into, when you only need to glance at it, not interact with it.

so, +1

[2021-02-22 13:36] ransome1 commented on #44
Hi @Tobida, @plagasul.

Shall we adjust our views on how a compact view should look like?

Let's start with a first draft. On the left you see the regular view and on the right a draft where the line margins have been reduced significantly. Would this already ease the work for you on longer lists?

![comparisson](https://user-images.githubusercontent.com/11188741/108715504-3fce8d00-751b-11eb-88de-

[2021-02-22 16:41] Tobida commented on #44
Great! Yes, would work much better for me. If you add some contexts and projects, you can check, wether the size of the boxes fits well in the smaller lines. Font-size is stoll the same, right?

[2021-02-22 16:45] ransome1 commented on #44
Hi @Tobida, that should work too

![image](https://user-images.githubusercontent.com/11188741/108740166-abbdef00-7535-11eb-95f3-61e27de84bc5.png)

[2021-02-22 17:05] Tobida commented on #44
Hi, fine, that works great.

One more suggestion: In the compact view, reduce the size of the contexts and projects in the filter-tab on the left side also to a smaller size, perhaps to the same size like in the todo-list.

[2021-02-22 19:19] plagasul commented on #44
That is certainly looking good !

For me, one of the main concerns would be window width, it seems there is a minimum width of 800px on my 1920*1080 screen. I can't seem to find the css rule that produces this behaviour though. Every relevant parent seems to have a percentual width. Possibly something on render.js setting the window width ? (not familiar with Electron) ...if you point me where is

[2021-02-23 10:48] ransome1 commented on #44
Hi @Tobida, @plagasul.

The altered line height and also smaller filter tags can now be triggered using the "View" button right below the search bar on the right. A pre release for Linux and Windows can be downloaded here (I don't have access to a Mac at the moment and can't build for MacOS): https://github.com/ransome1/sleek/releases/tag/v0.9.1

Please feel free to give it some testing, if the fu

[2021-02-23 11:06] ransome1 commented on #44
@plagasul, the minimum width is set in main.js, where the "mainWindow" constant is declared. sleek doesn't support lesser width so far, because it would imply quite some work on a lot of modules. Plus looking at the current statistics, I can't really say that there a lot of people are using sleek at the minimal width setting.

[2021-02-23 11:34] ransome1 commented on #44
@plagasul. Regarding your idea of hiding the priority divider, this is what it would look like:
![image](https://user-images.githubusercontent.com/11188741/108837950-44567c80-75d3-11eb-9129-40e5e270b88c.png)

I think it might still be usable, though I'm not 100% sure if the colored bars alone are informative enough. What's your opinion on this?

[2021-02-24 06:45] kmf opened #46 "DMG Package for Release 0.9.1"
Not seeing a macOS Package.

[2021-02-24 08:56] plagasul commented on #44
@ransome1 Although order and color is probably enough to communicate priority levels, I think this may be taking too big of a toll on the app's visual identity.

I think I would not go this way unless it was paired with a couple other minification changes aimed towards providing a narrow minified list view. I understand what you mean about the difficulty in making the app more narrow, though.

In

[2021-02-24 10:17] Tobida commented on #44
Hi together,

a) I installed 0.9.1 at the moment, works, and is much better for me. I will tell you if i run into functional issues.

b) Hiding priority divider breaks accessability rules. Not everyone is able to distingusih colors. And: I use more then only A-D, but D-Z is grey ... You could improve the hiding provider by using a smaller fontsize for the letter (as big as the normal text but bold

[2021-02-24 17:03] ransome1 commented on #46
Hi @kmf .

I'm afraid that for the next two or three months I won't have a Mac at hand as I am not at home and only have my production machine (Linux). Therefor I can only build Windows and Linux releases and unfortunately no DMGs.

Version 0.9.1 so far is only a first pre release for a feature (compact) and does not contain any stability or security updates. As long as you are not actively involv

[2021-02-24 17:03] #46 closed

[2021-02-24 20:54] ransome1 commented on #44
@Tobida. Though the filter box has a minimum width, which at a 800px view port is propably already 50% of the viewport, it can be adjusted by the users. Once your cursor hovers over the border between the filter box and the todo table, you should be able to see the cursor change it's icon and from there on be able to adjust the filter box size.

![image](https://user-images.githubusercontent.com/1

[2021-02-25 09:02] Tobida commented on #44
Ah, ok, works. In my view i have a vertical scrollbar (power user, lots of contexts and projects ;-) ) When I hover over the scrollbar, i get the Button for switching the filter off, but no possibility to move the border left/right. So i thought that this is not implemented.
But now with your help i found it - the movable border with the changing cursor icon shows up _on the left side_ of the scro

[2021-02-25 14:56] plagasul commented on #44
Although I am not sure if the whole app follows such rules already, this is a very good point.

[2021-02-25 22:27] ransome1 commented on #44
Hi @Tobida.

About the archive function you're right, on the long term we need to find another spot for it as it is not a setting.

But putting it into the left nav bar could lead to frustration for users who don't understand that clicking that icon will literally remove lines from their file and put it into another file. It's not really self-explanatory and that's why I added explanatory text in

[2021-02-25 22:27] #44 closed

[2021-02-26 20:00] Tobida commented on #44
my suggestion shortcut and button on the left would be still the the right solution, with this improvement: If user clicks archive-button/uses shortcut, a textbox shows up with a warning/information, a Ok/Cancel-Button and a checkbox "dont show me this warning again".

but i am derailing the topic, sorry ;)

Great!

[2021-02-28 19:14] HerrSersch opened #47 "Renaming and deleting Contexts and Projects"
It would be handy being able to rename or delete a Context or Project inside Sleek, which would then be applied to all affected tasks.

This could be implemented by right-clicking the desired item in the Filters menu, which would open a small menu that has an "Edit" option. Clicking this option would open a popup similar to the one for new tasks, where the item's name is already filled in and can

[2021-02-28 21:38] HerrSersch opened #48 "Inconsistent behaviour: the View menu only closes when clicking certain elements"
The View menu in the top right corner only closes when some types of elements are clicked, but stays open for other types. For example it closes when a task is clicked, but stays open when the button for adding new tasks is clicked. On the other hand it also closes when the task adding menu is closed.

This kind of menu feels like it should close immediately when _anything_ else is clicked, even w

[2021-02-28 21:50] HerrSersch opened #49 "Suggestion: Clear a button's focus when the button is pressed"
There are some buttons that become focused when pressed, which results in an outline around the button. This can look odd, especially for on/off toggle buttons.

Locations where this happens and probably shouldn't (you might disagree with some of them):
- the Show filters button at the top
- the View menu button
- the two switches inside the View menu
- switches in the settings
- the Toggle dark m

[2021-02-28 21:55] HerrSersch commented on #49
Another problem related to this that I just noticed: the tabs at the top of the Help and Settings menu are focused as well and get a blue outline. The bottom part of this outline disappears when the Sleek window has a very small vertical size close to or equal to the allowed min size.

[2021-03-01 18:58] ransome1 commented on #47
@HerrSersch, definetly useful, no doubt. Also it might not be too complex, but still quite some work. I added it to sleeks backlog, it might be the next feature to be implemented when I find the time, which is rare right now.

Until then any help is welcome.

[2021-03-02 11:02] indiewelt opened #50 "Copy paste of items (links and plain text) macOS"
Hi - I encountered something which is I think a bug. Pasting of text content is not possible on the Mac Version. When I press CMD+V or try to right click into the field nothing happens. I tested it side by side with other clients on Mac e.g. TodotxtMac where I don't have this issue. Do you know what could be causing this behaviour?
I am using version 0.9.0 on macOS big sur latest update.

[2021-03-02 17:33] ransome1 commented on #50
Hi @indiewelt . Thanks for submitting the issue. I could not reproduce it on either Linux or Windows, but I did some digging and learned, that for MacOS I need to do some extra steps, before copy and and pasting will be working. I will fix it in the next release. Only problem is, that I won't get my hands on an Apple machine for the next two months at least and therefor won't be able to build new

[2021-03-02 17:34] ransome1 commented on #48
@HerrSersch . I fully agree and will fix it in the next release.

[2021-03-02 21:08] ransome1 commented on #49
@HerrSersch, feel free to check 0.9.2 and give it some testing: https://github.com/ransome1/sleek/releases/tag/v0.9.2

[2021-03-02 21:09] ransome1 commented on #48
Fixed in https://github.com/ransome1/sleek/releases/tag/v0.9.2

[2021-03-02 23:28] HerrSersch commented on #49
Thank you for this super fast fix. It might seem like a minor thing, but at least for me the UI feels much more polished now :) I tested 0.9.2 and couldn't find any buttons that show the old behaviour from 0.9.1.

[2021-03-02 23:29] HerrSersch commented on #48
Tested on Win7, works very nicely. Thank you!

[2021-03-02 23:44] HerrSersch opened #51 "Archiving todos gives an error, finished todos are deleted but not saved"
Trying to archive todos in 0.9.2 gives me the following error message on Win7 and Linux Mint Cinnamon 20.1:

![archive error](https://user-images.githubusercontent.com/35151158/109729196-cccab380-7bb7-11eb-883f-7a899c62341c.png)

All finished todos are erased from the project but not backed up in a done.txt. I tried creating a done.txt manually and out of curiosity also renamed my todo document to

[2021-03-03 00:01] HerrSersch opened #52 "Anchor windows with tabs at the top instead of centering them vertically to avoid jumping headings"
The About and Settings popup menus are currently centered vertically on the screen. They grow and shrink evenly when the content size changes. This is visually appealing, but introdues the problem of jumping headings. This makes quick switching between tabs difficult, as in addition to moving the mouse cursor left and right one has to move up and down too.

![align windows at the top](https://user

[2021-03-03 03:35] gerroon opened #53 "Dark mode is not saved"
Hi

I keep setting it to the dark mode (both in the left bar and in the settings) but it keeps going back to the light theme during the next start.

I am using it on Debian Testing, Flatpak, v0.9.0

thanks

[2021-03-03 07:06] ransome1 commented on #49
You're welcome :)

[2021-03-03 07:06] #49 closed

[2021-03-03 09:10] ransome1 commented on #53
Hi @gerroon . Could you please update to 0.9.2 (should be available now) and tell me if the problem is solved for you?

[2021-03-03 10:19] HerrSersch opened #54 "Suggestion: Inform the user that changing the language requires a restart"
Changing the language quits Sleek instantly. When I did this the first time I thought Sleek had silently crashed. I then assumed that it might just be automatically restarting, because tools oftentimes do this. After a while without anything happening I started Sleek manually again and switched languages back and forth to confirm that this is in fact intended and there is no crash.

Ideas how to i

[2021-03-03 10:30] ransome1 commented on #54
@HerrSersch . Sleek is suppose to restart itself. I assume you are on 0.9.2 and you have downloaded a binary here on Github?

[2021-03-03 10:43] #48 closed

[2021-03-03 11:32] #11 closed

[2021-03-03 15:03] HerrSersch commented on #54
Yes, I have tested this with 0.9.2 with the binaries from here.

I further looked into it and it seems it doesn't happen with all releases. The .exe does not automatically restart on Win7, neither does the .AppImage on Mint Cinnamon 20.1. The .deb does automatically restart though. I didn't notice the working .deb before because I often go for the .AppImage files first if they available.

I have t

[2021-03-03 18:05] ransome1 commented on #51
Hi @HerrSersch, that should be fixed in 0.9.3, could you check it please? https://github.com/ransome1/sleek/releases/tag/v0.9.3

[2021-03-03 18:06] ransome1 commented on #52
I have no objection, it's implemented in 0.9.3: https://github.com/ransome1/sleek/releases/tag/v0.9.3

[2021-03-03 19:38] ransome1 commented on #54
That really is an odd behavior. But at least I now could replicate the problem too. I'll look into it.

[2021-03-03 19:39] #53 closed

[2021-03-03 19:41] ransome1 commented on #19
Added to backlog, but hasn't the highest priority. If anybody wants to contribute a PR, it would be very much appreciated.

[2021-03-03 19:47] Rudy96 opened #55 "Feature request: Option to change sorting order from priority to due date"
Currently the sorting order is by priority and inside the priority sorting is by due date. I in contrary prefer sorting by due date and then by priority. So i can see all tasks on one concrete day ordered by priority. It would be nice, if this sorting order could be integrated as an option, too. Maybe with a button to change between both orders.

[2021-03-03 22:25] gerroon commented on #53
Hi

It seems to start with the dark mode, thanks for the fix.

[2021-03-04 06:57] ransome1 commented on #55
Hi @Rudy96. Thanks for your suggestion.

I added the idea to my feature backlog and will work on it after 1.0 has been released. Up until the 1.0 I will only fix bugs and work on stability. I'll let you know when there is progress.

@all: If anybody wants to throw in a PR in the meantime, feel free.

[2021-03-04 08:48] HerrSersch commented on #51
Fix confirmed on Mint Cinnamon 20.1 for the .AppImage, .deb and flatpak version. Thank you :)

The error message is gone on Win7 and Win10, but no done.txt is created. An existing done.txt is also not updated.

[2021-03-04 08:58] HerrSersch commented on #52
Thank you, that's much better :) The effect is fully gone when sleek's window is big enough to fit the entire content in it. There's a bit of jumping left when the window is smaller and requires scrolling. I believe this is a different issue than the original one, because it's probably not related to the content window's alignment:

https://user-images.githubusercontent.com/35151158/109937280-0510

[2021-03-04 16:11] intrepidsilence opened #56 "Multi-select operations"
It would be great to be able to select multiple items and then:
Copy
Add/Remove Tags
Add/Remove Context
Add/Remove/Change up,down Priority
Mark Done/In Progress

I really like the sleek app so far and want to say thank you for your efforts.  Great start!

[2021-03-04 16:21] intrepidsilence opened #57 "Change font size (Scaling)"
It would be great to be able to set the font size and face.
It would also be nice to be able to change the size with keyboard shortcuts.

[2021-03-04 16:28] intrepidsilence commented on #50
I am willing to help by building the release. Contact me and we can get it done.

[2021-03-04 17:43] ransome1 commented on #54
@HerrSersch . I double checked the implementation and it is done correctly according to the official Electron documentation.

Also I digged a little into it and at least for the AppImage it seems to be an issue within the Electron framework or Electron builder. Somebody posted a workaround (https://github.com/electron-userland/electron-builder/issues/1727), which I tried but it didn't work. Whenev

[2021-03-04 17:43] #54 closed

[2021-03-04 20:10] ransome1 commented on #50
@intrepidsilence . That would be great. Do you know how it works?

If not:
1. Install NPM: https://www.npmjs.com/get-npm
2. Fork sleek and pull the master branch **or** simply download the master branch as a zip here on Github and extract it
2. Open the package.json file and change this line `"dist": "electron-builder -wl --publish always",` to "dist": `"electron-builder -m --publish never",`
3. U

[2021-03-04 21:01] intrepidsilence commented on #50
Are you sure `npm dist` is correct? That does not seem to work.

[2021-03-04 21:02] ransome1 commented on #50
sorry, my mistake, it's `npm run dist`

[2021-03-04 21:03] intrepidsilence commented on #50
Looks like I need electron-builder, too.  Looking now...

[2021-03-04 21:04] ransome1 commented on #50
Try a `npm install`, it should install electron builder if I'm not mistaking

[2021-03-04 21:07] intrepidsilence commented on #50
Yes, that worked but apparently it is too new - what version of EB do I need?

[2021-03-04 21:10] ransome1 commented on #50
I'm building with 22.9.1

[2021-03-04 21:12] intrepidsilence commented on #50
Bingo!  How would you like me to get you the build dmg?

[2021-03-04 21:16] intrepidsilence commented on #50
I have performed initial tests and everything seems to be working, including pasting into an editor field.

[2021-03-04 21:19] ransome1 commented on #50
I was writing to ask you for quick test :)

It won't propably work, but can you try to upload the dmg to a comment here? It will propably clash by it's file size. You could upload it to some file hoster like wetransfer and send me the link.

[2021-03-04 21:21] intrepidsilence commented on #50
Yep, it is too big. Looking for a good method now...

[2021-03-04 21:27] intrepidsilence commented on #50
wetransfer needs a TO email address. Is there one you can share here?

[2021-03-04 21:37] ransome1 commented on #50
you can use ransome@uber.space

[2021-03-04 23:49] intrepidsilence commented on #50
Sent!

[2021-03-05 07:03] ransome1 commented on #50
Hi @indiewelt, thanks to @intrepidsilence we now have a MacOS build in which the copy&paste of text should be working: https://github.com/ransome1/sleek/releases/download/v0.9.3/sleek-0.9.3.dmg

[2021-03-05 07:03] #50 closed

[2021-03-05 07:25] ransome1 commented on #55
Hi @Rudy96.

I'm trying to understand how to implement it properly. Would you say a grouping of items, like it is done now with the priority rows A to Z, for the same due day is useful?

For instance if you would take a look at my todo list, you would see that there is rarely more than one todo on the same due day, but lot's of todos on different due days. Like this mostly each todo would be frame

[2021-03-05 10:26] indiewelt commented on #50
Hi @ransome1 and @intrepidsilence  -  Thank you two so much - I just tested it and it works. It was amazing to see how you solved it in no time. I don't understand what this behaviour has caused but I am happy that it works now. Have a nice weekend.

[2021-03-05 12:46] HerrSersch commented on #54
Thank you for taking the time to look into this issue, it's much appreciated.

[2021-03-05 16:41] Rudy96 commented on #55
Hi @ransome1.

Yes, I think that it's useful. At least for me and the way I use my todo list. I usually have 4 to maybe 10 items on the same due day but not so many different due dates. On my actual list for example I have 7 tasks for today, 3 for tomorrow, 6 on sunday, 4 on monday and no more entries for the distant future.

So grouping all tasks for one due day by a headline like its done with t

[2021-03-05 18:13] intrepidsilence commented on #50
Just happy that I was able to help out.

[2021-03-07 16:16] shulist opened #58 "Feature Request: Archiving to a single done.txt file is problematic"
I utilize many todo.txt files for various projects. The ability to archive is important, but dumping all of my completed items in one done.txt file is just creating a new painful complication. What I would suggest is that the archive process follow the naming convention of the current file and add a "done" on the end.

For example you are archiving **my_todo.txt** and the archive file created beco

[2021-03-07 16:24] shulist opened #59 "Feature Request: Place file name in Window Title"
On Win10 the Sleek window only has "Sleek" in the tile bar. For those of us who open multiple Sleek windows it makes more sense to have the filename displaying in the windows title bar.

[2021-03-07 16:34] shulist commented on #55
Sorting and grouping are intrinsically tied together and need to be available. It would be great to be able to sort on any field

 and then group on any one of those. Also in doing that it would also be useful to allow for the hiding of tags to clean up displayed grouped lists.

[2021-03-08 17:01] ransome1 commented on #55
@Rudy96, is there any good use case in having single due date groups for todos, that lie in the past already?
![image](https://user-images.githubusercontent.com/11188741/110353840-cfa22a00-8037-11eb-8e14-9af97cce0638.png)

With a lot of overdue todos or a lot of completed todos with given due date, this view really is problematic.

To benefit the user interface I was thinking about grouping all it

[2021-03-08 18:11] Rudy96 commented on #55
Yes. I think it's consistent to have a group for each day even it they lie in the past. So you can see how far they are in the past (it's only one day or a month).

And yes, the done tasks are disturbing in the list. For this already done tasks a possibility is to put them to the end of the list (after the tasks group without due dates). Either all in one group "done" or in a separate group with t

[2021-03-09 13:31] samexev opened #60 "Feature Request: Add date added for new tasks"
It would be good if the app can automatically add creation date for TODOs.

[2021-03-09 14:34] ransome1 commented on #60
This happens already. Otherwise can you please explain your request with a little more detail please?

[2021-03-09 14:46] samexev commented on #60
It does, sorry, not sure why it didn't happens sometimes. Please delete this.

[2021-03-09 14:53] samexev commented on #60
When I tried, the date was added. I will keep an eye on it and report if I catch it.

[2021-03-09 15:12] #60 closed

[2021-03-10 11:07] ransome1 commented on #55
@Rudy96 , I published a pre-release that already includes the function itself, but still needs refinement on the user interface.

Please feel free and give it some testing: https://github.com/ransome1/sleek/releases/tag/v0.9.4-Alpha

[2021-03-10 19:19] ransome1 commented on #58
@shulist, please feel free to give it a proper testing: https://github.com/ransome1/sleek/releases/tag/v0.9.4-Beta

[2021-03-10 19:19] ransome1 commented on #59
Same here: https://github.com/ransome1/sleek/releases/tag/v0.9.4-Beta

[2021-03-10 19:22] ransome1 commented on #51
@HerrSersch, could you please take a look at this release, if the issue remains? https://github.com/ransome1/sleek/releases/tag/v0.9.4-Beta

[2021-03-10 19:34] HerrSersch commented on #51
I've tested it on Win7 and Win10, it works on both systems now. Thank you :)

[2021-03-10 19:34] ransome1 commented on #51
Awesome, thanks :)

[2021-03-10 19:34] #51 closed

[2021-03-10 19:51] ransome1 opened #61 "Improve tabindex"
Although sleek is being usable by keyboard only, many tab actions need user centered improvement and some functions are not even reachable using the keyboard.

If anybody is experienced in UX design and has good knowledge on HTML, CSS, JS, please feel free to join me on the optimisation here.

[2021-03-11 14:56] shulist commented on #57
@ransome1 I think this important as I use Sleek on a laptop with an UHD display and it consumes way too much real estate (at its smallest it takes up almost half of my screen width and is mostly blank space). Could Sleek be set to use the current font/sizing set by the user in windows. Or at least have the option to do so? Also could the window size be made user adjustable by the user.

[2021-03-11 15:02] shulist commented on #58
@ransome1 tested this in Sleek 0.9.4 Beta and all seems good. I've tested with all sorts for long convoluted filenames and it worked great. **Thanks for the very fast response** to this item.

[2021-03-11 15:05] shulist commented on #59
@ransome1 OK so it looks great and works with all my long convoluted files referred in #58. **Terrific work again.**

[2021-03-11 15:05] #59 closed

[2021-03-11 15:11] shulist opened #62 "File Open"
The button [Open todo.txt] on the [file open tab] should first take you to the current directory of the active file, if that is not established then the default of user's home directory is OK.

[2021-03-11 15:14] shulist commented on #55
In the view with  [completed] selected and [sort by priority] the completed tasks should be grouped at bottom. 	Would it be possible to sort and group by any tag? E.g. Project, Context etc. (See my note above.)

[2021-03-12 20:51] HerrSersch opened #63 "Simplify entering and adding multi-line tasks"
When adding a new task, the user currently has two choices:

1. Enter a single-line task. Pressing Enter creates the task.
2. Clicking the multi-line double arrow. Enter now creates a new line, but the task can't be added by pressing Enter anymore.

I suggest using one of two behaviours that many messaging apps use instead:

1. Enter adds the task. Shift+Enter adds a new line.
2. Enter adds a new

[2021-03-12 21:40] #58 closed

[2021-03-12 21:52] ransome1 commented on #55
@shulist it sure is possible, but it's a lot of work and as this is a private project my ressources are limited. As the backlog is growing from day to day I'm focusing on the most critical enhancements and bugfixes and features I would actually use myself too. Sorting by tags could be useful to some, but for me filtering by tags does the job.

Please feel free to open a separate feature request an

[2021-03-12 21:52] #55 closed

[2021-03-12 21:54] ransome1 commented on #52
@HerrSersch, that should be fixed now in https://github.com/ransome1/sleek/releases/tag/v0.9.4

[2021-03-13 09:48] HerrSersch commented on #52
I can confirm that it is, thank you :)

[2021-03-14 18:05] velardevines opened #64 "Recurrence broken in v0.9.4-beta"
Future todos are not created for recurring todos. Create an item with due date of today and to recur daily (or weekly or monthly). Save the item. Mark it done. A new future item is not created.

Running the deb installation on chromebook crostini.

--Bill

[2021-03-15 08:08] ransome1 commented on #64
Hi @velardevines . Do you experience the same issue in https://github.com/ransome1/sleek/releases/tag/v0.9.5-Alpha as well?

[2021-03-15 14:43] velardevines commented on #64
Hello @ransome1 - This problem is fixed in v0.9.5-Alpha.

[2021-03-15 14:52] #64 closed

[2021-03-16 09:27] #52 closed

[2021-03-17 10:11] plagasul commented on #44
After using it for a while I have to say I feel vwery comfortable with the compact view when there are a lot of entries in the list. So, good job, I'd say. And thanks again!

[2021-03-17 17:51] gerroon opened #65 "Archive"
Hi

I think it would be very beneficial if there is a way to archive the current todo in the same folder(or under a subfolder) and empty it afterwards so the todo.txt starts clean.

[2021-03-17 18:04] ransome1 commented on #65
Hi @gerroon. I am not sure if I understand this requirement, could you please be more specific?

Also did you see that there is an archiving function that moves completed todos into a done.txt file?

[2021-03-17 20:52] gerroon commented on #65
Hi

I was more thinking like dated done.txt (so has versioning based on months ) maybe.

I am not seeing done.txt option myself here.

thanks

[2021-03-18 15:39] velardevines commented on #65
Hello @gerroon, Maybe I do not understand what you are asking.

Does the Archive feature in Setting meet your needs?

![image](https://user-images.githubusercontent.com/13563674/111653741-bfbfde00-87cd-11eb-832e-01e585e6d993.png)

[2021-03-18 17:04] ransome1 commented on #65
@gerroon. I'm sorry but I think without any clear and detailed description of the idea, we can only do guesswork.

[2021-03-18 17:58] gerroon commented on #65
I have not used the done.txt method but I assume it will become a one giant done.txt file after couple years of using this method. What I am asking is maybe more like done.txt but done_022021.txt (feb_2021) so that one can distinguish the dones per month. Splitting a giant done.txt is harder then a merging bunch of them later.

thanks

[2021-03-18 18:18] ransome1 commented on #63
I gave it some thought. While messaging app users might be familiar with this abnormal behavior of a textarea, I am not sure if this is what most users would want or expect from a content app. Though if more users would be interested in this feature, I would consider developing it as an option, activated in settings.

As a temporary workaround I could remove the tabindex from the recurrence picker

[2021-03-18 18:27] ransome1 commented on #65
Ok, now I understand. I think it's not a bad idea, yet a very specific use case only few users would actually make use of. Also it raises quite some conceptual questions and therefor would consume a significant amount of developing hours.

If this is a common use case for you, you can workaround this by making use of the archiving function, which moves the completed todos of your "todo.txt" to a "

[2021-03-18 21:15] velardevines commented on #65
Excuse me for interjecting again. I accomplish something like @gerroon is requesting by opening the done.txt file then pressing Ctrl-F and enter a search term like "x 2021-02".  This displays all the done tasks for February 2021.

[2021-03-18 21:18] ransome1 commented on #65
Simple but effective

[2021-03-19 17:18] ransome1 commented on #65
@gerroon, I hope the workaround @velardevines suggested works for you. As for the feature I think I won't invest any effort in it and therefor will close this feature request.

But sleek is open source and if you have skills in JavaScript, you can work on this feature and contribute it to the project.

[2021-03-19 17:18] #65 closed

[2021-03-20 21:47] hideosnes opened #66 "[Snap, Flatpak] Switch to GtkFileChooserNative"
Would it be possible to add networking rights (on Ubuntu) to be able to access a mounted server.

I mounted my server on Ubuntu as a drive and it would be amazing to allow colleagues to interact with the ToDo-File there in order to allow several people to manipulate a single ToDo.txt - as in several people can use a joint TodoList.

It would be quite easy, since all sleek needs to do is being able

[2021-03-20 21:57] ransome1 commented on #66
Hi @hideosnes. Do you download sleek from Snap Store?

[2021-03-20 22:04] hideosnes commented on #66
Wow, that was a prompt answer :D - thanks for that. I used the Ubuntu Software App.

[2021-03-21 07:27] ransome1 commented on #66
Hi @hideosnes. Can you tell how your network shares get mounted, my guess is you mount them in /mnt/? When sleek opens your file explorer, what exactly can you see and select?

[2021-03-21 07:39] ransome1 commented on #66
Also I'm trying to figure out what the source of sleek in the Ubuntu Software App is (I'm on Arch Linux and have no Ubuntu at hand) is. sleek is published in the new Ubuntu (Canonical to be more precise) Store which is called Snap Store. Right now I am assuming the Ubuntu Software App uses Snap Stores apps (Snaps) as sources.

Anyhow, I added a new interface "removeable-media" (https://snapcraft.i

[2021-03-21 11:40] ransome1 commented on #57
@shulist, @intrepidsilence, just fyi I'm working on an option to increase and decrease the font-size which will also scale the interface in general. I will implement + and - buttons as well as keyboard shortcuts.

@shulist, I will ask you for some testing on your UHD display as right now I am far way from home for some time, staring at a 13 inch display.

The font face though will remain Free Sans

[2021-03-21 12:48] hideosnes commented on #66
Alright, I think I figured a few things out:

The Ubuntu Software App is the 'original' Version of the Snap Store - both are developed and maintained by Canonical. I'm using Ubuntu 18 and I think they developed the Snap Store for a more recent version of Ubuntu, however it is still possible to use the it on U18.

I was able to use `sudo snap install --edge sleek` ( though I had to remove my instal

[2021-03-21 16:03] ransome1 commented on #57
@shulist, @intrepidsilence (@Tobida, @plagasul, you might be interested in this feature too), I built a first draft on the scaling feature: https://github.com/ransome1/sleek/releases/tag/v0.9.7-Alpha

It is placed in the "view" menue:
![image](https://user-images.githubusercontent.com/11188741/111911632-a5ecf800-8a66-11eb-9706-733ccbe9c957.png)

This feature does not only scale the font size, but

[2021-03-21 16:27] ransome1 commented on #66
@hideosnes, cool thanks, keep me posted! This might be nice little improvement for many users.

Reading your last comment, I am also considering to enhance sleek on the file creation process. If user don't add a file extension like .txt or .md, sleek can add a .txt per default.

[2021-03-21 23:24] lfrankel opened #67 "When filtering, allow hiding projects that have no open items"
I use my todo.txt in addition to our company's Jira, as a private tracker where I can put whatever notes and issues relate to a ticket I'm working on without bothering everyone on Jira. I use the Jira ticket number for the Project.

It would be very nice, in the project filter dialog, to be able to hide projects that have no remaining open items. Sometimes it's useful to be able to find ones relat

[2021-03-22 07:15] ransome1 commented on #67
Hi @lfrankel, please help me understand: For instance you have a project "HD-2219" and one "HD-2220". Only "HD-2220" has 1 open todo, while "HD-2219" has 0 open and 1 that is close. Like this
![image](https://user-images.githubusercontent.com/11188741/111953201-99a87f80-8ae6-11eb-9c8d-d6845e480144.png)

And you're aiming to hide the "HD-2219" from the filter drawer (I assume you're referring to th

[2021-03-22 07:28] lfrankel commented on #67
Yes, you've got it exactly right! :D

[2021-03-22 07:33] ransome1 commented on #67
I don't know if it is an option for your workflow, but you can hide the completed todos (CMD or Strg + H, or using the "View"-Container) and it will not only hide the todos, but also the projects that have no incomplete todos anymore:
![image](https://user-images.githubusercontent.com/11188741/111955001-3835e000-8ae9-11eb-8564-2e46fede7d9b.png)

[2021-03-22 13:35] Tobida opened #68 "making repositioning of context tag and project tag optional"
I love to use todo.txt in a natural way of language:

This is in consensus with the todo.txt rules i read: "Contexts and Projects may appear anywhere in the line after priority/prepended date"

In my sleek this will show up like this, the sentence is destroyed

I fully respect that in your perspective this is not a bug but a feature.

I would like to use it without the feature of putting tags at t

[2021-03-22 13:48] shulist commented on #57
@ransome1 I think this is a significant improvement in the direction that had been mentioned above. While I don't have my UHD laptop with me currently (I will test it there also), I did look at the Sv0.9.7 on a regular desktop and have the following comments:
1) Would it not be better to just use the whatever default font that the user has set?  I take a lot of time selecting the best font for me

[2021-03-22 13:51] shulist commented on #57
@ransome1 Sorry I just read that you had changed the title of this to limit it to be about Fonts sizing and scaling. Do you want me to move my comments about window scaling to another thread?

[2021-03-22 13:55] intrepidsilence commented on #57
@ransome1 I can confirm that font scaling is working on the macos version. However, I would really like it to change the padding in each line as well. The interface is very pretty but also very inefficient at using the available space, even with a smaller font. Is that something that can change as well?

[2021-03-22 14:02] ransome1 commented on #57
@intrepidsilence, are you using the compact view at the same time?

[2021-03-22 14:12] intrepidsilence commented on #57
@ransome1 Compact View is better but still not as tight as I would like to see. Maybe add and Ultra Compact mode?  :)

[2021-03-22 14:15] intrepidsilence commented on #57
@ransome1 No problem. Thanks very much for the font sizing addition.  Makes a big difference!

[2021-03-22 15:23] ransome1 commented on #68
Hi @Tobida . I'm totally with you on this topic and would prefer it the way you describe it too. But this is actually not up to me, as I use a JavaScript library to do the parsing of the text into proper todo.txt objects. And while it does a great job in general, it doesn't persist the position of projects and contexts after generating the object, but sorts these attributes in it's own way.

But i

[2021-03-22 15:48] intrepidsilence opened #69 "Change "Done" button to "Mark as Done""
Not sure if others have experienced this but when I am busy and trying to 'get things done' I see the Done button and click it to finish editing an item, which of course is wrong. I wonder if changing the verbiage on this button would help prevent it?

Thanks!

[2021-03-22 15:54] ransome1 commented on #57
Yes, it would be good to have single issues for different things to keep track.

[2021-03-22 15:56] ransome1 commented on #69
Good one, didn't even come to my mind. Will add this and the necessary translations to the next release.

[2021-03-22 15:57] intrepidsilence commented on #69
Thanks!

[2021-03-22 16:10] intrepidsilence opened #70 "More closely replicate keyboard shortcuts from todotxt.net"
It may be beneficial to clone the keyboard shortcuts from todo.txt more closely (changing existing and adding some that are missing) if you want to capture the crowd that uses it to make transition more smooth.

Some of those features are very handy and moving away from it can be painful, especially when there is no equivalent shortcut.

[2021-03-22 16:55] shulist opened #71 "Window scaling"
I cannot size the Sleek window to a size that is appropriate for me. It seems you have set the minimum window size and of course I cannot get it to be any smaller. For me at the smallest size the window is mostly empty space and way too large for my screen layout.  See attached photo. For comparison, in the image I have included the todotxt.net application (Font is Verdana 10), I had used in the p

[2021-03-22 16:59] #57 closed

[2021-03-22 17:34] ransome1 commented on #71
Hi @shulist. Removing the minimum window size is not a problem. The big challenge will be to optimize the view for those small sizes, especially the ones on default font-size.

However I removed the min window width barrier and added a first set of CSS optimizations, both are included in this Beta release: https://github.com/ransome1/sleek/releases/tag/v0.9.7-Beta

I will appreciate your feedback.

[2021-03-22 18:09] ransome1 commented on #70
Hi @intrepidsilence , I don't know the shortcuts of the todo.txt app you're mentioning. I'm not even sure which one you're referring to as there a zillions out there.

But if you provide a detailed information on the shortcuts I can check what makes sense in sleek.

[2021-03-22 18:25] shulist commented on #71
@ransome1 That is just great. The adjustable size works well. Good work there!

I think if you allow for an option of **default Font size** then the user can manipulate the settings on their own to adjust as I would.

I actually switched to 'Light Mode" and Free Sans is even more unreadable in that mode, especially with colored backgrounds (projects, contexts). I am not sure how wedded you are to

[2021-03-22 18:35] ransome1 commented on #69
Hi @intrepidsilence. Fyi, if you want to test it, it is already included in https://github.com/ransome1/sleek/releases/tag/v0.9.7-Beta

[2021-03-22 18:42] ransome1 commented on #71
FreeSans is a great open source based font, which I like and want to support and so far I haven't had any problems with it, neither on Arch Linux, Ubuntu nor on MacOS.

Maybe it doesn't play well with Windows and if it turns out to be the problem for other Windows users too, I could think about switching to Arial. Both Arial and FreeSans are based on Helvetica if I'm not mistaken and that could be

[2021-03-22 18:45] shulist commented on #71
Yes, the font and font size set by the Windows user was what I mentioned.

[2021-03-22 19:54] intrepidsilence commented on #70
Sorry, I should have specified.  It is probably the most likely client for Windows users to be using (guessing here). http://benrhughes.github.io/todotxt.net/

You can see the list of keyboard shortcuts here:
https://github.com/benrhughes/todotxt.net

Thanks for considering it!

[2021-03-22 19:54] intrepidsilence commented on #69
Nice!  I will check it out.  You rock!

[2021-03-22 19:57] intrepidsilence commented on #69
Works as advertised and I think it adds clarity.

[2021-03-22 20:01] intrepidsilence opened #72 "[Windows] Work better with Windows 10 Task Manager bar"
**Is your feature request related to a problem? Please describe.**
If you pin the sleek.exe app to the Task Manager bar in Windows 10 and then click it to open then it opens a second icon in the Task Manager instead of using the pinned icon.

**Describe the solution you'd like**
It would be great if it used the pinned icon like other apps, rather than creating a new one.

**Describe alternatives y

[2021-03-22 20:04] intrepidsilence opened #73 "Sign the app in Windows and macos with valid developer credentials"
**Is your feature request related to a problem? Please describe.**
It would be great if the app was signed so that the OS does not try to prevent it from running. At least for the official builds.

**Describe the solution you'd like**
Signed binary distributions.

**Describe alternatives you've considered**
Forcing the OS to accept the app works but is not a full solution since it does not allow t

[2021-03-22 20:04] #69 closed

[2021-03-22 20:10] ransome1 commented on #73
Hi @intrepidsilence, signed Windows releases can be downloaded via the Windows Store.

I can check if I can somehow sign the .exe file on Github with the same credentials as well.

The problem with MacOS is that I dont have a Mac at hand right now and there is a yearly developer fee. The more users sleek gets, the more likely it will be that at some point I might give Apple my little money ;)

[2021-03-22 20:11] intrepidsilence commented on #73
Yep, figured. $100 isn't too bad.  And I did not know it was on the Windows Store, so good on you. Thanks

[2021-03-22 20:11] #73 closed

[2021-03-22 20:16] intrepidsilence commented on #73
One more comment on this: You need a patreon.  ;)

[2021-03-22 22:33] lfrankel commented on #67
That works too. Thanks!

[2021-03-22 22:33] #67 closed

[2021-03-23 00:15] shulist commented on #72
Also if you , <Right-Click> the Sleek taskbar item and open "Sleek" from the pop-up menu it also opens a second instance of the last file.
Expected Behavior: Open one of a list of files, or open the last file if only one is available.

[2021-03-23 00:28] shulist commented on #70
@ransome1 I've put a list of the referenced Keyboard Shortcuts in KeyBoardShortcuts_Proposed.md

[2021-03-23 01:29] shulist opened #74 "ToDoTxt.txt that contains all elements of the Specification for testing"
@ransome1 In order to test the various applications using  ToDoTxt.txt files I created a test file and have provided it for the the use of Sleek. I think it is complete and it includes the 4 types of recurring tasks that Sleek supports.

[2021-03-23 07:19] ransome1 commented on #72
Hi @intrepidsilence, hi @shulist. I am not a Windows user myself, but have it running in a virtual machine. I will briefly look into it, what can be done about this, but can't promise anything.

If you have any knowledge about how to solve these issues on Windows, please feel free to share whatever you know.

[2021-03-23 13:15] shulist commented on #72
@ransome1 While I would not classify myself as a windows programmer I do have limited experience.  Unfortunately my typical programming style is brute force and ignorance. However I'd be willing to help out in any way.

[2021-03-23 13:39] intrepidsilence commented on #72
@ransome1 Unfortunately it is exactly the opposite for me. I must use Windows and that it where it ends. Sorry I cannot help more in this regard.

[2021-03-23 14:34] ransome1 commented on #66
As discussed here https://forum.snapcraft.io/t/question-supported-interface-for-online-accounts-or-mounted-servers/23470/9, until Electron is able to provide the GtkFileChooserNative API (https://github.com/electron/electron/pull/19159), we can't do anything on our side.

Once they finish the enhancement, I will adapt it.

[2021-03-23 21:34] ransome1 opened #76 "Support for hidden tasks (Call for testing)"
**Is your feature request related to a problem? Please describe.**
As a sleek user I would like to have contexts and projects available as filters and entries in the suggestion container (while typing a new todo) even when there are no actual tasks with the necessary attributes in the todo list.

**Describe the solution**
- Add h:1 to a todo will hide the todo in the list
- Filters and suggestion

[2021-03-23 21:41] ransome1 commented on #46
@kmf, fyi: Since I'm utilizing Github CI now to build the releases, there will be Mac buils with every new release.

[2021-03-23 22:36] ransome1 commented on #63
@HerrSersch. Sorry, I misread your post. Your suggestion number 2 absolutely makes sense. I implemented it and it will be part of the 0.9.7 release tomorrow.

[2021-03-24 10:08] shmu26 opened #77 "File System doesn't display properly in the Snap version."
Kubuntu 20.04
I installed the Snap version, and tried to open my todo.txt file, which is in my Home folder.
I was not able to open it because the file system is represented by a bunch of meaningless rectangular boxes, instead of folders and files.

[2021-03-24 10:11] shmu26 opened #78 "Resizing the flatpak app"
Kubuntu 20.04

1 It would be nice if the Flatpak version could be more resizable. The smallest possible window is still pretty big. The Snap version is much more resizable.

2 Maybe an option to choose font size?

3 I am excited about this great app. Thanks!

[2021-03-24 10:16] ransome1 commented on #78
Hi @shmu26, both the latest Flatpak and Snap releases are in the building process right now. If you check again in a couple of hours you should see 0.9.7, which propably solves a couple of your issues.

If not I would need to ask you to be more precise about the issues.

[2021-03-24 10:39] ransome1 commented on #77
Hi @shmu26. Version 0.9.7 (Revision 311) has just been released in Snap store. Are you experiencing the same problems with that release?

[2021-03-24 11:27] ransome1 commented on #63
@HerrSersch. The new shortcut can be tested in 0.9.7: https://github.com/ransome1/sleek/releases/tag/v0.9.7

[2021-03-24 12:54] ransome1 commented on #78
@shmu26, the Flatpak update has been release and you can check it out.

[2021-03-24 12:55] ransome1 commented on #71
Window scaling function has been released as part of 0.9.7

[2021-03-24 12:55] #71 closed

[2021-03-24 12:57] ransome1 commented on #71
@shulist. Feel free to open a separate issue for the font issue. I took a look into my Windows 10 virtual machine and could not really reproduce any issues with FreeSans. So if we work on the font issue, it would be good, if you could provide more details and maybe even screenshots that show, what we need to optimize is.

[2021-03-24 12:58] ransome1 commented on #61
Has been released as part of 0.9.7

[2021-03-24 12:58] #61 closed

[2021-03-24 13:07] intrepidsilence opened #79 "Remember window state"
**Is your feature request related to a problem? Please describe.**
After closing and re-opening the application the window state (size, location, maximized/not) is not remembered and restored.

**Describe the solution you'd like**
Remember and restore the window state on re-open.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2021-03-24 13:18] ransome1 commented on #79
@intrepidsilence. This function has already been implemented a while ago and is working on my side.

In general it is helpful, if you as much and precise detail as possible on the issue as well as on your OS, version of sleek and so on.

[2021-03-24 13:21] intrepidsilence commented on #79
Yes, sorry.  The feature is sort-of working in Windows 10 but not fully. When I close the window and it was maximized and re-open it it is not maximized.

[2021-03-24 13:30] ransome1 commented on #79
Are you using the .exe file of release v0.9.7 or the most recent version from Windows Store?

[2021-03-24 13:32] intrepidsilence commented on #79
I might still be using the beta of 0.9.7 of the exe. Let me update and try it again to verify.

[2021-03-24 13:39] ransome1 commented on #79
Ok let me know. Tonight I will check my Windows 10 VM if I can reproduce the problem.

[2021-03-24 14:20] HerrSersch commented on #63
Thank you very much, it works well and feels nice :)

[2021-03-24 15:13] intrepidsilence commented on #79
Validated the problem exists with Windows 10 and 0.9.7 release ver.  Remember that a maximized window is not the same as a window that happens to be the full size of the screen. Be sure to look at the maximization icon to be sure it is overlapping boxes rather than one box. One box = unmaximized, overlapping = maximized

[2021-03-24 17:10] ransome1 commented on #79
@intrepidsilence , could you please check this very early Alpha? https://github.com/ransome1/sleek/releases/tag/v0.9.8-Alpha
It contains some adjustments, that were necessary for Windows. Now the window size, window position and fullscreen should be remembered by sleek.

Also on a side note: Can I ask you if you're experiencing trouble with sleeks font on Windows 10 for you?

[2021-03-24 17:28] velardevines opened #80 "Search box loses focus after typing each character"
**Describe the bug**
Search box loses focus after typing a single character.

**To Reproduce**
Steps to reproduce the behavior:
1. Ctrl-F to position cursor in Search box
2. Type anything. Focus is lost after first character.
3. Ctrl-F to position cursor in Search box
4. Type anything. Focus is again lost after first character.

**Expected behavior**
To type search term in Search box

**Screenshot

[2021-03-24 17:37] velardevines commented on #80
Yes, you are correct. Problem occurs when the filter side bar is open.

Earlier versions did not contain this error; at least on my install.

[2021-03-24 17:41] ransome1 commented on #80
I improved three things and broke one, classic ;)

It's being fixed in the next release. Thanks for bringing it up!

By the way, did the latest Snap release work for you?

[2021-03-24 17:47] velardevines commented on #80
No, after installing 0.9.7 using Snap, I received the following error when executing Sleek. I posted a screenshot on the Snap Forum but here is the error:

$ sleek
No protocol specified
The futex facility returned an unexpected error code. Aborted (core dumped)

Thanks for working so diligently on Sleek. I use it every day on an Intel based Chromebook laptop. I don't really need Sleek to run on AR

[2021-03-24 17:50] ransome1 commented on #80
Good to hear you're using Syncthing. It's just great and a great solution also for keeping todo.txt files sync. It even works flawlessly on Android phones where you can use SimpleTask as a perfect todo companion app.

Anyway, I will try to figure out what is going wrong with the Snap version on ARM devices.

[2021-03-24 17:56] velardevines commented on #80
I agree and have tried SimpleTask on my phone. I'm having a problem with not being able to specify the directory location of the Sleek files on the phone in SimpleTask.  It's odd though because SimpleTask on the ARM machine works great and I open todo.txt files using SimpleTask ... at least until Sleek works on the ARM machine  ;)

[2021-03-24 18:02] ransome1 commented on #80
If you're having problems with finding the todo.txt file with Simpletask it is caused by some Android permission issues. There is a release where this issue has been worked around and it works well on my phone. You can find a link to an apk here: https://github.com/mpcjanssen/simpletask-android/issues/1100

[2021-03-24 18:09] velardevines commented on #80
Yes, that's exactly the  problem I have with SimpleTask on my phone.  Thanks very much for the link. Will be nice to have the todo.txt files working on the phone.

[2021-03-24 18:22] intrepidsilence commented on #79
Trying it now. What about the font should I be testing?

[2021-03-24 18:25] intrepidsilence commented on #79
Bingo - window maximize works.

Happy to look for font issues with more detail. Without what to look for I don't see anything glaringly wrong. By I am in the US so we don't use many special characters. :)

[2021-03-24 18:26] intrepidsilence commented on #79
Fogot to say "thank you".

Thank you.

[2021-03-24 18:28] ransome1 commented on #80
By the way, I just learned that Flatpaks by default are being built for all kinds of architectures, including ARM. And as sleek is available on Flathub too, you might give it a try if you have some free time for it: https://www.flathub.org/apps/details/com.github.ransome1.sleek

[2021-03-24 18:33] ransome1 commented on #79
You're welcome ;)

About the font, another Windows user is having issues (https://github.com/ransome1/sleek/issues/71#issuecomment-804292117) with the readability of the font that is used in sleek (FreeSans) and I just wanted to know if others are experiencing similar issues. I think he is having problems reading white text on lila background, maybe in combination with the new zoom function.

[2021-03-24 18:38] ransome1 commented on #63
Cool and again thanks for the suggestions, really speeds up things if you bulk create todos.

[2021-03-24 18:38] #63 closed

[2021-03-24 18:41] ransome1 commented on #57
`While it might not be intended, in the View menu, the "Zoom" option gives you the impression that the <+> & <-> keys should adjust the sizing, but they do not.`
@shulist: A little follow up here: What sizing are you referring to?

[2021-03-24 18:42] intrepidsilence commented on #71
I don't see the font issue being described on Windows. The font is very legible to me in both light and dark modes, even with the wonderful zoom feature being used to make the font tiny. Even the 'bubbles' are clear for me in both modes. I wonder if @shulist could post a screenshot of the issue to make it more clear?

[2021-03-24 19:06] intrepidsilence commented on #57
@shulist Did you mean that it gives the impression that the keyboard versions of those keys will control the size? I did not get that impression from it but others might I guess.

It would certainly be good to have keyboard shortcuts for zooming in and out and best if they matched the Chrome/Firefox version of those keys.

[2021-03-24 19:10] intrepidsilence commented on #57
@shulist - it just occurred to me but are you color-blind? If so, that could explain the difficulty seeing the font on the colored bubbles.

Either way, @ransome1 even if @shulist is not color-blind, this is definitely something to take into consideration, and perhaps make a color-blind mode.

[2021-03-24 20:47] velardevines opened #81 "[Flatpak] Warnings and non critical errors on Flatpak (ARM64 architecture)"
Hello @ransome1, thanks for suggesting to try the Flatpak install in issue #80.

Sleek installed and does run using Flatpak. It starts with the following error:

$ flatpak run com.github.ransome1.sleek
[3 zypak-helper] Error retrieving supports property: org.freedesktop.DBus.Error.InvalidArgs: No such property “supports”
[3 zypak-helper] Portal v4 is not available
Success: Language set to: en

How

[2021-03-24 21:12] ransome1 commented on #81
Happy to hear it works for you now :)

There is little information on those two errors on the interwebs, but from what I find, I can assume it is nothing critical. And has long as sleek can read and write your txt file and also write your settings to it's config file, you should be good to go.

[2021-03-24 21:37] velardevines commented on #81
It seems I spoke too soon. Sleek app hung and must be force closed. Errors showing in the Terminal are below:

$ flatpak run com.github.ransome1.sleek
[3 zypak-helper] Error retrieving supports property: org.freedesktop.DBus.Error.InvalidArgs: No such property “supports”
[3 zypak-helper] Portal v4 is not available
Success: Language set to: en

(sleek:3): libnotify-WARNING **: 15:30:56.435: Failed

[2021-03-24 22:20] velardevines commented on #81
I'm unable to explain what is happening or what is causing the issue. Sometimes Sleek hangs but if I let it sit for 2-3 minutes then Sleek wakes up and is again functional. During the time Sleek is hung up, these three messages appear in the Terminal window:

(sleek:3): libnotify-WARNING **: 15:59:22.898: Failed to connect to proxy

(sleek:3): libnotify-WARNING **: 15:59:47.926: Failed to connect

[2021-03-25 08:31] ransome1 commented on #81
@velardevines, regarding the lagging/hanging up, I am reading (https://www.alionet.org/index.php?topic=805.0) that libnotify (that throws the warning) can be the cause for it. So what you can try is to deactivate notifications in sleeks settings.

The zypak errors seem to be quite common even among other apps like Riot (https://www.alionet.org/index.php?topic=805.0). I'm following development on t

[2021-03-25 08:56] ransome1 commented on #81
Also can you provide me with the output of
`flatpak run -v com.github.ransome1.sleek`

[2021-03-25 11:35] HerrSersch opened #82 "Context and project auto completion breaks after saving anything"
**Describe the bug**
This bug started appearing in the 0.9.7-beta. Auto completion for projects and contexts does no longer happen after a new task has been added and saved or an existing task has been edited and saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Restart sleek
2. Make sure you have at least one context available for auto completion. If you haven't, add a new task with a

[2021-03-25 17:48] ransome1 commented on #82
@HerrSersch, thanks for your bug report. I tried to reproduce it the way you described it but wasn't able to. Though yesterday, at least for the latest v0.9.7, I was able to break the auto completion by switching between input field and textarea. That I did fix and it should not appear in https://github.com/ransome1/sleek/releases/tag/v0.9.8-Alpha

Could you please do me a favor and open the AppIm

[2021-03-25 17:48] tonylom3 opened #83 "Error pop up window when saving a new task"
**Describe the bug**
I just started using  Sleek (love it BTW) I did not see this pop up the first couple days. Today I added a couple new
tasks and received a pop error message. The message can be cleared by clicking "OK", sometimes more than once.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sleek Linux application
2. Click on the "plus" to create a new task
3. Save the task
4. Se

[2021-03-25 17:57] velardevines commented on #81
@ransome1, Deactivating Notifications in Settings solves the libnotify Warning problem. Thanks for suggesting that fix. Here is output after Notifications were turned off:

![Screenshot 2021-03-25 11 33 19 AM](https://user-images.githubusercontent.com/13563674/112520102-af28de00-8d60-11eb-8c19-aaf8b733f27c.png)

And here are results of running Sleek with -v parameter:

![Screenshot 2021-03-25 11 4

[2021-03-25 18:00] tonylom3 commented on #83
Oh for the love of St. Pete. I had to reboot my laptop due to the rare instance where Linux needed to complete an update.
And of course it seems to be working now. I'll reopen if it comes back.

Thank you for a great tool!
-Tony

[2021-03-25 18:00] #83 closed

[2021-03-25 23:24] HerrSersch commented on #82
This is weird, I can't reproduce it on Mint Cinnamon anymore; maybe I was mixing things up. I also don't have the bug on Win10 with the latest v0.9.8-Alpha. Maybe it's specific to Win7.

I've recorded a video with Win7 that shows it working with v0.9.7-Alpha and then the non-working behavior in v0.9.7 and v0.9.8-Alpha. From 1min 15sec onwards you can see that it does not happen if I cancel the dia

[2021-03-26 00:13] HerrSersch commented on #82
I've made some new observations and believe this bug is triggered by expanding the task edit box to multiline input with the arrow icon. I can't test this on Win7 right now, but the same thing I've shown in the video happens on Mint Cinnamon too as soon as the input box is switched to multiline.

I was already wondering, because I could have sworn I had seen this on Mint today too. When you tried

[2021-03-26 07:30] ransome1 commented on #82
@HerrSersch  it is possible, that the exe file was not based on the excact code than the AppImage. I rebuild the exe and am curious, if this fixes the problem for you on Windows 7: https://github.com/ransome1/sleek/releases/download/v0.9.8-Alpha/sleek.0.9.8-Alpha.exe

[2021-03-27 08:25] HerrSersch commented on #82
Yes, it's fixed now. Thanks a lot, once again :)

[2021-03-27 14:55] asitemade4u opened #84 "Some GUI enhancements"
First and foremost, **THANKS** for this amazing software that keeps improving!
I have been using Sleek for the past weeks in a Debian10 Environment, using the Flatpak version and find it outstanding.

Two little GUI things I would love see enhanced though:
- I use Sleek on the side of VSCode and like it to be very thin in order not to take too much screen space. When reducing its width, there is *

[2021-03-27 18:57] ransome1 commented on #84
Hi @asitemade4u. Thanks for your suggestion, which sounds useful. I will look into it and will let you know when I found some time to improve it.

[2021-03-27 19:06] ransome1 commented on #76
# Call for testing
The hidden task feature has been implemented. And although it sounded simple, it brought more complexity with it than I expected. The feature needs testing now and I would really appreciate your feedback.

The hidden task feature is used to hide single tasks but still let their projects and contexts be shown in the filter list and suggestion box, which can be really useful.

To

[2021-03-27 20:29] ransome1 commented on #79
Released as part of https://github.com/ransome1/sleek/releases/tag/v0.9.8

[2021-03-27 20:29] #79 closed

[2021-03-27 20:29] ransome1 commented on #80
Released as part of https://github.com/ransome1/sleek/releases/tag/v0.9.8

[2021-03-27 20:29] #80 closed

[2021-03-27 20:30] ransome1 commented on #78
Can't reproduce it and author does not reply.

[2021-03-27 20:30] #78 closed

[2021-03-27 20:31] ransome1 commented on #77
Closed due to lack of response from author

[2021-03-27 20:31] #77 closed

[2021-03-27 20:31] ransome1 commented on #82
Released as part of https://github.com/ransome1/sleek/releases/tag/v0.9.8

[2021-03-27 20:31] #82 closed

[2021-03-27 22:15] ransome1 commented on #37
Hi @SteOtt , the hidden todos feature has been implemented in v0.9.8 and needs testing: https://github.com/ransome1/sleek/issues/76#issuecomment-808787906

[2021-03-27 22:42] Moonbase59 opened #85 "Add "business day(s)" for recurrence"
**Is your feature request related to a problem? Please describe.**
Some other `todo.txt` applications support `b` (business days; Mon-Fri) for recurring events, as in `rec:1b` or `rec:+2b`. I find this quite useful and use it relatively often.

**Describe the solution you'd like**
I’d be grateful if sleek could support `b` for business days, so if I had the entries:
[code]
and
[code]
and mark them

[2021-03-28 07:24] ransome1 commented on #74
Thanks for the file, it has been placed in the assets: https://github.com/ransome1/sleek/blob/master/assets/test.txt

[2021-03-28 07:24] #74 closed

[2021-03-28 21:38] HerrSersch commented on #76
This feature is already proving very useful to me, thanks a lot for adding it :)

I could find two bugs:

1. It's possible to add tasks with the `h:1` tag that contain nothing else except for this tag, or contain only `h:1` plus your projects and contexts like `h:1 @bug @feature`. You then end up with a task that does not show up even if you enable `Hidden todos`. The only way to edit or delete th

[2021-03-29 06:08] ransome1 commented on #76
Hi @HerrSersch. Thank you for your feedback. I found the problem and fixed it. The fix will be part of the next release.

[2021-03-31 22:52] Bursus opened #86 "Please provide the ability to hide tasks due in the future"
It would be very helpful to be able to hide tasks which are due in the future (i.e. to only see tasks which are past due, due today, or with no due date). I currently have a couple dozen recurring tasks, which makes it a bit challenging to quickly see what I need to focus on today, since I need to scroll down to the bottom of the list to see tasks without due dates, and scroll to the top to see th

[2021-04-01 05:57] TheAmalShibu opened #87 "Time based alert for tasks"
It would be really great to have a time based alert for particular tasks, like an alert for a scheduled meeting or an alert for something important to do at mentioned time.

The project is great, totally loved it :)

[2021-04-02 07:11] ransome1 commented on #76
Testing completed and fixes will be deployed in 0.9.9

[2021-04-02 07:11] #76 closed

[2021-04-02 08:45] ransome1 commented on #87
Hi @TheAmalShibu. Even though this feature is not part of the common todo.txt syntax, I like the idea. I added it to the backlog of v1.x.

If you like you can help out doing the conceptual ground work. We need to figure out how we would add it to the todo.txt syntax and how it needs to look like on the interface.

Also other todo.txt apps already have it implemented and we should research on it to

[2021-04-02 10:52] blaze1522 opened #88 "Run in Background and/or minimise to system tray"
**Problem**: I don't want the GUI to be running when I am not looking.

**Possible Solution**: It would be great if there is run in the background or minimise to the system tray kind of feature where basic actions like new tasks can be added.

**Current Setup**: I use a Gnome shell extension that refers to the same todo.txt so I don't particularly need the system tray thing. But run in the backgro

[2021-04-02 17:02] ransome1 commented on #86
Hi @Bursus . I am not 100% sure if I understand the issue you're experiencing. I assume you sort the list by due date and not by priority? Like this the todos most likely to be due today or already due in the past are placed at the top of the list. And isn't this what you would like?

[2021-04-02 17:06] ransome1 commented on #88
@blaze1522, thanks for the suggestion which is a nice to have and should not be a big blocker.

I will check Electrons documentation if this is possible out of the box.

As for the implementation I suggest this to be a setting because there are definitely users who prefer to have sleek in the task bar and not in the system tray.

[2021-04-02 21:40] Bursus commented on #86
Hi @ransome1 . Thanks so much for getting back to me about this! I apologize that I wasn't clearer in my original comment.

You're correct. I'm sorting the list by due date. The issue I'm facing is that I often have several tasks which can be tackled at any point in time (i.e. which have no due date at all). I also have several recurring tasks due in the future, which I usually don't need to think

[2021-04-06 12:24] arthurmarquesv commented on #70
This would be a plus for me too! It would be beneficial to use the keyboard not only for editing, deleting, filtering etc., but to navigate between tasks too. In Todotxt.net I can even select multiple tasks using simple *text-editor-like* shortcuts (like control + arrow) when I want to copy those in my bullet journal (using control + C).

The absence of a more keyboard-friendly environment is the

[2021-04-06 14:48] brianmassen opened #89 "[Flatpak] Create and Open Dialog is Not Showing Files/Symlinks from mounted devices"
**Problem.**
My Documents directory is on a second disk drive, so I have a symlink in my Home directory to Documents. When I try to either create a file or open a file no symlinks appear in the list making it impossible to reach my Documents directory. Also I can't see the mnt directory in the root location so I can't get at my Documents directory that way either.

**To Reproduce**

1. Create s sy

[2021-04-07 14:54] ransome1 commented on #86
Hi @Bursus.

Part of v0.9.9 are three toggles in the new view drawer (a new icon in the navigation will toggle it) that can show or hide todos with due dates today, in the past or in the future. Please feel free to give it some proper testing: https://github.com/ransome1/sleek/releases/tag/v0.9.9

[2021-04-07 14:56] ransome1 commented on #84
Hi @asitemade4u.

I added some refinement to the visualisation of the table and the search bar and you can check those changes in v0.9.9: https://github.com/ransome1/sleek/releases/tag/v0.9.9

I would appreciate your support by testing these changes in your production environment.

[2021-04-07 14:57] ransome1 commented on #89
Hi @brianmassen.

Are you experiencing the same issue with for instance the AppImage (https://github.com/ransome1/sleek/releases/tag/v0.9.9) or the Snap Store release as well?

[2021-04-07 14:58] asitemade4u commented on #84
I will of course as Sleek is my main project management tool! Thanks.

Are they implemented in the Flatpak version (the one I use)?

On 4/7/21 10:56 AM, ransome wrote:

[2021-04-07 15:41] brianmassen commented on #89
I will try the appimage but I can’t run snaps on MX-Linux as snap requires systemd, MX is systemd free.

I’ll let you know what happens.

Brian

[2021-04-07 16:42] ransome1 commented on #84
The Flatpak version (watch out for v0.9.9) has just been built and should be on your computer in a couple of hours.

[2021-04-07 16:44] ransome1 commented on #89
Thanks.

I hope not, but it could be related to https://github.com/ransome1/sleek/issues/66. If that's the case we need to wait until the Electron framework has been enhanced, before we can switch to the portal compatible file chooser.

[2021-04-07 16:59] ransome1 commented on #47
@HerrSersch, I don't have a solution for your feature request at this point, but for the meantime and in case you work a lot with contexts and projects, I would like to point out release v0.9.9 (https://github.com/ransome1/sleek/releases). Here you can now group and sort your todo list by contexts and projects. Let me know if this is a useful feature to you.

[2021-04-07 17:19] brianmassen commented on #89
I have tried the appimage but can't get it to run, I think its a sandboxing problem with MX-Linux though.

I've installed Sleek from the github .deb download and it runs perfectly. I can see both my Documents and the mnt directories.

If I can be of any further help please let me know

Brian

[2021-04-07 19:15] Bursus commented on #86
Hi @ransome1.

Thank you! I just downloaded the latest version and tested out various scenarios. Everything seems to be working flawlessly. This was exactly what I had in mind. :)

[2021-04-07 19:36] samuelznewton opened #90 "Tasks which only have a project and no context do not appear in the task list (0.9.9)"
**Describe the bug**
I just updated to 0.9.9, and many todos are missing entirely.  I haven't done a thorough check, but it seems that the missing todos all have an associated project, but no associated context.

**To Reproduce**
Steps to reproduce the behavior:
1. open the attached todo.txt file in sleek
[todo.txt](https://github.com/ransome1/sleek/files/6274037/todo.txt)

**Expected behavior**
I

[2021-04-07 19:40] samuelznewton commented on #90
Major props to you on having all versions available in so many formats, though.  It is incredibly easy for me to simply use the 0.9.8 AppImage for now. :)

[2021-04-07 19:52] ransome1 commented on #90
Hi @samuelznewton. Besides completed todos not being sorted at the end (which I would not consider "totally broken"), I don't really understand the issue. I opened your todo.txt file and all of the todos are present. My list looks like the screenshots you attached. Can you describe the issue a bit more please?

[2021-04-07 20:45] #86 closed

[2021-04-07 21:41] asitemade4u commented on #84
Hi and bravo !

  * I LOVE the sticky search bar on top
  * The collapse button of the sidebar is great too. Eventually I would
    even recommend having an auto-collapse system that would save some
    clicks.
  * I also like the new Settings button and specially the Order by:
    Contexts.

So far, so VERY good. Thanks !

S.

PS. I have some improvement ideas for the filtering system but it can

[2021-04-08 04:30] samuelznewton commented on #90
I'm sorry, you're right, "totally broken" was overstated and uncalled for.  I was very stressed when I wrote that, and I sincerely apologize.

With that said, I would be glad to clarify.

This would probably be better described as two separate issues.  I'll move the one about completed todos being sorted to the end to a new issue and link that shortly.  Here, I'll clarify the other issue.

In the

[2021-04-08 04:36] samuelznewton opened #91 "Completed todos no longer sorted to the bottom of the list (0.9.9)"
**Describe the bug**
This is not necessarily a bug -- it may have been intentionally removed, in which case this would be a request to add the feature back.  But I'm guessing it's a bug.

As suggested in the title, I'd like for completed todos to be sorted to the bottom of the todo list, as they were in previous versions such as 0.9.8.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a t

[2021-04-08 04:37] samuelznewton commented on #90
New bug report for the sorting issue [here](https://github.com/ransome1/sleek/issues/91)

[2021-04-08 06:39] ransome1 commented on #90
@samuelznewton, as for the context bug I found that the third party library, that parses your input into proper todo.txt object, was having difficulties parsing todos that had projects only. I updated the library and it seems to be working, can you please check if the update solves your issue?

https://github.com/ransome1/sleek/releases/tag/v0.9.9-Alpha

[2021-04-08 13:04] intrepidsilence opened #92 "Do not reorder entities"
It would be better to leave tags and contexts where they are written in the text. This way they can be part of a sentence without duplicating efforts.

Rather than moving Tags and Contexts, etc to the end of the line just leave them where they were added and add the formatting to them in place. This allows them to be part of a sentence that flows but they can still be found easily. This will reduc

[2021-04-08 13:33] ransome1 commented on #92
Hello @intrepidsilence, this is a duplicate of https://github.com/ransome1/sleek/issues/68

[2021-04-08 13:33] #92 closed

[2021-04-08 13:53] intrepidsilence commented on #92
Oops, sorry! Githubbing before coffee is always a bad idea.

[2021-04-08 16:04] ransome1 commented on #91
Hi @samuelznewton, please check https://github.com/ransome1/sleek/releases/tag/v0.9.9-Beta

As default todos will be sorted at the bottom of the todo list. A toggle can be used to change this and sort completed todos inline with the incompleted todos.

Please give it a try and some testing.

[2021-04-08 16:12] ransome1 commented on #84
Thanks, @asitemade4u. If you have any further suggestions on how to improve the GUI, feel free to open up new feature requests and help me improve the UX.

[2021-04-08 16:12] #84 closed

[2021-04-08 20:32] samuelznewton commented on #90
Yes, as far as I can tell, all todos are showing up in 0.9.9-Alpha, and the issue seems to be fixed.  Thank you! :)

Question: should issues on GitHub generally be closed by the one who opened them (me, in this case) or the one who fixed them (you, in this case)?  I'm fairly new to GitHub, sorry if this is a dumb question.

[2021-04-08 20:40] samuelznewton commented on #91
The sorting seems to be working as you've described, thank you! :)
I'll use 0.9.9-Beta normally for awhile, and I'll let you know if anything weird happens.
Thank you for your quick work!

[2021-04-08 20:40] ransome1 commented on #90
I don't think it's a dumb question.

In my opinion it should be the person who brought up the bug or the feature request, because he or she can verify best, if the developer did a proper job. So feel free :)

[2021-04-08 20:43] samuelznewton commented on #90
Well I think you did a great job, as always. :)

[2021-04-08 20:43] #90 closed

[2021-04-08 20:43] #91 closed

[2021-04-09 19:57] jason-mehmel opened #93 "when launching : failed to load module "Failed to load module "canberra-gtk-module""
**Describe the bug**
A clear and concise description of what the bug is.

The program does not launch, in the terminal I receive the error:

[code]

I am running the version installed through snap, Ubuntu Linux 20.04

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the terminal
2. type 'sleek'
3. See error

**Expected behavior**
A clear and concise description of what you expected to ha

[2021-04-10 06:10] ransome1 commented on #93
Hello @jason-mehmel.

The "canberra-gtk-module" message is something that popped up from day one and according to my research it is a harmless message that doesn't affect sleek.

The Snap is running well on my system, but I am not on Ubuntu. Nevertheless I changed something on the build process which might be related. It is undone now and has been pushed to Snap Store as revision 346. Can you plea

[2021-04-10 21:56] jason-mehmel commented on #93
Interesting! I refreshed and now I'm getting a new error message, in a
window. Attached!

I was away from using Sleek for a few weeks so maybe I'm behind on a few
versions, apologies for not catching it sooner!

~Jason
pronouns: he / him / his
***@***.*** | www.jasonmehmel.com

On Sat, 10 Apr 2021 at 00:10, ransome ***@***.***> wrote:

[2021-04-10 22:14] jason-mehmel commented on #93
Attachment coming!

[2021-04-10 23:44] ransome1 commented on #93
@jason-mehmel, I already saw the error in the latest Snap and pushed the fix for it. Can you please check if it is gone after the recent update?

[2021-04-11 01:23] asitemade4u opened #94 "URLs in Markdown format are not recognized"
- Plain Web URLs are well recognized by Sleek: an arrow is appended to the line
- But links expressed in standard Markdown format: `[title](url)` are not recognized which seems illogical to me -- often, users switch between Sleek and a text editor such as VS Code, and their text format of choice is probably going to be Markdown.

[2021-04-11 05:38] jason-mehmel commented on #93
I will forgo the attachment!

I updated my snap and Sleek is opening again!

Since I'm running the terminal, I did notice this message:

[code]
I'm not sure what this means exactly, if there's an accessibility feature that isn't loading or something, but the app appears to be operating cleanly for me.

[2021-04-11 08:31] ransome1 commented on #93
From what I found out googling it, it seems to be another harmless warning, at least that is what has been reported in the Telegram apps' issues section.

Are you experiencing any issues with sleek after the update?

[2021-04-11 08:33] ransome1 commented on #94
@asitemade4u I implemented a markdown parser that will interpret some markdown which is compatible with sleeks interface. Mainly links and emphasis like bold and italic.

It will be released in v1.0.0 in the next couple of days.

[2021-04-11 17:18] jason-mehmel commented on #93
Not so far! It appears to be operating normally now. I'll keep an eye on it!

(And I'm very slowly getting to my promise of help docs assistance! Some
unexpected mental health challenges sidelined me from January to now.)

~Jason
pronouns: he / him / his
***@***.*** | www.jasonmehmel.com

On Sun, 11 Apr 2021 at 02:31, ransome ***@***.***> wrote:

[2021-04-11 17:56] #93 closed

[2021-04-12 07:01] ecodiv opened #95 "[Windows] Improve language fallback"
**Is it an actual bug?**
Yes, it is an error message, and sleek is not functioning

**Did you check if the bug has already been reported?**
Yes, a similar bug was reported for the flatpack version, which was reportedly solved

**Describe the bug**
Trying to start Sleek on Windows (downloaded from Github, I am getting a _JavaScript error occurred in the main process_ error message, see attached scr

[2021-04-12 07:30] ransome1 commented on #95
Hi @ecodiv. Thanks for the report. I downloaded the .exe from Github and started it up on Windows 10. So far I cannot see any errors.

When you have sleek open, can you please press the Alt key, which will open up the top menu, and select the developer tools in the "About" tab? Within the dev tools please select the "Console" tab and check for any error entries that appear, when you fail to open a

[2021-04-12 13:13] tommyalatalo opened #96 "Add build instructions to README.md"
There are no instructions for how to build sleek from source in the repo.
I'm not familiar with the code and would appreciate a simple how-to on building the binary.

[2021-04-12 13:16] ransome1 commented on #96
@tommyalatalo, no problem, I will add it to the readme in the next release.

[2021-04-12 20:14] tommyalatalo opened #97 "Define secondary sort order for remainder items from primary sort"
When selecting to sort by priority I noticed that the sorting for items without a priority is a bit odd.
All items that don't have priorities are listed in the **reverse** order that they appear in the todo.txt file.
Is this by design? I feel like it would make more sense to have the non-prioritized items appear in the same order that they are listed in todo.txt, not in the reverse order.

Could a

[2021-04-13 11:04] hideosnes commented on #66
Thanks a lot! I'll be looking forward to it.

[2021-04-13 14:03] asitemade4u commented on #94
Thanks, works very well in version 0.99.

[2021-04-13 14:03] #94 closed

[2021-04-13 17:25] ecodiv commented on #95
These are the errors I can see in the Console, related to at least two different actions I think? (1) open a file, and (2) add a task.

`Uncaught (in promise) Error in generateTableRow(): TypeError: Cannot read property 'done' of undefined: RENDER.JS:1188`
`Uncaught (in promise) Error in showForm(): TypeError: Cannot read property 'addTodo' of undefined: RENDER.JS:404`
[code]

[2021-04-14 06:55] ransome1 commented on #95
@ecodiv, interesting, for whatsoever reason sleek cannot load the translations.

Can you please check sleeks config file? On my Windows VM it is located at "C:\Users\User\AppData\sleek\user-preferences.json". I wonder what the "language" entry says, can you share it or even the whole config? You can send it to me ransome@uber.space

Also you can rename the "sleek" folder in your AppData folder and

[2021-04-14 07:16] ecodiv commented on #95
It says `"language":"nl"`. Changing that to `"language":"en"` did the trick. It works like a charm now :-).

[2021-04-14 07:21] ransome1 commented on #95
That is good to hear, but wasn't suppose to happen ;)

As dutch is not yet supported it should have fallen back to english. I'll investigate on it.

If you would like to use sleek in dutch, you can easily translate it and share your translations. So if you ever find some time, I'll be happy to guide you on how to do it.

[2021-04-14 13:00] ecodiv commented on #95
I actually prefer my software in English, but is is a work computer, so I cannot change the system language. But, if I find time, I will see if I can contribute a translation

[2021-04-14 13:41] blumpcus commented on #72
Hi everyone,
I looked further into this.
I don't have a definitive answer but here's what I've found:

- Whenever you open sleek.exe, regardless of the directory you have saved sleek.exe in, it actually unpacks itself to _"C:\Users\YourUsernameHere\AppData\Local\Temp\1r4TNnfGnwRLdsxPsuK2i8AQHYU"_, where _"1r4TNnfGnwRLdsxPsuK2i8AQHYU"_ is likely a randomly generated string.
- This might be a result

[2021-04-14 13:52] blumpcus opened #99 "Custom colors for context & projects"
**Did you check if a similar feature request has already been reported?**
Yes.

**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**
I use a variety of apps & methods to keep my life organized and moving forward.
The one thing that allows me to quickly spot relevant information across all the different UIs is color-based

[2021-04-15 14:25] asitemade4u opened #100 "Add priority-filter in filter drawer"
I am not sure this does not exist already in Sleek but if it does, I haven't found it already...
Here is my workflow:

1. I collect information from many different sources on the Web using either my tablet or my phone
2. The information is sent to a text editor, Markor
3. Then synchronized using Syncthing which is present on both my devices and my server/desktop
4. The next day, I qualify (project

[2021-04-15 14:37] ransome1 commented on #100
@asitemade4u. Side node: That (markor -> syncthing -> sleek) is exactly my setup and it's working well so far.

If you click on the headlines (projects, contexts) in the filter drawer, you can hide all todos with projects and contexts. It will leave you with the few priotized items, that have no project and context, but should solve the biggest part of your problem.

[2021-04-15 14:40] asitemade4u commented on #100
Thank you for the hint!

I have been using the setup for years now and it has rarely failed.
Maybe you should explain it in the app documentation on Github.

On 4/15/21 10:37 AM, ransome wrote:

[2021-04-15 14:41] asitemade4u commented on #100
Also your solution does not solve the Priority search in my question.

On 4/15/21 10:37 AM, ransome wrote:

[2021-04-15 14:42] asitemade4u commented on #100
My hunch is that you should add Priorities in the search drawer, along
with Contexts and Projects, with the exact same behavior.

On 4/15/21 10:37 AM, ransome wrote:

[2021-04-15 21:38] blumpcus commented on #72
I've found a temporary solution until @ransome1 can provide a cleaner option!

Steps:

1. Open sleek.exe & keep it open.

2. Find out where sleek has been unpacked to.
It will certainly be in "C:\Users\YourUsernameHere\AppData\Local\Temp\", but you'll have to search for the folder that contains sleek.exe from there. Quickest way to get here is to press Win+R on your keyboard, type in appdata and p

[2021-04-16 07:24] ransome1 commented on #72
@blumpcus thanks for looking into it. So far I havn't had any chance to investigate and there is lot's more of code refactoring to be done, before I can.

For my understanding: Are you guys using sleek's exe file from Github or do you install it from Windows Store. I' asking because locally on my VM, when I start up sleek from it's sources, it gets put into a permant folder and there is random sub

[2021-04-16 07:56] ransome1 commented on #72
Alright, I reproduced it on my VM. It only seem to occur on the portable exe. Let's see if I can find a solution to that.

For those of you who are really bugged by it and have the Windows Store installed, you can install the app from there too. Here it does not seem to happen. That could be a temporary fix until I found a proper solution for the portable file.

[2021-04-16 10:00] ransome1 commented on #72
@shulist, @blumpcus, @intrepidsilence, I looked into it and I'm not sure if I fully understand all these Windows terms, so please help me out. Is it true that it is in the nature of a portable Windows file to create a new temp folder every time it starts up?

In any case I might have found different approach to solve this by not building a portable file, but an installer. From what I learned the i

[2021-04-16 10:20] ransome1 commented on #100
I think that makes sense and shouldn't be a big thing to do. I added the idea the backlog and it should be one of the next features I will be working on.

[2021-04-16 13:59] shulist commented on #72
Given all the work to be done in Sleek to deal with other important items I might suggest that this is a somewhat lower priority.  I suppose it would be tidier to only create one instance on the taskbar but if you have to jump through hoops to do this then for me its a very low priority. The fact that Sleek creates a second instance on the taskbar really has no effect on my life. I've noticed some

[2021-04-16 14:10] shulist commented on #72
@ransome1 said `not building a portable file,`

I'd encourage you to consider keeping the portable format. I prefer not having to install smaller apps as its one more issue less to deal with. Further you may want to look at wrapping your portable version of Sleek in the https://portableapps.com/development/portableapps.com_format. If you want I could open a new issue for this outside of this threa

[2021-04-16 14:16] ransome1 commented on #72
As I use Github CI to build the releases, both a portable and an installer can be build and added to the release with no further effort for me.

In a nutshell, what would be the advantage of that?

[2021-04-16 14:38] shulist commented on #72
Well possibly two things. 1) The portable format PAF is a **widely recognized format**. 2) It has an ecosystem containing 400+ apps currently which might mean **wider distribution for Sleek**.

However, again, if it involves too much additional work for you  then I'm also happy with the portable format you have already created. Its no big deal to drop Sleek into the PortableApps (PA) folder and co

[2021-04-16 14:50] shulist commented on #71
@ransome1 Just to close this off finally. I now have managed to test out Sleek 0.9.9 on my UHD display and with a few adjustments on my end this version now displays wonderfully. The scaling works well and adjusting the font size down to 75% makes it perfectly readable on either white or black background. **Again a great job done on your part.**

[2021-04-16 19:06] ransome1 commented on #71
@shulist, thanks for your feedback.

[2021-04-16 19:15] ransome1 commented on #96
Before I add the instructions to the readme, can you please help me and try to build sleek according to these steps?

### Build sleek from source code
1. Setup <a href="https://docs.github.com/en/github/getting-started-with-github/set-up-git">Git</a> and <a href="https://nodejs.org/">node.js</a>
2. Fork sleek `git clone https://github.com/ransome1/sleek.git` and cd into sleeks directory
3. Install

[2021-04-16 19:40] ransome1 commented on #100
@asitemade4u, I added a first draft of the priority picker to the v1.0.0-Alpha. I would like to ask you to give this release a try and let me know, if the priority filter is working as expected.

Please be aware this is a work in progress release and you might experience some bugs. Whatever you find, please share it with me here.

[2021-04-16 19:42] tommyalatalo commented on #96
The build does seem to work, however I wonder if there is a command to only build specific binaries, instead of all of them as `npm run dist` does?

[2021-04-16 19:43] ransome1 opened #101 "Call for testing v1.0.0 (Pre-Release)"
## Call for testing
I'm spending quite some time refactoring the code. Almost 10% have been reduced and together with some further tweaks, sleeks should now be even faster parsing the todo list and building the GUI.

This release is work in progress. Nevertheless I want to encourage you to use this in production and share your feedback.

Please don't expect fancy new features, this is an update on

[2021-04-16 20:13] asitemade4u commented on #100
Thank you.
But remember I rely on Flatpak to install Sleek. Is it already available
in Flatpak already?

On 4/16/21 3:41 PM, ransome wrote:

[2021-04-16 20:23] ransome1 commented on #96
It's all setup in the package.json. If you want to build for MacOS only for instance, you would add a script line like this:
` "mac": "electron-builder -m --publish never",`

The -m stand for Mac and you would build it with `npm run mac`. Together with the configuration above, it would build a dmg archive.

If you want to build for Windows only there is already a script inside. Just run `npm run w

[2021-04-16 20:23] ransome1 commented on #96
Btw. did you need to install electron-builder separately or was it sufficient to just do steps 1 to 4?

[2021-04-16 20:25] ransome1 commented on #100
No I'm sorry, Windows Store, Flathub and Snap Store will only receive the stable releases. If you are on Linux, you can download the AppImage release (make it executable before you start it) and it should run out of the box.

[2021-04-16 20:28] asitemade4u commented on #100
OK, no problem and in a certain way it is better as I can then
distinguish between the alpha and the current version

On 4/16/21 4:26 PM, ransome wrote:

[2021-04-16 20:35] ransome1 commented on #100
I was thinking about writing a sleek Wiki but thinking about it made me realise that once you need a Wiki page to describe how a GUI works , it's already too late. A well designed app should't need an explanation. So if you're having trouble understanding this feature, it might just be of bad design and we should improve it.

[2021-04-16 20:36] asitemade4u commented on #100
I agree 100% but in this cased it is more a description of the
surrounding environment.

On 4/16/21 4:35 PM, ransome wrote:

[2021-04-16 21:05] ransome1 commented on #99
Hi @blumpcus, the problem here is that we would need a database to store this kind of specific user preferences. Especially because a custom color would relate to a context which can change any second.

sleek does persist some information, but that's done in a way that is not really suited for what your feature request is aiming for.

At this point sleek does run without the overhead of a database

[2021-04-16 23:59] shulist commented on #101
Got this error upon opening in Win10:
![Sleek100_JavaError](https://user-images.githubusercontent.com/6595819/115095018-b40b2880-9eed-11eb-9620-6a830bef752c.JPG)

This only occurred on first opening.

[2021-04-17 00:04] shulist commented on #101
In the ToDo.txt test file there is a line:

`(B)->Submit TPS report \this task has no priority, no space after priority\`

Which should not show up with a priority as there is no space after the (B) so it should be listed without priority. For some reason when loaded into Sleek it is re-formatted as

`(B) ->Submit TPS report \this task has no priority, no space after priority\`

Which does get for

[2021-04-17 06:50] ransome1 commented on #101
You're right, that doesn't seem right and it could indeed be caused by jsTodoTxt. I'll take a look into sleeks code first, before we forward it to them. Thanks for pointing it out.

[2021-04-17 08:29] ransome1 commented on #96
Has been added.

[2021-04-17 08:29] #96 closed

[2021-04-17 08:31] tommyalatalo commented on #96
I didn't need to add electron-builder separately, it seems to get installed when you run `npm install`

[2021-04-17 08:32] ransome1 commented on #62
@shulist, this has been added already in v0.9.9. It is also available in v1.0.0. Please share your feedback if this is working as expected and feel free to close the thread here.

[2021-04-17 08:33] ransome1 commented on #96
perfect, I will remove that extra command from the readme then. Thanks for your feedback.

[2021-04-17 08:36] ransome1 commented on #101
This doesn't look like a programmatic issue within sleek, but more like a file permission issue. Is it possible that the file was beeing changed or accessed by another app right in that moment when sleek tried to open it?

[2021-04-17 09:15] ransome1 commented on #95
Hi @ecodiv, I added a fix for this issue in v1.0.0-Alpha. Can I ask you for a quick support testing this?

https://github.com/ransome1/sleek/releases/tag/v1.0.0-Alpha

Could you please delete or rename your config folder and start up the Alpha release? I'm curious if the fallback to english is working in your production environment or if we still see the error.

[2021-04-17 09:16] ransome1 commented on #72
@intrepidsilence , @blumpcus , the installer is also added in the latest alpha release: https://github.com/ransome1/sleek/releases/tag/v1.0.0-Alpha

I'm looking forward to your feedback, if this solves your issue.

[2021-04-19 15:02] intrepidsilence commented on #72
@ransome1 Awesome! The installer fixes this issue for me as I do not have access to the Windows Store on my corpo laptop. Thanks for doing this!

[2021-04-19 15:02] #72 closed

[2021-04-19 15:10] SteOtt commented on #101
Hello,
I experience a strange behaviour when adding a task that has context- and/or project-tags before adding the description text (this is the case when you create a task based on another template-task):
At each letter I type the tags in the filter bar at the left are filtered on the description text and the input window shows a project or context tag.
For example shows the attached screenshot t

[2021-04-19 15:13] ecodiv commented on #95
Hi @ransome1 tried out v1.0.0 (after deleting the config folder, and it now works out of the box.. so the fallback works :-) Thanks!

[2021-04-19 15:27] ransome1 commented on #101
Thanks for your feedback, I appreciate it and will look into it. Should be fixed in the next release.

[2021-04-19 15:29] uGeek opened #103 "sleek docker"
It would be great to create a sleek docker as if it were a service. Access a url where the service is. I could access from all my devices, including my mobile, without having to use a synchronization tool.

Great app.
Thanks

[2021-04-19 16:53] ransome1 commented on #95
Thanks for your feedback!

[2021-04-19 16:53] #95 closed

[2021-04-19 16:55] ransome1 commented on #103
@uGeek , sounds interesting, but I have zero idea how docker container work ;) Do you have any experience on how to approach this and would like to help this project by consulting or even working on a docker recipe?

[2021-04-19 17:40] uGeek commented on #103
I have no idea. I'm going to ask if someone would know how to build it

[2021-04-20 13:33] shulist commented on #62
@ransome1 that is great. It works well. I like the file list as it is not too long and does indicate the currently open file.

The only suggestion I'd make it to change the wording on the "Open todo.txt" to "Open folder" as it more closely aligns with what you are actually doing.

[2021-04-20 18:32] ransome1 commented on #101
v1.0.0 has been released. @SteOtt, I added your issue to my backlog.

[2021-04-20 18:32] #101 closed

[2021-04-20 21:03] #62 closed

[2021-04-20 21:26] ransome1 commented on #100
@asitemade4u, the priority filter has been released with v1.0.0. It should be available in your next Flatpak update.

[2021-04-20 21:26] #100 closed

[2021-04-22 15:26] velardevines opened #104 "Notification setting on when sleek opens"
Notification setting reset to on when opening Sleek.

Steps to reproduce:
. Open Sleek
. Open settings and turn off Notifications
. Close Sleek
. Open Sleek
. Open settings and notice that Notifications are On

Running Sleek v 1.0.1 on ARM processor installed using Flakpak

![Screenshot 2021-04-22 9 19 24 AM](https://user-images.githubusercontent.com/13563674/115740967-8d654b80-a34c-11eb-82ff-a347

[2021-04-22 18:02] ransome1 commented on #104
@velardevines , found it and fixed it. Thanks for pointing it out.

[2021-04-23 16:13] velardevines opened #105 "Items marked Done show a week later"
**Is it an actual bug?**
Yes

**Did you check if the bug has already been reported?**
Yes

**Describe the bug**

Item created today then marked Done today:

![Screenshot 2021-04-23 9 49 20 AM](https://user-images.githubusercontent.com/13563674/115897091-4beea200-a419-11eb-87a4-a16a01df707a.png)

Find all items marked Done today:

![Screenshot 2021-04-23 9 47 23 AM](https://user-images.githubuserco

[2021-04-25 04:11] velardevines commented on #105
After looking again, this problem only happens for items with due dates and that are recurring.

I can't see anything that I might be doing that is causing the date to display a week later than the Done date. But if anyone has any ideas about this, let me know what you think.

[2021-04-25 11:36] freder opened #107 "Keep inactive filter options visible"
when filtering, I think it would be nicer from a UX point of view if the inactive/non-selected items remained visible (but greyed out) instead of them disappearing.

(as a new user) it might be just me but right now the filter state is not super clear (visually). I would prefer it to be more explicit -> _"those are all the options, of which these n items are selected"_. -- hope that makes sense.

[2021-04-25 11:39] freder opened #108 "Filtering: make it possible to select more than one priority / context / project"
let's say I wanted to see all items with priority A _and_ B -- as far as I can tell, that's currently not possible.

related to #107 I suppose.

[2021-04-25 16:48] ransome1 commented on #105
Hi @velardevines,

I checked it yesterday but wasn't able to reply until now.

So the recurring todos work three ways:
1. You have a todo with no due date, but a recurrence. Once this todo is set complete, another todo will be created. It will add the recurrence time frame to the date of completion.
2. A todo with a due date and a recurrence will automatically create a duplicate once the due day h

[2021-04-25 16:52] ransome1 commented on #107
Hi @freder , I do agree and it has been on my personal roadmap for quite some time. It has some conceptional and programmatical challenges, and so far there were many other todos I needed to work on that were more pressing.

I added it to sleeks official roadmap for v1.1. Thanks for proposing it.

[2021-04-25 19:54] ransome1 commented on #72
@shulist, I stumbled upon a user who added a different todo app to the PortableApps.com project: https://github.com/uroesch/JoplinPortable

As I'm already maintaining the builds on Github, Flathub, Snap and AUR, I won't be heading into this direction, but if becoming a maintainer for sleek on the PortableApps.com project might be something of interest to you, I will of course encourage and support

[2021-04-25 19:55] ransome1 commented on #108
I agree, this would be a follow up the https://github.com/ransome1/sleek/issues/107. I added it to sleek roadmap for v1.1

[2021-04-26 00:00] velardevines commented on #105
Hi @ransome1, thanks for explaining those use cases. I did not realize 1. was a valid use case and will start using it now that I understand it.

My earlier attempts to explain the problem I see were confusing. Your patience is appreciated. I'll try again and hope to explain more clearly.

1) Create an item with due date today and 1w recurrence:

![image](https://user-images.githubusercontent.com/

[2021-04-26 08:29] ransome1 commented on #105
@velardevines, thanks! I found and fixed the issue. It will be released with v1.0.2

[2021-04-26 12:48] ransome1 commented on #105
Hi @velardevines. Can I ask you to check v1.0.2 if the problem still persists? https://github.com/ransome1/sleek/releases/tag/v1.0.2

[2021-04-26 12:48] ransome1 commented on #104
https://github.com/ransome1/sleek/releases/tag/v1.0.2

[2021-04-26 13:52] velardevines commented on #105
Hi @ransome1, I repeated steps 1, 2, and 3 as mentioned above. Unfortunately the result is unchanged.  Here are screenshots after step 3:

The item marked Done with due date 1 week in the future is still being created:

![image](https://user-images.githubusercontent.com/13563674/116092826-5e5c1c00-a663-11eb-9da1-c57e961f5353.png)

Here is that item:

![image](https://user-images.githubusercontent.

[2021-04-26 16:05] ransome1 commented on #105
Hi @velardevines. Could you please list the exact inputs of your todos for the three steps in plain text, so I can reproduce it?

[2021-04-26 23:23] velardevines commented on #105
No problem @ransome1. If this is not what you need, explain it to me again.  :-)

1) Create a todo with this content: "Task due:2021-04-26 rec:w"
2) Mark that todo as Done.

That reproduces the problem.

3) The three todo items created by the two steps above have this content:
a) "2021-04-26 Task due:2021-05-03 rec:w"
b) "x 2021-04-26 2021-04-26 Task due:2021-04-26 rec:w"
c) "x 2021-04-26 2021-04-

[2021-04-27 05:02] ransome1 commented on #105
Thanks, could you please double check if you're using one of the Windows files from the release page? https://github.com/ransome1/sleek/releases/tag/v1.0.2

On my Linux machine and my Windows VM I' having difficulties reproducing the issue with the new release.

If you're using the correct version and the issue is still existent, can you take a look at this video, if I'm doing it the same way(s) y

[2021-04-27 05:15] ransome1 commented on #105
@velardevines , I think I might have found the reason for this mix up and need to apologize for it. But let's double check. So for whatsoever reason the Github CI process build a Windows binary from an old branch and added it to the release page. So there are basically three Windows files, 2 installer and 1 portable:
![image](https://user-images.githubusercontent.com/11188741/116188588-f58aa780-a7

[2021-04-27 07:04] #104 closed

[2021-04-27 07:06] ransome1 commented on #89
This issue will be further worked on here, once Electron is ready to provide this function: https://github.com/ransome1/sleek/issues/66

[2021-04-27 07:06] #89 closed

[2021-04-27 15:48] velardevines commented on #105
Yes, downloading the new v1.0.2 installer solved the problem. So, I checked Sleek v 1.0.2 on Windows 10 and also on the Flathub install on a Chromebook Linux (Beta) ARM install. Issue is corrected on both machines.

I noted the apology @ransome1 but please understand is not necessary. What is life without trying; what is trying without mistakes; hmmm an existence I'd rather not experience.

Thanks

[2021-04-27 17:46] ransome1 commented on #105
Thanks for your feedback, @velardevines

[2021-04-27 17:46] #105 closed

[2021-04-28 08:25] tommyalatalo opened #109 "[Aur] Upgrade to node.js v16"
The AUR package is broken and cannot install, see below output.

[code]

[2021-04-28 08:38] ransome1 commented on #109
Hi @tommyalatalo, can you tell me which node js version is installed on your system? `node -v`

[2021-04-28 08:39] tommyalatalo commented on #109
[code]

[2021-04-28 08:46] ransome1 commented on #109
I had the same issue yesterday, node js 16 is still quite fresh and seems to have problems with a couple of modules (node-sass in particular) sleek is built on.

Can you try to switch to the current LTS release of node and check if this error persists?

`sudo npm install -g n`

`n 14.16.1`

After restarting your terminal, `node -v` should have changed.

[2021-04-28 08:50] tommyalatalo commented on #109
Yeah it works after changing to the LTS release.
Could you tell me how to undo these changes, as I'm not that familiar with npm and how to clean up whatever it installs?

[2021-04-28 08:57] ransome1 commented on #109
I'm  not sure if I understand correctly. What changes would you like to undo?

If it's about cleaning up, the only thing I do from time to time is to clear the cache: `npm cache clean --force`

I cannot say for sure, if this cleans up any debris of the v16 but I would assume, though.

[2021-04-28 08:59] tommyalatalo commented on #109
I would like to clean up the installation of node 14.16.1 I just did to troubleshoot this.
I don't want to have these packages installed via npm, you need to build this into the PKGBUILD.

[2021-04-28 09:15] ransome1 commented on #109
Which packages are you refering to? Node.js was already installed on your system I assume?

Npm is part of node.js and you used it to downgrade from 16 to 14.x. Beyond that I don't think any new packages have been installed.

[2021-04-28 09:18] tommyalatalo commented on #109
Well it installed node.js into /usr/local/bin instead of the proper /usr/bin which is the standard on Arch, I think this won't be the case if you update the PKGBUILD.
Generally speaking I should of course not required to manually downgrade node.js in order to install your package.

[2021-04-28 09:23] ransome1 commented on #109
As long as sleeks modules are not compatible with v16, but you have it installed and don't want to downgrade, sleek won't run. If you have any further knowledge on how to solve this for the AUR package let me know. If you like you could help me maintain the AUR package as the official maintainer.

[2021-04-28 09:33] tommyalatalo commented on #109
Like I said, I don't know enough of node.js and the surrounding tools to be maintaining anything regarding it.
Is it a big issue to upgrade sleek to support v16 of node.js?

I just installed the `nodejs-lts-fermium` package instead of the regular `nodejs`, so that I have node.js v14 installed by default, installing sleek after that seems to work.
Perhaps the only thing you need to do for now is to

[2021-04-28 09:54] ransome1 commented on #109
Right now we can't support 16 as the `node-sass` module does clash with it. As soon as the node-sass devs make it compatible with 16, sleek will be updated and this shouldn't be an issue any longer.

I added nodejs-lts-fermium to the dependencies and it seems to be working. Can you please double check if it does work on your system?

[2021-04-28 10:03] tommyalatalo commented on #109
This happens on the first attempt to install sleek
[code]

If I run the installation again then it passes.
[code]

[2021-04-28 10:18] ransome1 commented on #109
mmhh, the guys at the deezer package seem to have the same problem. I will need to look into it, once I'll find some time.

[2021-04-28 12:20] tommyalatalo commented on #109
Sounds good!

[2021-04-28 19:48] ransome1 commented on #97
I don't see the need for another setting for this edge case, imo there already too many.

But I agree with you on the "natural sorting" method according to the order in the file, which will be integrated in 1.0.3.

[2021-04-28 20:14] tommyalatalo commented on #97
Yeah I agree with keeping it simple, following the order in the file would still give one control over the order by editing it, so that's a perfectly valid solution.

[2021-04-29 16:41] samuelznewton opened #110 "Window maximize state not remembered"
**Describe the bug**
Per [issue 79](https://github.com/ransome1/sleek/issues/79) and the release notes for [Release 0.9.8](https://github.com/ransome1/sleek/releases/tag/v0.9.8), 0.9.8 made sleek remember whether a window was maximized upon restart.  0.9.8 did indeed add this feature.  However, 1.0.0 has somewhat broken it.  Here's a description of the differences between the versions.

- 0.9.7: w

[2021-04-30 05:29] ransome1 commented on #110
Thank you for the report @samuelznewton, I'll take a look into it and try to fix it with the next release.

[2021-04-30 05:35] ransome1 commented on #109
reference: https://github.com/sass/node-sass/issues/3077

[2021-05-01 13:01] AdamBD opened #111 "Incompatible EOL behavior with other mac clients"
**Is it an actual bug?**
I believe so

**Describe the bug**
I am using both sleek as well as a todo.sh CLI program. The problem with using them in parallel due to what seems to be incompatible behavior in EOL characters. After adding entries via Sleek, the first entry added from the CLI will append to the last entry from sleek

Any suggestions on ways to solve this would be greatly appreciated!

*

[2021-05-01 13:41] ransome1 commented on #111
Hi @AdamBD. Could you please give this development version a try and let me know if the issue is still apparent? In this release a new line character is added with each new todo that is created with sleek. I can't say for sure if this works well cross platform, as I havn't tested it properly yet, but please feel free to report back.

https://github.com/ransome1/sleek/releases/tag/v1.0.3

[2021-05-01 13:44] ransome1 commented on #110
Hi @samuelznewton. This one sounds simple, but it turns out it brought some obstacles with it. I improved the code and gave it testing on my Linux machine and a Windows VM. Can I ask you to give this development release a try and let me know if the issue still persists for you?

https://github.com/ransome1/sleek/releases/tag/v1.0.3

[2021-05-01 13:48] ransome1 commented on #97
Hi @tommyalatalo. This behavior is added to the development version of v1.0.3 (https://github.com/ransome1/sleek/releases/tag/v1.0.3). Please feel free to give it a look and let me know if it works as expected.

[2021-05-01 16:23] intrepidsilence opened #112 "Upgrade electron dependency to latest"
**Is it an actual bug?**
This one rides the line between bug and feature request. I would like to know how large the effort will be to upgrade the electron dependency to a recent (if not the latest) version. v6 is quite old. It would be nice to be able to build this for macOS on M1 Apple Silicon, but versions of electron in v6 are not available for that platform (obviously).

**Did you check if th

[2021-05-01 16:31] ransome1 commented on #112
@intrepidsilence , sleek is using Electron 12.0.5, I don't know why yarn wants to install v6. For whatsoever reason it is mentioned in the yarn.lock file. Can you try deleting that file and do the `yarn install` again?

[2021-05-02 17:00] samuelznewton opened #113 "Closing maximized window shouldn't set window size"
**Is your feature request related to a problem? Please describe.**
Related to [issue 110](https://github.com/ransome1/sleek/issues/110).  Per that issue's discussion, my understanding is that this issue is specific to Linux.

Closing a maximized window in [development release 1.0.3](https://github.com/ransome1/sleek/releases/tag/v1.0.3) sets the window size for future launches to be the size of th

[2021-05-02 17:02] samuelznewton commented on #110
Yep!  Window maximize state is remembered in this release.  Interestingly, this seems to have had an effect on the behavior of earlier versions as well:

- 0.9.9 and earlier will now always start in fullscreen.
- 1.0.0 - 1.0.2 will now start in the latest maximized state of 1.0.3

I don't think this is anything that needs fixing, I just found it strange.  There is a minor related issue that I've j

[2021-05-02 17:02] #110 closed

[2021-05-02 20:47] ransome1 commented on #112
@intrepidsilence , i stumbled about the solution to your issue. In package.json there is a "devDependency" named "jest-electron", which is depending on Electron 6.

You can try to install the modules like this `yarn install --production`

This should skip installing the devDependencies.

[2021-05-02 21:07] ransome1 commented on #113
Hi @samuelznewton. Can you check the reuploaded 1.0.3 if this works like expected?

https://github.com/ransome1/sleek/releases/tag/v1.0.3